[2018-08-16 15:59] morgo opened #24 "INITIAL_REPLICAS environment variable not set"
My pd servers are failing to start with the following error:

[code]
It looks like this environment variable is set in `pd_member_manager.go`:

[code]
I'm following the Infoworld tutorial, Ubuntu 18.04 desktop:
[code]

[2018-08-16 19:10] gregwebs commented on #24
I just got this on GKE. A tutorial to set this up is [here](https://github.com/pingcap/tidb-operator/blob/gregwebs/kube-tutorial/docs/google-kubernetes-tutorial.md). I can also spin this back up quickly myself when someone wants to look at it, I just wanted to shut down the cluster now to avoid billing.

[2018-08-16 23:53] weekface commented on #24
`INITIAL_REPLICAS` had been deleted in this [pr](https://github.com/pingcap/tidb-operator/pull/23) to fix the scale in issue.

So, use the latest tidb-operator repo and latest pingcap/tidb-operator:latest image will fix this issue.

[2018-08-17 00:33] gregwebs commented on #24
Ahh, looks like we were both behind master a little bit. The issue of staying in sync will be solved when we switch from a latest tag to using release versions (in our chart and docker image).

[2018-08-17 00:39] weekface commented on #24
Agree with you, we will create milestones and use release versions like other projects.

[2018-08-17 01:00] #24 closed

[2018-08-20 03:09] gaocegege opened #34 "[Discussion] Potential name conflict `controller-manager`"
Hi,

I am a TiDB contributor and interested in the development of TiDB operator. When I looked through the code, I found that the package name in cmd/ is controller-manager, while controller-manager has special meaning in Kubernetes community, IMO. cloud-controller-manager and controller-manager in K8s manages multiple controllers, and our CLI only creates one controller for tidbcluster CRD. Then

[2018-08-20 03:11] gaocegege commented on #34
There are some examples in the operator community:

- https://github.com/kubeflow/tf-operator/tree/master/cmd
- https://github.com/argoproj/argo/tree/master/cmd
- https://github.com/rook/rook/tree/master/cmd

[2018-08-20 03:43] tennix commented on #34
Hi, @gaocegege Thanks for your suggestion. Actually, an operator is just a controller or multiple controllers of Kubernetes. Currently, TiDB Operator has only one controller, but we plan to add more controllers and to avoid the complexity of deployment of TiDB Operator, we will make other controllers all into one binary, just like Kubernetes controller-manager. And we may also add a scheduler comp

[2018-08-20 03:48] gaocegege commented on #34
SGTM

At the current stage, it confuses me but your opinion makes sense.

[2018-08-20 03:48] #34 closed

[2018-08-20 12:00] tennix opened #35 "Dynamically configure TiKV according to CPU and memory limits"
TiKV uses CPU and memory it sees to auto-configure block cache and other parameters if users don't configure these parameters. But CPU and memory upper bound in a Docker container are the same as the host machine regardless of the resources limit it has. So if users set CPU and memory limits for TiKV, TiKV would misconfigure itself.
We need to configure TiKV according to the actual CPU and memory

[2018-08-20 12:11] tennix opened #36 "Add annotations and labels for service exposed by TiDB cluster"
Load Balancer service on public cloud usually needs to add some annotations or labels to configure as documented [here](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types).
TiDB Operator needs to add annotations and labels for service exposed by TiDB cluster.

[2018-08-22 11:52] chux0519 opened #42 "typo in `google-kubernetes-tutorial.md`"
typo in [doc](https://github.com/pingcap/tidb-operator/blob/master/docs/google-kubernetes-tutorial.md#enable-api-acess)

acess may be access ?

[2018-08-22 11:59] tennix commented on #42
Nice catch! Could you send us a PR to fix this? You can follow [CONTRIBUTING guide](https://github.com/pingcap/tidb-operator/blob/master/docs/CONTRIBUTING.md) for how to contribute.

[2018-08-22 12:00] chux0519 commented on #42
sure, I will send a PR for this

[2018-08-22 12:49] mathspanda opened #44 "Add tolerations onto pods of tidb cluster"
Pods of tidb clusters are necessary to be deployed on dedicated nodes under certain scenarios. Some taints may be added to these dedicated nodes to ensure that other pods will not be scheduled onto them. So maybe we should apply corresponding tolerations to tidb pods?

[2018-08-22 12:58] #42 closed

[2018-08-22 13:26] weekface commented on #44
Yes, operator should allow users to add tolerations to TiDB pods.

[2018-08-22 14:19] weekface commented on #44
@mathspanda Could you send us a PR to add this feature? You can follow [CONTRIBUTING](https://github.com/pingcap/tidb-operator/blob/master/docs/CONTRIBUTING.md) guide for how to contribute.

[2018-08-22 14:28] mathspanda commented on #44
sure, i will send a PR.

[2018-08-23 04:56] mathspanda opened #46 "Why do not create crd tidbclusters in code automatically?"
During the process of deploying tidb-operator according to docs, i found that crd tidbclusters must be applied manually. Why do not create the crd automatically in code, just like what did in etcd-operator and prometheus-operator?

[2018-08-23 06:58] weekface commented on #46
Creating the CRD object is a one-time task. It is not necessary to create the CRD in code. Manual creation is OK.

Other projects do same with us: [rook](https://github.com/rook/rook/blob/master/cluster/examples/kubernetes/ceph/operator.yaml#L6), [mysql-operator](https://github.com/oracle/mysql-operator/blob/master/contrib/manifests/custom-resource-definitions.yaml)

[2018-08-23 15:15] mathspanda commented on #46
i got it.

[2018-08-23 15:15] #46 closed

[2018-08-24 04:19] weekface opened #47 "Automatic failover feature proposal"
@tennix @onlymellb @xiaojingchen and @weekface discussed the automatic failover for PD, TiKV, and TiDB yesterday, this is a talk summary.

## Failure definition
When a node of k8s node can't work or other reasons, the tidb component (PD/TiKV/TiDB) can't work properly (Obtained by query the pd API), the TiDB Operator needs to be able to observe this situation and take active intervention and increa

[2018-08-24 08:47] weekface opened #50 "Need a new error type to requeue the items"
Now the tidbcluster [Controller](https://github.com/weekface/tidb-operator/blob/b7ef27008d4f50d9be261d68f731c27ece7cc430/pkg/controller/tidbcluster/tidb_cluster_controller.go#L47) has a attribute `queue` which is used for tracking the items that should be processed.

If the [`sync`](https://github.com/weekface/tidb-operator/blob/b7ef27008d4f50d9be261d68f731c27ece7cc430/pkg/controller/tidbcluster/t

[2018-08-24 08:48] weekface commented on #44
Close in favor of #49

[2018-08-24 08:48] #44 closed

[2018-08-24 09:57] weekface opened #52 "Remove noisy error log message"
When we don't set the [`resources`](https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-cluster/values.yaml#L48) for TidbCluster, tidb-operator will print these noisy error messages:
[code]

We should remove these noisy error messages when the resource is empty.

[2018-08-24 12:33] tennix opened #53 "Add network policy rules to TiDB cluster to isolate and secure user data"
Currently, any pod can access any TiDB clusters deployed in the same Kubernetes cluster, since by default TiDB root password is empty. To isolate and secure TiDB cluster, we should introduce [network policy](https://kubernetes.io/docs/concepts/services-networking/network-policies/) to each TiDB cluster created by TiDB Operator.

[2018-08-24 20:03] gregwebs commented on #47
For TiDB it mentions decreasing the replicas when a node comes back. What about TiKV?

[2018-08-24 23:42] tennix commented on #47
@gregwebs Decreasing the replicas for StatefulSet means removing pods by descending order. For TiDB it is OK since it's almost stateless (TiDB will register itself in PD in the future, but it doesn't have persistent data itself). But for TiKV, removing pods means migrating data, it may have a big influence on the user's business, also removing in this order may be not preferred. So we should let u

[2018-08-25 00:01] gregwebs commented on #47
It seems like this is a problem with using StatefulSet? If we were not constrained by ordinal we might consider deleting the original pod if a new one was already running with migrated data.

[2018-08-25 16:02] gregwebs commented on #47
I am excited to see this take shape and this is a great high-level overview. It does leave me with questions about the details. I think it will be very helpful to go from this high-level overview to a more detailed specification that lists out details of the failure scenarios and operator/tidb responses.

[2018-08-25 23:49] #52 closed

[2018-08-27 02:51] tennix opened #56 "Add revive linter to CI"
We introduced [Revive](https://github.com/mgechev/revive) in # 12, but since the lint is broken, we haven't added it to our CI. So we should fix the lint problems and add lint to CI to force checking coding style.

[2018-08-27 04:03] weekface commented on #47
@gregwebs I had updated the description. Add the details failure scenarios and other minor fixes.

[2018-08-27 04:14] weekface opened #57 "PD automatic failover"
When a PD peer is not health for a while (this can be obtained from PD Cluster's `/pd/health` API), operator should:
1. mark this peer as failure
2. invoke `deleteMember` api to delete this member from the pd cluster
3. increase the replicas to add a new PD peer
4. try to delete the PVC and Pod of this PD peer over and over, let StatefulSet create the new PD peer with the same ordinal, but not use

[2018-08-27 04:16] weekface opened #58 "TiKV automatic failover"
When a TiKV peer's state is not `Up` for a while, operator should just increase the replicas to add a new TiKV peer, that is all.

port of #47

[2018-08-27 04:18] weekface opened #59 "TiDB automatic failover"
When a TiDB peer can't response for a while (can be obtained from tidb instance's `/status` API), operator should:
1. increase the replicas to add a new TiDB peer
2. decrease the replicas when all members are ready again

part of #47

[2018-08-27 10:06] weekface commented on #50
When we want remove a tikv, we will first call the delete store API to [delete](https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/tikv_scaler.go#L83) the tikv peer from the tidb cluster, wait for the tikv peer to become `Tombstone` (the time is longer and may require multiple `sync`s), and then remove the tikv pod from k8s.

https://github.com/pingcap/tidb-operator/blob/maste

[2018-08-29 03:37] jason4wy opened #63 "No design and implementing document of TiDB Operator"
Maybe should provide the design and implement document of TiDB operator .

[2018-08-29 03:52] tennix commented on #63
Thanks for your suggestions! Currently, we don't have enough manpower to maintain formal design documentation. But for future features, we'll discuss on GitHub issues, so everyone can join and discuss with us on GitHub.

[2018-08-29 03:53] weekface opened #64 "Too many aruguments for glog.Infof"
`nodeName` is not used

https://github.com/pingcap/tidb-operator/blob/9a2c5385c3bcac20d435383023238535cc1efad1/pkg/manager/member/tikv_member_manager.go#L557

[2018-08-29 09:56] xiaojingchen opened #65 "Manage tidb service by charts"
Services of tidb cluster include two types, the headless services and external access services. now they all maintained by tidb operator.

The headless services are used for network communication between internal pods and are invisible to users, so they should be maintained by the operator itself, but the tidb service is exposed to the user. It should be modified by the user if needed, so we shoul

[2018-08-29 12:07] xiaojingchen opened #66 "label's key names are not uniform between monitor and pd/tidb/tikv"
the monitor's deployments and pods create by helm, their label keys is difference with pd/tikv/tidb's label keys.

monitor's labels:
```app=tidb-cluster,chart=tidb-cluster-0.1.0,component=monitor,heritage=Tiller,release=tidb-cluster-e2e```
pd's labels:
```cluster.pingcap.com/app=pd,cluster.pingcap.com/owner=tidbCluster,cluster.pingcap.com/tidbCluster=demo-cluster```

we need to unify their label k

[2018-08-29 21:44] gregwebs commented on #64
The linters catch these automatically if you can start running them.

[2018-08-29 21:48] gregwebs commented on #64
actually, I guess this won't catch issues with glog, just with the standard formatters

[2018-08-29 23:44] #64 closed

[2018-08-30 02:45] weekface commented on #66
According to k8s documentation on [label key](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set):

_Labels are key/value pairs. Valid label keys have two segments: an optional prefix and name, separated by a slash (/). The name segment is required and must be 63 characters or less, beginning and ending with an alphanumeric character ([a-z0-9A-Z]) wi

[2018-08-30 12:55] xiaojingchen opened #69 "add e2e test to ensure tidbcluster's status is properly synchronized"
At present, the synchronization of tidbcluster status involves the processing of pd/tikv/tidb members. The correctness of the status is the basis for the execution of all functions. It is necessary to add the test logic to ensure that the status is correct.
check points
-  pd/tikv/tidb statefulSet status sync to tidbcluster
- whether to get the real status information of pd and tikv through pdclie

[2018-08-31 02:50] weekface commented on #57
I am [working](https://github.com/weekface/tidb-operator/tree/pd-failover) hard on the feature. I encountered an issue during test verification:

PD's `StatefulSet` podManagementPolicy is `OrderedReady`, so if the `0` ordinal Pod was not ready, the `StatefulSet` can't be scaled out, which means can't failover.

I will change the pd podManagementPolicy to `Parallel` before the pd failover. Which wi

[2018-08-31 10:09] weekface commented on #57
Another issue: when failover with current pd start script,  the ordinal 0 pd will start as a _**new**_ pd cluster, because it will start with `initial-cluster` option and new empty data dir when the ordinal is 0.

**Solution:**

Change the pd `podManagementPolicy` to `Parallel`

Add an annotation key `bootstrapping` to PD's ordinal 0 Pod to indicate that the cluster is bootstrapping:

- if there a

[2018-08-31 10:18] xiaojingchen opened #70 "pd never upgrade when pd server is unavailable"
Some times because of image version error or other misconfiguration, cause pd members starts up failed and the entire pd server is unavailable.

At this time, we hope to recover pd server by automatic upgrade, but according to the current pd manage process, the status synchronization of pd will return error and exit directly. As a result, the subsequent upgrade cannot be executed, the cluster will

[2018-09-01 03:39] mathspanda commented on #69
Is there anyone working on this issue? I would like to resolve this issue.

[2018-09-01 07:17] weekface commented on #69
Great! If you have any questions about this issue, please feel free to ask.

[2018-09-02 02:40] mathspanda opened #72 "Repeated creation of namespace tidb-operator-e2e when following CONTRIBUTING.md"
I am told to create namespace tidb-operator-e2e in CONTRIBUTING.md (https://github.com/pingcap/tidb-operator/blob/master/docs/CONTRIBUTING.md#run-e2e-tests), while the namespace tidb-operator-e2e has been created in dind-cluster-v1.10.sh before (https://github.com/pingcap/tidb-operator/blob/master/manifests/local-dind/dind-cluster-v1.10.sh#L1885), so manual creation may report AlreadyExistsError.

[2018-09-02 04:02] weekface commented on #72
Yes, i think we can remove the one in `dind-cluster-v1.10.sh`. @onlymellb @tennix

[2018-09-02 15:24] mathspanda opened #73 "status of tidbcluster CR always updated"
https://github.com/pingcap/tidb-operator/blob/master/pkg/controller/tidbcluster/tidb_cluster_control.go#L80

Variable `oldStatus` is a pointer type, while `tc.Status` is not. According to the comment of function `reflect.DeepEqual`, values of distinct types are never deeply equal. So maybe the result of `DeepEqual` in this line is always false, and then status of tidbcluster CR  is always updated?

[2018-09-02 23:57] weekface commented on #73
Good Catch! Thank you.

Further moreover:
1. Replace `reflect.DeepEqual` with `apiequality.Semantic.DeepEqual` which is supplied by K8s.
https://github.com/pingcap/tidb-operator/blob/fe1792b2e8fbbc6728c204900529d07f2eb34b54/pkg/manager/member/utils.go#L174
2. Add unit test to cover this situation

Would you like to resolve this problem?

[2018-09-03 00:55] mathspanda commented on #73
Sure.

[2018-09-03 07:46] weekface commented on #58
I am working on this feature.

[2018-09-04 08:48] tennix commented on #66
I agree that label keys should contain a prefix. So it can be selected by label selector without conflict with other apps.
But for annotations, it's usually used internally and can't be queried by keys. So shorter keys are fine enough and we can source the annotations in our scripts without errors.

[2018-09-04 09:43] onlymellb commented on #72
@mathspanda  Thanks for your feedback, our documentation is based on the DinD environment, so I think it would be reasonable to delete the statement that creates namespace tidb-operator-e2e in CONTRIBUTING.md.

[2018-09-04 11:42] #73 closed, assigned to nobody

[2018-09-04 11:42] weekface commented on #73
Thank you for your feedback.

[2018-09-05 03:05] #56 closed

[2018-09-05 03:11] weekface commented on #72
I am fine with both solutions.
@tennix PTAL

[2018-09-05 09:49] weekface opened #81 "The usages of retry.RetryOnConflict are wrong"
Now the usages of `retry.RetryOnConflict` are wrong in operator. We must get the latest object from `kube-apiserver`again and populate the changes before another update if the server returns a conflicting write.

The correct usage is:
https://github.com/pingcap/tidb-operator/blob/fa7465c1d5bb07b8b6751a26e175baba6331b31f/pkg/controller/tidbcluster_control.go#L63-L82

The wrong ones are:
https://git

[2018-09-05 09:55] tennix opened #82 "TiKV pod sidecar container pushgateway image in values.yaml is never used"
TiKV pod sidecar container pushgateway in `charts/tidb-cluster/values.yaml` is not rendered in `charts/tidb-cluster/templates/tidb-cluster.yaml`.
https://github.com/pingcap/tidb-operator/blob/5107beff8306cfe943279eeaf1bdfdf2ada8e953/charts/tidb-cluster/values.yaml#L102-L109

This section needs to be added in `charts/tidb-cluster/templates/tidb-cluster.yaml`.

Besides the pushgateway image is never

[2018-09-07 00:41] gregwebs commented on #63
We do have some existing internal documentation on the original design direction and also some potential talks we will give at conferences that will touch on this subject. Between the two we should probably be able to create a document to describe some aspects of the architecture and implementation.

[2018-09-07 03:13] #57 closed

[2018-09-07 03:49] weekface commented on #82
Close in favor of #85

[2018-09-07 03:49] #82 closed

[2018-09-07 10:46] jason4wy commented on #63
we can amplify this topic，  it is a big topic that is how to extend K8S...

[2018-09-07 13:28] tennix opened #88 "Setting timezone correctly for TiDB cluster"
We're using alpine Linux as the base image for pd/tikv/tidb Docker image. Currently, in kubernetes we mount host machine `/etc/localtime` to pod, so the log timestamp is the same with the host machine.

But tidb/tikv also need to know timezone name which cannot retrieve only from `/etc/localtime`. Normally on a real machine, /etc/localtime is a soft link to `/usr/share/zoneinfo/<timezone-name>`. W

[2018-09-08 09:30] #58 closed

[2018-09-08 10:40] #66 closed

[2018-09-09 03:25] tennix opened #89 "Graceful upgrade TiDB pod"
When upgrading TiDB, we should make sure there's no DDL job running on the current pod. TiDB has an [API to evict DDL owner](https://github.com/pingcap/tidb/pull/7649). We should evict DDL owner before upgrading.

[2018-09-09 03:27] winkyao commented on #89
This API just start a new election, not evict.

[2018-09-09 03:29] winkyao commented on #89
What you need is some method to "stop the ddl" and "start the ddl"?

[2018-09-09 03:51] tennix commented on #89
Can we resign the ddl owner to other tidb-server using the API?

[2018-09-09 15:11] liufuyang opened #91 "SSD with AWS EKS Kubernetes"
Hi there,

I am trying to following this [guide](https://github.com/pingcap/tidb-operator/blob/master/docs/google-kubernetes-tutorial.md) to setup tidb, while working with a Kubernetes cloud started via an AWS EKS service (via Terraform). (You may see more info here as I am trying to note down the steps here: https://github.com/pingcap/tidb-operator/pull/71)

However when onto the steps of `Deploy

[2018-09-10 02:58] tennix commented on #91
What storage classes are there in EKS?
[code]
The tutorial in GKE uses `pd-ssd` storage class which is provided by GKE. Different cloud providers have different storage classes, users should adopt `storageClassName` to the cloud providers provide.
The default storage class on GKE is `standard`, but I haven't tested it on EKS. So I've no idea what the default storage class is on EKS.

[2018-09-10 04:11] xiaojingchen opened #92 "graceful upgrade feature proposal"
### why need the graceful upgrade
The current upgrade feature is a simple rolling upgrade which is provided by `StatefulSet`, the upgrading way has the following problems:
- During the upgrade process, the database business will be affected. For example, if a tikv pod is the leader of multiple data regions, its upgrade will cause this part of the data to be temporarily unavailable until the cluste

[2018-09-10 04:15] xiaojingchen opened #93 "TiKV graceful upgrade"
TiKV graceful upgrade steps:
1. call the pd's api `pd/api/v1/schedulers` with the value `{"evict-leader-scheduler":storeID}`, then pd will start a scheduler to evict leaders in the tikv.
2. wait util all leaders in the tikv have be evicted
3. call call the pd's api `pd/api/v1/schedulers/{storeID}` to delete the scheduler
4. check the tikv's status until they are all available then  continue to upg

[2018-09-10 04:16] xiaojingchen opened #94 "PD graceful upgrade"
pd graceful upgrade must evict leader to other member before upgrade the member.
the major logic of pd upgrade:
[code]
pd's leader api:
- query current leader : `/pd/api/v1/leader`
- transfer leader to special  member : `/pd/api/v1/leader/transfer/{memberName}`

[2018-09-10 12:02] gregwebs commented on #91
Certainly the GKE tutorial will not work at the point of trying to use storage classes. EKS does not support local SSD (which is required for good TiDB performance). You can, however, use a [networked ssd](https://docs.aws.amazon.com/eks/latest/userguide/storage-classes.html).

[2018-09-10 13:26] #36 closed

[2018-09-10 13:26] #65 closed

[2018-09-10 18:57] liufuyang commented on #91
I see. Will try it again some days later. To save some money, I have deleted all my AWS resources... Will get back to you when I try it out.

[2018-09-11 01:12] gregwebs commented on #91
With terraform you should be able to destroy the cluster (and bring it back up when needed) to save money. You can also use much smaller instance types (particularly if you decrease the resource requirements in values.yml).

[2018-09-11 03:28] #59 closed

[2018-09-13 08:17] weekface opened #97 "Failover feature improvement"
Now, we will increase `spec.Replicas` when failure occurs. This is not the best practice. So we should:

- don't need to modify the spec.PD.Replicas to achieve the failover feature
- use RequeueError instead of update TidbCluster immediately

PR opened: #95

[2018-09-13 08:27] tennix commented on #72
Updating *CONTRIBUTING.md* is OK to me.
@mathspanda Any update?

[2018-09-14 02:17] #81 closed

[2018-09-14 02:51] weekface opened #98 "TiDB cluster full backup feature"
TiDB uses [mydumper](https://github.com/pingcap/mydumper) to achieve the full backup.

With TiDB Operator, we need to use helm to create a `PVC` and a `CronJob`, the `CronJob` will create `Pods` which will all use the same PVC and PV.

In every `Pods` created by `CronJob`, we should use `mydumper` to backup the whole TiDB cluster's data to the different unique data directory in `PV`.

[2018-09-15 00:01] #88 closed

[2018-09-19 18:02] morgo opened #102 "Google Cloud Shell tools may be out of date"
It might make sense to add the following command to the start of the GKE tutorial:

[code]

In my case this updated me from `kubectl` 1.9.7 to 1.10.7.  I didn't realize updates were available.

[2018-09-20 09:13] #97 closed

[2018-09-21 03:01] #47 closed

[2018-09-21 07:40] weekface opened #103 "Add imagePullPolicy support"
User should be able to customize the `imagePullPolicy` for every containers in operator.

So we should add a related `imagePullPolicy` option for every `image`s in `charts/tidb-cluster/values.yaml`

[2018-09-22 09:43] liufuyang commented on #91
Hey there again @tennix
I tired to set up a storage class `gp2` as @gregwebs suggested above, and tried to continue with the guide, I could see the PD works but tikv gives some error.

The command I used to deploy TiDB:
[code]

[2018-09-22 09:46] liufuyang commented on #91
The logs on tikv showing:
`2018/09/22 09:44:14.779 tikv-server.rs:84: [ERROR] Limit("the maximum number of open file descriptors is too small, got 65536, expect greater or equal to 82920")`

Perhaps I need to rebase onto current master or?

[2018-09-22 09:57] tennix commented on #91
Oh, the `ulimit` on EKS is too small. To make TiKV run on your current cluster, you have to lower `max-open-files` setting for TiKV in `tidb-cluster/templates/tikv-configmap.yaml`. `1024` should be OK. But for a production deployment, it is recommended to adjust the host machine `ulimit` to `unlimited`. So the cloudformation template for EKS node should be modified to auto set `ulimit`

[2018-09-22 10:18] liufuyang commented on #91
@tennix Thanks for the fast reply. I changed two settings in the configmap.yaml and it seems working now. all pods are up and green.

However, I seem don't get the `demo-tidb` svc as described in the google kube tutorial doc, but I do have `demo-tidb-peer`. Is this supposed to happen? I can just use `demo-tidb-peer` instead of `demo-tidb` to follow the doc [at here](https://github.com/pingcap/tidb

[2018-09-22 10:27] liufuyang commented on #91
Oh cool, and thanks. I think it's more or less working now. Will try to find some time finish the doc and test everything again before ping you another time. Have a nice weekend :)

[2018-09-29 03:49] #94 closed

[2018-09-29 03:58] #98 closed

[2018-09-29 13:09] yu-yang2 opened #107 "cant find demo-tidb and demo-tikv"
I follow the tutorial https://github.com/pingcap/tidb-operator/blob/master/docs/local-dind-tutorial.md to deploy a demo cluster, but finally can't find `demo-tidb demo-tikv` two resources, how can I create them manually?
here is my resource:
[code]

[2018-09-29 13:15] tennix commented on #107
TiKV pods are created after all PD pods running healthy and TiDB pods are running after TiKV pod is created. From what you provide, there're only two PD pods running and maybe the two PDs are not working correctly. Could you provide demo-pd-0 and demo-pd-1 logs?

[2018-09-30 03:12] yu-yang2 commented on #107
@tennix thanks, I have fixed this, but there is another question, I install the demo Dind in a VM, and I have exposed the port 3000 and 4000 to VM, but I can only curl 127.0.0.1:3000 in `kube-master` container, can not use vm_ip:3000 to go to grafana, how can i fix this?
[code]

[2018-09-30 03:32] gregwebs commented on #107
Does it help to use `kubectl port-forward svc/demo-grafana --namespace=tidb 3000:4000` ?

Its odd that I don't see port 3000 bound on my containers like you do.

[2018-09-30 06:31] yu-yang2 commented on #107
@gregwebs I edit the script so It bound to 3000, but still not work, I can curl 127.0.0.1 in container only.

[2018-10-09 07:57] #70 closed

[2018-10-10 04:15] xiaojingchen commented on #69
@mathspanda Is this issue still work in progress?

[2018-10-11 09:00] #93 closed

[2018-10-11 11:16] mathspanda commented on #69
Sorry, i am busy with work and not working on this. You could take it.

[2018-10-12 03:49] tennix opened #113 "Allow user to specify pd/tikv/tidb configuration file in values.yaml"
Currently, when users want to modify pd/tikv/tidb configuration file, they have to modify files in `templates` directory. Since there're template variables in these files, configuration files cannot be copy & paste. Besides, it's also impossible to customize programmatically. So we should allow users to specify configuration files in `values.yaml`.
By default, users don't need to provide configura

[2018-10-12 04:30] gregwebs commented on #113
This is the .toml files then. Sounds good: embedding files in YAML is awkward.

[2018-10-12 08:31] #89 closed

[2018-10-12 15:05] morgo opened #115 "Scaling does not work with tidb:latest"
I deployed a GKE cluster using the tutorial, with one exception:

[code]

This step no longer works:

[code]

The nodes are in `CrashLoopBackOff` status.

[2018-10-12 16:03] morgo commented on #115
It looks like pd is failing.  I tried scaling just tidb:

[code]

[2018-10-12 16:05] morgo commented on #115
Stack driver is showing:
[code]

[2018-10-12 16:08] tennix commented on #115
You specified the docker image in the command line when installing tidb cluster, but you didn't specify it when scaling. So helm uses the default docker image in values.yaml file, that is v2.0.4. So you downgrade the tidb cluster when scaling the cluster. IIRC tidb cluster components now have version requirement when the process started, so the downgrade fails.

[2018-10-12 16:09] morgo commented on #115
OK!  makes sense.  Thank you for diagnosing.

[2018-10-12 16:13] tennix commented on #115
So it's better to write the customized variables to values.yaml instead of specifying it on the command line argument. But modify values.yaml is not suitable for the tutorial.

[2018-10-12 16:15] morgo commented on #115
Yeah, that's kind of the position I'm in -- I'm writing a tutorial.  I'll just always include all customized variables. When 2.1 GAs I suspect tidb-operator will bump the version, and then I can go edit and simplify the variables.

[2018-10-12 16:20] tennix commented on #115
Yeah, I think so.

[2018-10-12 16:27] gregwebs commented on #115
This looks like an easy trap to fall into. I would like to avoid leading people to that from tutorials if possible. There are a few options here.
* Use something like [yq](https://github.com/kislyuk/yq) to alter the values.yaml with a CLI command.
* Use `helm --values` option to provide an override file (not sure if this helps)

From my reading of the [docs](https://github.com/helm/helm/blob/maste

[2018-10-13 04:16] xiaojingchen opened #117 "the pd and tikv parallel upgrade when pd sync status failed"
e2e log:
[code]
the cause:
when sync pd status error ,we have not set pd phase to upgrade, so the  tikv start to upgrade. after a while, pd sync success, pd start to upgrade. then pd and tikv become parallel upgrade.

[2018-10-13 04:50] xiaojingchen opened #119 "can not upgrade after last upgrade failed"
current upgrade feature become blocked when upgrading failed. so we cant to recover cluster by upgrade.

[2018-10-13 09:59] #117 closed

[2018-10-14 04:09] gregwebs commented on #113
https://github.com/helm/helm/blob/master/docs/chart_template_guide/accessing_files.md

[2018-10-14 04:11] gregwebs commented on #92
Should this be closed now?

[2018-10-15 06:12] #92 closed

[2018-10-17 07:24] weekface opened #126 "PD can't be added to existing cluster."
When I scaled the PD cluster, the new PD member may not be added to existing cluster some time.

[code]

There is a no-name member:

[code]

When i deleted this no-name member, it works:

[code]

[2018-10-17 07:55] xiaojingchen opened #127 "pkg/controller PDControl's PDClient http connection cache bug"
Current `GetPDClient` default return the PDClient that was cached
[code]
But in k8s the http connection may be unavailabe when upgrade and failover happen. than the cached pdclient call api failed will cause a long time of blocking.

[2018-10-17 07:59] weekface commented on #127
What does this mean? PD client works as well when K8s apiserver is unavailable.

[2018-10-17 19:42] Snnappie opened #129 "Google Cloud TiDB cluster deployment fails on kubernetes versions >1.9.7-gke.6"
Following through the `google-kubernetes-tutorial` on a Kubernetes cluster running version `1.10.7-gke.6`, everything works fine until the point of deploying the cluster:

[code]

Then,
[code]

[code]

It hangs like this indefinitely waiting for the PVC to start. The `pd-demo-pd-0` PVC is stuck in a "Pending" state with the message "waiting for first consumer to be created before binding".

This m

[2018-10-17 19:50] gregwebs commented on #129
We were just looking at this today. Can you remove `volumeBindingMode: "WaitForFirstConsumer"` from `manifests/gke-storage.yml` and apply it again?

[2018-10-17 20:02] Snnappie commented on #129
Thanks for the quick response - Yes that seems to have worked, the cluster was able to start on `1.10.7-gke.6`.

Is there any downside to not having `volumeBindingMode: "WaitForFirstConsumer"`?

[2018-10-17 20:09] gregwebs commented on #129
I believe the setting is to avoid prematurely creating volumes. But I think it isn't needed here and we are going to remove it.

[2018-10-18 01:02] tennix commented on #129
From the Kubernetes [documentation](https://kubernetes.io/docs/concepts/storage/storage-classes/#volume-binding-mode):

But the GCE pd we are using here is not topology-constrained, we are not using the zonal or regional GCE pd which needs topology awareness scheduling and `WaitForFirstConsumer` binding mode. If we use this binding mode, it may get stuck due to deadlock when scheduling (pod waits

[2018-10-18 03:08] #129 closed

[2018-10-18 04:04] weekface commented on #126
pd start args:
[code]
The new error messages:
[code]

[2018-10-18 08:44] weekface commented on #126
When i deleted this no-name member, other pd's logs:

[code]

[2018-10-18 20:09] gregwebs commented on #103
I am starting to think we may want to just set it to Always. I said it was bad practice in production. However, not setting it to Always means you are relying on local docker image caching, so there is no real guarantee that you won't end up pulling a newer version of a tag once you don't have the cache somewhere. If we really want to peg an exact version we can use a digest.

[2018-10-18 20:15] gregwebs opened #133 "configurator job is unstable"
I am seeing a lot of variance in the configurator job. Sometimes it completes successfully in a minute. Other times it takes much longer to the point that I assume it is failing.

@tennix identified that this separate job is not necessary in Grafana version 5.3 if we adjust update our chart configuration to work on 5.3.

[2018-10-18 20:46] gregwebs opened #134 "panic during startup"
I saw this during startup. Note that it was able to restart successfully without seeing this error again. So I think it is an issue that occurs during cluster startup.

It seems like the line `oldSet, err := tkmm.setLister.StatefulSets(ns).Get(controller.TiKVMemberName(tcName))` must have returned a nil pointer to oldSet?

[code]

[2018-10-19 02:44] weekface commented on #134
This [PR](https://github.com/pingcap/tidb-operator/pull/120) will fixes it: https://github.com/pingcap/tidb-operator/pull/120/files#diff-969d53a49525b7fa111454dd3e70b96fR64-R75

`set.Status.ObservedGeneration ` is a pointer. May be nil.

[2018-10-22 03:20] weekface opened #138 "Extend scheduler for better support local persistent volume"
We can't schedule the 2nd pod(pd/tikv) on the same node as the 1st pod, nor schedule the 3rd pod on the same node as the first two pods.

So we should add an [extended scheduler](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/scheduler_extender.md) to the operator to achieve it.

[2018-10-22 03:26] weekface opened #139 "Extend scheduler for better support local persistent volume"
We can't schedule the 2nd pod(pd/tikv) on the same node as the 1st pod, nor schedule the 3rd pod on the same node as the first two pods.

So we should add an [extended scheduler](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/scheduler_extender.md) to the operator to achieve it.

[2018-10-22 03:28] weekface opened #140 "Extend scheduler for better support local persistent volume"
We can't schedule the 2nd pod(pd/tikv) on the same node as the 1st pod, nor schedule the 3rd pod on the same node as the first two pods.

So we should add an [extended scheduler](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/scheduler_extender.md) to the operator to achieve it.

[2018-10-22 09:27] #140 closed

[2018-10-22 09:52] xiaojingchen opened #141 "Tidb auto failover always add member when pumb failed"
current the tidb auto-failover always add member if the pumb failed , but the tidb is still unvailable.
[code]
operator need to identify the situation where tidb is unavailable due to pumb failure and in the situation auto-failover feature will stop.
in the other hand, tidb/tikv/pd should to limit auto-failover number, avoid unrestricted increase of members

[2018-10-22 10:54] #139 closed

[2018-10-23 02:40] weekface commented on #126
[code]

[code]

[2018-10-23 03:30] weekface commented on #126
demo-cluster-pd-4:
[code]

demo-cluster-pd-3:

[code]

pd-4 started before pd-3

[2018-10-23 09:53] #72 closed

[2018-10-25 02:33] weekface opened #144 "e2e: failed when upgrade a tidb cluster"
[code]

[2018-10-25 02:37] weekface commented on #144
[code]

[2018-10-25 03:57] xiaojingchen commented on #144
This should be an error in the judgment logic of e2e test

[2018-10-25 15:39] zhouqiang-cl opened #146 "add readiness probes for tidb service"

[2018-10-26 07:36] weekface commented on #144
Is there a PR to solve this issue?

[2018-10-26 08:06] #146 closed

[2018-10-26 08:43] weekface opened #148 "Add cluster restore support"
The cluster may be created from a backup

[2018-10-26 12:59] tennix opened #150 "tidb-operator blocks when a tidbcluster spec is wrong"
When creating multiple clusters, if the first one's cpu got an integer. tidb-operator continues complaining the following errors:
[code]
Only after deleting the wrong tidb clusters, the correct one begins to creating pods.

[2018-10-26 14:38] gregwebs commented on #148
Do we need to support both in the same operation or just support backup restore?

[2018-10-26 15:03] weekface commented on #148
I think we should use a K8s `Job` to restore the backup data. Just like [fullbackup](https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-cluster/values.yaml#L186)

[2018-10-29 08:20] weekface commented on #150
- The `cpu` must be string, i will add a [validation](https://v1-10.docs.kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#validation) to CRD to ensure it is a string.
- Multiple `TidbCluster`s contained in a `TidbClusterList`. If one `TidbCluster` is wrong, the whole `List` request will fail.

[2018-10-29 09:31] weekface commented on #126
#142  fixes this issue.

[2018-10-29 09:31] #126 closed

[2018-10-30 03:29] cwen0 opened #154 "Blocked when creating a tidb cluster because the state of getting pd failed"
the log of tidb-controller-manager
[code]
but I check the health state of pd  is `true`, I exec this command in the   tidb-controller-manager  pod
[code]

[2018-10-30 06:39] zzh1985 opened #155 "manifests/local-dind/pv-hosts.sh error"
[code]
I find error in  manifests/local-dind/pv-hosts.sh

`for node in $(kubectl get nodes --no-headers  | awk '{print $1}' | grep -v master) ; do`
it should be:
`for node in $(kubectl get nodes --no-headers  | grep -v master| awk '{print $1}') ; do`

[2018-10-30 06:59] tennix commented on #155
Hi, @zzh1985 How did you create the DinD cluster? We've recommended the method described in the [local-dind-tutorial](https://github.com/pingcap/tidb-operator/blob/master/docs/local-dind-tutorial.md) to setup DinD test cluster.

[2018-10-30 07:31] #103 closed

[2018-10-31 02:56] tennix opened #156 "Consider using Go 1.11 module to manage dependencies"
Go 1.11 introduces [module](https://golang.org/cmd/go/#hdr-Download_and_install_packages_and_dependencies) which enables builtin support to manage dependencies. The [dep](https://github.com/golang/dep) is difficult to update dependencies when involves Kubernetes, particularly we've encountered this error several times `err (*pkgtree.NonCanonicalImportRoot); required by (root)`.
We've experimentall

[2018-10-31 03:15] myonlyzzy commented on #155
I guess you not use  mirantis/kubeadm-dind-cluster:v1.10 image ,that error mean container didn't have bash。

[2018-10-31 04:22] weekface opened #159 "e2e: create multiple TiDB clusters at the same time"
To ensure each cluster works as well.

[2018-10-31 08:42] #150 closed

[2018-10-31 17:56] gregwebs opened #161 "User guide"
For GCP MarketPlace we should have a guide following these guidelines:
https://cloud.google.com/marketplace/docs/partners/kubernetes-solutions/create-app-package#user-guide
Currently our MarketPlace guide just explains how to do a CLI install.

I think most of the what we are suppose to have is general documentation that we should have which applies to any tidb-operator deployment.

[2018-11-01 02:45] tennix commented on #161
Yes, the specific tutorial is not enough for general purpose documentation. I'll work on this in the following week.

[2018-11-01 06:16] myonlyzzy commented on #154
@cwen0 @weekface  I think this not a bug .maybe two reason for this. first,  tidb-controller-manager have a  2s timeout for pdClient,so if pd cann't return response under 2s. tidb-controller-manager will print a context timeout error,pd that deploy on dind maybe need loog time than 2s. another, tidb-controller-manager start before pd .so maybe  pd not start when tidb-controller-manager send reques

[2018-11-01 06:52] weekface commented on #154
@myonlyzzy

We haven't found the real reason. But the `http.Client` has cache about the TCP connections:
https://github.com/golang/go/blob/master/src/net/http/client.go#L30
[code]

So we remove the client pool and run it over and over again, to see if this is the reason.

PD is created by `tidb-controller-manager`, it can't started before `tidb-controller-manager`.

[2018-11-01 07:38] weekface commented on #69
I will take it.

[2018-11-01 11:39] weekface commented on #69
#158

[2018-11-02 03:16] weekface commented on #154
Blocked again this morning.

[2018-11-02 04:08] xiaojingchen commented on #154
i think is golang bug
https://github.com/golang/go/issues/23399

[2018-11-02 05:36] cwen0 commented on #154
@xiaojingchen If this a bug of golang and we can reproduce the problem. we should create a new issue on go repo. but I see this pr( https://go-review.googlesource.com/c/go/+/123435) had investigated this  problem.

[2018-11-02 13:45] #138 closed

[2018-11-05 06:39] weekface commented on #69
I think these logics had been covered on unit tests, for example:
https://github.com/weekface/tidb-operator/blob/58a5ab000438aba44d7aa14c75eb6f0b9c9aa777/pkg/manager/member/pd_member_manager_test.go#L298
https://github.com/weekface/tidb-operator/blob/58a5ab000438aba44d7aa14c75eb6f0b9c9aa777/pkg/manager/member/tidb_member_manager_test.go#L176
https://github.com/weekface/tidb-operator/blob/58a5ab000

[2018-11-05 06:39] weekface commented on #69
@xiaojingchen

[2018-11-05 07:34] weekface opened #165 "we need to emit important messages as k8s events"
* [x] https://github.com/pingcap/tidb-operator/pull/1373
* [ ] https://github.com/pingcap/tidb-operator/issues/1375

[2018-11-05 19:56] gregwebs commented on #115
How about this as a solution: we don't include any values.yaml in the chart (unless it is meant to be installed and never modified). So when I install, the command would be:

[code]

Then upgrade should be straightforward

[code]

[2018-11-05 22:50] gregwebs commented on #115
This approach requires a missing values.yaml to be acceptable on upgrade. Right now we get `template: tidb-cluster/templates/tidb-service.yaml:11:16: executing "tidb-cluster/templates/tidb-service.yaml" at <.Values.tidb.service...>: can't evaluate field annotations in type interface {}`

So I think we would need to provide a values.yaml file with the structure outline in the chart. We would also n

[2018-11-06 03:16] tennix opened #167 "Set TiDB password when creating TiDB cluster"
By default, TiDB bootstraps with an empty root password which is unsafe since we don't support network policy yet (see #53). We can use a batchjob to set a password for TiDB. For reference, [here](https://github.com/helm/charts/tree/master/stable/mysql) is the MySQL chart which uses `Secret` for password.

[2018-11-06 03:37] myonlyzzy commented on #154
@weekface  @cwen0 This problem that block create tidb cluster  happen on laptop dind ?  I deploy on my mbp dind also find this problem. But I find  the reason is kube-dns container dnsmasq.
I change my k8s dns plugin to coredns and then very thing ok. on gce very thing ok. never block.   check your dind kube-dns log.

[2018-11-06 03:57] #159 closed

[2018-11-06 04:03] weekface commented on #154
@myonlyzzy Yes, it happens on my laptop DinD env.

I google this error, there are many [DNS issues](https://www.google.com.hk/search?q=request+canceled+while+waiting+for+connection+(Client.Timeout+exceeded+while+awaiting+headers)+I&oq=request+canceled+while+waiting+for+connection+(Client.Timeout+exceeded+while+awaiting+headers)+I&aqs=chrome..69i57j69i60l3.407j0j4&sourceid=chrome&ie=UTF-8):

But wh

[2018-11-06 10:42] gregwebs commented on #154
so we can fix this by configuring different DNS in our e2e installer?

[2018-11-07 04:06] weekface commented on #53
I am working on this feature.

[2018-11-07 08:47] kirinse opened #170 "Docker for Mac DinD deploy failed"
followed instruction [local-dind-tutorial.md](https://github.com/pingcap/tidb-operator/blob/master/docs/local-dind-tutorial.md)
[code]

kubectl describe pod demo-pd-2 -n tidb

[code]

[2018-11-07 09:18] weekface commented on #170
@kirinse Thank you for your attention.

We add an [extended scheduler](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/scheduler_extender.md) to K8s, i have to check its logs.

Could you please provide these outputs:

1, The PV list:
[code]

2, tidb-scheduler logs:
[code]
replace `tidb-scheduler-85c8c4f64b-t7k6q ` with your real pod name.

[2018-11-07 09:32] kirinse commented on #170
[code]

[code]

[2018-11-07 09:34] weekface commented on #53
Discussed with @tennix @onlymellb and @xiaojingchen
It is very hard for TiDB Operator creating and managing the NetworkPolicy object.

- we must let operator pods can access the TiDB cluster, so we must let the user add a Label to the operator's Namespace to create the NetworkPolicy
- the user may want to add IP CIDR to the NetworkPolicy or others
- the user may want to add other Namespace and its

[2018-11-07 09:40] weekface commented on #170
Sorry, can you provide these outputs also:

[code]

[code]

[2018-11-07 09:44] kirinse commented on #170
[code]

[code]

[2018-11-07 09:52] weekface commented on #170
Oh, the default log level is 2, please modify the log level to 4 and get the tidb-scheduler's logs again:

[code]
and change `- -v=2` to `- -v=4`

[2018-11-07 10:06] tennix commented on #170
Could you provide the output of `kubectl get pv`?

[2018-11-07 10:43] kirinse commented on #170
@weekface

[code]

[2018-11-07 10:44] kirinse commented on #170
@tennix

[code]

[2018-11-07 10:58] weekface commented on #170
The logs indicate that K8s is trying to schedule the `tidb/demo-pd-2 ` Pod to `kube-node-1 `, but the `tidb/demo-pd-0` Pod has been scheduled to `kube-node-1`.

TiDB operator don't allow the first 3 pods can't be scheduled to the same node.

[2018-11-07 11:12] tennix commented on #170
Yes, this is for data safety reasons. If two PD/TiKV pods scheduled on the same node and that node is down, then TiDB is out of service because of two replicas lost.

[2018-11-07 11:30] kirinse commented on #170
Ok. i just cloned this repo, didn't change anything.
How to fix it?

[2018-11-07 11:45] tennix commented on #170
This may be an issue of our recently added scheduler. If the scheduler works correctly, the third PD pod's PV should not bound on the same node as previous PD pod. We'll diagnose it further.

[2018-11-07 12:04] kirinse commented on #170
@tennix thanks.
also, i met other problem is manifests/local-dind/dind-cluster-v1.10.sh L1847, helm returned error:
[code]

My helm client version is
[code]

[2018-11-07 12:14] tennix commented on #170
You need to upgrade your helm client. v2.8.2 doesn't support `--template` flag.

[2018-11-07 12:20] kirinse commented on #170
@tennix OK, then you guys need update local-dind-tutorial.md :)

[2018-11-07 13:28] #141 closed

[2018-11-08 03:50] weekface commented on #170
Someone reported a bug to K8s: https://github.com/kubernetes/kubernetes/issues/65131, much like this issue.

And this is the fix PR: https://github.com/kubernetes/kubernetes/pull/67556, fixed on v1.12

@kirinse @tennix

[2018-11-08 06:55] tennix commented on #107
@yu-yang2 `kubectl port-forward` only listens on localhost and also I believe you can only access kube-master with `kubectl` inside of the VM. Since you're setting up DinD in a VM, so there are three layers virtualization. It's hard to access the most internal service from the host machine. But if you set up a proper reverse proxy, then that's possible.

[2018-11-08 07:02] tennix commented on #102
Maybe we can set k8s version when creating GKE cluster to meet our requirement.

[2018-11-08 11:39] tennix opened #173 "Add compiler version info in tidb-operator version"
Different compilers may have different behaviors, for easy debugging we should print compiler info in tidb-operator version like TiDB or Kubernetes.

[2018-11-08 12:57] #167 closed

[2018-11-08 22:10] gregwebs opened #174 "Empty persistent volume sync"
I saw repeats of this in the logs when it took a long time for TiDB to come up.

[code]

[2018-11-08 23:19] kirinse commented on #170
sent pr #175

[2018-11-09 02:40] tennix commented on #170
Great, thank you for your contribution!

[2018-11-09 04:07] weekface commented on #174
This error happens if the PVC was not already bound with a PV. It may take a little time.

Can you provide the full logs?

[2018-11-09 04:53] kirinse commented on #170
After fetch updates, now i can't see any demo-tikv/demo-tidb pods.

[code]

[code]

[code]

[2018-11-09 04:58] tennix commented on #170
We're investigating this issue which may be the bug of kubernetes itself. From what you provided, demo-pd-1 is already scheduled, it's just failed. Could you provide the log of demo-pd-1 by `kubectl logs -n tidb demo-pd-1`?

[2018-11-09 05:05] kirinse commented on #170
@tennix

[code]

[2018-11-09 05:12] tennix commented on #170
Did you just delete the previous cluster by `helm delete tidb-cluster --purge` without cleaning the pvc? You can remove the previous PVC following the guide [here](https://github.com/pingcap/tidb-operator/blob/master/docs/local-dind-tutorial.md#destroy-the-tidb-cluster) and then creating a new cluster again.

[2018-11-09 05:30] kirinse commented on #170
actually
[code]

[2018-11-09 05:35] tennix commented on #170
Ah, OK. What about demo-pd-0's log? The pd-2's log shows that pd cluster is not ready. The pd-1 must wait until pd-0 ready.

[2018-11-09 05:37] kirinse commented on #170
[code]

[2018-11-09 05:42] weekface commented on #170
I see the `kube-dns` is `CrashLoopBackOff`, what is the `kube-dns` log?
[code]

[2018-11-09 05:57] kirinse commented on #170
[code]

[2018-11-09 06:56] tennix commented on #170
This is mainly caused by DNS unstable when the cluster was bootstrapping. So it should be another issue, we should create another issue to track this one.

[2018-11-09 07:04] tennix commented on #170
Seems the DNS problem is related to #126, it's a known bug and fixed in latest version of PD.

[2018-11-09 07:39] gregwebs commented on #174
Seeing this reminded me to delete unused persistent volumes. When I was done with that and some other diversions, the cluster had come up.

I don't know if there is anything the operator can do differently. I think the operator should check to see if the persistent volume is empty before the sync and otherwise try to provide a more detailed error message.

[code]

[2018-11-09 07:40] tennix opened #176 "Expose key metrics to Prometheus"
For better diagnose tidb-operator, we should monitor it with Prometheus. Some key metrics like pod scheduling, upgrading time etc need to be exposed.

[2018-11-09 07:42] gregwebs commented on #170
Are we waiting for a new release of PD?

[2018-11-09 07:45] weekface commented on #174
Check to see if the persistent volume is empty before the sync is better. I will submit a PR to fix it.

[2018-11-09 07:48] tennix commented on #170
We can run with the current version of PD but it's not very stable especially when bootstrapping with an unstable network setup. This mostly happens in DinD environment.

[2018-11-09 07:50] gregwebs commented on #170
How should @kirinse fix his issue? Can he upgrade to 2.1?

[2018-11-09 07:54] tennix commented on #170
The PD fix commit https://github.com/pingcap/pd/pull/1279 hasn't cherry-picked in v2.1.0-rc.4, so currently only latest version should fix this issue.

[2018-11-09 08:08] gregwebs commented on #170
@tennix can you recommend a set of image tags for @kirinse to use?

[2018-11-09 08:15] tennix commented on #170
Currently, there's no versioned tag contains this fix except for `latest` tag.

[2018-11-09 08:29] gregwebs commented on #170
that's for PD. For tidb & tikv I think you would want to use the more stable tag v2.1.0-rc.4

[2018-11-12 08:21] kirinse commented on #170
So, no solution for now?

[2018-11-12 08:38] tennix commented on #170
@kirinse We're sorry about these issues, these are related to upstream programs so they're a bit slower to get fixed in tidb-operator. But there are some workarounds you can try now.

For the scheduling issue, you can delete and recreate the cluster. If you're lucky, all the pods can be scheduled correctly. If not, then there is another workaround: set `schedulerName` to `default` in charts/tidb-c

[2018-11-12 13:05] gregwebs commented on #170
@tennix this github issue is long and now includes three separate issues. Can we also create a separate issue for the scheduler issue?

@kirinse here is the config change to use latest pd. The PD fix is going into RC5, which should be available soon.

[code]

[2018-11-12 13:55] tennix opened #180 "PD pod unschedulable with scheduler extender"
From #170, when deploying a TiDB cluster in DinD with Local PV, even we specify `WaitForFirstConsumer` binding mode for local volume. The PV and PVC still may get bound before the pod is scheduled.

Previously we don't have scheduler extender, and all pods can be scheduled. But now when adding scheduler extender, PD pods are not allowed to schedule on the same node. So when PV and PVC are bound be

[2018-11-13 02:18] #174 closed

[2018-11-14 08:21] #156 closed

[2018-11-19 07:33] tennix commented on #154
After changing the HTTP client timeout to 5 seconds, this problem hasn't occurred anymore. Or at least for a week testing. Before that, it happens frequently in our VM chaos testing environment. But we haven't encountered this issue on GKE cluster.

From Go `http` standard library [documentation](https://golang.org/pkg/net/http/#Client):

        // Timeout specifies a time limit for requests made

[2018-11-19 07:44] tennix opened #183 "Upgrading K8s to v1.12"
Kubernetes v1.12 has been released for about 2 months. The local persistent volume scheduling bug #180 has been fixed in v1.12. We should consider upgrading to this version.

[2018-11-19 08:02] #107 closed

[2018-11-19 08:05] tennix commented on #69
Closed because unit tests already cover this.

[2018-11-19 08:05] #69 closed

[2018-11-19 08:07] #91 closed

[2018-11-19 13:58] gregwebs commented on #183
GCP is only at 1.11.2 right now :(

What does it mean to upgrade to 1.12? Can you list out the new APIs that would be used?

[2018-11-19 14:05] tennix commented on #183
I don't think we'll use any new API when we upgrade our DinD to v1.12. We just want to make sure the scheduling issue #180 won't happen in our DinD testing environment. We can still use v1.10 or later versions.

[2018-11-19 14:07] gregwebs commented on #183
:+1:

[2018-11-19 14:08] gregwebs commented on #183
I am all for doing anything to make DinD more reliable

[2018-11-19 14:48] gregwebs commented on #176
As per #186 monitor request latency to PD.

[2018-11-20 23:52] tkalanick opened #189 "grafana not working"
i cloned the tidb-operator 4 days ago and followed to tutorial to launch a TiDB cluster to Google Kubernetes. i was able to run queries using a MySql client, so i think the cluster is working. however i don't see any data in my Grafana dashboard

here is what i did on my laptop:

a screen shot is attached. i have added instance names and namespace names later but it didn't seem to help.
<img width

[2018-11-21 00:56] tkalanick commented on #189
problem seems to be caused by the data source. once i switch from "tidb-cluster" to default, data shows up.

<img width="481" alt="screen shot 2018-11-20 at 4 54 37 pm" src="https://user-images.githubusercontent.com/45215660/48811971-07f59100-ece5-11e8-84b7-ff5696f0c329.png">

[2018-11-21 02:40] tennix commented on #189
The overview dashboard contains `system info` which is supposed to not show any metrics for tidb-operator managed tidb clusters. Did other dashboards show the metrics correctly without changing datasource? @tkalanick

[2018-11-21 19:33] gregwebs opened #191 "Vertical scaling of TiKV and PD"
Scaling horizontally is not always a substitute for scaling vertically.
For example, local SSD storage on GKE is limited to 1.5 TB. If you are near that limit with TiKV, you can scale out to get more CPU/memory (even if the cost structure is not optimal). However, if you want to reduce CPU/memory usage, the only way is to scale down vertically.

A more frequent workflow would be when just starting

[2018-11-22 01:10] tkalanick commented on #189
nothing shows up on other dashboards.

actually the "default" data source points to "random walk", so the graph that i see is only a simulation?

[2018-11-22 01:38] gregwebs commented on #191
We are putting new users in a very difficult situation because there is no way they can know what size instance they want.

Can we document the recommended approach right now? Would it be to go offline and do a backup + restore?

[2018-11-22 01:50] tennix commented on #191
Our official documentation already has the recommendations https://github.com/pingcap/docs/blob/master/op-guide/recommendation.md

Using a new stateful set, the old pods have to go offline and the data on it has to be migrated to new stateful set pods because the PVC and PV are fresh new ones. This approach will keep the TiDB service online. While the backup + restore approach will create a new cl

[2018-11-22 06:15] tennix commented on #189
@tkalanick This is a bug which was introduced in recent commits. We've changed the pod labels, but the Prometheus configuration still uses the old label, result in no targets to scrape. We'll fix it asap.

[2018-11-22 06:58] #189 closed

[2018-11-22 09:03] #53 closed

[2018-11-23 04:13] #161 closed

[2018-11-25 22:45] gregwebs commented on #191
That states the minimum recommendations for large data sets. Users may discover that they need more resources and then would like to scale up vertically. Additionally, many users can reduce cost by using fewer resources when they are starting off.

[2018-11-26 06:53] tennix opened #196 "Replace pushgateway with TiKV metrics pull proxy"
Metrics push mode will not be maintained in the future, we should replace Pushgateway with [TiKV metrics pull proxy](https://github.com/pingcap/tidb-inspect-tools/tree/master/tikv_metrics_proxy).

Pull proxy should be deployed as a sidecar container for TiKV which is the same as Pushgateway.

[2018-11-27 03:32] xiaojingchen opened #198 "Graceful scale in for pd/tikv"
current upgrade feature is graceful but the scale in without graceful. To minimize the impact of scale on tidb clusters, tidb-operator should ensure scale in is graceful like the upgrade.

[2018-11-27 17:52] gregwebs commented on #191
Can we first document official support (and improve it as needed) for vertically scaling TiDB SQL? Should we create a separate issue for that?

[2018-11-28 01:33] gregwebs opened #199 "User guide: upgrading tidb-operator itself"
The user guide explains how to upgrade the tidb cluster. Can we document the procedure for updating tidb-operator? This seems like it should be easy enough if we maintain the right kind of backwards compatibility?

[2018-11-28 02:37] #196 closed

[2018-11-28 02:51] tennix commented on #199
Yes, that's right. In previous versions, we changed the labels, this is a break change so upgrading would involve manual intervention. In future versions, we'll keep backward compatibility as much as we can.

I'll update the user guide to add instructions of how to upgrade tidb-operator itself later.

[2018-11-28 07:14] #183 closed

[2018-11-28 13:11] gregwebs opened #202 "User guide: rolling update of TiDB"
Explicitly document how to update the TiDB version. There are at least two cases
* a minor upgrade
* config file changes for example in the 2.1 release

[2018-11-28 13:15] gregwebs commented on #170
rc5 is available for all three components now.

[2018-11-28 13:17] gregwebs commented on #148
I think this is completed as designed now?

[2018-11-29 00:31] gregwebs opened #203 "User guide: increasing node storage capacity (for TiKV)"
Explain how to add more storage capacity to existing TiKV nodes.
Also we should write a note about decreasing storage capacity.

[2018-11-29 01:48] gregwebs opened #204 "User guide: vertically scaling TiDB"
What is the procedure to scale TiDB SQL vertically (even if it creates down-time)?

see #191 for scaling PD and TiKV vertically.

[2018-11-29 02:17] weekface commented on #148
Yes, https://github.com/pingcap/tidb-operator/pull/160  already added restore support, closing

[2018-11-29 02:17] #148 closed

[2018-11-29 09:42] tennix opened #205 "GKE tutorial: delete tidb cluster and pv before delete gke cluster"
Deleting Kubernetes cluster would not delete the persistent disk volumes used by the cluster on GKE. So an extra step is needed in GKE tutorial to delete TiDB cluster cleanly before deleting Kubernetes cluster.

[2018-11-29 16:43] gregwebs commented on #203
If a cloud disk is used, volume resizing should be easy to support.

K8s 1.13 should have support for using LVM to resize local SSD. However, this is only useful if there are multiple components running on a single node.
On GCP and AWS Local SSD space is determined when provisioning instances and cannot be changed.

[2018-11-29 16:44] gregwebs commented on #204
This should just work by adjusting the resource requests. However, one needs to first ensure there is available underlying capacity (e.g. provision a new and bigger node pool).

[2018-11-29 16:50] gregwebs commented on #191
In theory if we use cloud disk (PD on GCP) we should be able to vertically scale with relative ease.

[2018-11-30 23:36] tkalanick opened #207 "grafana dashboards lost after a K8S upgrade"
my dashboard is lost after an upgraded of GKE to 1.11.3-gke.18. i am still able to issue DB queries and the database data is still there.

i don't see errors on both prometheus and grafana containers. there was a rebuild of the services apparently, but where is the dashboard?

can you keep the grafana dashboard template json file in the git repo so that i can re-import when this happens again?

t=

[2018-12-01 00:02] gregwebs commented on #207
So the pod got re-scheduled during the upgrade? I think the grafana settings are not being stored to persistent disk. The grafana setup is a bit of a hack. I think that addressing it as per https://github.com/pingcap/tidb-operator/issues/133 would prevent this issue from happening.

The dashboard is setup by this job: https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-cluster/templat

[2018-12-01 00:17] tkalanick commented on #207
do i re-run this from helm? can you give me the command? thanks.

[2018-12-01 02:02] tennix commented on #207
@tkalanick The monitor data by default uses `emptyDir` so pod rebuild will lose the monitor data including dashboard template. But it can be persisted in a PV by configuring this three variables https://github.com/pingcap/tidb-operator/blob/94181eaf5ab3ad86b65c35f118a4bd7d3df073ad/charts/tidb-cluster/values.yaml#L159-L161

If you lost the dashboard template, you can just delete the monitor-configu

[2018-12-01 06:52] tkalanick commented on #207
thanks. i was able to do helm upgrade and i can now see the dashboard.

however merely changing persistent to true on line 159 didn't work for me. the pod became unschedulable after i ran helm upgrade. do i need to prepare a persistent volume?

[2018-12-01 06:57] tennix commented on #207
The tidb-cluster chart only creates a PVC for monitor if you enable monitor data persistence. So you should have a dynamic provision volume storage class.

[2018-12-01 06:58] tkalanick opened #208 "expose server CPU metrics for TiDB and TiPD"
only "tikv_thread_cpu_seconds_total" is exposed to grafana. please add cpu metrics for TiDB and TiPD

[2018-12-01 07:11] tennix commented on #208
TiDB and PD don't have CPU metrics by itself. The Overview dashboard gets these metrics from node-exporter. But node-exporter is not managed by tidb-operator. Usually only one node-exporter daemonset will be deployed in a Kubernetes and this is usually deployed globally by kubernetes system administrator.
If you want to see PD/TiDB CPU metrics, you can deploy [monitor addons](https://github.com/ku

[2018-12-01 08:08] tennix commented on #208
I've just confirmed with TiDB team, they'll expose CPU metrics for TiDB in tidb-server itself.

[2018-12-01 08:12] zz-jason commented on #208
See this issue for more detail: https://github.com/pingcap/tidb/issues/8539

[2018-12-03 02:44] tennix opened #210 "Bump TiDB version v2.1.0"
TiDB v2.1.0 was released last week, and the new TiDB Binlog has the same version as TiDB. It's time to bump TiDB version to v2.1.0

[2018-12-04 00:30] tennix commented on #207
@tkalanick Hi does the persistent volume for monitor data work for you?

[2018-12-04 00:34] tennix commented on #133
For static provisioning dashboard in Grafana 5.x we can use Jsonnet and the [grafonnet library](https://github.com/grafana/grafonnet-lib) provided by Grafana to generate dashboard json files.

[2018-12-04 22:43] tkalanick commented on #205
can you add the instruction? thanks.

[2018-12-05 00:47] tennix commented on #205
Currently, you can follow the instructions here https://github.com/pingcap/tidb-operator/blob/master/docs/operation-guide.md#destroy-tidb-cluster
I'll add these instructions to GKE tutorial later.

[2018-12-05 00:50] tennix commented on #205
What did you mean by `load tests`? Is it functionality test or bench test? For bench test, you'd better create a new cluster each time because dropping database would require compaction in the background which impacts the performance. While for functionality test, it's ok to do so.

[2018-12-06 01:07] tennix opened #214 "Separate backup/restore to another chart"
The backup and restore lifecycle is different from tidb-cluster, we should separate to an individual chart.

[2018-12-06 07:55] tkalanick opened #218 "CrashLoopBackOff because of storage limits"
i have given a requested storage value of 64GB on TiKV, but i accidentally did too much insert (~67GB), as a result the tikv nodes all fail to start.

bench-tikv-0                       1/2       CrashLoopBackOff   10         6h
bench-tikv-1                       1/2       CrashLoopBackOff   10         6h
bench-tikv-2                       1/2       CrashLoopBackOff   11         6h

i have tried t

[2018-12-06 08:37] weekface commented on #218
@tkalanick Thank you for reporting this.

There is not yet any proper solutions to prevent TiKV occupy the whole disk.

From K8s v1.11(versions prior to v1.11 required enabling the feature gate), we can [resizing](https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/) `PV` by editing the `PVC` manually, it needs some additional operations.

[2018-12-06 14:23] gregwebs commented on #218
It seems like the desired behavior would be to stay available for reads and give back errors to writes. @weekface is this possible?

[2018-12-06 18:50] tkalanick commented on #218
@gregwebs i am not sure if this is a TiDB issue or a Kubernetes issue actually. we define 3 resource limits in the pod template: cpu, memory, and disk space. if usage exceeds the former 2 limits, service degrades, but is still usable. and more importantly, admin can mitigate the cpu and memory limits by increasing quota. in this case, the service is in an unrecoverable state. and there seems to be

[2018-12-06 19:10] gregwebs commented on #218
@tkalanick I share your concerns. I want to be clear that the operator is in a beta state and cases like these should be expected until we complete our production testing and make our operator GA (scheduled for early next year).

The behavior of TiDB is that when you add a new TiKV node, regions start getting distributed to it automatically (this is managed by the PD component, nothing to do with

[2018-12-06 19:14] gregwebs commented on #218
I should say that we are looking into being able to resize volumes. However, in the general case you would be using a local SSD that is full. We can only ensure support for it in a disk full scenario if you commit to using networked storage (which is both more expensive and slower).

[2018-12-07 09:26] weekface opened #220 "Proposal: support resizing PD/TiKV storage limit on the fly"
As [this issue](https://github.com/pingcap/tidb-operator/issues/218) reported, TiKV node will failed to start if there is no space on the disk. There is not yet any proper solutions to prevent TiKV occupy the whole disk.

Discussed with @onlymellb , we may support resizing PD/TiKV storage limit on the fly in TiDB Operator, the coding process is:

- User edit the `capacity` in `values.yaml` and run

[2018-12-07 09:32] weekface commented on #218
@gregwebs The three TiKV node can't started because of out of disk.

@tkalanick We may support resizing PD/TiKV storage limit on the fly in TiDB Operator as you expected, there is a proposal opened.

[2018-12-07 09:54] weekface commented on #210
Resolved by https://github.com/pingcap/tidb-operator/pull/212

[2018-12-07 09:54] #210 closed

[2018-12-07 19:26] tkalanick opened #221 "Failed to schedule tikv pod"
i tested a full installation with master HEAD but was not able to pass TiKV installation. container log only says "fail to schedule pod". can i find more information somewhere?

<img width="1328" alt="screen shot 2018-12-07 at 11 27 55 am" src="https://user-images.githubusercontent.com/45215660/49668514-34aee580-fa13-11e8-9597-5720b7f0beef.png">

NAME                               READY     STATUS

[2018-12-07 19:38] gregwebs commented on #221
Thanks for the report! We will take a closer look at this. Which container log are you showing?

Whey you say using master, you mean you installed charts from master?

[2018-12-07 19:48] tkalanick commented on #221
i cloned pingcap/tidb-operator locally and did a git pull this morning.

i started everything from scratch after a
`gcloud container clusters delete tidb`

i have a 10 nodes pool with kubernetes version: 1.11.2-gke.20,

[2018-12-07 19:54] gregwebs commented on #221
One thing to watch out for: when you delete a K8s cluster it does not delete the underlying network storage volumes. This is mentioned in the [guide](https://github.com/pingcap/tidb-operator/blob/master/docs/operation-guide.md).

To debug this I would look at the tidb-operator logs and the PVC claims.

[2018-12-07 20:00] tkalanick commented on #221
yes. problem seems to be unrelated to the latest change on master. i reverted to the 12/2 revision but see the same errors.

[2018-12-07 20:46] tkalanick commented on #221
i followed the instructions to purge and delete PVs but it didn't help. after the delete, i re-ran

`helm install ./charts/tidb-cluster -n tidb --namespace=tidb --set pd.storageClassName=pd-ssd,tikv.storageClassName=pd-ssd`

but i am still getting the same errors. is there a way out of this? how do i re-build everything from scratch?

`kubectl -n tidb-admin logs tidb-scheduler-5cdb686dc8-vjzx7 -c

[2018-12-07 20:55] gregwebs commented on #221
So it does seem to be a persistent volume claim issue. You can run `kubectl -n tidb describe pod tidb/bench-tikv-2` to see the failed claims for the pod and then `kubectl -n tidb pvc get` to see the failed pvc.

The instructions to delete the PV are for when you are deleting a K8s cluster. If your cluster was already up and you had things running, it would cause more of these problems.

In terms o

[2018-12-08 00:23] #221 closed, assigned to nobody

[2018-12-08 00:32] weekface commented on #220
@gregwebs This is only for volume expansion support for the following in-tree volume plugins: AWS-EBS, GCE-PD, Azure Disk, Azure File, Glusterfs, Cinder, Portworx, and Ceph RBD. As this [document](https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/) indicated.

The local volume will have LVM supported, then it can be resized like others.

[2018-12-08 00:45] gregwebs commented on #220
Right, if there is more space available. But in a cloud deployment of TiDB there probably shouldn't be more space available: you should do an initial deploy with storage equal to the local SSD capacity. The exception to that would be if you ran multiple TiDB components (e.g. PD + TiDB) on one node, perhaps precisely for this reason, and then moved one off.

So we need to understand the behavior wh

[2018-12-08 00:45] weekface commented on #220
@tkalanick Do you use `local-storage` instead of `GCE-PD`?

What are the logs of the TiKV pod?

[2018-12-08 00:57] weekface commented on #220
@tkalanick Said `disk capacity is available`,  this means there **is** more space available? So, we may confirm the failed reason first. Can you provide the TiKV's logs?

[2018-12-10 08:32] weekface opened #222 "PD failed to start: campaign leader err save timestamp failed, maybe we lost leader"
PD version: v2.1.0
Only one pd member in the cluster.

[code]

[2018-12-10 08:50] malc0lm opened #223 "tidb-operator default image tag “latest” need “imagePullPolicy: Always”"
My cluster deploy tidb-operator 3 month ago. But when I use helm to deploy tidb-operator again, the tidb-controller-manager pod can't start again. The log output is that "this is no auto-failover flag". Then I found I use the outdated "pingcap/tidb-operator:latest" which was pulled 3 month ago.
So I think the "latest" tag need  "imagePullPolicy: Always" config unless you specify a tag name.

[2018-12-10 09:12] weekface commented on #223
We may use an explicit tag instead, for example: `pingcap/tidb-operator:v1.0.0-beta.0`

@tennix what do you think?

[2018-12-10 12:22] gregwebs commented on #223
we should be using release tags in the chart values so that the pull policy doesn't have an effect.

[2018-12-10 12:25] tennix commented on #223
Yeah, I think we should use the last release tag in chart. And update the chart every time we release a new version.

[2018-12-10 19:19] tkalanick opened #224 "i accidentally wiped out my entire tidb namespace"
just to let you folks know that this is possibility. i understand it is totally my fault, that i shouldn't have included the `--namespace==tidb` in the command.

**what happened**:
i wanted to adjust some cpu allocations, both on the controllerManager, and on TiDB, so i changed values.yaml in both `charts/tidb-cluster` and `charts/tidb-operator`

and did:

`helm upgrade tidb --namespace=tidb ./cha

[2018-12-10 21:26] c4pt0r opened #225 "How to change the configuration of TiDB/TiKV/Pd on the fly?"
I notice there's no related information in TiDB Cluster Operation Guide

[2018-12-10 21:44] gregwebs commented on #224
Thanks for reporting this, I know it can sometimes feel embarrassing. I don't know if there is a solution to this with hepm. The helm workflow is problematic. I personally think we should be looking for alternatives, but there are a lot of advantages to using a community standard.

[2018-12-11 00:03] tkalanick commented on #224
i would want to use helm to manage my TiDB cluster during development or testing. because having a single `values.yaml` file and using one command
`helm upgrade tidb --namespace=tidb ./charts/tidb-cluster`
to update everything is convenient.

however in a production environment when millions of users or billion dollars of business are at stake, convenience is the least of my concerns. i'd rather i

[2018-12-11 01:21] gregwebs commented on #224
But it seems that the jmeter example is not configurable?

I am confused by your usage of the term "bare metal". Do you mean without a helm chart? The easiest way to do that is to run `helm template --name`. This produces the raw kubernetes files which you can feed to `kubectl apply -n tidb`. If you check-in the result of that you can diff it to see exactly what is changing in your prod deployment

[2018-12-11 01:50] tkalanick commented on #224
yes. by "bare metal" i mean without a helm chart or any other third party tools. i will test out the `kubectl apply` path. thanks.

[2018-12-11 02:01] #224 closed

[2018-12-11 02:21] tkalanick opened #226 "'helm upgrade tidb ./charts/tidb-operator' wipes out the tidb namespace"
i know i posted this earlier but i am still confused because it happened again. this time i though i did the right thing.

`helm upgrade tidb ./charts/tidb-operator`

in this command, `tidb` is the release name, not the namespace name, (that's wha i thought)

or do you want me to do?
`helm upgrade tidb-admin ./charts/tidb-operator`

kubectl get pods --all_namespaces=true
tidb-admin    tidb-control

[2018-12-11 04:49] tennix commented on #225
Currently, pods will not be recreated when config file changes. We can achieve this by calculating sha256sum of configmap as documented here https://github.com/helm/helm/blob/master/docs/charts_tips_and_tricks.md#automatically-roll-deployments-when-configmaps-or-secrets-change

[2018-12-11 16:10] tennix opened #228 "Using multiple statefulsets for each component"
Currently, each component has one statefulset, and the statefulset controls the component's behavior. This works well for normal cases. But have some limitations:
* When using local volume, only horizontal scaling is guaranteed, vertical scaling may fail if there are not enough resources on the node.
* Users can't specify an exact number of pods in a given AZ. For example deploy 3 TiKV in AZ-1, an

[2018-12-11 17:51] gregwebs commented on #228
The components in question are just PD and TiKV?

Is this resolvable by using the various resource requests parameters to allow specifying a range?

Is this resolvable by telling the operator this layout and having the operator interact with the scheduler? Essentially by default make TiKV not deployable and then change labels to get them deployed where we want?

In my existing thinking about multi

[2018-12-12 00:32] tennix commented on #228
No, the components include PD/TiKV/TiDB. See the last issue I listed.

The resource limits and requests may both different in a single cluster for on-premise deployment.

It is doable by hacking the scheduler extender to deploy an exact number of pods in a given AZ. But considering the other issues I listed, multiple statefulsets would be a more elegant approach.

By using multiple statefulsets, w

[2018-12-12 00:38] gregwebs commented on #228
I like where this is going! I think we need a more detailed design doc around all the different scenarios.

[2018-12-12 00:41] tennix commented on #228
Yes, of course. We'll have a detailed discussion first. And then push a design doc in this repo.

[2018-12-12 10:39] weekface commented on #222
This is caused by my local DinD env. Closing

[2018-12-12 10:39] #222 closed

[2018-12-14 04:04] xiaojingchen opened #229 "scheduler: schedule pd pod failed when failover happen"
**what did i do**
stop node :172.16.30.58 , then recover it  after some time
**what happen**
pd pod pending :
[code]
scheduler log:
[code]

[2018-12-14 11:52] xiaojingchen opened #230 "pd start failed when node failover"
when a node shutdown cause a pd member offline and then we auto start a new pd member[example-pd-3 ] to make failover. but the new pd member start failed.

- pods status
[code]

- example-pd-3 's log

[code]

- the pd version:
[code]

[2018-12-14 12:04] nolouch commented on #230
@xiaojingchen join should all member are health.

[2018-12-14 12:12] xiaojingchen commented on #230
@nolouch I thought only one member unhealthy, the pd cluster is still usable.
in fact, the new pd member join success after some time.

[2018-12-14 12:42] tennix commented on #225
Since we store the startup script and configuration file in a `ConfigMap`. Either of this two parts changes, we should recreate the pod to apply modifications. From the link I mentioned above, we can achieve reloading configuration via the following method:

Add `ConfigMap` checksum as annotations in `TidbCluster`:
[code]
The tidb cluster controller checks these annotations periodicaly, if there i

[2018-12-14 22:35] gregwebs commented on #225
Is this done gracefully to minimize service disruption (evict leaders like a rolling upgrade)?

[2018-12-15 03:42] tennix commented on #225
Yes, of course. This should be just like upgrading.

[2018-12-15 04:05] tennix opened #231 "How to view TiDB slow log?"
TiDB can output slow log to a separate log file. This makes it easy to view the slow logs. Otherwise, users have to grep slow log from all logs. However, users cannot view the slow logs by `kubectl` if TiDB pod emits logs to a separate log file.

Kubernetes [documentation](https://kubernetes.io/docs/concepts/cluster-administration/logging/#using-a-sidecar-container-with-the-logging-agent) suggests

[2018-12-17 03:37] xiaojingchen opened #232 "pd and tikv happended concurrent upgrading at some times"
when upgrading tidb cluster, found that the pd and tikv 's upgrade phase is setted to `upgrade` at same time. this cause the upgrading is not serial.

[2018-12-17 03:42] gregwebs opened #233 "external TLS support"
The minimum SSL support would be ssl-cert and ssl-key. References to these files can be added to the config file. I think we should add entries in the config file for a default location.

SSL certs are designed to be mounted as files
However, for the core TiDB components, the user is not allowed to directly change the pod spec and add volume mounts.

We need some additional configurability to supp

[2018-12-17 03:43] gregwebs commented on #233
https://github.com/pingcap/docs/blob/master/sql/encrypted-connections.md#enable-authentication

[2018-12-17 06:43] weekface commented on #229
The PD replicas are 3, you need more than 3 Kube nodes to do the failover. @xiaojingchen

[2018-12-17 07:14] weekface opened #235 "A new algorithm for tidb scheduler HA predicate"
Now the algorithm of [HA predicate](https://github.com/pingcap/tidb-operator/blob/master/pkg/scheduler/predicates/ha.go#L54) is complicated and hard to understand:

1. First, we sort all the nodes we get from kube-scheduler by how many same kind of pod it contains, find the nodes that have least pods.
2. When scheduling the first replicas pods, we must ensure no previous pods on the nodes.
3. For

[2018-12-17 09:30] xiaojingchen commented on #235
In order to avoid the `scale in` operation affecting HA, one more condition should be added to ensure that the pods scheduling is by its ordinal in order.

[2018-12-17 09:33] weekface commented on #235
Good catch. I had updated the document.

[2018-12-17 12:08] xiaojingchen opened #236 "pd cluster become unhealthy when node fail happened"
PD cluster has 3 members, the PD cluster becomes unhealthy when the member[example-pd-2] down.
[code]

example-pd-0 's log
[code]

example-pd-1 's log
[code]

[2018-12-17 12:43] xiaojingchen commented on #236
@nolouch PTAL

[2018-12-17 17:53] gregwebs commented on #235
The inclusive presence of ordinals in the StatefulSet is not a properly that allows for HA. Therefore we should not use this property in an HA design.

The ordinal number aspect of the StatefulSet doesn't really allow for failure tolerance. That is if we have a stateful set up to 4, it is possible for ordinal 2 to not be present. An simple example would be if we decided to scale-in right after we

[2018-12-17 18:02] gregwebs commented on #235
I don't understand this. Select any node that meets this condition?

[2018-12-18 03:02] weekface commented on #235
Yes, return these nodes to kube-scheduler, and then let kube-scheduler to make the final decision. I have modified the document to make it looks clear.

The operator make sure the lower ordinals must be scheduled before the higher ordinals to control concurrency. The ordinal i means the pod that has this oridnal.

[2018-12-18 05:46] #214 closed

[2018-12-18 10:31] xiaojingchen opened #238 "Parse pd member id failed"
when operator call the api of delete pd member, happen the error of `out of range` error ,
the error logs:
[code]

[2018-12-18 11:12] weekface commented on #238
https://github.com/pingcap/tidb-operator/blob/4c183422345d8fe9e5a450f3729339ee01684767/pkg/manager/member/pd_failover.go#L160

"12891273174085095651" is too big for `Int`, so we must use `strconv.ParseUint` instead of `strconv.Atoi`

https://github.com/pingcap/tidb-operator/blob/1bc6486d27ac323d73a9de00c7a1cd187d658442/pkg/controller/pd_control.go#L345

Get the member again to ensure it is not fou

[2018-12-18 11:22] xiaojingchen opened #239 "operator was blocked when delete a pd member that is not exist"
some times the operator call pd api to delete pd member, but the pd member is not found, then the  operator was blocked.
the reasonable process is to return success directly and continue to perform other operations.

the tidb-operator's  log:
[code]

[2018-12-18 11:50] xiaojingchen commented on #239
The reason is that the operator does not take into account the non-existent situation when call PD delete API.
Recommended that call a get member API before deleting it; if the member is not found return success directly.

the related code:
https://github.com/pingcap/tidb-operator/blob/master/pkg/controller/pd_control.go#L330
https://github.com/pingcap/tidb-operator/blob/master/pkg/controller/pd_c

[2018-12-18 13:34] gregwebs commented on #235
That makes sense now!

The motivation for the lower ordinals rule to limit concurrency makes more sense. However, I still think that in the presence of some disruptive scenarios (like the one mentioned above) this will be problematic. Is there a different way to limit concurrency?

[2018-12-18 14:07] gregwebs commented on #239
Should PD give a different error code?

[2018-12-18 15:41] gregwebs opened #241 "WaitForFirstConsumer PD stuck in pending"
in gke-storage.yaml I add

[code]

I create a new kubernetes cluster, and deploy tidb.

[code]

[code]

There are no pv. The pod shows a warning:

[code]

[2018-12-18 15:43] gregwebs commented on #241
I think this issue was pointed out [here](https://github.com/pingcap/tidb-operator/issues/129) but never addressed.

[2018-12-18 23:18] gregwebs opened #242 "support all internal load balancer description fields"
It is easy enough to do

[code]

However, there are other available fields such as `loadBalancerIP` that are not as easy to add.

https://cloud.google.com/kubernetes-engine/docs/how-to/internal-load-balancing

[2018-12-18 23:58] #218 closed

[2018-12-19 00:41] tennix commented on #242
We can make it configurable but I'm not sure if it's suitable to do so. The load balancer IP may conflict with existing internal IP and it's difficult to get all existing internal IPs. In what cases the user wants to specify the load balancer IP? The load balancer IP would not change after the service is created, so it's stable enough for users.

[2018-12-19 02:43] weekface commented on #235
The statefulset has some [guarantees](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#deployment-and-scaling-guarantees
). Keep ordinal order is an important behavior of statefulset. We should do this to limit concurrency when scheduling.

This is one of the solutions we think of. There may be other better solutions.

[2018-12-19 02:45] weekface commented on #239
This may be a solution. https://github.com/pingcap/tidb-operator/issues/238#issuecomment-448185522

PD don't return a 404 not found response if the member is not found when we are deleting it.
So we must get the member again to ensure it is not found if deleting failed. Here is an example:

[2018-12-19 04:04] nolouch commented on #236
Seems a bug about `prevote` , related https://github.com/etcd-io/etcd/pull/8334.

[2018-12-19 04:37] gregwebs commented on #239
There really shouldn't be any operations like this that give a 500 response. It would be good to get that fixed upstream.

[2018-12-19 05:37] weekface commented on #239
we should open an issue on PD repo. @xiaojingchen

[2018-12-19 05:48] xiaojingchen commented on #239
good, it is a better way.

[2018-12-19 10:51] xiaojingchen opened #243 "the operator was blocked 15 minutes to update TidbCluster after a node fails"
[code]
the operator was blocked from 10:17:08 until 10:33:07.

[2018-12-19 12:06] xiaojingchen commented on #154
the error happen again
[code]
the operator was blocked from 10:17:08 until 10:33:07.

[2018-12-19 16:08] gregwebs commented on #241
The tutorial is single AZ. This issue is for a multi-AZ deploy which doesn't seem to work.

[2018-12-20 05:39] tennix commented on #241
For GCE persistent disk, the volume binding mode should not be set to `WaitForFirstConsumer`, otherwise, the PVC would be in pending mode. This is for both single AZ and multi-AZ. And I've tested that after removing `WaitForFirstConsumer` volume binding mode, the PV can be created and pod can be scheduled correctly. And I also noted that for multi-AZ deploy, the statefulset schedules the pods acro

[2018-12-20 06:16] gregwebs commented on #241
Without WaitForFirstConsumer I was seeing disk created in the wrong az. I can retest and show the error message tomorrow

[2018-12-20 18:02] gregwebs commented on #241
Without WaitForFirstConsumer.

[code]

[2018-12-21 00:18] tennix commented on #241
Oh, this seems to the same issue as #180. It is fixed in Kubernetes 1.12

[2018-12-21 00:21] tennix commented on #180
This seems affect all location based persistent volumes scheduling. For example GKE regional persistent disk as in #241

[2018-12-21 01:43] gregwebs commented on #242
The other solution here would be using internal domain names. But there are limitations to that: cross-VPC communication for example does not support internal domain names and instead requires a stable IP address.

From the docs: "The IP address will remain allocated only as long as the forwarding rule exists."
So yes, this seems like it should be stable.

The problem though is having the ability

[2018-12-21 02:02] tennix commented on #241
The latest GKE cluster is Kubernetes 1.11.5. To confirm it's fixed in 1.12, we should bring up a 1.12 cluster with [kube-up script](https://github.com/kubernetes/kubernetes/blob/master/cluster/kube-up.sh). And test the multi-AZ deployment.

[2018-12-21 02:40] tennix commented on #242
Backup and re-create the cluster should be a rare scenario in production. But if that is required, we can add it. I'll send a PR later to support this.

The `annotations` is a map, if you want to set it from command line, you should use `--set tidb.service.annotations."cloud\.google\.com/loadbalancer-type"=Internal` as stated in the Helm [documentation](https://github.com/helm/helm/blob/master/doc

[2018-12-21 04:19] weekface commented on #241
https://kubernetes.io/docs/setup/multiple-zones/#volume-limitations

There are many other limitations with SatefulSet and PV.

[2018-12-21 04:36] gregwebs commented on #241
So dynamic provisioning just doesn't work for us. There are a few natural options.
1) don't use pod affinity policies
2) don't use stateful sets
3) hack?

Another way is to become availability-zone aware. We can have pod affinity to a specific availability zones. It should be easy enough to create a storage class per availability zone and use those accordingly.

[2018-12-21 04:37] weekface commented on #241
My mistake, these limitations are **addressed**.

[2018-12-21 15:17] apenney opened #247 "GKE Regional Cluster support doesn't work"
I ran into a small issue when trying to test out tidb in GKE.  I created a regional cluster (in us-east-4) and discovered when I deploy the cluster itself that it constantly tries to create a disk in us-east-4c and then tries to schedule the pod into us-east-4b.

The pv has:

[code]

I'm not a kubernetes expert but it looks like we lose those labels when scheduling pods and it then doesn't know it

[2018-12-21 16:35] gregwebs commented on #247
duplicate of https://github.com/pingcap/tidb-operator/issues/241

Yes, for now you must use a single zone cluster. We are looking into this and should get to the bottom of the issue next week.

[2018-12-22 06:17] tennix commented on #241
@gregwebs I've confirmed that this is a bug of our scheduler extender. On GKE the latest Kubernetes version is 1.11.5 right now, and the `WaitForFirstConsumer` volume binding mode cannot work correctly as the document said.
However, using `Immediate` volume binding mode *normal* can be scheduled correctly. But tidb-operator uses scheduler extender for pd/tikv/tidb pods, and both `Immediate` and `W

[2018-12-22 12:04] weekface commented on #241
Our extended scheduler's `kube-scheduler` [policy config](https://github.com/pingcap/tidb-operator/blob/5d23db64b4219a381ece1f5233a7139742711f83/charts/tidb-operator/templates/config/_scheduler-policy-json.tpl) lacks a predicate:  [`NoVolumeZoneConflict`](https://github.com/kubernetes/kubernetes/blob/release-1.11/pkg/scheduler/algorithm/predicates/predicates.go#L88).

It works when id add it to th

[2018-12-22 22:14] #242 closed

[2018-12-24 03:43] cwen0 opened #249 "We need to add a label for pv to indicate which node this pv belongs to"
Sometimes, we need to count the status of pvs on special nodes by `kubectl`.
Although we have added this information to `nodeAffinity`, this is not convenient for us to monitor by `kubectl` .

[2018-12-24 03:51] #232 closed

[2018-12-24 05:54] weekface commented on #249
This is only suitable for `local` PV.  However, other PVs  don't bind to particular Node.

[2018-12-24 12:55] cwen0 commented on #249
@weekface Can we provide a way to monitor the status of the `local` PV ?

[2018-12-24 13:07] xiaojingchen opened #250 "the backup and restore script bug"
the backup and restore script can not get right tidb service host when the clusterName contain `-`.
envs in the pod:
[code]
the restore job log:
[code]

the reason is script code:
https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-backup/templates/scripts/_start_backup.sh.tpl#L3
can not change '-' to '_'

[2018-12-25 12:45] #238 closed

[2018-12-25 12:46] #239 closed

[2018-12-26 03:36] #250 closed

[2018-12-26 09:11] weekface opened #253 "Unable to decode an event from the watch stream"
There are many these logs in tidb-controller-manager:

[code]
![image 1](https://user-images.githubusercontent.com/9758/50440438-40fed200-0931-11e9-8551-30fceeb71f7c.png)

[2018-12-26 09:15] weekface commented on #253
We recently added a timeout to kube client config: https://github.com/pingcap/tidb-operator/pull/244

[2018-12-27 02:31] #241 closed

[2018-12-27 03:56] gregwebs commented on #247
This should be fixed by using the charts from master now.

[2018-12-27 06:02] weekface commented on #249
Use this command to get the [custom columns](https://kubernetes.io/docs/reference/kubectl/overview/#custom-columns):

[code]

The output is:

[code]

@cwen0

[2018-12-27 07:08] tennix commented on #249
Using custom columns works great! But it's better to add claim and claim namespace. From claim name and namespace, users can know what pod occupies the underlining PV.
[code]
We should add this to the operation documents, so users using local pv can easily know where the data directory is for a specific pod.

[2018-12-29 11:49] #228 closed

[2019-01-02 08:39] xiaojingchen opened #259 "scheduler schedule two pd pods on one node when failover happen"
there are only 3 nodes can run pd and tikv, and one node became unavailable. After failover two pd pods were scheduled on one node.
The reasonable handling is to block the last pods when scheduling

[2019-01-02 09:53] weekface commented on #259
#235 is a new HA algorithm.

[2019-01-02 12:32] tennix commented on #35
Since it's difficult to do the arithmetic calculation in Helm Chart, we've exposed the cpu/memory related settings to values.yaml in #252

[2019-01-02 12:32] #35 closed

[2019-01-02 12:38] tennix commented on #198
When scaled in, the offline TiKV still serves the client request, so no extra step is needed for TiKV to do graceful scaling in. While for PD, I think you should check if removing leader member will try to transfer leader first, if it's already done by PD then no extra step is needed too.

[2019-01-03 02:44] boxuan666 commented on #189
I have the same issue like this, and my_prometheus-config.tpl file already modified. same like #193

there still no target in my prometheus.. why?

[2019-01-03 03:04] tennix commented on #189
@boxuan666 You manually modified the `_prometheus-config.tpl` and run `helm upgrade`? Prometheus won't automatically reload configuration, you have to exec into prometheus container and run `kill -SIGHUP 1` to force prometheus to reload the configuration file to make the modification take effect.

[2019-01-03 06:15] boxuan666 commented on #189
@tennix  Not modified by manually. When I downloaded it, it was like this.

[2019-01-03 07:12] tennix commented on #189
@boxuan666 So you just run `helm upgrade`? As I stated above, you should exec into prometheus container and run `kill -SIGHUP 1` to make the upgrade take effect.

[2019-01-03 08:32] boxuan666 commented on #189
@tennix 才看见你是北京的....老哥我那意思 我没改过这个`_prometheus-config.tpl`, 这个文件下载下来就是这样的. 但是我的Prometheus还是获取不到数据,我看tidb的metrics是可以暴露数据出来的

[2019-01-03 08:58] tennix commented on #189
@boxuan666 What version did you use? As stated before https://github.com/pingcap/tidb-operator/issues/189#issuecomment-440925668 you should use charts after #193 commit. That PR fixes the bug.

[2019-01-09 07:53] xiaojingchen opened #261 "the binlog pod have the synced lables but their pvcs have not synced labels"
the drainer pod have label `tidb.pingcap.com/cluster-id=6644328554936557628`
[code]
the drainer pvc have not `tidb.pingcap.com/cluster-id` label
[code]
the pod labels and the pvc labels should be equals.

[2019-01-10 13:10] tennix opened #263 "Introduce a discovery service for PD to properly get bootstrapped"
Now the TiDB Operator has lots of hack for PD to bootstrap, including injecting an annotation `bootstrapping` to PD startup script to distinguish if the first pod is bootstrapping or recreated, and the startup script is too complicated. When introduce multiple statefulsets #240, the startup script can be even more complicated and could hardly cover all cases.

After discussion, we've decided to in

[2019-01-11 02:35] #235 closed

[2019-01-11 11:56] xiaojingchen opened #264 "scheduler: scheduled the all tikv pods to same node"
after deploy tidbcluster, found all tikv pods were scheduled to one node.
[code]
the tidb-scheduler log:
[code]
found that the pod's spec.nodeName is empty, it may be set after some time. this cause tidb-scheduler ha filter invalid.

[2019-01-11 12:01] weekface commented on #264
So the kube-scheduler is parallel scheduling, we need a solution to make sure only one pod can be scheduled at the same time.

[2019-01-14 07:58] #263 closed

[2019-01-15 06:55] tkalanick opened #267 "tikv client in Kubernetes"
Hi, this news [CNCF to host TiKV in sandbox](https://www.cncf.io/blog/2018/08/28/cncf-to-host-tikv-in-the-sandbox/) has been out for some time. can you document how to re-purpose tidb-operator to do TiKV client development in Kubernetes? suppose i don't want the TiDB service. in stead i 'd like to write my own TiKV client according to [this doc](https://github.com/pingcap/docs/blob/master/tikv/go-

[2019-01-15 07:18] weekface commented on #267
@tkalanick Yes, you should deploy your service into the same tidb cluster.

The PD stores the metadata of the cluster, such as the TiKV address and the region location of a specific key. Therefore, the client can obtain the TiKV address from the PD and then communicate with the TiKV after that.

[2019-01-15 14:18] gregwebs commented on #267
Yes, we should have example usage of TiKV. If you run your service in the cluster, it should work. There is an issue with exposing TiKV outside the cluster right now. Si you would just scale your TiDB down to zero if you aren't using that.

Are you using golang? We also have a rust driver coming out right now.

[2019-01-15 18:14] tkalanick commented on #267
i am using golang. thanks for confirming that the client will just work if i drop my service in the cluster.

in the mean time, i am trying to run dev test cases with a client running on my laptop and TiDB cluster in GCP. i tried to port-forward all services including pd, kv-peer, and pd-peer. but that didn't work. do you know of any work arounds? in order for the client to talk to individual regi

[2019-01-15 18:40] gregwebs commented on #267
dind is a bit hacky :( Minikube is a single node so doesn't work with tidb-operator.

Rather than port-forward, can you deploy your code to GCP?
@tennix can you document how to use TiKV form inside K8s?

[2019-01-16 08:18] weekface opened #268 "clean pod-scheduling annotation when the last pod was schedueld"
The PVC annotation [`AnnPVCPodScheduling `](https://github.com/pingcap/tidb-operator/pull/266/files#diff-5e9724242fffab7ce692f8161cb209bcR50) is used to represent whether the pod is scheduling, it should be cleaned when the last pod was scheduled.

#266

[2019-01-16 21:59] tkalanick commented on #267
@tennix. can you tell what is wrong?

i deployed a service inside the same tidb namespace of K8S as a deployment.
and in the deployment i did
[code]
but this fails with the following error:
`textPayload:  "time="2019-01-16T21:02:06Z" level=error msg="[pd] failed to get cluster id: rpc error: code = Unavailable desc = all SubConns are in TransientFailure, latest connection error: connection error:

[2019-01-17 00:44] tennix commented on #267
@tkalanick When you deploy the tikv client service in the same namespace, you should use `tikv://{cluster-name}-pd:2379` instead of `127.0.0.1:2379`. And the port-forward doesn't work for TiKV client. Since the client has to connect all pd and tikv via the registered domain names other than IP addresses.

You can run a ycsb test for the tikv cluster using the following command:
[code]

[2019-01-17 01:11] tennix commented on #267
As @gregwebs said, we can't expose TiKV service like TiDB. TiDB client which just speaks MySQL protocal doesn't care what the backend is, so it's unaware of the PD.

But TiKV client currently has to talk to both PD and TiKV, and to use a stable network ID for the stateful app PD and TiKV on Kubernetes, tidb-operator uses DNS domain name instead of Pod IP address as the advertise address. And the d

[2019-01-17 07:20] tkalanick commented on #267
@tennix thank you very much for your help. i changed my pd address to `tikv://{cluster-name}-pd:2379` and myservice is now working.

one follow up question - what is the sanctioned TiKV client class (`kv.Storage` or `tikv.RawKVClient`)  can you describe the difference between the two?

i actually prefer a higher layer KV API, one that handles encoding and even table definitions. i only consider th

[2019-01-17 08:44] siddontang commented on #267
@tkalanick

RawKVClient is for Raw mod (you can think just use common KV API like Get, Put, Delete, etc.), and kv.Storage(actually TxnKVClient internal) is for the distributed transaction. They are both used in some users' production environments. But be remember that don't use them together in the same cluster.

It is not recommended to use table.Table API, either you can use TiDB (the SQL layer)

[2019-01-17 18:48] #267 closed

[2019-01-18 00:44] gregwebs commented on #267
@tennix can we add a note on connecting to TiKV in the docs now?

[2019-01-18 02:00] tennix opened #270 "Add document about how to deploy and use TiKV cluster with tidb-operator"
From #267 we need to document about TiKV cluster deployment.

[2019-01-21 07:15] #264 closed

[2019-01-24 05:54] #170 closed

[2019-01-28 05:26] gregwebs opened #274 "Flexible user password initialization"
# Problem

Our current initializer job that sets the user password suffers from a problem:
* It puts SQL into a secret with a password. When we retrieve the password in an automated way, we must run an `awk` command: it is a very fragile situation

Both the initializer job and other passwords (backup) have passwords passed through helm.
* This is insecure unless the user stores their helm config a

[2019-01-29 13:02] #198 closed

[2019-01-31 06:34] xiaojingchen opened #276 "pd deploy failed"
check the cluster status,the tikv had not started and the pd is  unavailable
[code]
the discovery log:
[code]
 the pd log (all the pd pods had same logs) :
[code]
the tidb-operator version:
[code]
this version is leatest

[2019-02-01 17:39] gregwebs opened #277 "mydumper coredump"
I am now consistently getting a coredump from mydumper.

Some research indicates this [may be due to how mydumper is being linked](https://bugzilla.redhat.com/show_bug.cgi?id=523694).

I don't know how the tidb-cloud-backup image is created. It is an Alpine Linux image. I suspect that mydumper is instead built for dynamic linking on Debian and that this can be fixed by using a Debian image.

[code

[2019-02-02 04:00] tennix commented on #277
The coredump is because mydumper doesn't support domain name. So that's why we use the TiDB service IP to for the backup job: https://github.com/pingcap/tidb-operator/blob/1a6ae35b7f8d629f83637d4421191aeacb27d251/charts/tidb-backup/templates/scripts/_start_backup.sh.tpl#L10

[2019-02-02 06:55] mlycore commented on #231
We could write our own Admission Controller plugin to inject the log sidecar just like what Istio does

[2019-02-03 21:19] gregwebs commented on #277
okay, I guess I can avoid using the domain name. Still, I wonder if this is a problem with the way we have built mydumper.

[2019-02-04 16:26] #277 closed

[2019-02-04 16:51] gregwebs commented on #274
Also, `gcp.credentialsData` in the backup chart should be created as a secret.

[2019-02-14 07:04] xiaojingchen commented on #276
the reason is the network problem. some node's kube-proxy are unnormal.

[2019-02-14 07:04] #276 closed

[2019-02-16 18:29] kkimdev opened #278 "Relax hyperkube version match requirement?"
Currently users are supposed to match hyperkube's version to Kubernetes' version by `--set scheduler.kubeSchedulerImage=gcr.io/google-containers/hyperkube:${KUBE_VERSION}`

However, some managed Kubernetes service provides automatic Kubernetes version upgrade which can introduce version mismatch overnight.  It would be great if this exact version match requirement can be relaxed.

I don't know the

[2019-02-16 19:53] gregwebs commented on #278
I think it should be possible for us to default to matching what K8s is running (and even track if it changes)

[2019-02-18 02:39] weekface commented on #278
@kkimdev The pods created by TiDB Operator are scheduled by TiDB Scheduler(kube-scheduler + tidb-scheduler). We recommend keeping consistent, but these two versions can be different actually.

[2019-02-18 12:22] tennix commented on #274
With `py-mysqldb` installed on alpine linux image and the initial root password stored in `ROOT_PASSWORD` environment, the root password can be set with the following command:

`python -c "import os, MySQLdb; MySQLdb.connect(host='127.0.0.1', port=4000, user='root').cursor().execute(\"set password for 'root'@'%%' = %s; flush privileges;\", (os.environ.get('ROOT_PASSWORD'),))"`

There is already a

[2019-02-18 12:26] tennix commented on #231
@mlycore Since the TiDB pods are created by TiDB StatefulSet, and the StatefulSet is created by TidbCluster, we can totally control how our pods look like. So there is no need to add another plugin to inject log sidecar.

[2019-02-21 01:08] gregwebs commented on #274
There is a down-side to maintaining two ways of doing things, particularly where one is insecure by default. Supporting insecure by default techniques means we must spend time documenting how to do things in a secure way.

The insecure by default comes in two forms
* Helm will store this its chart data in an ordinary ConfigMap by default. There is a configuration option to store the entire configu

[2019-02-21 03:12] tennix commented on #274
Either way we have to document how to do things in a secure way. And the secure way is complicated for new users. Using insecure way we can allow new users quickly get TiDB up and running. If advanced users want the secure way, they can find the method in the document.

[2019-02-21 03:23] gregwebs commented on #274
I agree the insecure way is easy for a demo that you are going to destroy, but it is actually more complicated once you realize you have to save your password somewhere.

The secure way just requires running ` kubectl create secret generic password --from-literal=key=value`. Its quite easy even if more verbose than adding `-set tidb.password=value` to your helm install.

[2019-02-21 04:01] tennix commented on #274
Yes, creating it may be easy, but the secret is outside of the helm control. Users may forget about that. Besides k8s secrets are not always encrypted. There is lots of work to do to keep the credential data real safe. So to keep it really secure, we must add more document about this for example how to enable k8s encryption at rest.

[2019-02-21 04:45] gregwebs commented on #274
Good point. Note though that if the tidb cluster is installed into a new namespace, then deleting the namespace will delete the secret.

I think we can just rely on the existing Kubernetes secret documentation. Whereas if we put secret values through helm they must understand both K8s secrets and all of the issues of having secrets in helm.

[2019-02-21 13:29] gregwebs commented on #274
For managing the secret lifecycle, I think we can still delete the secret automatically (perhaps adding a helm delete hook somewhere).

[2019-02-22 00:49] gregwebs commented on #274
Related to refactoring secrets, we currently generate a random password if none is given. However, that workflow may be broken: https://github.com/helm/helm/issues/3053

[2019-02-22 04:30] gregwebs commented on #274
I have an init job now that looks like this:

[code]

[2019-02-22 12:50] tennix commented on #274
Yes, this is the biggest drawback of current approach. I agree with you to let user create secret outside of helm and reference the secret in values.yaml.

[2019-02-23 00:30] tkalanick opened #283 "how to add "imagePullSecret""
i am trying to deploy TiDB from a data center inside of China. since i can't reliably access dockerhub, i have to use a private docker registry which requires "imagePullSecret". i figured that i can add the following block
[code]

to the template files before i realized that tidb-operator is calling APIs from the go code to setup deployments. how can i work around this? thanks.

[2019-02-23 02:12] tennix commented on #283
@tkalanick Yeah, you're right. tidb-operator doesn't support `imagePullSecret` right now. The go code has to be modified to support this. Would you like to send a PR to support this?

[2019-02-24 02:44] tkalanick commented on #283
@tennix i actually spent some time trying to make go code modifications in tidb-operator before i found this instruction
["Add ImagePullSecrets to a service account"](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#add-imagepullsecrets-to-a-service-account), it worked for me and probably saved me a day of go coding.

i am modifying the GCP tidb-operator so that

[2019-02-24 05:28] gregwebs commented on #283
Great! Should we link to that with a comment in values.yaml that someone will find if they search for imagePullSecret?

[2019-02-25 08:29] aylei commented on #231
I'd like to help with this issue if there is no ongoing development work.

[2019-02-25 08:56] weekface commented on #231
@aylei Of course you can, thank you.

[2019-02-25 19:26] tkalanick commented on #283
it would be nice if you can start a help file which talks about how to install on a generic K8S cluster. it dose not have to be very long. i found the gcp package very useful. probably the only thing missing is how to set up storage class and PVC. i am especially interested in how to setup [local PV](https://kubernetes.io/blog/2018/04/13/local-persistent-volumes-beta/)

[2019-02-25 23:28] gregwebs opened #284 "Backup job requests no resources"
The jobs in the backup chart do not have resource requests or limits. Can we provide defaults and guide users on how to set them?

[2019-02-26 02:21] tennix commented on #284
Yeah, it needs to add this settings.

[2019-02-26 02:51] weekface commented on #283
@tkalanick Here is the setup local PV document: https://github.com/pingcap/tidb-operator/blob/master/docs/setup.md#local-persistent-volume

[2019-02-26 10:58] aylei opened #287 "facing "ginkgo: command not found" when following the contribution guide"
[code]
I solved this by running `go get` ginkgo on my own. Maybe we should mention this instruction in the contribution guide or add it in retool.

[2019-02-26 11:19] aylei commented on #287
UPDATE:
[code]
Does this mean that I should run `make check` first?

[2019-02-26 11:21] tennix commented on #287
Yes, the CONTRIBUTING.md document needs to be updated. Would you like to send a PR for this?

[2019-02-26 11:22] aylei commented on #287
of course

[2019-02-26 21:31] #283 closed

[2019-02-27 02:27] #287 closed

[2019-02-27 02:56] weekface opened #289 "TiKV server crashed with: failed to create kv engine: "Corruption: Sst file size mismatch"
[code]

[2019-02-27 03:34] weekface commented on #289
there are many etcd: read-only range request took too lang:

[code]

[2019-02-27 03:51] DorianZheng commented on #289
@weekface Could you post the output of `dmesg`?

[2019-02-27 05:13] weekface commented on #289
[code]

@DorianZheng

[2019-02-27 13:26] tennix opened #291 "Let secret data created outside of Helm"
From #274, secret created by helm is not secure. To keep it secure, it should be created outside of Helm.

[2019-02-27 13:30] tennix opened #292 "Backup chart needs to be released"
Currently, the CI only releases tidb-operator and tidb-cluster charts. Since the ad-hoc backup is split in a separate chart, it also needs to be released.

[2019-03-01 01:00] tkalanick commented on #220
@weekface it is very easy to reproduce this error. with a working cluster, modify charts/tidb-cluster/values.yaml  by expanding `tikv.resources.requests.storage` value, and then do `helm upgrade tidb charts/tidb-cluster`

you will see some tikv pod run into `CrashLoopBackOff` state. if not, delete one pod and when it recreates, it will crash.

since it is not possible for the pod to recover from t

[2019-03-01 02:22] weekface commented on #220
@tkalanick Can't find the reason from the tikv logs, it looks normal. You need to check the log of the pod that was previously failed with `-p` flag:

[code]

This may be another problem.

[2019-03-04 03:21] #231 closed

[2019-03-04 23:48] gregwebs opened #293 "controller manager should check the PD svc/pod status."
My cluster has a single PD pod stuck in status Pending. If I look at the controller manager logs, I see repeats of this:

[code]

tidb-operator should know already from Kubernetes that there are no pods running for the service. Either because there are no endpoints or because it looks at the status of the underlying pods.

[2019-03-05 03:38] tennix commented on #293
So you want to remove the annoying error logs in this case?

[2019-03-05 03:39] #274 closed

[2019-03-05 05:29] gregwebs commented on #293
It would be great to see "service tidb54/demo-pd has no endpoints" instead. Just knowing that something cannot connect within a timeout is a very vague failure mode both for the user of the log and tidb-operator.

[2019-03-05 05:32] gregwebs opened #294 "secret refrences in charts/tidb-backup"
#274 was addressed, but not for the backup chart. Once we are happy with our approach, we should extend it to the tidb-backup chart.

[2019-03-05 10:53] aylei opened #295 "TiDB server failed to start due to un-set parameter"
The log of failing pod:
[code]

[2019-03-05 11:11] aylei opened #296 "Support overriding helm values in e2e test"
This can help us writing more complex e2e test case

[2019-03-06 09:55] yanyixing opened #299 "tikv not running"
I using tidb-operator install a tidb on my three nodes k8s env, but the tikv not running.
The result is as blew:
[code]

[2019-03-06 10:05] weekface commented on #299
@yanyixing Can you get the logs of tikv:

[code]

[2019-03-06 10:09] yanyixing commented on #299
@weekface

[code]

[2019-03-06 10:12] weekface commented on #299
@yanyixing Get the previous logs of this tikv:

[code]

And which version of tidb-operator are you using?

[2019-03-06 10:12] yanyixing commented on #299
@weekface
pushgateway log
[code]

[2019-03-06 10:14] yanyixing commented on #299
@weekface
tidb-operator version:   v1.0.0-beta.1-p2

[2019-03-06 10:16] yanyixing commented on #299
[code]
result
[code]

[2019-03-06 10:27] weekface commented on #299
I can't find any useful pieces of information.  What is the logs of kubelet:
[code]

[2019-03-06 10:29] yanyixing commented on #299
[code]

@weekface

[2019-03-06 10:58] weekface commented on #299
[code]

What's the value of `LimitNOFILE `?

[2019-03-06 11:01] yanyixing commented on #299
[code]

and the LimitNOFILE=infinity
@weekface

[2019-03-06 11:12] weekface commented on #299
What is the `ulimit` of your **host** and **container** :

[code]

[2019-03-06 11:14] yanyixing commented on #299
host ulimit is 1024

and container ulimit is 65536

[2019-03-06 11:15] weekface commented on #299
Set `LimitNOFILE` and `LimitNPROC` to `1048576`.

[2019-03-06 11:21] weekface commented on #299
Sorry, it is maybe: `/etc/systemd/system/docker.service` not `/usr/lib/systemd/system/docker.service`.

[2019-03-06 11:24] yanyixing commented on #299
[code]

thanks , tikv is running now. @weekface

[2019-03-06 11:39] aylei commented on #299
I think we should update the corresponding section of `setup.md`, that seems out-dated:

[code]

[2019-03-06 11:40] weekface commented on #299
Yes, I will open a PR.

[2019-03-07 12:34] #295 closed

[2019-03-07 12:42] aylei commented on #296
close via #298

[2019-03-07 12:42] #296 closed

[2019-03-07 13:43] gregwebs opened #302 "scheduler extender issues on upgrade to K8s 1.12.5 and tidb-operator-1.0.0.beta.p2"
On upgrade, the tidb-scheduler pod crashes. Here is the end of the log of kube-scheduler:

[code]

[2019-03-08 04:36] gregwebs commented on #302
oh, sorry, my chart was out-dated.

[2019-03-08 04:36] #302 closed

[2019-03-08 13:47] shuijing198799 opened #303 "TiDB status is incorrect"
when I create a tidb cluster the kubectl shows tidb-0 and tidb-1 is running the tc yaml status show all of tidb replica is health. however, the log shows tidb-0 is not health, when I curl the ip:10080 of tidb-0. the remote server refuse the connect. So I think there is a tidb-operator status bug here.

[2019-03-11 02:51] aylei opened #305 "Build CLI for TiDB Operator"
It will be convenient if we build a CLI utility to manage tidb-cluster and the other resources like `istio-ctl`.

v1 plan:

Commands:
- [x] use: select tidb cluster to use
- [x] list: list tidb clusters
- [x] info: get tidb cluster help info
- [x] get: get tidb cluster resource details
- [x] debug: troubleshooting tidb cluster
- [ ] pdctl: launch pdctl
- [x] ctop: real-time container monitoring

M

[2019-03-12 01:14] zyguan opened #308 "What will happen when multiple operators get installed"
I known there should be only one tidb-operator in a K8s cluster, but users are able to install tidb-operator in different namespace by mistake. Can we prevent this from happening? Or what would occur if thera are multiple tidb-operators in a cluster?

[2019-03-12 03:23] weekface commented on #308
If it has already been installed, it will prevent it from being installed again?

[2019-03-12 03:33] gregwebs commented on #308
Helm would stop a second install with the same helm release name.

If they are all set to [clusterScoped: false](https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-operator/values.yaml#L5), this is a supported mode of operation.

It is possible to prevent a `clusterScoped: true` install by not giving out cross-namespace permission.

[2019-03-12 13:38] gregwebs commented on #308
There are two scenarios that would cause problems:

1) two `clusterScoped: true` installs
2) one `clusterScoped: true` install, and one `clusterScoped: false` install.

[2019-03-12 15:00] zyguan commented on #308
Thanks @gregwebs ! I have one more question. What are the limitations/drawbacks to set `clusterScoped` to false ?

[2019-03-12 16:52] gregwebs commented on #308
With `clusterScoped: true` you can manage just one tidb-operator. With `clusterScoped: false` you are managing many, and using more resources (although the tidb-operator resource requests are small). There is potential advantage though to `clusterScoped: false`: it allows you to try out a newer version of tidb-operator on just one tidb cluster.

I would like for us to handle these scenarios. I thi

[2019-03-12 17:06] gregwebs commented on #278
Major version changes of k8s will definitely break this setup.
We can use either helm Capabilities.KubeVersion or a MutatingAdmissionWebhook to set the image tag to match K8s so that the user does not configure this parameter.
The helm approach would require the user to do a helm upgrade when ugprading the K8s version.

Otherwise we would need some code to monitor the K8s version and change the im

[2019-03-12 18:19] gregwebs commented on #294
Fixed by #301

[2019-03-12 18:19] #294 closed

[2019-03-12 18:22] gregwebs commented on #291
This is completed now by #286

[2019-03-12 18:22] #291 closed

[2019-03-12 18:35] gregwebs commented on #115
I think the best approach as an end user is to use a wrapper script and never invoke helm directly. The wrapper script either uses --set or --values to set custom values, and the original values.yml would be unchanged. To ensure the wrapper is used, the helm chart can fail unless a value is set and give an error message to use the wrapper.

[2019-03-14 02:29] #303 closed

[2019-03-14 02:37] shuijing198799 opened #319 "Unable to get the correct folder for recovery while doing a periodic backup task"
When I create a cronjob to do periodic backup, the folder of persistent volume is "scheduled-backup-`date +%Y-%m-%dT%H%M%S`-${MY_POD_NAME}" but when I want to do restore, the pvc and the backupname is the same ".Values.name" . so if I do periodic backup in persistent volume. I can't get the correct pvc and folder address to restore.

[2019-03-17 21:08] kkimdev opened #323 "Implement readinessprobe"
Currently tidb server could be not fully initialized even when the pod is accessible from other pods.

We can use readinessprobe to tell Kubernetes when it's fully ready.
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#define-readiness-probes

[2019-03-17 21:09] kkimdev commented on #323
@juchiast fyi

[2019-03-18 00:29] tennix commented on #323
Hi @kkimdev, thank you for your suggestion. But we've already had readiness probe for tidb-server https://github.com/pingcap/tidb-operator/blob/87e8b7b227bbc3c8c83d9d849307e8ff85cfbfd1/pkg/manager/member/tidb_member_manager.go#L319-L327

[2019-03-18 01:09] kkimdev commented on #323
@tennix hmm.. then what's the correct way to wait initialization from other pods?  We tried the following init container but it didn't guarantee full initialization.

[code]

Instead we had to check the port directly
[code]

@juchiast Please chime in if there is anything to add.

[2019-03-18 02:09] juchiast commented on #323
`until nc -z demo-tidb 4000; do sleep 1; done`
This doesn't guarantee full initialization either, because there's a separated pod to set password for TiDB. So ideally we should wait for that pod to complete. https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-cluster/templates/tidb-initializer-job.yaml#L26

[2019-03-18 02:25] tennix commented on #323
@kkimdev `nslookup` just resolves the DNS, it doesn't check the backend readiness. For example, if you only create a service without any selected backend, the `nslookup` will still succeed once the service is created. The `nc` port checking works because it will try to establish a connection to the endpoints, if a pod is not ready, then it will not be added to the service endpoint.

@juchiast Yes,

[2019-03-18 02:34] kkimdev commented on #323
@tennix I think that's what readinessProbe is for.  If pod is not fully ready, it shouldn't be published as service using readniessProbe.

https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/

[2019-03-18 02:52] kkimdev commented on #323
@tennix I'm not sure if service name is available if there is no ready-pod behind.  Kubernetes Init Container doc also used nslookup https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#init-containers-in-use

[2019-03-18 02:54] tennix commented on #323
The readiness probe indicates whether the process is healthy or not other than the pod is dead or not. The server maybe alive but it may get busy handling request, so the server can response unhealthy to readiness probe. And then the controller removes it from the service backend, this doesn't terminate the existing connections, but disable establishing new connections. This is what readiness prob

[2019-03-18 02:56] tennix commented on #323
I suggest you take an experiment, creating a service but not creating the backend pod. Then do a `nslookup` in one of your cluster pod.

[2019-03-18 02:58] kkimdev commented on #323
@tennix OK will do thanks.  I assumed that service is not available without read-pod because the official Kubernetes doc usd nslookup in their initContainer example.

[2019-03-18 03:07] tennix commented on #323
@kkimdev Sorry, I was wrong. The domain name of a service without any endpoint will not get resolved. But the usage of the readiness probe in tidb-sever still works as what I said above.

[2019-03-18 04:02] kkimdev commented on #323
@tennix Actually, I think I was wrong.  `nslookup` succeeded with the following service without any deployment.

[code]

It seems like tidb-operator readiness check queries http://service-name:10080/status and I guess it makes sense to do the same for our initContainer.  But please let us know otherwise.  And maybe also good to document the recommended initContainer config?

Anyways, Thanks a lot!

[2019-03-18 04:02] #323 closed

[2019-03-20 07:40] tennix opened #332 "Proposal: Allow tidb pod to be scheduled on the previous node"
For `NodePort` type Service, the `spec.externalTrafficPolicy` may set to `Local` to enable client IP propagation which is needed for source IP based permission control. This way, not all the nodes and node port is accessible for the client connection. Users may choose only the node where the tidb-server pod is on to connect. But when performing a rolling upgrade, the tidb-server pod may be schedul

[2019-03-21 22:56] gregwebs opened #347 "lightning backup import"
The lightning importer is becoming a mature tool now. We should consider supporting it in our backup chart.

[2019-03-21 22:59] gregwebs commented on #278
We now default the helm chart to try to match the k8s version, and it works on GKE. @kkimdev can you try it out on your K8s install?

[2019-03-22 08:22] kkimdev commented on #278
It worked well on both gke and  kubeadm-dind-cluster.  Thanks!

[2019-03-22 08:22] #278 closed

[2019-03-22 14:19] aylei opened #348 "Grafana dashboards and datasource provisioning"
Now that we have upgraded to grafana 5.x and higher, we may consider making use of [grafana provisioning](http://docs.grafana.org/administration/provisioning/) to bundle pre-defined dashboards and datasources. This will simplify the setup procedure and help addressing #207 #133 .

Besides, as @tennix suggested, we may consider using [jsonnet](https://github.com/google/jsonnet) (and there is a json

[2019-03-25 10:11] xiaojingchen opened #350 "scheduler: when "pd.replicas = 1" the pod always is pending and cannot be scheduled"
when "pd.replicas = 1", scheduler can not scheduler pod.
the scheduler print the log:
[code]
then check the tidb-scheduler ha logic, found our scheduler can not support the situation when `replicas==1`
[code]
the expression `if podsCount+1 >= int(replicas+1)/2` is alway true when replicas is 1, we need to fix the expression.
@weekface @tennix  PTAL

[2019-03-26 02:25] tlightsky commented on #180
i meet this issue in OSX DinD env too

[2019-03-27 02:41] weekface commented on #180
@tlightsky Are you using `manifests/local-dind/dind-cluster-v1.10.sh` to build your DinD env?

[2019-03-27 21:11] gregwebs opened #355 "Provision pods immediately for faster node auto-provisioning"
Currently when a new tidb cluster is created, new PD pods are created immediately. Then TiKV once PD is ready and TiDB once TiKV is ready.

Node auto provisioning looks at pending pods. Currently, the TiDB pods won't show up for a while, and their nodes are not auto-provisioned until then.

I would like to work out a design for a mode to create all the pods immediately on install (I don't care abo

[2019-03-27 22:16] gregwebs commented on #180
@tlightsky what is the K8s version?

[2019-03-28 00:48] zyguan opened #356 "Proposal: use zap for structured logging"
Although glog/klog seems to be the standard logging in k8s ecosystem, I still suggest to use structured logging like zap. It's easy to write and maintain, also makes logging message more unified. Let's consider the following example.

[code]

[code]

By using zap style logging, you can:
- easily add/delete(comment) a field or reorder fields
- distinguish event message from annotation fields by cod

[2019-03-28 08:15] #350 closed

[2019-03-28 11:41] tlightsky commented on #180
@weekface yes, i used version v1.0.0-beta.1,
then i switched to master, then clean/up again, this problem disappear

[2019-03-28 17:12] gregwebs commented on #356
I like this! Can you convert your glog encoder from a gist to an actual library? Others would be interested in this outside of PingCAP.

[2019-03-29 16:09] zyguan commented on #356
Sure! the current implementation is just a wrapper of zap's [ConsoleEncoder](https://gist.github.com/zyguan/adbce6c1ca9739ec2d7078b4e718d89b#file-glog_encoder-go-L73). It leads to two buf pools thus is not memory efficient. I will optimize it later.

[2019-03-31 07:56] aylei opened #358 "Add additionalPrinterColumns in TidbCluster CRD"
Starting with Kubernetes 1.11, CRD spec supports [`additionalPrinterColumns` definition](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#additional-printer-columns), which can facilitate CRD viewing from kubectl.

This enhancement is not conflict with the CLI tool, while both boosting the user experience in command line.

[2019-03-31 07:58] aylei commented on #358
A simple example
[code]

I will open a PR to discuss which columns do we need.

[2019-04-01 06:16] zyguan opened #362 "It takes 2 hours for tikv failover"
When a tikv is down, its state in pd firstly turns to `Disconnected`, then becomes `Down` after 1 hour. According to failover logic [here](https://github.com/pingcap/tidb-operator/blob/4c183422345d8fe9e5a450f3729339ee01684767/pkg/manager/member/tikv_failover.go#L51), it will take 2 hours for failover. Does this behave as expected? It's little misleading.

[2019-04-01 06:37] weekface commented on #362
Now, it will failover after becoming `Down` for 2 hours. Did not consider the state of `Disconnected`.

@tennix @xiaojingchen PTAL

[2019-04-01 06:54] tennix commented on #362
How will PD handle this when a TiKV fails? @nolouch

[2019-04-01 06:58] nolouch commented on #362
@zyguan  Can you show the config of the PD? pd-ctl>> config show all

[2019-04-01 07:49] zyguan commented on #362
@nolouch here it is.
[code]

[2019-04-01 14:00] aylei commented on #358
close via #361

[2019-04-01 14:00] #358 closed

[2019-04-02 15:44] zyguan commented on #356
https://github.com/zyguan/zapglog
I created a repo for the encoder (tests and readme are to be added). Here is the latest bench result:
[code]

[2019-04-02 17:19] gregwebs commented on #356
Its a lot of drudgery to make these changes. Will the existing Infof version work and how much slower is that then glog?

[2019-04-02 17:20] gregwebs commented on #356
Sorry, I should clarify that I am wondering how this change will be introduced. It would be nice to not have to change every single logging statement at once.

[2019-04-03 01:34] zyguan commented on #356
I think the fast way to introduce zap is to use sugared logger, it's provide `Infof` interface. However, it's still formated style rather than structured style. The legacy logging statements can be handled by this way temporarily, but I think we may still need to change these statements later. BTW, another problem for zap is that it does not support `glog.V(n)`.

[2019-04-03 07:06] weekface commented on #362
@nolouch PTAL

[2019-04-03 07:33] weekface commented on #362
We should failover when the TiKV instance becomes `Down`. Do not need to wait another 1 hour. @zyguan

[2019-04-03 15:24] zyguan commented on #362
So, the failover should be triggered in a short time after `pd.maxStoreDownTime`, rather than  `2*pd.maxStoreDownTime`.

[2019-04-03 15:51] zyguan opened #364 "Should additional stores be released after their recovery?"
When a tikv store failed after `maxStoreDownTime`, a new store will be created by operator. However, the failed store might be recovered after failover. In this case, the number of up stores is greater than expected [replicas](https://github.com/pingcap/tidb-operator/blob/f3bfb4890a8c70ac7e8c8baa1f375a98ca6e8db2/charts/tidb-cluster/values.yaml#L83). Here is an example:

![2019-04-03_234149](https:

[2019-04-03 15:52] gregwebs commented on #356
Can we support verbosity by adding more log levels? Debug1, Debug2, etc

[2019-04-04 01:18] zyguan commented on #364
I see it's a known issue. Can we stop the pending store once it’s not needed?

[2019-04-04 02:20] weekface commented on #362
Yes

[2019-04-04 02:22] weekface commented on #364
This is the expected behavior, the operator should not automatically delete the additional store, requiring manual intervention.

[2019-04-04 06:54] weekface opened #366 "hack/codegen.sh failed to generate deepcopy files"
[code]

[2019-04-05 00:52] mysticaltech opened #369 "User guide for Rancher's RKE or Minikube"
Hello, thank you for your wonderful work! This is a true breath of fresh air in the NewSQL world. Finally a well-built project.

I am myself and like many others running my own Kubernetes cluster thanks to Rancher's RKE https://github.com/rancher/rke. It is one of the most used Kubernetes distribution after GKE and EKS.

Rancher is quite popular in the Kubernetes world... So it would be fantastic

[2019-04-05 03:19] gregwebs commented on #369
@mysticaltech I am glad you like the project. is there anything in particular we would need in our guide for RKE?

Our [docs are here](https://github.com/pingcap/tidb-operator/blob/master/docs/user-guide.md), let us know what is most important to improve.

[2019-04-05 03:34] mysticaltech commented on #369
You already have tutorials for DinD, Google GKE, and AWS EKS. But those are specific Kubernetes use cases, it doesn't show how to use the tidb-operator in a "vanilla" Kubernetes cluster. Not everyone uses Google or AWS.

It would be fantastic if you added a tutorial for Rancher RKE or Minikube, both of which are more "vanilla" Kubernetes distributions.

Rancher RKE is the 4th most used Kubernetes

[2019-04-05 03:42] gregwebs commented on #369
Okay, so a tutorial for on-prem install. We are developing expertise in that area now so it would make sense for us to have one.

We can't run on Minikube because it is a single node K8s cluster. We use DinD because it is multi-node.

BTW, where do you get your K8s usage numbers from?

[2019-04-05 04:31] mysticaltech commented on #369
I apologize, my bad, Kubeadm DinD is indeed vanilla on-prem Kubernetes! So the DinD tutorial works great even for Rancher RKE. Just to answer your question, Rancher Labs made it much easier to install Kubernetes with RKE, so most on-prem setups are using this now. About the numbers, I can't remember where I read this exactly... Thanks again for your time.

[2019-04-05 04:31] #369 closed

[2019-04-05 15:28] aylei opened #370 "Auto generating crd yaml specification"
We may generate the CRD specification (to be more accurate, the `.spec.validation` part) by the go struct definition, so that we can maintain CRD validation easily.

There is already some handy libraries for this, for example [crd-validation](https://github.com/ant31/crd-validation).

[2019-04-09 07:33] aylei commented on #305
#357 Completes part of the CLI design

[2019-04-09 07:38] aylei opened #374 "Tag `v1.0.0-alpha` build failed"
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/build_tidb_operator_tag/detail/build_tidb_operator_tag/5/pipeline/

We should ensure tools like ginkgo are installed before build by `make check-steup`

[2019-04-09 09:27] #362 closed

[2019-04-09 10:12] tennix commented on #305
Can we add a checklist for the CLI in this issue to help track what will be implemented and the current progress?

[2019-04-09 11:42] tennix opened #377 "E2E: Add e2e test case for deploying multiple clusters in the same namespace"
#354 allows cluster name default to release name, this makes it easier to deploy multiple clusters in the same namespace without specifying both two different release names and two different cluster names. But we need to add e2e test case to make sure it works.

[2019-04-09 12:52] zyguan opened #379 "Some problems in charts"
Missing `imagePullPolicy: {{ .Values.imagePullPolicy | default "IfNotPresent" }}`
https://github.com/pingcap/tidb-operator/blob/dec665fe9c3760f122282e58b3569ffdda78cf2f/charts/tidb-operator/templates/scheduler-deployment.yaml#L30-L31

Missing `-tikv-failover-period={{ .Values.controllerManager.tikvFailoverPeriod | default "5m" }}`
https://github.com/pingcap/tidb-operator/blob/b4f6d68093c2a36d3d8ef

[2019-04-09 13:03] aylei commented on #305
Of course, I've added that.

[2019-04-10 04:11] xiaojingchen opened #381 "scheduler: MountVolume.NodeAffinity check failed for volume "" : No matching NodeSelectorTerms"
k8s version:
[code]
- I found a tikv pod pending in `ContainerCreating` when deploy tidb cluster
[code]
- exec `kubectl describe po stability-cluster1-tikv-2 -n stability-cluster1 `
[code]
- found the pod's pvc and pv
[code]
- get pv info
[code]
then i found the pod was scheduled on `172.16.4.155`, but the pv is on `172.16.4.156`.
I think the the pod scheduled in node without considering PV requir

[2019-04-10 04:14] xiaojingchen commented on #381
found the issue which explains the bug:
https://github.com/kubernetes/kubernetes/issues/69928 PTAL

[2019-04-10 05:27] weekface commented on #381
This is fixed in v1.14: https://github.com/kubernetes/kubernetes/pull/70026

@onlymellb @tennix We may need to upgrade to v1.14.

[2019-04-10 06:33] aylei commented on #381
Can we port this to 1.12? Most of hosted-kubernetes vendors using 1.12 now.

[2019-04-10 06:38] xiaojingchen commented on #381
I wonder why this bug didn't appear before, but it recurs frequently now. We've been using v1.12.2.

[2019-04-10 08:42] xiaojingchen commented on #381
the reason is that the kubernetes cluster have two tidb-scheduler.

[2019-04-10 08:42] #381 closed

[2019-04-10 09:14] weekface commented on #381
#308

[2019-04-11 07:36] weekface opened #385 "TiKV: duplicated store address"
A tikv instance stops a while and then can't start again.

[code]

[2019-04-11 08:36] weekface commented on #385
[code]

[2019-04-11 09:19] weekface commented on #385
@jebter

[2019-04-12 03:28] weekface commented on #385
This is caused by the wrong operation of `bind mount`:

We create a bind mount:
[code]
But we write a wrong mount options to `/etc/fstab`:

[code]
Here is `mnv` non `mnt`, it should be a mistake.

After the machine reboots, `/mnt/disks/pv1` is no longer mounted to `/data/pv1`, and `/mnv/disks/pv1` is mounted to `/data/pv1`.

So there is no data in `/mnt/disks/pv1`, TiKV data lost.

[2019-04-12 11:17] #385 closed

[2019-04-12 13:33] #374 closed

[2019-04-12 15:19] #366 closed

[2019-04-15 08:44] #364 closed

[2019-04-15 08:47] weekface commented on #299
Closing it in favor of #300

[2019-04-15 08:47] #299 closed

[2019-04-15 12:33] cofyc opened #391 "RFC: Add a CI job to run checks automatically?"
Why:

`make check` fails currently, if there is a CI job to run `make check` or `make check-all` automatically and we can know and fix it before PR is merged.

[code]

How:

- travis / circle CI job
- jenkins job

[2019-04-15 12:59] cofyc commented on #391
Oh, current Jenkins job `ci/pingcap_tidb_operator_build_dind.groovy` runs `make check`. My mistake.

[2019-04-15 13:06] cofyc commented on #391
`make check` will be fixed in #390.

[2019-04-15 13:06] #391 closed

[2019-04-16 03:52] cofyc opened #396 "Proposal: Merge PR branch onto master in Jenkins checkout phrase"
[code]
->

[code]

xref: https://jenkins.io/doc/pipeline/steps/workflow-scm-step/

Currently, CI job checkouts PR branch to test, but the PR branch may be out of date.

It's best and convenient to merge the PR branch onto master before running the CI job. And it helps when the broken master is fixed,  blocked PRs are not needed to be rebased onto the new master. (example https://github.com/pingcap

[2019-04-16 06:08] cofyc commented on #396
cc @tennix @weekface

[2019-04-16 09:23] weekface commented on #396
I am fine with it @onlymellb PTAL

[2019-04-16 21:22] gregwebs commented on #348
@aylei is this closed by #388?

[2019-04-16 21:23] gregwebs commented on #133
This job was removed in favor of static provisioning in #388

[2019-04-16 21:23] #133 closed

[2019-04-16 21:28] gregwebs commented on #208
TiDB now exposes its own CPU measurement through prometheus. In general I recommend running netdata to look at metrics that are not specific to TiDB.

[2019-04-16 21:30] gregwebs commented on #223
@tennix do you want me to send a PR for this?

[2019-04-16 21:33] gregwebs commented on #249
On GKE at least I see the node name in the annotation

                   pv.kubernetes.io/provisioned-by: local-volume-provisioner-gke-beta-tidb-n1-standard-4-375-33507f39-rmkn-c233be3c-6068-11e9-9941-4201ac1f400a

[2019-04-16 22:51] tennix commented on #223
Sure, thank you! @gregwebs

[2019-04-16 22:53] gregwebs opened #402 "TIKV node loss leaves the TiKV pod in status pending"
tidb-operator version: (v1.0.0-beta.1-p2)

I have encountered a TiKV node that is down and is not getting re-scheduled.

`kubectl describe pod -n tidb60001 demo-tikv-2`

[code]

` kubectl describe pvc -n tidb60001 tikv-demo-tikv-2`

[code]

`kubectl describe pv local-pv-c042582b pv`

[code]

The node gke-beta-tidb-n1-standard-4-375-33507f39-5mjk exists and has a local SSD. I can confirm that this

[2019-04-16 22:56] tennix commented on #249
Yes, for local volume there's a clear way to get the node name and directory path via the PV's `nodeAffinity` field.

[2019-04-17 01:30] aylei commented on #402
IIRC, this is the intended behavior for local PV, to re-schedule, the controller has to delete the PVC that bound to the pod, which causes data loss. So we rely on `auto-failover` to create new pods and meet the available replicas number spec.

@tennix @weekface can explain this better.

[2019-04-17 02:54] aylei commented on #348
Yes, close via #388

[2019-04-17 02:54] #348 closed

[2019-04-17 03:22] gregwebs commented on #402
In the cloud, where failure is normal, the current behavior isn't really usable. I will try setting `autoFailover` then.

[2019-04-17 04:56] gregwebs commented on #402
`autoFailover=true` does start up a new pod! It didn't delete the existing unscheduled pod. After deleting the PVC for the unscheduleable pod as you suggested, the previously unschedulable pod is scheduled but crashes with an error `duplicated store address`.
It seems there are no docs on this mode of operation, and I can't figure out how to get rid of the failing pod.

[2019-04-17 05:38] weekface commented on #402
What is the content of `/etc/fstab` of the failed node.

[2019-04-17 05:41] cofyc opened #404 "Add instructions to access Grafana dashboard in GKE tutorial"
Follow up from https://github.com/pingcap/tidb-operator/pull/400#discussion_r276067770.

[2019-04-17 05:45] weekface commented on #402
It seems the same with: https://github.com/pingcap/tidb-operator/issues/385

[2019-04-17 05:52] aylei commented on #402
In this case the PVC is deleted manually and pod is scheduled to another pod, binding a new (empty) PV, so we lose the data by nature.
Seems that we cannot re-schedule a pod while it's local PV is unavailable (for example, node loss) now.

[2019-04-17 05:54] weekface commented on #402
Yes, you can't re-schedule the failed tikv pod before it becomes `tombstone`

[2019-04-17 08:42] cofyc commented on #396
Another way is to enable "Require branches to be up to date before merging" in github repo settings.

[2019-04-17 23:13] gregwebs commented on #402
With `autoFailover=true` set the whole time I am now seeing the pod getting re-scheduled as it should without creating any new pods. However, when the pod is re-scheduled onto the new node it fails with the duplicated store address.

[code]

[2019-04-17 23:39] gregwebs commented on #402
To reproduce this, just run `gcloud compute instances list` and then `gcloud compute instances delete <tikv-node>`.

[2019-04-18 03:58] tennix commented on #402
OK. I've figured it out.

Suppose the cluster has tikv-0, tikv-1, tikv-2, and when you delete a node, for example tikv-2 node, then a new pod tikv-3 will be created and running correctly if `auto-failover` is enabled.

The tikv-2 pod will be in the unknown state, and k8s keeps the pod meta info in etcd until the kubelet comes back and automatically delete it or you delete it forcibly via kubectl.

[2019-04-18 04:26] gregwebs commented on #402
Yes, I am now trying to figure out how to make things work with the autoFailover setting on. I guess I don't know what autoFailover is supposed to do. It already re-schedules the pod with new storage. By doing this and retaining the old store id it seems to be creating a broken situation rather than actually avoiding dangerous situations.

Behavior that would make more sense:
* The pod is re-sched

[2019-04-18 08:06] tennix commented on #402
@gregwebs It's not in a broken situation. By auto failover, the tidb-operator adds a new tikv pod, and the service is not impacted. The really bothering thing is there leaves a pending pod which requires manual intervention. It helps that the dba doesn't have to handle it immediately.

The newly created pod already gets a new store address and new storage, namely tikv-4 in the above example. We ca

[2019-04-18 10:20] wgimperial commented on #299
I also using tidb-operator install a tidb on my three nodes k8s env, and the tikv not running.
tidb-operator version:release-1.0

kubectl logs -f -n tidb demo-tikv-0 -c tikv

result:
"starting tikv-server ...
/tikv-server --pd=demo-pd:2379 --advertise-addr=demo-tikv-0.demo-tikv-peer.tidb.svc:20160 --addr=0.0.0.0:20160 --data-dir=/var/lib/tikv --capacity=0 --config=/etc/tikv/tikv.toml"

all logs is

[2019-04-18 10:29] weekface commented on #299
@wgimperial

First, add an annotation to the TiKV pod:
[code]

Wait for this pod restart again, and then exec to it, start the tikv-server manually:

[code]

And finally, you may see the full errors. Please let me know if you meet a problem.

[2019-04-18 10:38] tennix commented on #299
Note the TiKV logs may be lost when panic. See https://github.com/tikv/tikv/issues/4328 and https://github.com/tikv/tikv/issues/3387. This got fixed recently https://github.com/tikv/tikv/pull/4448. So to view the full error logs, @wgimperial you have to follow @weekface 's suggestion.

[2019-04-18 12:43] gregwebs opened #408 "autoFailover leaves pod in error state"
Steps to reproduce:
1) install operator with autoFailover=true and a cluster
2) gcloud compute instances delete <tikv-node>

Actual behavior:
The same number of pods exist (3). The pod that loses its node is re-scheduled to a new node. However, it continually fails with a duplicated store error:

[code]

So the capacity of TiKV is now 2.

Expected behavior:
* There should be 3 TiKV pods that run w

[2019-04-18 12:45] gregwebs commented on #402
This issue is now confusing because the scenario has changed since I started consistently setting autoFailover=true. I opened a new issue #408 that only describes the issue with autoFailover always on.

[2019-04-18 12:45] #402 closed

[2019-04-19 02:59] cofyc opened #409 "One script to run e2e test both in jenkins and local DinD environment"

[2019-04-19 03:05] wgimperial commented on #299
@weekface

I have set  LimitNOFILE and LimitNPROC to 1048576 in the file: /usr/lib/systemd/system/docker.service
, and reload my docker service.

then follow your suggestion,add an annotation to the TiKV pod,
after  exec <kubectl annotate po -n tidb demo-tikv-0 runmode=debug>, demo-tikv-0 is running,result:

demo-tikv-0                       2/2     running                    5         58m
demo-ti

[2019-04-19 03:42] weekface commented on #299
You should edit `/etc/systemd/system/docker.service` instead of `/usr/lib/systemd/system/docker.service`.

[2019-04-19 06:01] cofyc opened #410 "Better local volume setup and operation documentation"

[2019-04-19 09:00] weekface commented on #410
We may supply a shell script to reduce usage complexity, something like this:

[code]

<device-name> is the device on the host, for example: `/dev/nvme`
<options> includes:
- --shared bool
- --volume-count int
- --storage-class string

For example:

[code]

The `/dev/nvme` will be formatted and mount to `/shared-nvme-disks/disk0`, and these directories will be created and bind mounted:

[code]

@t

[2019-04-19 10:58] cofyc commented on #410
通用的文档和脚本打算维护在 local-static-provisioner 项目里

- https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/76
- https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/81

[2019-04-22 00:34] tennix commented on #408
The expected behavior is there will be a pending pod and a new pod. That's 4 tikv pods.

[2019-04-22 06:00] tennix commented on #408
The deleted node came back again with the same PV, but data in the PV was lost. So the tikv pod is scheduled to the node again with the PV. This causes tikv to print that error message.

[2019-04-22 07:31] cofyc commented on #408
Yes, this is what happened. There is one issue we need to fix and one situation we can improve:

1) First, we need to use the unique path of volume in PV object to prevent using new volume (e.g. newly created when the node gets recreated) with old PV object which is referenced by existing Pod.

Currently, we use [`--local-ssd-count` to create node pools](https://github.com/pingcap/dbaas/blob/maste

[2019-04-22 07:54] cofyc commented on #408
For the second, maybe we can add a small sidecar (perhaps gke-specific) to do this task. This is [under investigation](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/78).

[2019-04-22 10:19] aylei opened #415 "Replace outdated govet with `go vet` from the official toolchain"
The [`govet`](https://github.com/dnephin/govet) used in static check is outdated and cannot detect problems like struct field tag error and string format error, we should replace it with `go vet` command in the go toolchain.

[2019-04-22 11:36] cofyc opened #417 "Scripts to help user manage their local volumes on bare-metal machines"
Follow-up of https://github.com/pingcap/tidb-operator/issues/410#issuecomment-484817892

[2019-04-22 11:37] cofyc commented on #410
Open an issue for scripts: https://github.com/pingcap/tidb-operator/issues/417.

[2019-04-23 06:14] wgimperial commented on #299
@weekface it's ok. thank you very much!

[2019-04-23 07:09] #410 closed

[2019-04-23 16:06] cofyc opened #421 "Enable useNodeNameOnly in local-volume-provisioner deployment"
If by accident kubernetes node object has been recreated, new node object with the same name for the same node will get a new UID. By default, provisioner includes node.UID in its name, it will filter out local PVs that were not created with this name and [do not reclaim these PVs](https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/blob/master/docs/faqs.md#pv-with-delete-recla

[2019-04-23 19:25] gregwebs commented on #355
We do already create the services ahead of time.

[2019-04-24 05:12] #415 closed

[2019-04-24 11:50] weekface opened #424 "Add resource limit to local-volume-provisioner"
We should give this Pod a QoS class of Guaranteed to avoid being killed by oom firstly.

[2019-04-25 05:47] LinuxGit opened #426 "Failed filter with extender at URL http://127.0.0.1:10262/scheduler/filter, code 500"
The pd pod has nodeSelector (zone: beijing), but there's only two nodes labled with zone=beijing in k8s cluster. When there's not enough k8s node for pd scheduling, the event message is not clear.

[code]

[2019-04-25 10:02] weekface opened #428 "add e2e test to cover #427: realAcquireLock bug"
#427

[2019-04-25 10:40] shuijing198799 opened #429 "add unit test to tidb_controller GetInfo Interface #406"
In #406 added a new interface GetInfo, we need to add unit tests for this interface later

[2019-04-25 12:03] weekface opened #430 "Code Review: confirm the pvc deleting logic is correct"
The TiDB Operator has two pvc deleting logic, pvc deleting is a dangerous operation, please help to confirm these are correct as expected:

https://github.com/pingcap/tidb-operator/blob/94181eaf5ab3ad86b65c35f118a4bd7d3df073ad/pkg/manager/member/scaler.go#L72

https://github.com/pingcap/tidb-operator/blob/ebd499e54cd466e976696020413ac40d612ee0b3/pkg/manager/member/pd_failover.go#L196

@tennix @xia

[2019-04-26 14:47] gregwebs commented on #355
For over-provisioning, the cluster autoscaler [recommends using pause pods for over-provisioning](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler).

It could be possible for us to deploy pause containers ahead of the actual containers.

[2019-04-26 15:34] gregwebs commented on #355
There are two possibilities
1) separate pause pods
2) init containers

We could have a standard init container that blocks waiting for an http request or some other signal to stop.

[2019-04-26 19:07] gregwebs commented on #355
We have our own custom scheduler, so it is possible for the operator to create the pods annotated as not-scheduleable (which the custom scheduler will see) and then later remove that annotation. I am not sure if this will work with the cluster autoscaler though. @aylei perhaps you can do some manual tests to find out?

[2019-04-28 07:15] #379 closed

[2019-04-29 17:58] gregwebs commented on #355
But we may want to support running without our custom scheduler? Additionally we may want to get pods scheduled onto nodes immediately before there are any new nodes added to a cluster.
That would mean that having an init container is preferable.

[2019-04-29 21:27] gregwebs commented on #355
The initcontainer approach generally inspects K8s service or pods to see if they are ready. So we can have an initContainer for TiKV that checks to see if PD is ready. And TiDB can have an init container to check that PD & TiKV are ready (or PD says TiKV is ready, etc). However, there may be a difference between our readiness probes for the container and actually checking that the cluster is prope

[2019-04-30 10:49] xiaojingchen opened #441 "tidb failed connected to pump"
## Bug Report
**What version of Kubernetes are you using?**
[code]

**What version of TiDB Operator are you using?**
least version

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**
[code]

**What's the status of the TiDB cluster pods?**
[code]
**What did you do?**
do failover test and pumb pod be restarted
**What did you see instead?**
i found the tidb s

[2019-04-30 11:26] weekface commented on #441
pump start args:
[code]

[2019-04-30 11:26] xiaojingchen commented on #441
the pump is normal
the log of pump:
[code]

[2019-04-30 11:27] weekface commented on #441
@july2993 ptal

[2019-04-30 11:30] xiaojingchen commented on #441
why the tidb use the incomplete domain `stability-cluster1-pump-0`?
the correct domain is `stability-cluster1-pump-0.stability-cluster1-pump`

[2019-04-30 12:14] weekface opened #442 "tidb-scheduler can't scheduling pd"
When a pvc both have `tidb.pingcap.com/pod-scheduling` and `tidb.pingcap.com/pvc-defer-deleting`, later pods cannot be scheduled：

[code]

[code]

[2019-04-30 12:26] july2993 commented on #441
what's the tidb and pump version,

[2019-04-30 14:19] weekface commented on #441
@xiaojingchen please supply the tidb and pump verison.

[2019-04-30 23:38] gregwebs opened #445 "Update the AWS deployment Guide"
We need to update our AWS docs after #401 is merged.

[2019-04-30 23:48] gregwebs opened #446 "GKE terraform and updated deployment guide."
Similar to #401, we will provide a terraform deployment for GKE.

[2019-05-01 00:37] #442 closed

[2019-05-01 01:32] shuijing198799 commented on #429
In #406 added a new interface GetInfo, we need to add unit tests for this interface later.

[2019-05-01 02:38] cofyc opened #447 "docs: deploy tidb cluster in minikube"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Guide the user to use tidb-operator in the minikube environment.

**Describe the feature you'd like:**

Guide on how to set up and use tidb-operator in the minikube environment.

**Describe alternatives you've considered:**

NONE

**Teachability, Documentation, Adoption, Migration Strategy:**

[2019-05-01 02:47] cofyc commented on #447
notes from @tennix

[code]

[2019-05-03 14:17] gregwebs commented on #404
fixed by #448

[2019-05-03 14:17] #404 closed

[2019-05-03 19:00] jlerche opened #450 "Reuse Terraform AWS deployment for AWS EKS tutorial"
The current tutorial for AWS EKS is very well written, but ultimately requires a lot of steps and knowledge not directly related to TiDB, as well as not enough integration with TiDB, such as specific nodes for PD, TiKV, etc.

It would be useful to be able to re-use the terraform script with a configuration with instance types suitable for trying it out.

[2019-05-05 06:36] #447 closed

[2019-05-05 08:07] xiaojingchen commented on #441
[code]

[code]

[2019-05-05 09:43] tennix commented on #207
This should already be fixed with static provisioning.

[2019-05-05 09:43] #207 closed

[2019-05-05 12:19] weekface commented on #426
fixed by https://github.com/pingcap/tidb-operator/pull/427

[2019-05-05 15:29] tennix commented on #441
@july2993 Is this fixed in TiDB v2.1.8?

[2019-05-05 15:47] tennix commented on #243
Related issue https://github.com/kubernetes/client-go/issues/374

[2019-05-05 15:56] #426 closed

[2019-05-06 02:28] cofyc opened #453 "docs: The local SSD disk performance issue on GKE"
- [ ] performance issues
- [ ] capacity limitations
  - workarounds
    - (medium-term) setup raid/lvm manually
    - (medium-term) setup raid/lvm with an operator automaticaly

[2019-05-06 02:38] july2993 commented on #441
[code]
i check the code, in the log  `write binlog to pump stability-cluster1-pump-0:8250`，`stability-cluster1-pump-0:8250`  is the NodeID of pump,  and  is get from the host name default.

but it do connect to `stability-cluster1-pump-0.stability-cluster1-pump`,  and failed because `error: desc = "transport: Error while dialing dial tcp: lookup stability-cluster1-pump-0.stability-cluster1-pump on

[2019-05-06 02:54] xiaojingchen commented on #441
@july2993  why the tidb is still failed when the pump had started?  I think the tidb should connect to pump when the pump started success.

[2019-05-07 04:06] weekface opened #459 "TiDB Binlog sync too slow"
pump logs:

[code]

drainer logs:

[code]

tidb logs:
[tidb.txt](https://github.com/pingcap/tidb-operator/files/3150761/tidb.txt)

tikv logs:
[tikv.txt](https://github.com/pingcap/tidb-operator/files/3150762/tikv.txt)

[2019-05-07 04:07] weekface commented on #459
@jebter

[2019-05-07 09:19] cofyc opened #461 "ERROR: "Job for docker.service canceled." error when DIND*_PROXY set"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

[code]

upstream issue: https://github.com/kubernetes-sigs/kubeadm-dind-cluster/issues/280

**What did you expect to see?**

[2019-05-07 10:37] weekface commented on #459
It is caused by the low `worker-count` -> 1, increase it to a larger number, default 16.

[2019-05-07 10:37] #459 closed

[2019-05-08 03:35] xiaojingchen commented on #441
Pump is mandatory to start before tidb, and for data security, the tidb must be unavailable when the pump is down, at which point it must be restarted manually. At present, there is no good solution to this problem. It is suggested to put it on hold for the time being.

[2019-05-08 03:35] #441 closed

[2019-05-08 05:12] cofyc commented on #259
It seems that this has been fixed?

[2019-05-08 06:30] aylei opened #465 "`tkctl get` do not render cpu properly"
Follow up https://github.com/pingcap/tidb-operator/pull/452#discussion_r281929712

[2019-05-08 22:29] gregwebs opened #468 "tidb-scheduler stuck filtering"
operator version: the latest stable release

@jlerche started two clusters at once. Both were in a stuck state and had a failed PD member, and one had 3 failed TiDB members [1] and the other had its TiKV pods stuck in pending.

The scheduler logs showed a lot of errors. I don't remember seeing so many errors in kube-scheduler before. [2] The tidb-scheduler logs were a lot simpler [3]. I noticed er

[2019-05-08 23:08] gregwebs opened #469 "Create TiKV and TIDB pods immediately with initcontainers to delay startup"
## Feature Request

See #355. We can provision and scale capacity faster with autoscalers and autoprovisioners if the pods for TIKV and TIDB are created immediately when the PD pods are created.

We can do this and avoid downside by creating the pods with an init container. The init container will block the startup of the TiKV pod until PD is ready. Similarly it will block TiDB startup until TIKV

[2019-05-08 23:09] gregwebs commented on #355
I am closing this in favor of #469 which is a proposal for launching with an init container.

[2019-05-08 23:09] #355 closed

[2019-05-08 23:39] weekface commented on #468
[code]

The TiDB Operator can emit events now: https://github.com/pingcap/tidb-operator/pull/427

[2019-05-09 00:07] weekface commented on #468
The latest operator will log this message: https://github.com/pingcap/tidb-operator/blob/master/pkg/scheduler/scheduler.go#L78

So you may be using an old version operator.

[2019-05-09 00:08] weekface commented on #468
We will release the `v1.0.0.beta.2` before this weekend.

[2019-05-09 03:13] #450 closed

[2019-05-09 06:37] aylei opened #472 "tidb-scheduler lost lease and cannot recover in aliyun terraform deployment"
## Bug Report

Kubernetes version: `1.12.6-aliyun-1` (ACK managed kubernetes)
TiDB Operator: latest

Following the [alicloud guide](https://github.com/pingcap/tidb-operator/blob/master/deploy/alicloud/README.md), we witness that 2 pd pod are pending[1] without any scheduling event, and the `kube-scheduler` container of `tidb-scheduler` pod  reports lost lease[2] and did not recover for about 2 hou

[2019-05-09 23:46] jlerche commented on #445
Closed by #463

[2019-05-09 23:46] #445 closed

[2019-05-10 03:02] aylei opened #480 "[Helm Chart]Cannot properly set string format numeric value from command line"
## Bug Report

**What version of Kubernetes are you using?**
Kubernetes: 1.12.6
tidb-operator: Latest
Helm:
[code]

**What did you do?**
Try to set some helm variable from command line:

[code]

Which causes the following error:

[code]

According to https://github.com/helm/helm/issues/1694, when set string literal, the quotes have to be escaped:

[code]
The command runs without error, however, th

[2019-05-10 03:12] aylei commented on #480
According to https://github.com/helm/helm/issues/1707, it should be `--set-string`, which works for me.

[2019-05-10 03:12] #480 closed

[2019-05-10 05:56] cofyc opened #481 "`make lint` does not work"
## Bug Report

**What did you do?**

make lint

**What did you expect to see?**

lint runs on our packages

**What did you see instead?**

[code]

[2019-05-10 07:59] #428 closed

[2019-05-10 20:47] gregwebs commented on #480
I would like to user the style of the Grafana chart where the helm values generate the config file so there is no templating of a config file.

[2019-05-10 21:42] gregwebs commented on #468
The clusters are destroyed now. Originally I meant to just destroy one, but the destruction of one fixed the other.

I will try reproducing thiw with the new operator, but I believe the issue is still present in the new code that when provisioning two clusters they both can get stuck due to a problematic node even though at least one of them should be succeeding.

[2019-05-12 15:55] zhaohaidao commented on #293
Is there anyone working on it?
I want to have a try

[2019-05-13 02:02] tennix commented on #293
@zhaohaidao Currently, no one working on it. So just go ahead. We really appreciate your help.

[2019-05-13 04:48] aylei opened #486 "New stability test case for ConfigMap rollout"
We need a stability test case for ConfigMap rollout, so that we can verify:

* ConfigMap rollout won't break even in chaos environments;
* Problematic ConfigMap won't take down the cluster (only one of the replica will down if the rolling-update logic is right)
* After fixing a problematic ConfigMap, the cluster can recover without extra human intervention;
* ConfigMap rollout won't introduce othe

[2019-05-13 06:23] aylei opened #487 "PD configuration updates do not work"
## Bug Report
kubernetes: 1.12.6
tidb-operator: latest

**What did you do?**
1. Change the value `pd.maxReplicas` from 3 to 5 in `values.yaml`
2. Run `helm upgrade`
3. Waiting the rolling-update complete
4. Get pd config by `curl <host>:2379/pd/api/v1/config`

**What did you expect to see?**
The `replication.max-replicas` is updated to 5.

**What did you see instead?**
The `replication.max-replica

[2019-05-13 06:57] weekface opened #488 "TiKV cluster is not health when we stop a physical node"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

We stop a k8s physical node

**What did you expect to see?**

**What did you see instead?**

The PD cluster is not health.

[2019-05-13 08:03] weekface commented on #488
[code]

This is the logs of pd0, pd1, tikv1, tikv2 [log.tar.gz](https://github.com/pingcap/tidb-operator/files/3171739/log.tar.gz)

we stop the node 172.16.4.150 at `2019/05/13 01:10`

@nolouch @hicqu PTAL

[2019-05-13 09:07] aylei commented on #486
@xiaojingchen @weekface @zyguan PTAL

[2019-05-13 09:10] weekface commented on #486
LGTM

[2019-05-14 05:18] onlymellb commented on #461
This problem has been fixed in PR kubernetes-sigs/kubeadm-dind-cluster#271. we use the image with a fixed version. If we need to fix this problem, we need to update the kubeadm-dind-cluster image.

[2019-05-14 05:30] cofyc commented on #461
That would be better, I'll try the new image.

[2019-05-14 06:04] zyguan commented on #487
I thought this is a known problem. `helm upgrade` only update the config files for some value changes, there is no reload (or restart) action currently, thus all components (tidb, tikv) have related problems.

We also need to figure out which values (not only pd config) won't take effect after upgrade. For pd, the restful api (or directly using the code of pd-ctl) might be a solution, for tikv, I'

[2019-05-14 06:19] aylei commented on #487
#479 introduce rolling-updates of PD/TiKV/TiDB nodes on configuration update, 'restart' is the intended behavior.
The problem is that the scheduler and replication configuration is persisted in etcd and won't be updated after a rolling-update.

[2019-05-14 08:10] #461 closed

[2019-05-14 11:35] zyguan commented on #487
Ah, I see, I prefer documenting it too.

[2019-05-16 04:34] aylei opened #494 "Separate aws/gcp/alibaba terraform scripts into infrastructure module and tidb-cluster module"
follow up: https://github.com/pingcap/tidb-operator/pull/492#discussion_r284283099

Currently, aws/gcp/alibaba terraform scripts provision the infrastructure (VMs and Kubernetes) and tidb-cluster in one module, which facilitate the overall setup procedure (a.k.a. on-click deployment). However, it is worthwhile to separate it into two modules, and integrates these two modules in the main module to

[2019-05-16 07:39] xiaojingchen commented on #486
nice

[2019-05-16 07:48] #225 closed

[2019-05-16 16:01] gregwebs commented on #494
I think the best way to do this in terraform is to have two modules: infrastructure & helm. We would provide a configuration that binds them together.

[2019-05-17 01:44] #481 closed

[2019-05-17 02:41] cofyc opened #498 "stability test: Add stable scheduling e2e test case"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Add stable scheduling e2e test case

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2019-05-17 02:53] #332 closed

[2019-05-17 04:00] cofyc commented on #469
It seems better to look at pending pods instead of TidbCluster CRDs to provision new nodes. It will be universal and can be used for any kinds of pods in cluster management.

I agree to create the pods immediately and use init container to check is it ready to run. The idea is like the webhook that we are going to implement to prevent pods from being deleted until they are ready to exit.

But I'm

[2019-05-17 12:43] weekface commented on #469
Create all pods and keep them pending is ok to me and it can provision and scale capacity faster with autoscalers and autoprovisioners.

But use the init container solution may not a good solution, it requires a lot of refactoring of existing code. For example, the operator will not create TiKV's statefulset before PD is [running](https://github.com/pingcap/tidb-operator/blob/c8648e7fe5f9fe1e547ef

[2019-05-17 13:21] gregwebs commented on #469
I can do this, but it won't be compatible with autoscalers and provisioners that are based on pending pods.

I think the code you pointed to would just change the check to be:

if tc.PDIsAvailable() { tc.stopTiKVInitContainer() }

[2019-05-17 13:47] weekface commented on #469
Now, TiKV statefulset will not be created before PD pods are ready. This solution will create all the three statefulsets at once. This is a big change for operator i think. It's not easy for me to assess the impact of this change without a detailed proposal or design document.

And what does `tc.stopTiKVInitContainer() ` do?

[2019-05-17 13:52] gregwebs commented on #469
The purpose of the init container is to prevent startup of the actual containers. So if you stop the init container for TiKV the actual TiKV container will start up.

[2019-05-17 13:55] gregwebs commented on #469
okay, we can try to outline the changes that are needed.

[2019-05-19 11:53] weekface opened #501 "stability test: the TiKV instance did't crash when we truncate a sst file of it"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

the stability `TruncateSSTFile` case failed:

[code]

the truncated sst file succed:

[code]

But the TiKV instance doesn't

[2019-05-21 02:34] LinuxGit opened #505 "E2E: custom pod annotations"
We need to add unit and e2e test cases for PR https://github.com/pingcap/tidb-operator/pull/500.

[2019-05-21 02:49] weekface opened #506 "stability test: pd pod's pvc can't find a pv when failover"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

the pod `stability-cluster2-pd-3` is scheduled but its status is `ContainerCreating`:

[code]

[code]

the `local-volume-pr

[2019-05-21 02:53] weekface commented on #468
Does this problem still exist in the `v1.0.0.beta.2` version? @gregwebs

[2019-05-21 06:26] weekface commented on #506
This may be a `kube-scheduler` race condition problem, but can't confirm now. We have change `kube-scheduler` `logLevel` to 4, if it happens again, we can get more detail log informations.

[2019-05-21 07:20] #487 closed

[2019-05-21 08:52] weekface opened #508 "add maxFailoverCount to TiKV"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We should add a maxFailoverCount to TiKV just like [TiDB](https://github.com/pingcap/tidb-operator/blob/4c183422345d8fe9e5a450f3729339ee01684767/pkg/manager/member/tidb_failover.go#L46) does.

Or the operator will create another 3 TiKV instances if all the 3 TiKV instances down but The PD instances are health.

[2019-05-22 12:44] xiaojingchen opened #509 "the restore script failed when the db user has not password"
## Bug Report

**What version of Kubernetes are you using?**

[code]
**What version of TiDB Operator are you using?**

pingcap/tidb-operator:v1.0.0-beta.2

**What did you do?**

start a restore job by exec `helm install --name=tidb-test-restore --namespace=tidb-test charts/tidb-backup/values.yaml`

**What did you expect to see?**

the restore pod completed

**What did you see instead?**

restore p

[2019-05-23 01:27] #446 closed

[2019-05-23 08:28] xiaojingchen commented on #506
I think it is nothing to do with scheduler, just there's something wrong with the mount point.
we need to check the mount point info.

[2019-05-23 12:47] weekface opened #512 "stability test: PD cluster failed to start when we stop the kube node of a PD Pod"
PD Pod logs:

[code]

[2019-05-24 02:50] george24601 opened #514 "AWS EKS: unable to connect to the cluster with create_vpc=false and existing VPC"
## Bug Report

**What version of Kubernetes are you using?**
AWS EKS 1.12 on us-east-2

**What did you do?**
1. Create a new tidb cluster on EKS following the [README](https://github.com/pingcap/tidb-operator/blob/master/deploy/aws/README.md) with create_vpc tf variable set to true
2. Verified that creation is successful by logging into tidb and executing queries
3. Create a second tidb cluster wi

[2019-05-24 05:57] weekface commented on #512
This an etcd bug: etcd PreVote can't vote a leader when a etcd peer down.
https://github.com/etcd-io/etcd/issues/10355
https://github.com/etcd-io/etcd/issues/9586

 Is is fixed by: https://github.com/etcd-io/etcd/pull/8334. PD 3.0 has this bug fixed.

[2019-05-24 05:57] #512 closed

[2019-05-24 06:29] AstroProfundis commented on #514
Hello, thank you for the report, we are looking into this issue and will update later. Your patience will be appreciated.

[2019-05-24 08:00] jaltabike opened #516 "FailedScheduling: nodes didn't match node selector"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6d", GitTreeState:"clean", BuildDate:"2018-12-03T21:04:45Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.5", GitCommit:"51dd616c

[2019-05-24 08:15] tennix commented on #516
@jaltabike Could you show if there are available PVs by `kubectl get pv`? Also is your local-volume-provisioner running? `kubectl get po -n kube-system -lapp=local-volume-provisioner`

[2019-05-24 08:49] jaltabike commented on #516
@tennix
$ kubectl get pv
NAME                CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS      CLAIM   STORAGECLASS    REASON   AGE
local-pv-1767facf   29Gi       RWO            Delete           Available           local-storage            52m
local-pv-1dbd65bc   29Gi       RWO            Delete           Available           local-storage            52m
local-pv-2a83a815   29Gi       RWO

[2019-05-24 09:00] weekface commented on #516
Please view the `TidbCluster` object information by:
[code]

[2019-05-24 10:41] jaltabike commented on #516
@weekface
$ kubectl get tc -n tidb -oyaml
apiVersion: v1
items:
- apiVersion: pingcap.com/v1alpha1
  kind: TidbCluster
  metadata:
    creationTimestamp: "2019-05-24T07:48:47Z"
    generation: 1
    labels:
      app.kubernetes.io/component: tidb-cluster
      app.kubernetes.io/instance: demo
      app.kubernetes.io/managed-by: Tiller
      app.kubernetes.io/name: tidb-cluster
      helm.sh/chart:

[2019-05-24 11:21] #486 closed

[2019-05-24 11:48] xiaojingchen commented on #516
@jaltabike  Could you give a PD pod's info.

[2019-05-24 12:00] jaltabike commented on #516
@xiaojingchen
$ kubectl describe po -n tidb demo-pd-1
Name:               demo-pd-1
Namespace:          tidb
Priority:           0
PriorityClassName:  <none>
Node:               <none>
Labels:             app.kubernetes.io/component=pd
                    app.kubernetes.io/instance=demo
                    app.kubernetes.io/managed-by=tidb-operator
                    app.kubernetes.io/name=tidb-c

[2019-05-27 03:53] jlerche opened #522 "GCP terraform deploy has zone for bastion instance hardcoded - fails to create when region is us-east1"
The zone for the bastion instance is hardcoded to be `${var.GCP_REGION}-a` so if the region is `us-west1` then the zone is `us-west1-a`. All regions have a `-a` zone except for `us-east1`. So if it is chosen as the region, the bastion instance will not get created.

Also, should upgrade GCP terraform script to be 0.12 compatible, per #549

[2019-05-27 06:11] aylei opened #523 "Helm webhook blocks tidb-cluster installation"
## Bug Report

**What version of Kubernetes are you using?**

v1.12.4
**What version of TiDB Operator are you using?**

latest

**What did you do?**

`helm install`
**What did you expect to see?**
`helm install` complete quickly

**What did you see instead?**
`helm install` blocked for 2 minutes waiting for the `tidb-initializr-job` complete

[2019-05-27 06:56] #501 closed

[2019-05-27 07:15] #509 closed

[2019-05-28 11:22] AstroProfundis commented on #514
Reusing existing VPC and subnets that created by Terraform for another EKS cluster is not supported now due to various limitations. However, it is possible to make the second cluster deployed by manually adding tag `kubernetes.io/cluster/<second_cluster_name>=shared` to the subnets of the first cluster (if that tag doesn't already exist).

Note that this is not recommend and may cause dependency i

[2019-05-29 06:13] shuijing198799 commented on #516
What version of your operator is used for?

[2019-05-29 06:17] tkanng commented on #516
The same problem occurred when I try to deploy TiDB cluster in the DinD Kubernetes cluster.    @shuijing198799   My operator's version is :
[code]

[2019-05-29 06:39] weekface commented on #516
@jaltabike @tkanng This issue is fixed by https://github.com/pingcap/tidb-operator/pull/475, can you upgrade to `pingcap/tidb-operator:latest` and use the [latest chart](https://github.com/pingcap/tidb-operator/tree/master/charts/tidb-cluster) to test it?

By the way, we will release `v1.0.0-beta.3` which will include this pr: https://github.com/pingcap/tidb-operator/pull/475.

[2019-05-29 06:47] weekface opened #533 "Mydumper cause TiKV OOMKilled"
We we do the ad-hoc backup in the stability tests, the backup job crashed many times.

[code]

And we find the TiKV pod is OOMKilled:

[code]

Our backupOptions [`--chunk-filesize` is 100MB](https://github.com/pingcap/tidb-operator/blob/8aa2386132bb1a7d3532a2d504620b6ec5bb1d0c/charts/tidb-backup/values.yaml#L28), this may be too high.

[2019-05-29 06:57] tkanng commented on #516
`pingcap/tidb-operator:latest` works fine.  Thanks!

[2019-05-29 07:33] weekface commented on #508
@tennix @xiaojingchen @onlymellb @aylei @cofyc PTAL

[2019-05-29 09:26] tennix opened #535 "tkctl cannot use gdb and flamegraph to debug tikv-server"
## Bug Report

`tkctl debug demo-cluster-tikv-0` can enter the namespace of a pod container, but to use gdb and flamegraph to debug tikv-server, the `
SYS_ADMIN` and `SYS_PTRACE` permission is required. Also the dynamic link library needs to be the same as the pod container.

This is the dynamic link library list in the tikv container:
[code]

And this is the dynamic link library list in the curre

[2019-05-29 11:27] #498 closed

[2019-05-30 02:08] #523 closed

[2019-05-30 08:07] shuijing198799 opened #539 "Pod disaster tolerance bug"
## Bug Report

**What version of Kubernetes are you using?**

1.2.5
**What version of TiDB Operator are you using?**

pingcap/tidb-operator:latest in e2e test
**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

local storage
**What's the status of the TiDB cluster pods?**

e2e-cluster1-discovery-574887d886-9prjh         1/1       Running     0          21m

[2019-05-30 08:11] weekface commented on #539
@xiaojingchen ptal

[2019-05-30 08:18] xiaojingchen commented on #539
what is the operator and charts' version

[2019-05-30 08:19] xiaojingchen commented on #539
did you set affinity setting

[2019-05-30 08:21] shuijing198799 commented on #539
I meet the problem in e2e test, so the operator and chart is the newest, Does the affinity setting is default to open or close ?

[2019-05-30 08:55] shuijing198799 commented on #539
affinity:
   podAntiAffinity:
     preferredDuringSchedulingIgnoredDuringExecution:
     - podAffinityTerm:
         labelSelector:
           matchLabels:
             app.kubernetes.io/component: tikv
             app.kubernetes.io/instance: e2e-cluster1
         namespaces:
         - e2e-cluster1
         topologyKey: rack
       weight: 10

[2019-05-30 10:13] weekface opened #540 "TiDB Binlog backup not works on stability test"
Now the operation steps are:
- stop insert data into the source TiDB cluster
- deploy ad-hoc backup
- restore from the backup to a new TiDB cluster
- ensure the data is correct
- deploy the incremental backup (pump and drainer)
- ensure the data is correct again

The correct operation steps should be:
- **don't** stop insert data into the source TiDB cluster
- deploy the incremental backup (only p

[2019-05-30 11:47] xiaojingchen opened #541 "all pods of the master node become unknown when the apiserver stop"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

stop a kube-apiserver pod

**What did you expect to see?**

the k8s cluster is still available

**What did you see instead?**
[code]

[2019-06-02 06:12] tkanng opened #544 "E2E Test failure"
## Bug Report

- Docker in Docker mode
- Commit id: https://github.com/pingcap/tidb-operator/commit/46695bec10da99da53021d70ce8663de4eb52160

**What version of Kubernetes are you using?**

[code]

**What version of TiDB Operator are you using?**

[code]
**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

[code]
**What's the status of the TiDB cluster pods?

[2019-06-03 02:51] tennix commented on #465
@aylei Should this be closed?

[2019-06-03 03:17] weekface commented on #544
@cofyc Can you take a look at it?

[2019-06-03 04:13] tkanng opened #546 "retool sync failed"
`retool sync` failed, when it downloads `honnef.co/go/tools/cmd/megacheck`:
[code]
I check the latest code of [go-tools](https://github.com/dominikh/go-tools), and find that there isn't `cmd/megacheck` any more.

Is it a bug of `retool`?
 :)

[2019-06-03 04:20] tkanng opened #547 "add unit test to pd_member_manager syncTidbClusterStatus when pd is unhealthy #545"
In #545  added a little feature to check endpoints status when pd is unhealthy, we need to add unit tests for it later.

[2019-06-03 05:57] lucklove opened #549 "terraform v0.12.0 not supported"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

Run `terraform apply` as [documented](https://github.com/pingcap/tidb-operator/tree/master/deploy/aws).
**What did you expe

[2019-06-03 05:59] lucklove commented on #549
[code]

[2019-06-03 07:33] cofyc commented on #417
https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/81

[2019-06-03 07:33] #417 closed

[2019-06-03 07:43] #546 closed

[2019-06-03 07:48] weekface commented on #549
@tennix PTAL

[2019-06-03 08:30] cofyc commented on #544
In tidb-scheduler pod, it's kube-scheduler to schedule the pod. It seems a race condition in kube-scheduler.

[2019-06-03 08:38] aylei commented on #465
Yes, closed via #452

[2019-06-03 08:38] #465 closed

[2019-06-03 08:42] jaltabike commented on #516
@weekface
What does "upgrade to pingcap/tidb-operator:latest" mean?
Does it mean to modify the image version in tidb-cluster/values.yaml and tidb-operator/values.yaml?

[2019-06-03 08:48] weekface commented on #516
@jaltabike Yes.

[2019-06-03 09:01] cofyc commented on #544
It's complex. FYI, I've explained the races on the pod binding cache in pre-1.14 Kubernetes [here](https://github.com/kubernetes/kubernetes/issues/72013).

[2019-06-03 09:06] jaltabike commented on #516
@weekface
It works now~ Thank you! :)

[2019-06-03 09:59] tkanng commented on #544
Thank you so much!   :+1:

[2019-06-03 17:29] mysticaltech commented on #516
Guys, it's weird, I've updated the tag to `tidb-operator:latest` and I'm still getting the FailedScheduling error "didn't match node selector". pv and pvc are created correctly. Any ideas?

[2019-06-03 17:34] gregwebs commented on #516
@mysticaltech what environment is your K8s running in? on-prem or a cloud provider?

[2019-06-03 18:00] jlerche commented on #549
I don't think any of the scripts do anything fancy, we should be able to do `terraform 0.12upgrade` and get it running without too much effort. I will be upgrading the GCP one at the same time as fixing #522

[2019-06-03 18:24] mysticaltech commented on #516
@gregwebs on-prem, installed with rancher rke on hetzner.com nodes. Storage is provided by https://github.com/stevenklar/kubernetes-hetzner-storage. The weird thing is that a few days ago I was able to pass this stage by changing the tag to `tidb-operator:latest`, then I was stuck with a failed to attach error, but that was my fault. Now I fixed this and verified that everything attaches correctly

[2019-06-03 18:34] mysticaltech commented on #516
kubectl get pv -oyaml
`apiVersion: v1
items:
- apiVersion: v1
  kind: PersistentVolume
  metadata:
    annotations:
      pv.kubernetes.io/provisioned-by: stevenklar/hetzner-storage-provisioner
    creationTimestamp: "2019-06-03T18:26:21Z"
    finalizers:
    - kubernetes.io/pv-protection
    name: pvc-15c6df42-862d-11e9-ba12-960000273315
    resourceVersion: "1452911"
    selfLink: /api/v1/persis

[2019-06-03 18:47] mysticaltech commented on #516
Something interesting, the following command 'helm get manifest tidb-operator | grep image' gives me:
[code]
As if helm didn't take into account the updated files? How can I force it?

[2019-06-03 22:02] mysticaltech commented on #516
@gregwebs It was my fault, now this particular problem is indeed fixed with `pingcap/tidb-operator:latest`

[2019-06-03 22:07] #516 closed

[2019-06-04 07:20] lucklove opened #552 "helm v3.0.0-alpha.1 not work correctly"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

Run `terraform apply` as documented.
**What did you expect to see?**

**What did you see instead?**
<img width="849" alt="屏

[2019-06-04 07:22] lucklove commented on #552
helm version v3.0.0-alpha.1

[2019-06-05 05:16] cofyc opened #555 "More stability tests"
- [x] stop kube-apiserver
  - https://github.com/pingcap/tidb-operator/issues/541 fix the cluster first, use the load balancer for the kube-apiserver
  - https://github.com/pingcap/tidb-operator/pull/896/files#diff-8f8eafaeec65b7926966885b1c103ca8R298
- [x] stop kube-scheduler https://github.com/pingcap/tidb-operator/pull/583
- [x] stop kube-controller-manager https://github.com/pingcap/tidb-opera

[2019-06-05 09:12] #533 closed

[2019-06-05 09:12] #540 closed

[2019-06-05 10:41] weekface opened #558 "the tidb-controller-manager is not available when stop and start one etcd instance"
In the stability tests env. The case crashed:

[code]

[2019-06-06 02:29] weekface opened #560 "scheduled backup mydumper failed to start: snapshot is older than GC safe point"
I got the TS from PD using `binlogctl` and use it to start mydumper, but failed:

[code]

[2019-06-06 05:38] #522 closed

[2019-06-06 07:24] #514 closed

[2019-06-06 07:25] #552 closed

[2019-06-06 07:25] #535 closed

[2019-06-06 08:14] aylei commented on #505
Could this be closed? @LinuxGit

[2019-06-06 08:20] aylei opened #562 "`tkctl get` don't align outputs of multiple cluster"
## Bug Report

`tkctl` version:
[code]

`tkctl get` output:

[code]
These columns should be aligned.

[2019-06-06 08:29] aylei opened #563 "`tkctl version` cannot print server version properly"
kubernetes version: v1.12.2
TiDB Operator version: https://github.com/pingcap/tidb-operator/commit/8e8f526769581e8b375c6b7427b8a9c00f20aa44

[code]

The label of operator deployment:

[code]

[2019-06-06 08:32] aylei opened #564 "`tkctl get tikv` should show store-id and store state"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, `tkctl get tikv` don't print store-id and store state of each tikv instance:
[code]
These two fields are important for inspecting the cluster and diagnosing problems.

**Describe the feature you'd like:**

`tkctl get tikv` print the store-id and store state of each instance.

[2019-06-07 16:18] kkimdev opened #565 "[Feature Request] TIDB migration to another K8S cluster"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Migrating entire K8S to another K8S cluster (e.g., AWS to GKE) ideally without downtime.

**Describe the feature you'd like:**
Documentation or a feature that provides seamless, 0-downtime migration to another K8S cluster.

**Describe alternatives you've considered:**
Backup and restore.  However, some service d

[2019-06-07 16:23] gregwebs commented on #565
@kkimdev are you familiar with tidb-binlog?

[2019-06-07 18:32] kkimdev commented on #565
@gregwebs No, though I've read that it's a tool to perform incremental backup or master-slave synchronization.  Can it be used for master-master synchronization?

Here is the 0 downtime migration flow I was thinking:
1. "Cluster A" connects to "TIDB A". And "Cluster A" is running in production.
2. Create an identical "Cluster B" that connects to "TIDB B", not in production yet.
3. Synchronize "TID

[2019-06-07 20:33] gregwebs commented on #565
yes, master-master synchronization doesn't make sense for TiDB. Instead of having 2 TiDB clusters you would have one and start creating new (TiKV nodes at least) in a new cluster. If your goal was to change the physical location of the cluster to a different datacenter then you will now have increased latency while writes go to 2 datacenters during the transition (although there are techniques to

[2019-06-09 20:28] kkimdev opened #566 "[Documentation] A guide on how to safely remove nodes."
[The current operation guide](https://github.com/pingcap/tidb-operator/blob/master/docs/operation-guide.md) doesn't explain how to safely downscale TIDB.  I suspect that it's not as simple as just draining the nodes to remove as it the data migration can take more than the default pod termination grace period(30sec) https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods .  But

[2019-06-10 02:08] tennix commented on #566
@kkimdev Scale in TiDB cluster is as simple as changing the component replicas and run `helm upgrade` as documented in the [operation guide](https://github.com/pingcap/tidb-operator/blob/master/docs/operation-guide.md#horizontal-scaling).

As for removing k8s nodes, there are some extra steps. We'll add the document soon. But if you are familiar with k8s, then after the component replica count is

[2019-06-10 06:47] weekface opened #567 "TiKV state is upgrade when failover occurs"
Statbility failed with logs:

[code]

The TidbCluster status is:
[code]

[2019-06-10 06:51] cofyc commented on #567
I reproduced this in cluster 3 too. It seems that no new TiKV pod is created. The cluster expects 3 replicas of TiKV, but only 2/3 pods are up.

BTW, TiKV.status.phase is Upgrade, is this correct in failure phase?

[2019-06-10 09:47] weekface commented on #567
When TiKV crashed, PD will create a `evict-leader-scheduler` scheduler, but this was judged as `Upgrade` by TiDB Operator. So the stability case failed.

https://github.com/pingcap/tidb-operator/blob/758c9888ea4245f4d651f8f3f95c31290131f2e4/pkg/manager/member/tikv_member_manager.go#L623-L628

[2019-06-11 00:14] gregwebs opened #568 "2/4 PD in error state"
Using the latest stable release (beta 3), after the cluster has been running for several hours I observe pods in an Error state. The log looks very suspicious that there is a problem with how PD are joining after experiencing a failure.

[code]

kubectl logs -p -n tidb180007 demo-pd-3

[code]

kubectl logs -p -n tidb180007 demo-pd-1

[code]

[2019-06-11 02:27] cofyc commented on #424
I think it's not necessary to give this pod a QoS class of Guaranteed to avoid being killed by OOM.
When the memory pressure of a node is high, it's meaningless to discover new or recycle old local volumes. We can delay the operations of local volumes until the node recovers.

[2019-06-11 02:36] cofyc commented on #424
Ah, I forgot one thing that it's not recommended to give DaemonSet pods a QoS of BestEffort [because DaemonSet controller will recreate pods immediately](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/#daemonset).

I'll submit a PR for this.

[2019-06-11 10:46] #424 closed

[2019-06-11 21:05] gregwebs commented on #568
oh, I should have said 2/4. It seems that PD has recovered now. However, there is still a demo-pd-3 in an error state. Why is that?

[2019-06-12 03:19] weekface commented on #568
[code]

The `demo-pd-3` only have a `member_id` but not have `name`

[2019-06-12 03:21] weekface commented on #568
https://github.com/pingcap/tidb-operator/issues/126

[2019-06-12 03:53] weekface commented on #568
demo-pd-3 join file:
[code]

https://transfer.sh/oS8B4/demo-pd-0.log
https://transfer.sh/10fjLC/demo-pd-2.log
https://transfer.sh/O71s1/demo-pd-3.log

@nolouch PTAL

[2019-06-12 10:29] xiaojingchen opened #572 "local-volume-provisioner deploy error"
## Bug Report

**What did you do?**

exec command: `kubectl apply -f https://raw.githubusercontent.com/pingcap/tidb-operator/master/manifests/local-dind/local-volume-provisioner.yaml`

**What did you expect to see?**

**What did you see instead?**

the local-volume-provisioner pendding
[code]
docker log:
[code]
if i remove resource limit and request, it works.

[2019-06-12 10:33] xiaojingchen commented on #572
maybe the resource set `100m`  is too small
@cofyc  PTAL

[2019-06-12 10:37] weekface commented on #572
https://github.com/pingcap/tidb-operator/commit/65a7dffd123ef3f4bb331c341df60897a99f8f3c#diff-1201c2c9a5152139d308e4cbc7e45182R78

This should be
[code]

[2019-06-12 17:06] aylei opened #574 "Support customized values file for helm in the terraform scripts"
## Feature Request

**Is your feature request related to a problem? Please describe:**

This issue is related to #494 , but they are concentrate on the different use case.

**Describe the feature you'd like:**

When I try to explain some helm operations for tidb cluster managed by terraform to our users, I find I have to guide the user to modify the template file of `values.yaml`, which is informa

[2019-06-12 17:12] aylei opened #575 "Terraform should use released helm charts"
## Feature Request

**Describe the feature you'd like:**

Currently, the terraform scripts using the chart inside this repository, which is may not stable. We should use the release chart instead and add a new terraform variable to specify the chart version:

[code]

- [x] AWS (merged): #616
- [x] Alibaba Cloud: #658
- [x] GKE #717

@gregwebs @jlerche @tennix @weekface PTAL

[2019-06-12 18:19] gregwebs commented on #574
With the current arrangement the approach is a big improvement: do not template a values.yaml, instead generate `--set` arguments.
This fixes the biggest issue that the current setup does no have any extensibility.
Also, this change is easy to make. Therefore I would recommend making it immediately.

However, keep in mind that although this fixes the extensibility problem it doesn't fix the archit