[2020-10-10 01:47] #3334 closed

[2020-10-10 14:52] WentaoJin opened #3349 "tidb operator failure self-recovery regenerate the new cluster id"
1、When the pd cluster is unavailable, the regenerated pod from the tidb operator failure self-recovery will regenerate the new cluster id，then  tikv save old cluster id，so even if the pd cluster is alive, the tidb cluster cannot be served. solved by the according to tikv local cluster id pd recover(https://docs.pingcap.com/zh/tidb-in-kubernetes/stable/pd-recover)

tidb  operator failure self-recov

[2020-10-12 00:45] DanielZhangQD opened #3352 "New command line arguments of BR"
## Feature Request

**Is your feature request related to a problem? Please describe:**

https://github.com/pingcap/br/pull/546 introduces a new command-line argument, we need to support this in Operator.
We also have to check if any other arguments are added before and need to support them all.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Docu

[2020-10-12 00:47] DanielZhangQD commented on #3349
@WentaoJin What's the operator version?

[2020-10-12 01:00] donbowman opened #3353 "tidb-initializer job is not idempotent"
## Bug Report

In our environment we always apply all yaml, using kustomize. THis means that we can't accept things that can only be applied once.

https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-cluster/templates/scripts/_initialize_tidb_users.py.tpl#L5

is an example of a violation of this principle. It assumes the db can be connected w/o a password, then changes the password. I

[2020-10-12 01:39] DanielZhangQD commented on #3353
@donbowman If we just ignore this error, how can users know that the initialization succeeded or not?

[2020-10-12 01:42] DanielZhangQD commented on #3353
Is it possible that you control your logic of applying the yamls?

[2020-10-12 02:28] DanielZhangQD commented on #3349
[Uploading ods-cfp_discovery.log…]()

[2020-10-12 02:30] DanielZhangQD commented on #3349
[ods-cfp_discovery.log](https://github.com/pingcap/tidb-operator/files/5362632/ods-cfp_discovery.log)

[2020-10-12 03:13] zjj2wry opened #3354 "tidb-operator panic"
## Bug Report

[code]

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

v1.1.1

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

[2020-10-12 05:23] #3205 closed

[2020-10-12 05:32] WentaoJin commented on #3349
v1.0 version，rememeber v1.0.3

[2020-10-12 06:18] #3336 closed

[2020-10-12 08:40] #3241 closed

[2020-10-12 14:19] donbowman commented on #3353
no.
in a declarative world we expect that yaml is idempotent.
e.g. if i create a deployment, and re-apply it, nothing changes.
if i re-apply it with a change, that change applies.

so the expectation is the same for an operator. E.g. if i changed the password and re-applied, i would expect that to take affect as well.

but the short answer is... no, kustomize doesn't allow that. You have the same

[2020-10-12 15:02] donbowman commented on #3353
i'm not sure. is there another reason the connection as root w/ no password would fail with a 1045 error?

[2020-10-13 03:56] DanielZhangQD commented on #3353
I mean users can only check logs to know that the initialization job may not work because of the password issue if we just ignore the error since the Pod will be in completed status without error.

[2020-10-13 04:03] DanielZhangQD commented on #3353
How is this possible? We cann not know what's the password has been set.

What does this mean? We update the chart version each time we release the chart.

IMO, the password setting job cannot be idempotent, it is a one-time job.
BTW, for your case, can you remove the initializer from your auto workflow?

[2020-10-13 09:20] DanielZhangQD commented on #3354
@zjj2wry
1. Is this issue hit repeatedly? Do you know how to reproduce this issue?
2. `failed to update TidbCluster: [tidb1313117082807701504/db], error: Put https://100.64.0.1:443/apis/pingcap.com/v1alpha1/namespaces/tidb1313117082807701504/tidbclusters/db: read tcp 100.96.1.15:56062->100.64.0.1:443: read: connection reset by peer` Is there something wrong with the kube-apiserver at that time?
3.

[2020-10-13 19:26] donbowman commented on #3353
I mean, if i change values.yaml and run `helm upgrade`, just to change the values. It will re-run the job, and the job will fail.
e.g if i use helm to upgrade the versions of images, or to change values, the job fails since it tries to change the password a 2nd time.
it *could* try both the no-password and the new-password. If no-password works, change. If the new-password works, ignore. That way

[2020-10-14 02:21] DanielZhangQD commented on #3353
@donbowman This sounds reasonable. Could you please help summit PR for this change?
We can try with the new-password first, if it works, the script can exit, otherwise, go with the current logic.

[2020-10-14 02:23] DanielZhangQD commented on #2409
@namco1992 Are you still working on this issue?

[2020-10-14 02:44] namco1992 commented on #2409
@DanielZhangQD yes I am, however, I have a question about the scheduled incremental backup. I was planning to add the `lastbackupts` field in the `BackupSchedule` and then the following scheduled incremental backup can refer to that. The `lastbackupts` must be after the GC safepoint, which means if some of the scheduled backups are missed then we might lose the data we need for the next scheduled

[2020-10-14 04:04] #3352 closed

[2020-10-14 05:59] DanielZhangQD commented on #2409
For the scheduled incremental backup, what's your use case?
You want to do one full backup and then do scheduled incremental backup? What's the purpose of this?

[2020-10-14 06:21] akashsharma95 commented on #2409
@DanielZhangQD My use case is I want to take full backup then take scheduled incremental backups with `BackupSchedule`

[2020-10-14 07:02] DanielZhangQD commented on #2409
@akashsharma95 It's not suggested to do one ad-hoc full backup and then scheduled incremental backups, with this strategy, it would be very complicated to restore all of the data, you have to restore different backups one by one.
BTW, to use scheduled incremental backups, for example, one backup per hour, you have to change the GC time to larger than 1 hour, which will have an impact on the perfor

[2020-10-14 07:27] howardlau1999 commented on #3292
Currently, if the TiDBMonitor spec is updated, although the ConfigMap for scrape_config is updated, the Prometheus does not reload the newer config. Could you also add an item for Prometheus config reloader as the prometheus-operator do?

[2020-10-14 08:00] akashsharma95 commented on #2409
@DanielZhangQD Yes you are right even if I take daily backups to S3, restoring with this daily backup would be difficult task.
I think for taking incremental backup I can use TiCDC but I don't know how to restore from logs generated by TiCDC. The current doc only talks about TiCDC open protocol and MySQL as replication sink. Is there any other doc or resource that you can point to?

[2020-10-14 08:21] DanielZhangQD commented on #2409
@3pointer Could you please help provide any help here? Thanks!

[2020-10-14 08:35] 3pointer commented on #2409
Thanks for your attention. We already have a plan to restore TiCDC log with BR, you can find details in this [issue](https://github.com/pingcap/br/issues/325), currently the PRs already merged, and we are in test stage. and this feature will deliver as an experimental feature in next version (4.0.8). and we'll make up the document recently. and then you can try this feature in your test environmen

[2020-10-14 08:57] namco1992 commented on #2409
Hello @DanielZhangQD Yes I agree, I will support ad-hoc incremental backup for now. I should be able to  submit a PR tonight!

[2020-10-14 09:23] DanielZhangQD commented on #2409
Maybe no need to update code, you can try with `spec.br.options` introduced in #3360, if it works, could you please help update doc `backup-to-aws-s3-using-br.md` and `backup-to-gcs-using-br.md` in the `https://github.com/pingcap/docs-tidb-operator/` repo? Choose any language you prefer in `en` or `zh`.

[2020-10-14 09:28] namco1992 commented on #2409
@DanielZhangQD ok got it, I can update both languages.

[2020-10-14 12:48] mikechengwei commented on #3292
9. Prometheus need to reload configuration when spec filed cause configMap update .

- We can regenerate configMap name cause deployment rolling update.
- Hot update configuration through reloader and call prometheus reload api.  @howardlau1999

[2020-10-14 13:42] donbowman commented on #3353
ok will submit PR to chart w/ this change in the next couple days.

[2020-10-14 14:08] tangwz commented on #3341
/assign

[2020-10-14 14:22] namco1992 commented on #2409
@DanielZhangQD Just tested locally and the `spec.br.options` works as expected. However it feels a bit inconsistent as we support some of the arguments in `BRConfig` and some of the arguments as a free form array of strings.

Anyway, I understand that if the BR arguments ever-growing then it could be too much effort to keep up. I will update the doc now.

[2020-10-14 14:23] DanielZhangQD commented on #2409
Yes, thanks a lot!

[2020-10-14 16:01] namco1992 commented on #2409
@DanielZhangQD Pls take a look of the PR https://github.com/pingcap/docs-tidb-operator/pull/760 Thanks!

[2020-10-15 01:54] cvvz commented on #3230
@DanielZhangQD The information of validation failure is already recorded in TC event, users can use `kubectl describe` to know about it. Maybe it is not necessary to adding a condition in the TidbCluster status?
![image](https://user-images.githubusercontent.com/44308864/96067477-69700b80-0ecc-11eb-9d8d-604791f7d085.png)

[2020-10-15 02:06] #3259 closed

[2020-10-15 02:06] #3330 closed

[2020-10-15 02:54] howardlau1999 commented on #3159
Check autoscaling interval according to status for each group

[2020-10-15 03:28] july2993 opened #3380 "Release v1.1.6"
This is an issue tracing the tidb-operator v1.1.6 release.

Previous:
- https://github.com/pingcap/tidb-operator/issues/2567
- https://github.com/pingcap/tidb-operator/issues/2775
- https://github.com/pingcap/tidb-operator/issues/2839
- https://github.com/pingcap/tidb-operator/issues/3010
- https://github.com/pingcap/tidb-operator/issues/3140
- https://github.com/pingcap/tidb-operator/issues/3263

[2020-10-15 05:22] DanielZhangQD opened #3381 "e2e test is not stable"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

[2020-10-15 05:23] DanielZhangQD commented on #3381
The current e2e test is not stable, this issue is to trace the failures for further analysis.

[2020-10-15 05:23] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2133/pipeline

[2020-10-15 05:26] DanielZhangQD commented on #2409
Close this via https://github.com/pingcap/docs-tidb-operator/pull/760.

[2020-10-15 05:26] #2409 closed

[2020-10-15 05:29] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2139/pipeline

[2020-10-15 09:30] namco1992 commented on #1658
@aylei @DanielZhangQD I would like to take this one. Is it adding a `status` column in `AdditionalPrinterColumns` sufficient? Do we need a field to indicate the current phase or I will just get the last condition from the `status.conditions`?

[2020-10-15 12:10] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2160/pipeline

[2020-10-15 14:10] namco1992 commented on #2847
@weekface @DanielZhangQD From what I saw here: https://github.com/pingcap/tidb-operator/blob/2a788bb44f4f5bde4c5a9ea54e1eaca561572c1c/pkg/apis/pingcap/v1alpha1/tidbcluster_component.go#L184 It's handled by the `BuildPodSpec` already, may I ask what else needs to be done?

[2020-10-16 01:18] DanielZhangQD commented on #1658
@namco1992 Thanks for taking this!
I think it's OK to just get the last condition from the `status.conditions`, then we can see different status during the backup, e.g. `Scheduled`, `Running`, etc. right?

[2020-10-16 02:41] namco1992 commented on #1658
@DanielZhangQD Thanks for the reply! But when the controller updates the status, it will append a new condition or update the existing condition's `LastTransitionTime`, which means that the last condition in the array is not necessarily the latest condition. I think it's ok that we take the last condition in the array, but maybe having a new field that gets updated when updating the condition is m

[2020-10-16 02:48] DanielZhangQD commented on #1658
This sounds good. I think we can go with this and no need to take the condition anymore.
Please also help update for the Restore CR.
Thanks!

[2020-10-16 05:40] lichunzhu opened #3385 "Restore status is not updated after the job is finished"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

v1.1.3

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

Restore data through restore CR.

**What did you expect to see?**
Restore status should be updated and marked as `C

[2020-10-16 07:04] LinuxGit opened #3386 "br: There is no need to set tikv_gc_life_time during backup and recovery"
br support automatic setting `tikv_gc_life_time` during backup and recovery now. Recently there is a related [bug fix](https://github.com/pingcap/br/pull/553). It's not included in v4.0.7.

[2020-10-16 07:37] #3380 closed

[2020-10-16 08:18] cvvz opened #3387 "UpdateStrategy of Statefulset is not able to be modified to `Ondelete`"
## Bug Report

**What did you do?**

Modify the `Statefulset.Spec.UpdateStrategy.Type` to "Ondelete", and change image version of TiKV in TC.

**What did you expect to see?**
Do not rollingupdate automatically.

**What did you see instead?**
TiKV Pods still rollingupdate automatically. And `Statefulset.Spec.UpdateStrategy.Type` is override by "RollingUpdate".

[2020-10-16 12:20] DanielZhangQD commented on #2847
@namco1992

- The controller for Pump does not call the `BuildPodSpec` function
- The `lifecycle` is now only added for TiDB

[2020-10-18 14:58] cvvz commented on #2895
/assign

[2020-10-18 14:59] cvvz commented on #3387
/assign

[2020-10-19 06:03] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2172/tests

[2020-10-19 16:29] namco1992 commented on #3386
Hello @DanielZhangQD @LinuxGit I would like to take a look on this one. It seems the logic is mostly in `performBackup` and `performRestore`, is cleaning up the related logic sufficient for this issue?

[2020-10-19 16:31] namco1992 commented on #2847
@DanielZhangQD ok, then I can take a look on this issue.

[2020-10-20 01:19] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2178/pipeline

[2020-10-20 02:29] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2180/pipeline

[2020-10-20 02:43] mikechengwei commented on #3307
#3292

[2020-10-20 02:44] mikechengwei opened #3399 "Support generate the Grafana dashboard of multiple clusters"
## Feature Request

**Is your feature request related to a problem?
#3292

**Describe the feature you'd like:**
When we use tidbmonitor monitor multiple cluster , generate the Grafana dashboard of multiple clusters .

[2020-10-20 02:47] #1658 closed

[2020-10-20 04:21] mikechengwei commented on #3399
/label Hacktoberfest

[2020-10-20 05:40] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2191/pipeline

[2020-10-20 06:51] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2193/pipeline

[2020-10-20 07:28] DanielZhangQD commented on #3318
Per the issue, https://github.com/kubernetes/kubernetes/issues/85643, for public cloud deploy, LB +  Local externalTrafficPolicy cannot gracefully upgrade TiDB.

[2020-10-20 07:31] DanielZhangQD commented on #2847
@namco1992 OK, thanks!
And you can also check if any other issues you're interested in as I think this issue does not address any requirement from any users.

[2020-10-20 07:54] DanielZhangQD commented on #3386
@namco1992 Thanks for checking this issue!

With the following conditions:
1. TiDB Operator needs to support most of the TiDB versions
2. There is a bug for the GC setting in BR which will be released in v4.0.8

What about:
1. Change CR structure in types.go as below:
"From TiDBAccessConfig `json:"from,omitempty"`" to "From *TiDBAccessConfig `json:"from,omitempty"`"
"To TiDBAccessConfig `json:"to,

[2020-10-20 08:19] #3230 closed

[2020-10-20 08:30] #3349 closed

[2020-10-20 09:30] july2993 commented on #2940
fix by #3396

[2020-10-20 09:30] #2940 closed

[2020-10-20 09:38] july2993 commented on #2821
`pkg/manager/meta` already 69.4%, should be ok for now?

[2020-10-20 10:22] DanielZhangQD commented on #3212
Close via #3312, #3327, #3342, #3355.
@kolbe @yiwu-arbug FYI, this improvement is also released with v1.1.6 and you can check the usage [here](https://docs.pingcap.com/tidb-in-kubernetes/dev/configure-a-tidb-cluster#configure-tidb-parameters).

[2020-10-20 10:22] #3212 closed

[2020-10-20 10:27] DanielZhangQD commented on #3158
Close via #3311.

[2020-10-20 10:27] #3158 closed

[2020-10-20 11:22] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind-serial/detail/tidb-operator-pull-e2e-kind-serial/2037/pipeline

[2020-10-20 11:25] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2207/pipeline

[2020-10-20 11:37] DanielZhangQD commented on #3157
Close via #3264.

[2020-10-20 11:37] #3157 closed

[2020-10-20 11:43] DanielZhangQD commented on #3031
File removed in https://github.com/pingcap/tidb-operator/pull/3296.

[2020-10-20 11:43] #3031 closed

[2020-10-20 11:49] DanielZhangQD commented on #2937
/assign @howardlau1999

[2020-10-20 12:27] #2938 closed

[2020-10-20 15:11] cvvz opened #3407 "Tidb scheduler should support HA scheduling in failover situation"
## Bug Report

**What did you do?**

When a Pod of PD or TiKV is down unexpectly, after a while, tidb-operator begins to do failover, that is, create a new Pod.

**What did you expect to see?**
The new component with the new generated Pod should keep high availability.

**What did you see instead?**
The new pod may be scheduled to a topology that can ruin the high availability of the component.

[2020-10-20 15:11] cvvz commented on #3407
I think tidb-scheduler should consider the failure members of PD and TiKV when scheduling. In other words, do not count the topology of the failure members. I'll fix this.

[2020-10-21 05:19] cvvz opened #3409 "Optimize the calculation of "PDStsDesiredReplicas""
## Bug Report

In failover process of PD, tidb-operator should scale out a new Pod after the failed PD is put into `tc.Status.PD.FailureMembers` AND the `tc.Status.PD.FailureMembers.MemberDeleted` is set as true. Thus the calculation of `PDStsDesiredReplicas` should be implemented like the function `getFailureReplicas` in `pkg/manager/member/pd_member_manager.go`

[2020-10-21 05:31] #3409 closed

[2020-10-21 05:32] cvvz opened #3410 "Optimize the calculation of `PDStsDesiredReplicas`"
## Bug Report

In failover process of PD, tidb-operator should scale out a new Pod after the failed PD is put into `tc.Status.PD.FailureMembers` AND the `tc.Status.PD.FailureMembers.MemberDeleted` is set as true. Thus the calculation of `PDStsDesiredReplicas` should be implemented like the function `getFailureReplicas` in `pkg/manager/member/pd_member_manager.go`

[2020-10-21 06:14] #3061 closed

[2020-10-21 06:17] #3182 closed

[2020-10-21 06:20] #2895 closed

[2020-10-21 06:23] #3227 closed

[2020-10-21 06:37] DanielZhangQD commented on #3407
@cvvz #3388 fixed this issue, right?

[2020-10-21 06:45] cvvz commented on #3407
@DanielZhangQD It's different. This is about to keep HA scheduling in failover situation.

[2020-10-21 09:32] nolouch opened #3416 "Supports search log with TiDB Dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**

the cluster that deployed by the operator cannot use the dashboard to search the cluster logs. if it supported, it can improve our efficiency in troubleshooting.
**Describe the feature you'd like:**

Supports search log with dashboard

**Describe alternatives you've considered:**

- maybe the stdout still need

[2020-10-21 10:01] #3410 closed

[2020-10-21 11:22] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2246/pipeline

[2020-10-21 11:27] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2249/pipeline

[2020-10-21 12:43] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2255/pipeline

[2020-10-21 19:18] mikechengwei commented on #2183
My design:

[code]

[2020-10-21 19:23] mikechengwei commented on #3416
We can use loki to integrate into grafana.

[2020-10-22 01:33] DanielZhangQD commented on #2183
@mikechengwei
Just some minor suggestions:
`volume:` -> `storageVolumes:`
`storage: "2Gi"` -> `storageSize: "2Gi"`, to keep consistent with the other storage size definitions that are not defined in `requests/limits`.

[2020-10-22 09:01] DanielZhangQD opened #3420 "Pod pending after EC2 failover"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Deploy TiDB cluster on AWS EKS, regional auto-scaling groups are created for the components.
When something wrong with the EC2s and they are recreated by the ASG, it's possible that some EC2s are recreated in different AZs with the one where the original EC2s are created, in this case, the EBS for the component

[2020-10-22 09:02] DanielZhangQD commented on #3420
Should we create zonal ASGs in different AZs for the components?

[2020-10-22 09:56] DanielZhangQD opened #3421 "heterogeneous TiKV cluster cannot be scaled in to less than 3 replicas"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

[2020-10-22 13:37] CheneyDing opened #3422 "tikv node storage class is unexcepted"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of TiDB Operator are you using?**
[code]

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**
[code]
[code]

**What's the status of the TiDB cluster pods?**

[code]

**What did you do?**
apply tidb-cluster.yaml

[code]

**What did you expect to see?**
all tikv nodes use nvme

[2020-10-22 15:11] cvvz commented on #3421
/assign

[2020-10-22 15:11] namco1992 commented on #3386
Hello @DanielZhangQD sorry for the late reply! I got the idea, but I'm not sure how `spec.from` and `spec.to` are related to this issue. Is there a way to automatically recognize `spec.from` and `spec.to` in TiDB Operator < v1.1.7 or TiDB version < v4.0.8 so we use it to decide if the GC life time should be set or not? If so can point me to the related issue/PR? Thanks!

[2020-10-23 02:13] DanielZhangQD commented on #3416
@mikechengwei You mean deploy loki and integrate to the Grafana of the cluster monitoring？
Could you please share any link for the solution?

[2020-10-23 02:18] DanielZhangQD commented on #3422
@CheneyDing Which TiKV uses `shared-nvme-disks`?
[code]

[2020-10-23 02:48] CheneyDing commented on #3422
tikv-st-2-tikv-1, you can see from the two screenshots above. I run go-ycsb read workload and watch tikv1's disk io through grafana, you can see that it use nvme1n1 which is a shared-nvme-disk.

[2020-10-23 04:49] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2274/pipeline

[2020-10-23 05:24] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2272/pipeline

[2020-10-23 05:25] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2257/pipeline

[2020-10-23 05:45] DanielZhangQD commented on #3422
@CheneyDing Please check your cluster admin for the creation of PV and see if that PV is backed by the shared-nvme-disks.
From Kubernetes, it does use `nvme-disks` storage class, but it's the admin of the cluster that determines which disk is used for the storage classes.
[code]

[2020-10-23 06:17] nolouch commented on #3416
If it supported in the TiDB dashboard, we do not need to maintain other components.

[2020-10-23 07:53] DanielZhangQD commented on #3420
The previous analysis is incorrect, the issue I hit is not caused by this case.

[2020-10-23 07:53] #3420 closed

[2020-10-23 08:02] howardlau1999 commented on #2937
/assign

[2020-10-24 03:19] mikechengwei commented on #3416
This proposal has been rejected in advance, we can use Loki to store log data, Promtail as a sidecar to collect logs, and grafana shows.

[2020-10-26 01:03] #3407 closed

[2020-10-26 05:46] DanielZhangQD commented on #3386
@namco1992 sorry for the late response!

For BR, now they are only used to connect to the TiDB service to set the GC.

As I have said in the above comment, we change the `spec.from` and `spec.to` to pointer and check them during the backup/restore, if they are not nil, then set the GC, if they are nil, then no need to set the GC.
And we update the doc as stated in step 3, so that for the supported

[2020-10-26 06:37] namco1992 commented on #3386
@DanielZhangQD Thank you for the explanation! I didn't know the `spec.from` and `spec.to` only for setting the GC life time. Then I will work on this.

[2020-10-26 07:06] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2315/pipeline

[2020-10-26 07:59] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2317/pipeline

[2020-10-26 09:04] #3341 closed

[2020-10-26 10:20] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2320/pipeline

[2020-10-26 11:41] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2321/pipeline/

[2020-10-26 12:53] tennix commented on #2132
Can we use a command to do the health check? We can use local tls certificate to request port 10080.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-a-liveness-command

[2020-10-26 13:56] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2323/pipeline

[2020-10-27 02:48] DanielZhangQD commented on #3416
@nolouch In Kubernetes, the best practice to collect logs is to use solutions such as EFK/ELK/Loki+Grafana to collect the logs from the stdout/stderr of containers.
If we're going to support log searching in the TiDB Dashboard, we have the following ways:
1. Print logs to both disks and stdout/stderr.
    Additional disks are required, duplicate logs and meaningless, if users are running apps on K

[2020-10-27 11:58] tennix commented on #2132
However, tidb docker image does not contain `curl` and the builtin `wget` does not support specifying TLS certificates. So in order to use command to do health check, we may need to install curl in the tidb docker image.

[2020-10-27 13:00] XiaoGe2030 opened #3433 "Can slow log files be uploaded to S3 through configuration?Just like the backup file can be uploaded to S3"
## Feature Request

**Describe the feature you'd like:**

I want to get the original file of the slow log .

**Describe alternatives you've considered:**

1. kubectl cp command  to get slow log file. (kubectl config needs to be configured manually)
2. start a job in k8s  to upload slow log file to s3.
3. tidb-operator could periodically upload files to  s3 through some configuration items.

Can yo

[2020-10-27 13:02] XiaoGe2030 opened #3434 "test"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-10-27 13:02] #3434 closed

[2020-10-27 14:01] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind-serial/detail/tidb-operator-pull-e2e-kind-serial/2165/pipeline

[2020-10-27 14:33] mikechengwei commented on #3433
I think it is same as #3416 .

[2020-10-27 19:59] spf913 opened #3436 "TiDB update crd.yaml for latest kubernetes Version"
## Bug Report

**What version of Kubernetes are you using?**
 v1.19

**What version of TiDB Operator are you using?**
1.1.6

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**
local-storage

**What's the status of the TiDB cluster pods?**
Pending

**What did you do?**
I test tidb operator crd.yaml with v1.15.0 kubernetes version. No error
But when I try to

[2020-10-28 02:18] XiaoGe2030 commented on #3433
I  want to get the original file of the slow log from  k8s，#3416 is a search log feature request. they are  different

[2020-10-28 02:22] XiaoGe2030 commented on #3416
Has tidb implemented EFK/ELK/Loki + grafana solutions ? Where can I get the original file of slow log?

[2020-10-28 06:22] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2355/pipeline

[2020-10-28 07:24] gejibin opened #3437 "Supports the configuration of uploading original slow log files to s3"
Similar to data backup, user can configure uploading original slow log files to s3.

User can set the following parameters：
1. set the slow log file size
2. set the number of days to keep files on s3 or the number of files to keep

And use tidb pod name as the s3 file prefix.

[2020-10-28 08:59] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2358/pipeline

[2020-10-28 11:26] namco1992 commented on #3386
@DanielZhangQD I'm in the middle of it and found out that `dumpling` doesn't need to set the GC life time neither based on the [documentation](https://docs.pingcap.com/tidb/stable/backup-and-restore-using-dumpling-lightning), should I update this or leave it to another PR?

[2020-10-28 11:29] #3421 closed

[2020-10-28 11:36] #3387 closed

[2020-10-28 15:52] mikechengwei commented on #3433
Currently you can use additionalContainers and additionalVolumes spec field  to develop your own program which collect slow log.
Reference:
https://github.com/pingcap/tidb-operator/blob/87e442759c1bf59c8ada922b7316ba4aa96d0f8e/pkg/apis/pingcap/v1alpha1/types.go#L771

[2020-10-28 15:54] mikechengwei commented on #3437
I think this feature is not a universal ,currently you can use additionalContainers and additionalVolumes spec field  to develop your own program which collect slow log.

Reference:
https://github.com/pingcap/tidb-operator/blob/87e442759c1bf59c8ada922b7316ba4aa96d0f8e/pkg/apis/pingcap/v1alpha1/types.go#L771

https://github.com/pingcap/tidb-operator/blob/87e442759c1bf59c8ada922b7316ba4aa96d0f8e/pkg

[2020-10-29 03:36] shuijing198799 opened #3441 "BR version should be consistent with TiDBCluster"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now the BR version is controlled by the TiDB-Operator and not following the TiDB cluster's version. In some cases, different versions of br and tidb will be incompatible.
For example, When I use BR 4.0.6 to restore TiDB cluster 4.0.7 when tiflash data sync is open. It always fails in the restore process.
At the

[2020-10-29 04:16] DanielZhangQD commented on #3386
@namco1992 Yes, please also help update this in this PR. And please also help update the doc of TiDB Operator to link to the dumpling doc above so that users before v4.x can set the GC manually.
Thanks!

[2020-10-29 05:44] DanielZhangQD commented on #3433
@XiaoGe2030 You do not deploy log collection solutions like EFK? Or even if with the log collection solutions deployed, you still want to get the original file of the slow log?

[2020-10-29 05:52] DanielZhangQD commented on #3437
@gejibin What's your original request? You want to get the slow log files? Or you want to get the slow log files from S3?

[2020-10-29 08:02] DanielZhangQD commented on #3436
We trace this issue in https://github.com/pingcap/tidb-operator/issues/2753.
BTW, we have tested our CRD with Kubernetes v1.19 and it works.
Anyway, We will provide a v1 version CRD later.

[2020-10-29 08:09] venkatvghub opened #3442 "TIDB: Support for attaching storage volumes to tidb statefulset in kubernetes"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, in a cloud environment with tidb running on kubernetes, the logs are getting printed to stdout. In general, increased log volume poses significant IOPS issues in certain cloud environments. Esp, since the stdout is mapped to root volumes and in homogeneous infrastructure, doing specific IOPS provisio

[2020-10-29 08:29] kamaljitsinghsikhamazon commented on #3436
Hello sir,
Can you guys provide the crd for v1.19 kubernetes now??
And is it possible write a small documentation about the crd update??
Like, whenever any new kubernetes version will come, we will just edit those lines and crd will get adopt with the latest kubernetes version automatically!!!!
Like a helm template or bash script or make file to generate crd and get adopt with any kubernetes versi

[2020-10-29 09:27] DanielZhangQD commented on #3436
@kamaljitsinghsikhamazon would you mind submitting PR for this to contribute to this open-source software?

[2020-10-29 09:40] DanielZhangQD commented on #3386
@namco1992 After a second thought, I think we'd better keep the GC logic for dumpling now, as we recommend users with TiDB v3.0.x to use dumpling/lightning to do backup/restore, however, v3.0.x does not support setting GC automatically.
So, please just update the code for BR, thanks!
Sorry for the confusion!

[2020-10-29 10:35] kamaljitsinghsikhamazon commented on #3436
@DanielZhangQD  sure,
The kubernetes infrastructure (no single point of failure with keepalive) kind of a big setup.
Writing down python script to automate this.

[2020-10-29 11:38] DanielZhangQD commented on #3436
@kamaljitsinghsikhamazon OK, understand that, thank you!
BTW, for the solution, we may check if it's possible to generate both versions of CRDs because some users may still use the old version of Kubernetes which does not support v1.

[2020-10-29 15:39] mikechengwei commented on #3442
Now , we support tikv mount multiple pv, ref: https://github.com/pingcap/tidb-operator/blob/master/examples/multiple-pv-tikv/tidb-cluster.yaml.
Pd and tidb nodetype are calculation types, do they need to support this function?

[2020-10-29 16:06] mikechengwei commented on #3442
And I have submitted storageVolumes PR for PD and TIDB.

[2020-10-29 20:38] kamaljitsinghsikhamazon commented on #3436
Why don't just push a crd with different name...
I just provisioned the dind volume, apply tidb-operator, tidb-cluster with editing values.. deploy through helm (on docu its missing) you guys didnt put down the instructions... btw running smooth... just wanna adopt with v1.19... this crd is pretty big... can you guys just make a crd for v1.19 and put it on the repo???
Just in case for people like

[2020-10-30 02:44] hzliangbin commented on #3381
something i can do for this？

[2020-10-30 02:59] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2393/pipeline

[2020-10-30 04:58] Yisaer commented on #3416
I think after https://github.com/pingcap/tidb-operator/pull/3444 merged, the tidb-dashboard could search log if the pd/tikv/tidb configure the logpath into mounted pvc path.

Moreover, I think searching log by TiDB Dashboard is necessary with native components for performance tuning and error detecting, so I marked this request as accepted.

[2020-10-30 05:27] nolouch commented on #3416
@DanielZhangQD  Dashboard also uses `logfile` to analyze slow log queries, I think we already run a `slow log` container to make it work. but in the future, more tools like this use logfile as an origin data may be integrated into the dashboard, such as cluster diagnostics.

[2020-10-30 06:00] #2929 closed

[2020-10-30 06:00] #2933 closed

[2020-10-30 06:05] #3024 closed

[2020-10-30 06:05] #3032 closed

[2020-10-30 06:10] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2399/pipeline

[2020-10-30 06:12] DanielZhangQD commented on #3381
@hzliangbin Great! The current e2e is not stable enough and I just record the failures in this issue, would you like to help investigate here?
It would be a great help to us.

[2020-10-30 07:08] #2132 closed

[2020-10-30 07:13] breeswish commented on #3416
I prefer using Loki / ELK over TiDB Dashboard in this case, since these stacks like ELK is more powerful and easy to use.. The log search in TiDB Dashboard is only meant to be a simple implementation when ELK is not easy to be deployed.

However, for slow log, it's another story. Slow logs should be supported by TiDB Dashboard natively, since TiDB Dashboard provides nice interpretation while ELK i

[2020-10-30 07:14] DanielZhangQD commented on #3436
Yes, I understand that.
Currently, this CRD is generated automatically with run `hack/update-crd-groups.sh`, so we may have to find a way to generate both versions.

[2020-10-30 07:21] DanielZhangQD commented on #3416
Agree. BTW, the slow log is printed to the disk now, do you see any issues with the slow log functions in the TiDB Dashboard? @breeswish @nolouch

[2020-10-30 07:40] breeswish commented on #3416
I think there is no issue for slow log.

Maybe we can encourage users to deploy ELK in K8S, to make troubleshooting easier :)

[2020-10-30 08:30] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2408/pipeline

[2020-10-30 09:01] nolouch commented on #3416
@breeswish  What should I do if there are requirements similar to the slow query in the subsequent Dashboard? For example, if I want to analyze the scheduling behavior in the past period of time through logs.

[2020-10-30 11:10] breeswish commented on #3416
How about writing standalone & structural logs (or any kind of things that can be easily accessed by programs, e.g. just provide in-memory structural data), and then make it available in TiDB Dashboard?

Notice that UI features in TiDB Dashboard are mostly targeted at DBAs. If the purpose is to easily analyze some scheduling bugs by our developers instead of users (DBAs), then it may stay inside "

[2020-11-02 01:30] DanielZhangQD commented on #2410
@dragonly Please help fix this issue, and you can refer to the code change that @tirsen has done in #2456.
In addition, we have to add a parameter, e.g. `spec.tikv.namedStatusPort` (default to false) to control this behavior to avoid trigger rolling update of the existing TiKV cluster.

[2020-11-02 07:53] gejibin commented on #3437
User want to get raw slow log files.

[2020-11-02 10:03] rleungx opened #3447 "Support change the store label online by using PD API"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Currently, the cluster deployed by the operator can not change the store label by using pd-ctl. When using `store label <store_id> host/rack h1/r1`, the label will be overwritten.

**Describe the feature you'd like:**

It's better to support change the store label online by using PD API

**Describe alternatives

[2020-11-03 03:28] hzliangbin commented on #3381
@DanielZhangQD it would be nice if there is some docs I can reference. I am familiar with k8s stack. but know less about tidb.

[2020-11-03 03:52] DanielZhangQD commented on #3381
@hzliangbin It may not be easy to debug the e2e test without knowledge of the TiDB Operator, would you like to take a look at other issues?
Or you prefer to continue to check this test issue?

[2020-11-03 04:18] DanielZhangQD commented on #3441
Some improvements to the original proposal:
1. Use EmptyDir instead of PVC to copy the BR binary.
2. Add `image` field in the `spec.br` of Backup and Restore CR, which is optional,
    if set, use that image for the init container (in case that user may configure there own image from their Harbor);
    if not set, use `pingcap/tidb-lightning:${tikv_version}` as the image.
3. The init container sho

[2020-11-03 06:32] DanielZhangQD commented on #3441
@namco1992 `pingcap/br:v4.0.8` is ready.

[2020-11-03 06:40] #3386 closed

[2020-11-03 07:51] namco1992 commented on #3441
@DanielZhangQD For the second point, I suppose I need to choose `br/dumpling/lightning` image correspondingly based on the spec?

Besides that, it should be clear for now, I can't give my commitment that I can finish it by Thursday though 😅

[2020-11-03 10:51] DanielZhangQD commented on #3441
@namco1992 OK, understand. Take your time and we will wait for this fix, thanks!

[2020-11-03 11:33] Yisaer opened #3452 "TidbCluster can't scale-in PD to 0"
## Bug Report

**What did you do?**

Deploy TidbCluster with 3PD/3TIKV/2TIDB then scale-in all compoments to 0.

**What did you expect to see?**

All statefulsets have been scaled to 0.

**What did you see instead?**
PD statefulset failed to scale to 0 and get stuck on 1.

[2020-11-03 11:58] DanielZhangQD commented on #3441
Let's add `spec.image` field and consider BR only in this fix first.
if spec.br != nil
  if spec.image != ""
    take spec.image as the image of the init container
WDYT? @namco1992

[2020-11-04 04:16] cvvz commented on #3287
/assign

[2020-11-04 05:26] mikechengwei opened #3454 "Add clusterName validate at validation phase."
## Feature Request

**Is your feature request related to a problem?
We use clusterName to construct the names of sts, deployment, service and pod，the conditions of k8s for pod service name are as follows:
[code]

Therefore, we can use the k8s method `validation.IsQualifiedName` to verify the name of the service and pod to be generated.
https://github.com/mikechengwei/kubernetes/blob/23b66eaabd3a53

[2020-11-04 05:40] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2453/pipeline

[2020-11-04 07:19] DanielZhangQD commented on #3381
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2455/pipeline

[2020-11-04 08:39] spf913 opened #3455 "PLEASE SHARE MARATHON JSON CONFIG FILE FOR PD,TIKV AND TIDB TO DEPLOY ON MESOS CLUSTER"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**
please share marathon json config file for a complete tidb cluster (3 pd, 3 tikv and 1 tidb)  (container version) to deploy tidb cluster on mesos cluster or DC/OS with persistent vdata volume (tidb,tikv,pd).

**Describe alternatives you've considered:**

**Teachability, Docu

[2020-11-04 08:57] spf913 opened #3467 "TiDB update crd.yaml for latest kubernetes Version"
## Feature Request

**Is your feature request related to a problem? Please describe:**
I test tidb operator crd.yaml with v1.15.0 kubernetes version. No error
But when I try to test with the latest kubernetes v1.19 it gives me error
apiextensions.k8s.io/v1beta1
This is the culprit. Kubernetes keep complaining to update this to
apiextensions.k8s.io/v1
There is 6 line on the crd.yaml with /v1beta
I

[2020-11-04 11:35] DanielZhangQD opened #3459 "tidb-controller-manager complains about no permission to list storageclass"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

Deploy TiDB Operator v1.1.6 from RedHat operator hub, however, the following logs are printed in the tidb-controller-manage

[2020-11-04 12:01] AstroProfundis commented on #3459
Would be fixed in https://github.com/operator-framework/community-operators/pull/2606

[2020-11-04 12:21] DanielZhangQD opened #3460 "Remove the `runAsUser` for the init container in the monitor deployment"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, `RunAsUsr: 0` is set [here](https://github.com/pingcap/tidb-operator/blob/master/pkg/monitor/monitor/util.go#L331) for the init container of the monitor deployment, but not for other containers, however, in some Kubernetes platforms, the default user is not 0, which may cause Grafana container to fai

[2020-11-05 06:15] #3452 closed

[2020-11-05 12:23] #2927 closed

[2020-11-05 14:16] hzliangbin commented on #3381
@DanielZhangQD thx. I see....

[2020-11-06 02:37] #3442 closed

[2020-11-06 06:38] Yisaer opened #3466 "E2E test: TiDBCluster Basic: Deploying, Scaling, Update Configuration is not stable"
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/2515/tests

[2020-11-06 07:10] DanielZhangQD commented on #3455
@spf913 We do not have plan to support mesos yet, maybe you can contribute the config file to the TiDB repo.

[2020-11-06 07:37] july2993 opened #3468 "more friendly hint if the yaml format is not as expect"
## Feature Request

**Is your feature request related to a problem? Please describe:**

apply this tidbmonitor success
[code]

note the `envs` must be a map and it failed to unmarshal
logs of controller:
![WeChatWorkScreenshot_89baec4f-158c-47a8-ba9b-e314d0f90a03](https://user-images.githubusercontent.com/1681864/98338523-4822bb00-2045-11eb-9579-43e60ebbeaed.png)

so the pods can't  create normal

[2020-11-06 08:14] july2993 opened #3469 "Add unit test for cmd/backup-manager/app"
This is part of #2821

https://codecov.io/gh/pingcap/tidb-operator/tree/master/cmd/backup-manager/app

[2020-11-06 08:24] #3467 closed

[2020-11-06 08:50] spf913 opened #3470 "Deploy TiDB Cluster on Mesos Cluster Using Cheap Hardware"
## Proof of Concept
# get $20 3 droplet from Digital ocean
# install centos 8.2
[code]
# Don't Even Bother to compile that kube-mesos-framework On that Cheap Server
# Just Straight Download and place (Instruction Above)
# just use HELM template or Kubectl to deplot Tidb Cluster on Mesos Cluster
# go to: <mesos_master_ip>:5050
# under framework Tab
# KUBERNETES :) Deployed
# download and Extract KU

[2020-11-06 19:58] YouhuaLi opened #3472 "Specify the ResourceRequirements for CRD tidbmonitors.pingcap.com"
## Bug Report

**What version of Kubernetes are you using?**

GKE, 1.17

**What version of TiDB Operator are you using?**

v1.1.6

**What did you expect to see?**

Tidb Monitor stack is up and running.

**What did you see instead?**

`kubectl get deploy tidb-cluster-monitor -o yaml
....

  - lastTransitionTime: "2020-11-02T23:54:16Z"
    lastUpdateTime: "2020-11-02T23:54:16Z"
    message: 'pods "t

[2020-11-08 12:06] spf913 commented on #3455
@DanielZhangQD Already prepared marathin JSON for pd, tidb, tikv and tidb🤣 just need little bit help . Can I pls email you ?? Cause it seems we have to hard code those mesos master ip on pd.toml and tikv.toml. I already prepared grafana and pushgateway json too. But getting problem integrate. Json dashboard.  Loaded but data no showing up. Pls help me , I wanna contribute to the unofficial mesos m

[2020-11-08 12:10] spf913 commented on #3455
@DanielZhangQD  I have already set up a nice cluster... if you want can take a look and deploy my rough json on it. It comes up on running stat. You can login and query on port 4000 and scale up and down😂 just need a lb to load balance. Marathon lb is already on github.  Little tricky but cant figure out the settings 😓 cause need to compile with lua. I have already setup haproxy with lua. But cant

[2020-11-09 01:55] DanielZhangQD commented on #3455
@spf913 Sorry for the late repsonse!
Could you please list the issues/items to be done clearly?
I am sorry that I did not use mesos before, not sure if I can provide any help here.

[2020-11-09 02:02] spf913 commented on #3455
@DanielZhangQD
[code]

[2020-11-09 03:39] #2183 closed

[2020-11-10 01:30] DanielZhangQD commented on #3447
Currently, TiDB Operator will retrieve the labels info from the Node where the TiKV Pods are scheduled according to the PD configuration of `location-labels: ["region", "zone", "rack", "host"]`, if users update the store label manually for the ones in `location-labels`, it will cause a mismatch between the store labels and the node labels and may cause unexpected scheduling issue.
Suggest that if

[2020-11-10 01:40] DanielZhangQD commented on #3455
@spf913 Great work!
We really appreciate that you will submit PR to contribute a flexible and stable solution for this.
Thank you very much!

[2020-11-10 01:42] DanielZhangQD commented on #3459
operator-framework/community-operators#2606 merged.

[2020-11-10 01:42] #3459 closed

[2020-11-10 01:48] DanielZhangQD commented on #3468
We should improve the validation of CRs and return error before the CR is accepted by the kube-apiserver.
Related issues:
https://github.com/pingcap/tidb-operator/issues/2534
https://github.com/pingcap/tidb-operator/issues/3213
https://github.com/pingcap/tidb-operator/issues/3230
https://github.com/pingcap/tidb-operator/issues/2534
https://github.com/pingcap/tidb-operator/issues/2490

cc @dragonly

[2020-11-10 01:51] DanielZhangQD commented on #3470
@spf913 It seems that this issue is a duplicate of https://github.com/pingcap/tidb-operator/issues/3455?

[2020-11-10 01:54] DanielZhangQD commented on #3472
@YouhuaLi Did you specify the resources for the containers? Here is an [example](https://github.com/pingcap/tidb-operator/blob/master/manifests/monitor/tidb-monitor.yaml).

[2020-11-10 01:55] DanielZhangQD commented on #3472
Please let me know if you still have issues after setting the resources.

[2020-11-10 02:54] DanielZhangQD commented on #3437
#3444 has supported mounting volumes for TiDB, maybe you can mount a shared file system like NFS so that you can collect the logs for all TiDB Pods.

[2020-11-10 03:01] DanielZhangQD commented on #3416
PD & TiKV & TiDB have supported mounting multiple volumes from v1.1.7, users can configure the components to print logs to disk as they do in non-k8s env, then everything should work well with TiDB Dashboard. However, there will be no logs in the stdout/stderr of the containers, let's wait for feedback from users.

[2020-11-10 03:36] breeswish commented on #3416
Considering our cloud first strategy maybe for normal logs we'd better stick in a direction that is more cloud native, e.g. better ELK ecology friendly instead of building our own powerful log search engine. So that I think this issue can be closed, while some other issues can be opened, like:

- Support ELK to search logs in cloud native deployments for TiDB Dashboard (in TiDB Dashboard repo)

Wh

[2020-11-10 04:00] dragonly commented on #3468
this would be done when CRD generation issues are fixed

[2020-11-10 06:44] #2920 closed

[2020-11-10 08:30] spf913 commented on #3455
@DanielZhangQD  Submitted Pull Request. (Beta)
But Working Like a Charm . Almost 6 hours (8 TiKV and 8 PD 4 TiDB)
1.5 TB Data!!
Thanks
That was a Long Day!!!!!!!!

[2020-11-10 09:24] DanielZhangQD commented on #3030
![image](https://user-images.githubusercontent.com/36026334/98654648-8a1b6c00-2379-11eb-8bec-94af1d697642.png)

[2020-11-10 09:24] #3030 closed

[2020-11-10 09:31] DanielZhangQD commented on #2209
This is not suitable for managed database service where we cannot access the users' database.

[2020-11-10 09:31] #2209 closed

[2020-11-10 09:52] #3441 closed

[2020-11-10 10:00] DanielZhangQD commented on #3162
https://docs.pingcap.com/zh/tidb/dev/tidb-lightning-backends#tidb-lightning-local-backend

[2020-11-10 11:09] DanielZhangQD commented on #1631
Docs for Lightning:
https://docs.pingcap.com/zh/tidb/dev/tidb-lightning-backends

[2020-11-10 11:31] DanielZhangQD commented on #1995
@komish Do the above two PRs fix your issue?

[2020-11-10 20:25] YouhuaLi commented on #3472
No, that YAML file doesn't work even after I specified resources in it. I still get:

0s          Warning   FailedSync             tidbmonitor/tidb-cluster-monitor                     Sync TidbMonitor[tidb-qa/tidb-cluster-monitor] Service failed, err: tm[tidb-qa/tidb-cluster-monitor]'s service[tidb-cluster-monitor-monitor-reloader] failed to sync,err: services "tidb-cluster-monitor-monitor-reloade

[2020-11-11 00:23] YouhuaLi commented on #3472
and this is the output of the deployment detail:

[code]

as you can see, those resources part are empty.

[2020-11-11 01:26] DanielZhangQD commented on #3472
@YouhuaLi Sorry that the resource configuration format has been changed long time ago, there is no `resources`:
[code]

I will update the example mentioned above.

[2020-11-11 08:59] #3472 closed

[2020-11-11 11:35] #3460 closed

[2020-11-11 21:23] komish commented on #1995
@DanielZhangQD Not quite. The core of the issue here is that the operator available in the Red Hat "certified-operators" catalog source was not as up-to-date as what was available in the [community-operators](https://github.com/operator-framework/community-operators) repository. It has been some time since this issue was opened so some things have changed since then, such that the older version of

[2020-11-12 01:21] DanielZhangQD commented on #1995
@komish Thanks for the explanation!
Could you please share with us which procedure/doc we should follow to submit a new certified operator?

[2020-11-12 07:57] kennytm commented on #3293
#2183 has been closed.

[2020-11-12 09:20] AstroProfundis commented on #2821
![图片](https://user-images.githubusercontent.com/596538/98920710-625c0d80-250b-11eb-81c6-a3b3ee532311.png)

[2020-11-12 09:20] #2821 closed

[2020-11-12 09:31] dragonly opened #3493 "support volumeMode in PVC generated"
## Feature Request
Now we cannot specify `spec.volumeMode` in PVC, which is generated by TiDB-Operator for PD, TIKV, etc...
Officially, [Kubernetes supports `volumeMode: Filesystem | Block`](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#volume-mode), and will use `Filesystem` as default when not specified, which is the case now.
If people want to use `Block` mode now, they must m

[2020-11-12 09:54] DanielZhangQD commented on #3493
After consulting with the TiKV team, TiKV does not support reading or writing to block devices now and does not have any plan to support this, so I'd like to close this issue now.

[2020-11-12 12:30] DanielZhangQD commented on #3293
Yes, @dragonly is working on it.

[2020-11-12 13:34] dragonly opened #3495 "Release v1.1.7"
This is an issue tracing the tidb-operator v1.1.7 release.

Previous:
- #2567
- #2775
- #2839
- #3010
- #3140
- #3263
- #3380

Pending PRs:

TODO:
- [x] Update release notes (https://github.com/pingcap/docs-tidb-operator/pull/845)
- [x] Update default version of TiDB Operator (#3494)
- [x] Update TiDB version and tools version if necessary (#3494)
- [x] Update TiDB version in the docs-tidb-operato

[2020-11-12 15:09] komish commented on #1995
Sure thing! It should be roughly the same process that was used to publish the current operator that's available in the certified-operators catalogsource ([link](https://catalog.redhat.com/software/containers/pingcap/tidb-operator-1/5cc067f8ecb5247e5094b3f7)).

Here are the resources I would recommend reviewing to publish an updated version:

* [Certified Container Guide](https://redhat-connect.gi

[2020-11-12 16:33] agaffney opened #3496 "Upgrade fails using tidb-cluster helm chart when providing root password via secret"
## Bug Report

**What version of Kubernetes are you using?**
1.16

**What version of TiDB Operator are you using?**
v1.1.6

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**
N/A

**What's the status of the TiDB cluster pods?**
N/A

**What did you do?**
I used the `tidb-cluster` helm chart with the operator to deploy a TiDB cluster. I specified the initial

[2020-11-12 19:37] agaffney commented on #3496
According to the error message, the problem is somewhere within `spec.template`, but I can't quickly figure out where it is. All of the labels seem to match what's on the existing Job, and I see no recent commits that should change the content of the Job. The only thing I can think of is that we upgraded k8s from 1.15 to 1.16 between the time that TiDB was initially deployed and this upgrade.

[2020-11-12 19:43] agaffney commented on #3496
It looks like it may be due to this commit:

https://github.com/pingcap/tidb-operator/commit/463731a39948c7c76043dc8552950222fa6025f6

[2020-11-12 20:30] agaffney commented on #3496
In order to work around this, I had to delete the Job, set the TiDB root password to an empty string, and then re-upgrade the `tidb-cluster` helm chart. This worked because we are still testing TiDB in dev, but this procedure could not have been done (specifically the blanking the root password part) in production.

[2020-11-13 01:29] DanielZhangQD commented on #3496
@agaffney Thanks for reporting this issue!
The `tidb-cluster` chart has been deprecated since TiDB Operator v1.1.0, we do not use that chart to manage the TiDB cluster anymore, please check the doc [here](https://docs.pingcap.com/tidb-in-kubernetes/stable/notes-tidb-operator-v1.1).
Since you're still in dev phase, please migrate to the customer resource according to the above doc.
And please let u

[2020-11-13 01:36] DanielZhangQD commented on #1995
@komish Great! Thanks a lot!
We will check that and update the operator.

[2020-11-13 01:52] agaffney commented on #3496
That helm chart appears to just be a wrapper for creating that CR, and it was updated recently. I'm building this cluster with terraform, which does not make it easy to use custom resources directly.

[2020-11-13 02:46] agaffney commented on #3496
Does the operator now support setting an initial root password like that helm chart does?

[2020-11-13 06:28] #3493 closed

[2020-11-13 12:56] DanielZhangQD opened #3497 "Deprecate pod validating and mutating webhook"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In TiDB Operator v1.1.0, we introduced Pod validating webhook to handle the upgrade and scale operation of PD and TiKV, which has the similar logic with that in PD and TiKV manager in the tidb-controller-manager, however, as we integrate more and more components in TiDB Operator, I propose to deprecate the Pod

[2020-11-14 01:01] cvvz commented on #3287
@mikechengwei @DanielZhangQD As @mikechengwei mentioned, we should use `readinessGates` to make sure Pod won't be `Ready` before inplace-update finished. I think we need to add `readinessGates` in `TidbCluster` spec, when `InPlaceIfPossible` or `InPlaceOnly` is set in `TidbCluster`, the `InPlaceUpdateReady` must be set in `readinessGates` at the same time. But changing the definition of `readiness

[2020-11-15 04:06] mikechengwei commented on #3287
After changing the strategy, I think the pod should be restarted to update the spec and remove `readinessGates ` field. Because `readinessGates `  just work in InPlace strategy. And turn into Inplace strategy, the pod should also be updated on a rolling basis.

[2020-11-16 06:54] #3495 closed

[2020-11-17 08:55] DanielZhangQD opened #3508 "TidbMonitor supports monitoring for DM"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB Operator has supported managing DM2.0 in master now, we should also support monitoring for DM in TidbMonitor.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-11-17 08:57] DanielZhangQD opened #3509 "e2e test cases for DM"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We have supported managing DM2.0 in master now, and we should add e2e test cases for DM.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-11-17 08:58] DanielZhangQD opened #3510 "e2e test cases for across Kubernetes deployment"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Add e2e test cases for across Kubernetes deployment.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-11-18 01:55] DanielZhangQD commented on #3496
@agaffney Sorry that I missed your response.

It should be as easy as you use helm chart.

- If you want to install the TiDB Operator and TiDB cluster together with your Kubernetes, you can just customize the yaml of the TidbCluster CR and run `kubectl apply -f` in your terraform scripts.
- And you can also install the Kubernetes and TiDB Operator with your terraform scripts and then create the Ti

[2020-11-18 14:03] agaffney commented on #3496
Thanks for the information. I will just create a custom helm chart that just wraps creating those 2 CRs with just the bits that I need

[2020-11-19 11:03] DanielZhangQD commented on #3243
@tirsen @cvvz and @shonge are preparing the proposal for this issue.
We have our first discussion today and reach an agreement for the following items:

- Only support canary upgrade for tidb-controller-manager.
- No need to support canary upgrade for tidb-scheduler, advanced StatefulSet controller, and admission webhook.

Is it OK for you?

[2020-11-23 09:48] DanielZhangQD commented on #3234
Close via https://github.com/pingcap/tidb-operator/issues/3212.

[2020-11-23 09:48] #3234 closed

[2020-11-23 12:23] #2240 closed

[2020-11-24 00:30] #3025 closed

[2020-11-24 00:30] #3007 closed

[2020-11-24 00:30] #2896 closed

[2020-11-24 00:30] #2814 closed

[2020-11-24 02:56] dragonly commented on #3212
the `types.go` link is broken, maybe refer to a specific commit link to fix that?

[2020-11-24 08:14] deadjoker opened #3515 "PD server started failed when using pvc with cephfs"
## Question

I'm using cephfs storageclass for pvc in k8s. The pd server failed to start when I attached a cephfs pvc in the pod.
here is the log:

[code]

The storageclass is well worked on other service pod.
What's the issue?

[2020-11-24 20:03] georgeteo opened #3520 "tidb-controller-manager making invalid DNS query"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of TiDB Operator are you using?**
[code]

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**
[code]
[code]

**What's the status of the TiDB cluster pods?**
[code]

**What did you do?**
[code]

**What did you expect to see?**

TiDB Controller Manager should not have error si

[2020-11-25 00:55] DanielZhangQD commented on #3212
@dragonly I have updated the last comment.

[2020-11-25 09:21] handlerww commented on #2934
TLS is supported.

[2020-11-25 09:21] #2934 closed

[2020-11-25 09:32] handlerww commented on #2935
It works normally. The info about failureMembers is gathered from tc.Status.PD.Members. It's in-cluster operations.

[2020-11-26 01:05] DanielZhangQD commented on #2935
We need to make sure that the failover works expected for PD, TiDB, TiKV, TiFlash.

[2020-11-26 06:24] DanielZhangQD opened #3524 "tidb-controller-manager panics during backup with BR"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

Backup with BR with TiDB Operator v1.1.7 + TiDB Cluster v4.0.8.
TLS enabled for the components and between the TiDB server

[2020-11-26 07:09] DanielZhangQD opened #3526 "Remove br binary in the tidb-backup-manager image"
## Feature Request

**Is your feature request related to a problem? Please describe:**

After https://github.com/pingcap/tidb-operator/pull/3471, br binary is provided by a init container, so there is no need to install the binary in the tidb-backup-manager anymore in https://github.com/pingcap/tidb-operator/blob/master/images/tidb-backup-manager/Dockerfile.
**Describe the feature you'd like:**

*

[2020-11-26 07:15] DanielZhangQD commented on #3515
@deadjoker It may be caused by broken data, you can try to delete the tc and reinstall it, please make sure that the PVs do not have discarded data.

[2020-11-26 07:33] DanielZhangQD commented on #3520
@georgeteo The DNS queries are not done by the tidb-controller-manager, it's done by the component Pods, e.g. TiDB or TiKV Pods.
You check the following file in your Pod:
[code]
That's why the above queries are done.
But yes, this should be improved because the addresses of the Pods should be enough with `$podName.$peerServiceName` or `$podName.$peerServiceName.$ns`.
We already trace this issue in

[2020-11-26 08:57] deadjoker commented on #3515
@DanielZhangQD the PVs were created when the pod started so that they were clean directories.
After the failed of pod, I checked the dirs on ceph and found that the 'pd/member/snap/db' was created but the log said the file was broken because of the error "value too large for defined data type".

[2020-11-26 08:58] deadjoker commented on #3515
Besides, I tried reinstall it but had no luck as well.

[2020-11-26 09:43] deadjoker commented on #3515
@DanielZhangQD What disappointed me is that I set the replica to 3 and 2 of the pods running well. Only the 3rd pod cannot start successfully.

[2020-11-26 12:38] Yisaer opened #3531 "TidbMonitor will scrape the metrics from unwanted TidbCluster"
## Bug Report

**What did you do?**

deploy 3tidbcluster like following:

[code]

Deploy `TidbMonitor` to monitor the `ns1/ns1` and `ns2/ns2` TidbCluster like following:
[code]

**What did you expect to see?**
TidbMonitor only scrape 2 Tidbcluster's metrics

**What did you see instead?**
TidbMonitor will try to scrape 3 TidbCluster's metrics.

![image](https://user-images.githubusercontent.com/134

[2020-11-26 12:38] Yisaer commented on #3531
@DanielZhangQD @mikechengwei  PTAL

[2020-11-27 01:18] DanielZhangQD commented on #3515
@deadjoker OK, understand that.
cc @dragonly Please help follow up this issue with PD team, thanks!

[2020-11-27 02:44] deadjoker commented on #3515
@DanielZhangQD @dragonly
our test environment is tidb-operator 1.1.7,
k8s 1.18.9,
docker 19.03.5
ceph 15.2.5
ceph-csi 3.1.0

[2020-11-27 03:06] dragonly commented on #3515
@deadjoker
hi, could you please do the following things, make sure that the issue is reproduceable:

1. delete the `TidbCluster` and all related PVCs, for example `kubectl delete tc --all -n ${tidb-cluster-ns} && kubectl delete pvc --all -n ${tidb-cluster-ns}`
2. wait for all pods to terminate, and make sure that **all PVCs are deleted**
3. create a new `TidbCluster` using the original yaml
4. see

[2020-11-27 03:19] deadjoker commented on #3515
@dragonly
I tried create new cluster using the original yaml, it succeeded.
And then I created the cluster with localstorage storageclass successfully as well.

[2020-11-27 03:32] dragonly commented on #3515
@deadjoker :+1:
Feel free to report issue here if any goes wrong again.

PTAL at the potential PD issue here @Yisaer , as reported in the log
```[2020/11/24 06:58:36.918 +00:00] [PANIC] [backend.go:157] ["failed to open database"] [path=/var/lib/pd/member/snap/db] [error="value too large for defined data type"]```

[2020-11-27 03:32] #3515 closed

[2020-11-28 10:24] mikechengwei commented on #3531
clusters:
    - name: ns1
      namespace: ns1
    - name: ns2
      namespace: ns2
    - name: ns2
      namespace: ns1
Isn't this possible?

[2020-11-30 06:54] mikechengwei commented on #3531
@Yisaer

[2020-11-30 07:20] #3526 closed

[2020-11-30 11:02] #3293 closed

[2020-11-30 12:44] Yisaer commented on #3531
I mean there only defined 2 tidbcluster in TidbMonitor spec while the Prometheus actually scrape 3 TidbCluster metrics which is incorrect. @mikechengwei

[2020-11-30 13:10] mikechengwei commented on #3531
ok.

[2020-11-30 13:45] #3524 closed

[2020-12-01 01:17] DanielZhangQD commented on #3243
@tirsen Here is the draft solution, please help review and give your comments:

Helm chart implementation:

- Add a new separate chart named `tidb-controller-manager`, which is used to install the tidb-controller-manager separately for canary upgrade. The resource names installed by this chart are suffixed with a specified suffix.
- For this separately installed tidb-controller-manager, the startu

[2020-12-01 09:06] tirsen commented on #3243
Why did you rule out the label selector? It seems like there is plenty of prior art for this in the k8s ecosystem? Is there a need to invent a new concept?

This sounds like sort of a label selector except the label is hard coded to be called `tidb.pingcap.com/canary`? Is that necessary.

I think what we would like to move to long term is a single operator per cluster and namespace to minimize bla

[2020-12-01 10:07] tirsen commented on #3243
Using a label selector we can also support a flow where we transition from a global operator to an operator-per-cluster.

[2020-12-02 02:51] DanielZhangQD commented on #3243
@tirsen I understand your concern.
We decided to hard code the key mainly for the case `If canary-value=="", it can only take over tc and sts without label tidb.pingcap.com/canary` because that's the case that all the users do now and it can coexist with the other tidb-controller-managers that have the `canary-value` specified.

And of course, it's not so straightforward and not consistent with th

[2020-12-02 18:16] mikechengwei opened #3546 "Tombstone store node can‘t update when controller rolling update cluster."
## Bug Report

What version of Kubernetes are you using?
1.14.8

**What version of TiDB Operator are you using?**
1.0.6

**What did you do?**

1. Offline one tikv node and turn into tombstone store.
2. Change nodeAffinity configuration and rolling update  tidb cluster .
3. Tikv sts set rolling partition to 1 and long pending,tikv-0 node can’t update.

**What did you expect to see?**
Tombstone stor

[2020-12-03 01:51] mikechengwei commented on #3466
[code]
![image](https://user-images.githubusercontent.com/13257127/100953227-19690900-354d-11eb-8989-8c31e2c7ece1.png)
![image](https://user-images.githubusercontent.com/13257127/100953226-1706af00-354d-11eb-95a8-1f523a0e53bf.png)

[2020-12-03 10:40] rachitmanit opened #3552 "tkctl support for containerd based K8s setup"
## Feature Request

**tkctl [tool](https://docs.pingcap.com/tidb-in-kubernetes/stable/use-tkctl) does not work in K8s+containerd setup.**

`tkctl debug basic-pd-0 --image=pingcap/tidb-debug:latest --launcher-image=pingcap/debug-launcher:latest --docker-socketl=/var/run/containerd/containerd.sock`

**Error:**
`F1203 14:51:23.617165   74503 helpers.go:114] error: pod ran to completion`

This functio

[2020-12-03 11:06] tirsen commented on #3243
Yes I think that suits us better. Why do you feel that we do not need to canary/isolate the scheduler and sts? I think I'd be more comfortable if we can isolate those as well but is it too cautious?

[2020-12-03 11:53] DanielZhangQD commented on #3243
@tirsen With the following update mentioned in the above solution, you can install another scheduler with a different scheduler name if necessary.
`Add create to the controllerManager and scheduler sections of the values.yaml of tidb-operator chart so that users can install each component separately.`

For the asts controller, it's similar to the sts controller in the kube-controller-manager, it's

[2020-12-03 12:36] mikechengwei opened #3553 "Support thanos container in tidbmonitor"
## Feature Request

**Is your feature request related to a problem?**
#3292
Multiple tidb cluster monitor data  aggregation question.

**Describe the feature you'd like:**
[code]
[code]

**Describe alternatives you've considered:**

1.  Support thanos sidecar container.
2. Support data sync to s3.

[2020-12-04 03:05] #3531 closed

[2020-12-04 04:31] tennix opened #3557 "Support GCP service account when running backup/restore on GCP"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When running backup/restore on GCP, we have to create a secret containing the credentials, otherwise the Backup would fail to create.

**Describe the feature you'd like:**

With BR support GCP application default credentials (ADC) https://github.com/pingcap/br/issues/633, tidb-operator should support empty secr

[2020-12-04 07:39] zgcbj opened #3558 "edit tidb-cluster pd/config: max-merge-region-size can`t work"
## Bug Report

**What version of Kubernetes are you using?**
v1.16.4

**What version of TiDB Operator are you using?**
v1.1.6

**What did you do?**
1. kubectl edit tc tidb-test -n tidb-test
edit pd config:
[code]
2. pd pod restart

**What did you expect to see?**
pd-ctl config show  will show max-merge-region-size=21
**What did you see instead?**
pd-ctl config show get default value 20
cat /etc/pd

[2020-12-04 08:23] DanielZhangQD opened #3560 "e2e test improvement"
## Feature Request

**Is your feature request related to a problem? Please describe:**

e2e test is not good enough.

**Describe the feature you'd like:**

Currently, the e2e test has the following issues which need to be improved:

- It's not clear how to add a new e2e test case.
- The e2e test cases are not stable and fail frequently during the CI.
- Different types of PR should trigger differen

[2020-12-04 08:27] DanielZhangQD commented on #2648
The case has been removed and new cases added due to the refactor of the auto-scaling.

[2020-12-04 08:27] #2648 closed

[2020-12-04 08:28] DanielZhangQD commented on #3560
Related issues:

- #3466
- #3381
- #3168
- #2601

[2020-12-04 08:47] #2968 closed

[2020-12-04 08:50] 3pointer opened #3561 "import: add -v=4 in rclone command."
## Feature Request

**Is your feature request related to a problem? Please describe:**

When import lot of data. it first use `rclone` to copy data from remote storage. `rclone` would pre alloc some disk space, and if data didn't reach this size. it will looks like `rclone` is stuck.

**Describe the feature you'd like:**

append v=4 in rclone command. which will print status once in a minute. so t

[2020-12-04 10:16] DanielZhangQD commented on #3546
@mikechengwei I think it's OK to upgrade the Pod if no store found for it, would you like to submit PR for this issue?

[2020-12-04 12:01] DanielZhangQD commented on #3552
@rachitmanit The tkctl tool has not been maintained for a long time, maybe you can try the function of kubectl [here](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-running-pod/#ephemeral-container-example).

[2020-12-04 12:10] DanielZhangQD commented on #3553
@mikechengwei

1. Is PVC supported to store the data?
2. For S3, we also have to support the IAM way mentioned [here](https://docs.pingcap.com/zh/tidb-in-kubernetes/dev/backup-to-aws-s3-using-br#ad-hoc-%E5%A4%87%E4%BB%BD%E7%8E%AF%E5%A2%83%E5%87%86%E5%A4%87) as it's more secure.
3. The secret has to be created manually?
BTW, for the S3 fields, is it possible to reuse the one for the backup [here](h

[2020-12-04 12:14] DanielZhangQD commented on #3558
@rleungx Could you please help check this issue?

[2020-12-05 08:53] Smana opened #3562 "TiCDC missing metrics in prometheus"
## Missing Prometheus metrics

We're currently trying to find the best way to monitor the replication using TiCDC and we noticed that the generated Prometheus config is probably missing something

**What version of Kubernetes are you using?**
v1.15.9

**What version of TiDB Operator are you using?**
v1.1.6 (tidb version v4.0.8)

**What storage classes exist in the Kubernetes cluster and what are u

[2020-12-05 14:49] mikechengwei commented on #3546
ok

[2020-12-05 14:50] mikechengwei commented on #3546
/assign

[2020-12-05 17:24] ss22219 opened #3563 "tiflash examples error"
## Bug Report

**What version of Kubernetes are you using?**
v1.19.4

**What version of TiDB Operator are you using?**
v1.1.7

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**
```kubectl get sc```
NAME                 PROVISIONER                RECLAIMPOLICY   VOLUMEBINDINGMODE   ALLOWVOLUMEEXPANSION   AGE
standard (default)   k8s.io/minikube-hostpath

[2020-12-05 18:06] LinuxGit opened #3565 "TidbInitializer: status field has not been updated"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of TiDB Operator are you using?**

master

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

[code]

**What did you do?**

Create a TidbInitializer CR

**What did you expect to see?**
TidbInitializer CR's status field shou

[2020-12-07 01:22] DanielZhangQD commented on #3563
@ss22219 Yes, please follow the instruction [here](https://docs.pingcap.com/tidb-in-kubernetes/dev/release-1.1.6#compatibility-changes) to update the yaml, we will update the example in the repo, thanks!

@dragonly Could you please help update the examples according to the instruction  [here](https://docs.pingcap.com/tidb-in-kubernetes/dev/release-1.1.6#compatibility-changes)?

[2020-12-07 02:01] DanielZhangQD opened #3566 "e2e test for canary upgrade of TiDB Operator"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

https://github.com/pingcap/tidb-operator/pull/3554 and https://github.com/pingcap/tidb-operator/pull/3548/files implement the canary upgrade feature of TiDB Operator, we need to add e2e tests for this feature.
**Describe alternatives you've considered:**

**Teachability, Do

[2020-12-07 02:21] LinuxGit opened #3568 "Restrict special characters for cluster password"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of TiDB Operator are you using?**

master

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

When creating clusters, users can input special characters such as Chinese/Japanese characters. However the

[2020-12-07 03:05] dragonly commented on #3562
@Smana  Thanks for your issue report! I'll take a look at this.

[2020-12-07 03:10] AstroProfundis commented on #3562
It seems the TLS config of TiCDC, importer and lightning is not honored. (Following configs are provided by OP in Slack discuss)

The OP's cluster has TLS enabled, and for TiDB, TiKV, and PD, the prometheus config is like:
[code]

But for `ticdc`, `importer`, and `lightning` it is:
[code]

[2020-12-07 03:16] rleungx commented on #3558
Once the pd is started, we can only use `pd-ctl`/HTTP API to modify this parameter.

[2020-12-07 05:17] ss22219 commented on #3563
also has problem in official site document:
[https://docs.pingcap.com/tidb-in-kubernetes/stable/deploy-tiflash](https://docs.pingcap.com/tidb-in-kubernetes/stable/deploy-tiflash)

[2020-12-07 05:38] dragonly commented on #3563
I have created 2 PRs to addresses this issue in both tidb-operator & docs-tidb-operator repos.
PTAL @DanielZhangQD

[2020-12-07 07:08] #3563 closed

[2020-12-07 08:00] DanielZhangQD commented on #3562
@AstroProfundis

1. For the TLS issue, it should have been fixed by https://github.com/pingcap/tidb-operator/pull/3543/files, could you please help verify it?
2. From the issue, it seems that some metrics are missed while the others can be retrieved, could you please help confirm this?

[2020-12-07 08:08] #3565 closed

[2020-12-07 08:14] Kumson opened #3575 "tkctl list"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

[2020-12-07 08:17] dragonly opened #3576 "TiDB plugins should be fully supported"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The current implementation of TiDB plugins mechanism is not complete, because there's no configurations about where to load the .so plugin binaries.

**Describe the feature you'd like:**

Fully functional TiDB plugins support.

**Describe alternatives you've considered:**

None

**Teachability, Documentation, A

[2020-12-07 08:27] Kumson opened #3577 ""tkctl list" not working"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d360454c9bcd1634cf4cc52d1867af5491dc9c5f", GitTreeState:"clean", BuildDate:"2020-11-11T13:17:17Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d360454c9

[2020-12-07 08:27] #3575 closed

[2020-12-07 09:03] zgcbj commented on #3558
After edit k8s tidbcluster`s config , pd will restart

[2020-12-07 09:37] rleungx commented on #3558
Yes, but the restart won't clean the data of etcd actually and PD saves these kinds of config in etcd. So the original config file will be not useful.

[2020-12-07 10:37] dragonly commented on #3562
@DanielZhangQD @AstroProfundis I can help with the verification. Maybe we can do the following experiment with tidb-operator v1.1.6/master respectively:

1. deploy tidbcluster with TLS cluster enabled
2. deploy tidbmonitor
3. check the generated prometheus config

expected diff is that tls_config field should be properly filled in master branch tidb-operator case

[2020-12-08 02:42] zgcbj commented on #3558
@DanielZhangQD  will tidb operator do something about this?

[2020-12-08 03:47] dragonly commented on #2904
@sstubbs Is the issue solved?

[2020-12-08 04:08] dragonly opened #3581 "User friendly TLS management mechanism"
## Feature Request

A more user friendly TLS management mechanism.

**Is your feature request related to a problem? Please describe:**

Now TiDB Operator supports enabling [TLS between cluster components](https://docs.pingcap.com/tidb-in-kubernetes/stable/enable-tls-between-components) and [TLS for MySQL clients](https://docs.pingcap.com/tidb-in-kubernetes/stable/enable-tls-for-mysql-client), whic

[2020-12-08 05:41] DanielZhangQD commented on #3581
@AstroProfundis @tennix Could you please share some information on why we changed from the operator managed TLS solution to the current solution last year?

[2020-12-08 07:33] DanielZhangQD commented on #3566
We also have to make sure that the current CRs are covered during the test.
https://github.com/pingcap/tidb-operator/pull/3554#issuecomment-740425892

[2020-12-08 08:48] DanielZhangQD opened #3583 "TidbCluster CR validation is wrong if `storageVolumes` is configured"
## Bug Report

Please check detail in https://asktug.com/t/topic/64149.

[2020-12-08 08:51] DanielZhangQD commented on #3583
The validation in this function https://github.com/pingcap/tidb-operator/blob/master/pkg/apis/pingcap/v1alpha1/validation/validation.go#L294 appends errors directly for `name` and `mountPath`.

[2020-12-08 08:51] DanielZhangQD commented on #3583
/assign mikechengwei

[2020-12-08 08:54] DanielZhangQD commented on #3583
And the validation should also be done for the other components instead of TiKV only.
@mikechengwei Please help fix this issue, thanks!

[2020-12-08 08:59] DanielZhangQD opened #3584 "e2e case `TiDBMonitor switch from deployment to StatefulSet` is not stable"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The e2e case `Deploy TiDBMonitor and Upgrade Operator, TiDBMonitor switch from deployment to StatefulSet` is not stable:

- https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind-serial/detail/tidb-operator-pull-e2e-kind-serial/2871/pipeline
- https://internal.pingcap.ne

[2020-12-08 08:59] DanielZhangQD commented on #3584
@mikechengwei Please help check this issue, thanks!

[2020-12-08 09:03] DanielZhangQD opened #3585 "TidbMonitor controller should watch for the event of StatefulSet"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Since we have migrated the deployment resource of TidbMonitor from deployment to StatefulSet in https://github.com/pingcap/tidb-operator/pull/3440, the TidbMonitor controller should watch for the event of StatefulSet here https://github.com/pingcap/tidb-operator/blob/master/pkg/controller/tidbmonitor/tidb_monit

[2020-12-08 09:03] DanielZhangQD commented on #3585
cc @mikechengwei

[2020-12-08 09:09] #3568 closed

[2020-12-08 09:11] DanielZhangQD commented on #3577
@Kumson Sorry that we have not maintained the `tkctl` tool for a long time, actually from v1.1.x, we recommend to use kubectl directly, you can use `kubectl get tc -A` to list all the clusters.

[2020-12-08 09:17] mikechengwei commented on #3584
/assgin

[2020-12-08 09:17] mikechengwei commented on #3584
/assign

[2020-12-08 09:21] DanielZhangQD commented on #3581
Some reasons that changed from the operator managed TLS solution to the current solution:

- Some users want to use their own certificates, and they can use self-managed or commercial CA
- There is a problem with the certificate signed by eks https://github.com/pingcap/tidb-operator/issues/1685
- If the certificates signed by a k8s cluster share the same CA, any certificate signed in that k8s can

[2020-12-08 09:23] grandsail commented on #3577
thanks for replying, I will use `kubectl`.

[2020-12-08 09:24] Kumson commented on #3577
Thanks for replying, I will use `kubectl`.

[2020-12-08 10:46] mikechengwei commented on #3585
/assgin

[2020-12-08 11:06] mikechengwei commented on #3584
Currently other e2e case also stable , i can't reproduce well.

[2020-12-08 13:08] DanielZhangQD opened #3588 "Support customizing the config for TiDB slow log"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, the slow log file name of TiDB is hardcoded in the TiDB Operator:
https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/tidb_member_manager.go#L652
And an EmptyDir is configured to store the slow log file:
https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/tidb_

[2020-12-08 13:25] #3583 closed

[2020-12-08 16:44] mikechengwei commented on #3584
I think this is not a problem in this e2e case, it is caused by the contributor's code.

[2020-12-08 17:44] mikechengwei opened #3590 "--advertise-status-addr tikv config is not available in tidb 3.1.1"
## Bug Report
**What version of TiDB Operator are you using?**
master branch.

**What's the status of the TiDB cluster pods?**
[code]

**What did you do?**
Deploy cluster with version 3.1.1.

**What did you expect to see?**
TiDB Cluster running.
**What did you see instead?**
Tikv node crash

Error log:
[code]

[2020-12-08 17:45] mikechengwei commented on #3560
https://github.com/pingcap/tidb-operator/issues/3590 solve #3466

[2020-12-09 01:28] #3590 closed

[2020-12-09 01:28] mikechengwei commented on #3590
It‘s not a problem.

[2020-12-09 01:30] #3577 closed

[2020-12-09 02:26] tennix commented on #3581
@dragonly Have you tried using cert-manager? It nearly becomes the defacto certificate management tool in k8s world. It can rotate certificates automatically before expiration.

How should tidb-operator manage the certificates? Using cert-manager or the k8s builtin CA to sign certificate?

[2020-12-09 05:41] dragonly commented on #3279
# Current Progress

- [x] `TidbCluster`
- [ ] `TidbMonitor`
- [ ] `TidbInitializer`
- [ ] `Backup`
- [ ] `Restore`
- [ ] `BackupSchedule`

[2020-12-09 07:25] zgcbj opened #3592 "does distinct-agg-push-down is same as agg-push-down-join"
https://github.com/pingcap/tidb-operator/blob/4f0d096e4177a3458b231cf62bd8b08afa09c7dd/pkg/apis/pingcap/v1alpha1/tidb_config.go#L286

I want modify distinct-agg-push-down by edit tidb-cluster cr, but can`t find any doc about it. I found this in code and confuesd, can any one show me why ?

[2020-12-09 08:44] DanielZhangQD commented on #3279
@dragonly Please also add dmclusters and tidbclusterautoscalers.

[2020-12-10 01:22] DanielZhangQD commented on #3592
It's the same definition in TiDB [here](https://github.com/pingcap/tidb/blob/master/config/config.go#L439).

[2020-12-10 02:07] dragonly commented on #3560
Could you confirm this? Because I found #3590 is closed for no clear reason.

[2020-12-10 03:44] mikechengwei commented on #3560
Sorry , at first I thought it was, but later found out that it was not a problem,so i close #3590 @dragonly

[2020-12-10 06:20] #3584 closed

[2020-12-10 06:20] #3585 closed

[2020-12-10 06:22] DanielZhangQD commented on #3562
@AstroProfundis `From the issue, it seems that some metrics are missed while the others can be retrieved, could you please help confirm this?` is this a real issue or not?
@dragonly Have you verified the case with TLS enabled?

[2020-12-10 07:30] dragonly commented on #3581
Yes, and I am not saying that we should do this in TiDB Operator, but call/use cert-manager to do the hard work.

One possible solution is to utilize cert-manager.

Currently this is not a user request, so I just want to post an issue and gather some thoughts about the TLS management feature.
For the development, we can add some handy hack scripts for now

[2020-12-10 09:08] dragonly opened #3593 "tidb-controller-manager creates http client when tls client cert secret is not found"
## Bug Report

**What version of Kubernetes are you using?**

1.18.4

**What version of TiDB Operator are you using?**

master branch (commit #9305cf8d)

**What's the status of the TiDB cluster pods?**

[code]

**What did you do?**

Ref: https://docs.pingcap.com/tidb-in-kubernetes/stable/enable-tls-between-components

1. generate PD/TiDB/TiKV/client certs according to doc above
2. deploy a `TidbCl

[2020-12-10 09:27] dragonly commented on #3593
There may be a potential derived issue: when the user re-generate all certs, the `tidb-controller-manager` must be restarted to read the new certs.

[2020-12-10 10:40] dragonly commented on #3562
I tested with master branch and found the prometheus config for ticdc is correct:
[code]

I will later test with v1.1.6

[2020-12-10 11:42] mahjonp opened #3595 "FailedValidation' [spec.tikv.storageVolumes[0].name: Required value: name must not be empty, spec.tikv.storageVolumes[0].mountPath: Required value: mountPath must not be empty"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.5", GitCommit:"20c265fef0741dd71a66480e35bd69f18351daea", GitTreeState:"clean", BuildDate:"2019-10-15T19:16:51Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f57430

[2020-12-10 11:46] july2993 commented on #3595
just notice already fixed by #3586

[2020-12-10 11:47] july2993 commented on #3595
fix by #3586
need wait for next version v1.1.8

[2020-12-10 11:47] #3595 closed

[2020-12-10 13:30] Smana commented on #3562
Thanks for the update, we'll test the v1.1.8 as soon as it is available

[2020-12-10 14:24] DanielZhangQD commented on #3562
@dragonly Is the metric `ticdc_processor_checkpoint_ts_lag` available?

[2020-12-10 15:35] dragonly commented on #3562
No. There're only 3 metrics starting with `ticdc_`
- `ticdc_etcd_request_count`
- `ticdc_kvclient_event_feed_count`
- `ticdc_kvclient_event_feed_error_count`

[2020-12-11 01:21] DanielZhangQD commented on #3562
@dragonly OK, thanks! Could you please help follow up this with the CDC team?

[2020-12-11 01:26] DanielZhangQD commented on #3593
Since no secret found, no matter it return a HTTP client or just return error here, the creating of other components will be blocked, what do you expect to handle here?

Please check the code carefully, a new TLS client is created each time after getting the secret from Kubernetes, so no need to restart tidb-controller-manager after certs rotated.

[2020-12-11 05:41] dragonly commented on #3593
I expect an error is directly returned, but not an unusable client instance, which can make debugging easier.

Yes, I misunderstood this. I is actually OK. 😂

[2020-12-11 08:34] LinuxGit opened #3596 "TiDBServiceSpec support additional ServicePort"
## Feature Request
TiDB Spec support AdditionalContainers, but [TiDBServiceSpec ](https://godoc.org/github.com/pingcap/tidb-operator/pkg/apis/pingcap/v1alpha1#TiDBServiceSpec) doesn't support additional [ServicePort](https://godoc.org/k8s.io/api/core/v1#ServicePort).

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

For example, I add a heal

[2020-12-11 09:24] rachitmanit commented on #3552
@DanielZhangQD thanks for suggesting an alternative. I found error using this.

**Setup:**
I had setup K8s using Kind. (I have enabled featureGates EphemeralContainers: true, following: https://kind.sigs.k8s.io/docs/user/quick-start/#enable-feature-gates-in-your-cluster)

I found that **kubectl debug** is currently using capabilities of: https://github.com/aylei/kubectl-debug
As by default **debug

[2020-12-11 11:00] rachitmanit commented on #3552
Additional logs from the pod:

**kubectl -n default logs -f debug-agent-pod-92ea2e04-3b9f-11eb-987b-02010a224f62**

[code]

[2020-12-11 14:24] dragonly commented on #3562
I have created a `changefeed` using ticdc cli and create a table with primary key, then there are other metrics collected in prometheus. The metrics below are collapsed, because it's too long.

FYI @DanielZhangQD @AstroProfundis @Smana

<details><summary>prometheus metrics</summary>

[code]

</details>

[2020-12-11 17:19] #3596 closed

[2020-12-13 08:35] rachitmanit commented on #3552
Got it. This is an alpha feature in current version.
Command that worked

`kubectl alpha debug -it basic-pd-0 --image=localhost:5000/pingcap/tidb-debug -n tidb-cluster`

[2020-12-13 13:39] DanielZhangQD commented on #3562
@dragonly OK, thanks!

[2020-12-14 03:12] DanielZhangQD commented on #3593
This makes sense, we can optimize the logic here.

[2020-12-14 03:13] DanielZhangQD commented on #3592
@zgcbj I will close this issue now, please feel free to reopen it if any more questions about this.

[2020-12-14 03:13] #3592 closed

[2020-12-14 08:27] csuzhangxc commented on #3162
for the local backend, we also need another PV to store the immediate SST files.

[2020-12-14 11:44] nolouch commented on #3416
lgtm

[2020-12-14 11:44] #3416 closed

[2020-12-14 13:35] swartz-k opened #3604 "update chart version"
## Bug Report

**What version of Kubernetes are you using?**
none

**What version of TiDB Operator are you using?**
v1.1.7

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**
helm version with `version.BuildInfo{Version:"v3.4.1", GitCommit:"c4e74854886b2efe3321e185578e6db9be0a6e29", Git

[2020-12-15 01:39] DanielZhangQD commented on #3604
@swartz-k Thanks for reporting this issue!
I think no need for the following changes:

- Update chart version from `version: dev` to `v1-dev`, the chart version will be replaced with the real version when released.
- Add icon link

It's OK to update the API version from `rbac.authorization.k8s.io/v1beta1` to `rbac.authorization.k8s.io/v1`.
For the names, I would like to keep them unchanged to keep

[2020-12-15 03:42] #3561 closed

[2020-12-15 05:37] swartz-k commented on #3604
I am agree with what you said `version` and `icon link` not need；but i have one question，why change RBAC name will break backward compatibility，it has been used in code？

[2020-12-15 06:17] rleungx opened #3606 "Some metrics of TiDB are missing"
## Bug Report

**What did you do?**
Start a brand new cluster.

**What did you expect to see?**
CPU monitor in TiDB dashboard is work normally.

**What did you see instead?**
<img width="936" alt="Screen Shot 2020-12-15 at 2 11 04 PM" src="https://user-images.githubusercontent.com/35896542/102178057-b168da00-3edf-11eb-9393-59e7d70a5380.png">

This is because the job field is changed when writing i

[2020-12-15 07:33] DanielZhangQD commented on #3604
Actually no, just want to be cautious about the name changes.
It's OK to change them with the update fully tested.
Would you like to submit PR and also please help update the manual test procedures and results in detail?
We have to cover the fresh installation and upgrade cases.
Thanks!

[2020-12-15 08:40] swartz-k commented on #3604
It`s my pleasure，i will read the total logic and submit PR to fix this issue.
Have a good day!

[2020-12-15 08:51] DanielZhangQD commented on #3606
@mikechengwei This seems to be caused by https://github.com/pingcap/tidb-operator/pull/3543/files, please help check it.

[2020-12-15 09:06] DanielZhangQD commented on #3606
The job name has changed from:
![image](https://user-images.githubusercontent.com/36026334/102193961-ad48b680-3ef7-11eb-86f6-59e96a83a98b.png)
to
![image](https://user-images.githubusercontent.com/36026334/102193941-a7eb6c00-3ef7-11eb-826a-03841f79338b.png)

But the job name is fixed in the grafana dashboards:
[code]

[2020-12-15 09:48] mikechengwei commented on #3606
I think use job name bind to grafana json is not a graceful style. We need to sure monitoring data includes component label, cluster label and namespace label and replace the grafana json file with these labels.

[2020-12-15 09:54] mikechengwei opened #3607 "TidbMonitor lost labels"
## Bug Report

**What did you do?**
TidbMonitor lost labels includes namespaceLabel ,componentLabel etc...

**What did you expect to see?**
Metric add namespaceLabel ,componentLabel .
**What did you see instead?**
Lost Labels.

[2020-12-15 13:31] #1631 closed

[2020-12-16 09:01] shonge opened #3610 ""helm delete tidb-operator --purge" doesn't delete tidb-controller-manager Deployment"
## Bug Report

**What version of Kubernetes are you using?**

v1.18.2

**What version of helm are you using?**
v2.9.1

**What version of TiDB Operator are you using?**

v1.1.7

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

[code]

**What's the status of the TiDB cluster pods?**

**What did you do?**

[code]

**What did you expect to see?**
`tidb-cont

[2020-12-16 09:32] cvvz opened #3612 "Sync TiKV Statefulset no matter whether the TiKV cluster is bootstrapped"
## Bug Report

**What did you do?**

1. Create a tidb cluster with wrong value of `TC.spec.tikv.affinity.nodeAffinity` field, which caused the TiKV cluster not able to be scheduled. And all TiKV Pods are in status of `Pending`.
2. Correcte the value, but all TiKV Pods are still `Pending`, and the Statefulsets of TiKV are not updated.

**What did you expect to see?**
Tidb-operator sync loop should

[2020-12-16 09:58] dragonly commented on #3612
Thanks for the bug report ❤️
Could you please detail the bug description according to the template, so that we can better investigate into this?

[2020-12-16 11:40] cvvz commented on #3612
@dragonly PTAL. Sorry that I can't find the logs. But I've figured out the root cause of this bug. PD client return error when tidb operator tried to get stores info but there is no store created, and the reconcile loop of TiKV will return from `syncTidbClusterStatus`, thus sts of TiKV will not be synced.

[2020-12-17 04:16] csuzhangxc opened #3615 "running TiDB-Lightning via the helm chart doesn't log to stdout"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

v1.1.7

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**

the log of TiDB-Lighting can be seen in stdout.

**What did you see instead?**

[c

[2020-12-17 04:21] dragonly opened #3616 "Release v1.1.8"
This is an issue tracking the tidb-operator v1.1.8 release.

Previous:
- #2567
- #2775
- #2839
- #3010
- #3140
- #3263
- #3380
- #3495

Pending PRs:

TODO:
- [x] Update release notes (https://github.com/pingcap/docs-tidb-operator/pull/930)
- [x] Update default version of TiDB Operator (#3613)
- [x] Update TiDB version and tools version if necessary (#3613)
- [x] Update TiDB version in the docs-tid

[2020-12-17 06:40] csuzhangxc opened #3618 "TiKV-Importer supports to be pulled metrics directly without Pushgateway"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiKV-Importer has `status-server-address` config item for metrics pull, then the TiKV-Importer Helm chart can remove Pushgateway to make it simpler.

**Describe the feature you'd like:**

TiKV-Importer supports to be pulled metrics directly without Pushgateway

**Describe alternatives you've considered:**

**Te

[2020-12-17 06:41] DanielZhangQD opened #3619 "Support setting tool image for backup with dumpling and restore with lightning"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

https://github.com/pingcap/tidb-operator/pull/3471 has supported setting BR image during backup and restore with BR.
We can leverage the `toolImage` field added to support setting dumping image during backup and lightning image during restore.
The default image tag can be t

[2020-12-17 06:49] csuzhangxc opened #3620 "TiDB-Lighting supports to persist checkpoint during restart"
## Feature Request

**Is your feature request related to a problem? Please describe:**

now, TiDB-Lighting in the Helm chart save checkpoint in `/tmp/xxx`, if we restart the job, the checkpoint will be lost.

**Describe the feature you'd like:**

persist checkpoint under `dataSource.local.hostPath`/`dataSource.adhoc.pvcName`/PVC with `dataSource.remote.storageClassName`

**Describe alternatives yo

[2020-12-17 11:42] glorv commented on #3615
By default, lightning and br will write log to an auto-generated file at /tmp folder. Lightning provide a special flag `--log-file "-"` to write log into stdout. As #3617 added.

[2020-12-17 12:39] mikechengwei commented on #3607
We must remove the `__` prefix from the required label ,otherwise it will be removed. @DanielZhangQD
![image](https://user-images.githubusercontent.com/13257127/102488759-85985080-40a7-11eb-9eab-1d98a7ddbf88.png)

[2020-12-17 15:32] #3607 closed

[2020-12-18 01:16] DanielZhangQD commented on #3292
Support monitoring heterogeneous clusters, which is also used by the auto-scaling feature.

[2020-12-18 03:34] #3615 closed

[2020-12-18 10:10] Yisaer opened #3627 "Failed to use storageVolume to mount log for `TiKV`"
## Bug Report

Failed to use storageVolume to mount log for `TiKV` while PD and TIDB can.

**What version of TiDB Operator are you using?**

master version

**What did you do?**

Deploy following tc:

[code]

**What did you expect to see?**

**What did you see instead?**

operator log:
[code]

[2020-12-18 10:13] lucklove commented on #3627
Dup with https://github.com/pingcap/tidb-operator/issues/3583

[2020-12-18 10:24] #3627 closed

[2020-12-18 10:29] csuzhangxc opened #3628 "Prometheus can't scrape TiDB-Lightning's metrics with the default values.yaml"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

v1.1.7

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

query TiDB-Lighting's metrics in Prometheus with TiDB-Lighting installed with the default `values.yaml`.

**What di

[2020-12-18 10:30] csuzhangxc commented on #3628
I think we can comment `service.type: NodePort` as default in `values.yaml`, WDYT @DanielZhangQD

[2020-12-21 01:01] #3508 closed

[2020-12-21 06:24] DanielZhangQD opened #3630 "Remove dependency with the firstTC and firstDC in the TidbMonitor controller"
## Feature Request

**Is your feature request related to a problem? Please describe:**

During the sync of TidbMonitor, we retrieve the TidbCluster info and DMCluster info from the first [TidbCluster](https://github.com/pingcap/tidb-operator/blob/master/pkg/monitor/monitor/monitor_manager.go#L86) and [DMCluster](https://github.com/pingcap/tidb-operator/blob/master/pkg/monitor/monitor/monitor_manag

[2020-12-22 02:57] DanielZhangQD opened #3635 "Backup CR status is not updated successfully even if no error returned from the update API"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**
Backup CR status:
k get bk
[code]

Pod status:
[code]

Log o

[2020-12-22 02:58] DanielZhangQD commented on #3635
From the log "I1218 01:09:52.045241 1 backup_status_updater.go:64] Backup: [data/data-tidb-backup-s3-2020-12-18t01-07-00] updated successfully", TiDB Operator calls the API of kube-apiserver to update the status of Backup CR and no error returned from the kube-apiserver, so we have to ask the user to check the log of kube-apiserver and see if any clue there.

[2020-12-22 03:13] DanielZhangQD commented on #3635
Related issue:

- https://asktug.com/t/topic/64817
- https://github.com/pingcap/tidb-operator/issues/2822

[2020-12-22 03:28] DanielZhangQD opened #3636 "TiFlash-Proxy-Details dashboard is missed in Grafana"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiUP:
![image](https://user-images.githubusercontent.com/36026334/102845563-c8ac4800-4448-11eb-81d5-8299863bec9b.png)

TidbMonitor:
![image](https://user-images.githubusercontent.com/36026334/102845578-d1048300-4448-11eb-9e32-8bb4d880da04.png)

**Describe the feature you'd like:**

**Describe alternatives you'v

[2020-12-22 06:45] #3628 closed

[2020-12-22 08:24] 4c74356b41 opened #3637 "Cluster becomes inaccessible randomly"
## Bug Report

**What version of Kubernetes are you using?**
1.17.13, GitCommit:"30d651da517185653e34e7ab99a792be6a3d9495"

**What version of TiDB Operator are you using?**
1.1.4 both operator and cluster charts

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**
data storage class is used for tidb pods, its a custom class:
[code]

**What's the status of t

[2020-12-22 13:30] dragonly commented on #3616
Main release operations for v1.1.8 done.
Issue closed.

[2020-12-22 13:30] #3616 closed

[2020-12-23 01:15] DanielZhangQD commented on #3637
@4c74356b41 Your applications access the TiDB service inside the Kubernetes cluster?
Any error logs in the TiDB/TiKV/PD Pods when this issue occurs?
Can you access the TiDB service manually via Pod IP **and** Pod domain name when this issue occurs?
Have you tried the procedure in https://docs.pingcap.com/tidb-in-kubernetes/dev/network-issues?

[2020-12-23 06:43] lysu opened #3640 "`tidb-extra-access` always be 4.0 even if tc's `.spec.version=nightly`"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of TiDB Operator are you using?**

[code]

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

n/a

**What's the status of the TiDB cluster pods?**

all ready

**What did you do?**

**What did you expect to see?**

`tidb-extra-access` be nightly when tc's `.spec.version=ni

[2020-12-23 08:51] 4c74356b41 commented on #3637
I'll try the debugging procedure once this issue occurs, but I wouldn't expect it to be fruitful, since everything else (dozens different applications in-house and thirdparty) in the cluster is working flawlessly.

[code]
I didn't try this exactly, but mysql workbench via `kubectl port-forward` and other services via a kubernetes service cant connect, so I assume the answer is "no".

[code]

Frank

[2020-12-23 08:52] csuzhangxc commented on #3162
@DanielZhangQD shoud we need to remove `tidb` backend support in Helm charts when adding `local` backend support?

[2020-12-24 01:56] DanielZhangQD commented on #3162
@csuzhangxc Currently, we do not support tidb backend in the tidb-lightning charts, it's just importer backend now, we just need to add the local backend support.

[2020-12-24 05:22] lysu opened #3642 "change configuration in `spec.tidb.config` doesn't work on `tidb-extra-access` pod"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of TiDB Operator are you using?**

[code]

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

n/a

**What's the status of the TiDB cluster pods?**

all ready

**What did you do?**

change tidb configuration:

`feedback-probability` and `run-auto-analyze` to disable analyz

[2020-12-24 05:23] lysu commented on #3642
manually update cm `db-tidb-extra-config-map` but still no effect...need restart pod manually too.

[2020-12-24 06:40] #3618 closed

[2020-12-24 09:37] #3619 closed

[2020-12-24 10:13] zgcbj opened #3647 "can operator change port when create tidbcluster"
## Feature Request
1.change port when create
2.change port in running

if operator can support at least one method to change port is ok.

[2020-12-25 02:18] DanielZhangQD opened #3649 "Trace the issue that TiDB may change the user interface to set TiKV gc lifetime"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

TiDB may update the user interface to set the TiKV gc lifetime in https://github.com/pingcap/tidb/pull/21988, if it's merged, we have to integrate with the new logic and also have to keep the backward compatibility.
**Describe alternatives you've considered:**

**Teachabili

[2020-12-25 03:32] #3610 closed

[2020-12-25 10:15] dragonly opened #3652 "Improve e2e test framework"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently the e2e cases are flaky and hard to debug, which hinders the development process like PR merge.
We should Make E2E Test Great Again (MEGA)!

**Describe the feature you'd like:**

A stable, debuggable, easy to write, understandable e2e test framework with no surprises.

**Describe alternatives you've c

[2020-12-27 06:55] dragonly opened #3656 "Release v1.1.9"
This is an issue tracking the tidb-operator v1.1.8 release.

Previous:
- #2567
- #2775
- #2839
- #3010
- #3140
- #3263
- #3380
- #3495
- #3616

Pending PRs:

TODO:
- [x] Update release notes (https://github.com/pingcap/docs-tidb-operator/pull/954)
- [x] Update default version of TiDB Operator (https://github.com/pingcap/tidb-operator/pull/3657)
- [x] Update TiDB version and tools version if necess

[2020-12-27 13:36] mikechengwei opened #3659 "Sample yaml file can automatically generated by template"
## Feature Request

**Is your feature request related to a problem?
Now we provide a lot of example yaml files, but due to the upgrade of the component version, the verison field or other fields are often updated.
We can provide developers with a mechanism to automatically generate example yaml files. Some of these fields in example yaml file  are configurable.

**Describe the feature you'd like:*

[2020-12-28 02:00] DanielZhangQD commented on #3606
Close via https://github.com/pingcap/tidb-operator/pull/3622 and https://github.com/pingcap/monitoring/pull/84.

[2020-12-28 02:00] #3606 closed

[2020-12-28 02:20] DanielZhangQD commented on #3612
@cvvz That's the designed behavior now, the sync for different components is done in a fixed order, if PD is not ready, the other components will not be synced, we will evaluate this behavior later.
Related issues: https://github.com/pingcap/tidb-operator/issues/1245.

[2020-12-28 02:23] DanielZhangQD commented on #3637
@4c74356b41 Did the issue happen again?

[2020-12-28 02:59] DanielZhangQD commented on #3642
@lysu Could you please share the detailed config that you have done?
From TiDB Operator v1.1.6, we use TOML format config, please check detail in https://docs.pingcap.com/zh/tidb-in-kubernetes/dev/configure-a-tidb-cluster#%E9%85%8D%E7%BD%AE-tidb-%E9%85%8D%E7%BD%AE%E5%8F%82%E6%95%B0.

[2020-12-28 03:01] DanielZhangQD commented on #3647
@zgcbj You want to change the port for which component?
Why do you need to change the port since the container has its own network namespace?

[2020-12-28 03:06] DanielZhangQD commented on #3659
@mikechengwei Good idea!
Would you like to help improve this?

[2020-12-28 03:06] lysu commented on #3640
tidb-extra-access pod doesn't build by tidb-operator...closed

[2020-12-28 03:06] lysu commented on #3642
tidb-extra-access pod doesn't build by tidb-operator...closed

[2020-12-28 03:25] #3640 closed

[2020-12-28 03:25] #3642 closed

[2020-12-28 05:56] DanielZhangQD commented on #3566
/assign @shonge

[2020-12-28 05:58] shonge commented on #3566
/assign

[2020-12-28 07:07] zgcbj commented on #3647
change port for tidb .
A inner platform record all db`s url\port\user\password,  when query， users just need enter url of db。
The fire wall of app machine block all other port but 3306.

[2020-12-28 07:17] DanielZhangQD commented on #3647
Sorry that we do not support customizing the TiDB port yet, is it possible to update the firewall to unblock 4000?

[2020-12-28 08:31] zgcbj commented on #3647
Will operator support this feature?

[2020-12-28 09:54] AkioLove opened #3660 "MaxBackups behavior on BackupSchedule"
## Feature Request

**Is your feature request related to a problem? Please describe:**
https://asktug.com/t/topic/66829

When maxBackups calculating the number of backup copies,
it doesn't consider whether the status of the existing Backup is "Complete", "Failed", or "Running".

Backups with the status "Failed" will also be counted in maxBackups.
If a continuous failure is caused by some reason, i

[2020-12-28 10:07] shonge commented on #3652
need print ` kubectl get po -A ` when e2e test error exit.

[2020-12-28 14:32] DanielZhangQD commented on #3647
It's not on our priority list now, would you like to submit PR for this?

[2020-12-28 16:48] handlerww opened #3661 "Add startup scripts for injecting the retry loop in TiFlash, TiCDC, Pump"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In #3556, we propose a method to check the PD endpoint before launching the TiKV and TiDB to avoid TiDB and TiKV fail to restart when PD is in failover. We need to add this to other components like TiFlash etc...
**Describe the feature you'd like:**

Add PD endpoint retry in other components than TiKV, TiDB.
**

[2020-12-29 02:41] #3620 closed

[2020-12-29 03:13] DanielZhangQD commented on #3558
It's a little complicated for TiDB Operator to do that, especially that this is only a one-time job while Operator runs reconcile loops to sync periodically, I have created an issue https://github.com/pingcap/docs-tidb-operator/issues/959 to update the doc to make it clear.

[2020-12-29 06:02] dragonly commented on #3652
@shonge If you are interested, could you PTAL at [`DumpAllNamespaceInfo`](https://github.com/kubernetes/kubernetes/blob/v1.16.0/test/e2e/framework/util.go#L1760), which is called in every `ginkgo.Describe` such as https://github.com/pingcap/tidb-operator/blob/146b2645a95d7d8e884b3620372aaed7d828d9cc/tests/e2e/tidbcluster/tidbcluster.go#L74

There's a `LogPodStates` in the `DumpAllPodInfoForNamespa

[2020-12-29 06:27] DanielZhangQD commented on #3652
In some cases, the TiDB clusters are deployed by helm, we should change them to use CR.
And some backup & restore cases are also done by helm chart, we should change them to use CR.

[2020-12-29 07:41] #3162 closed

[2020-12-29 10:01] zgcbj commented on #3558
ok,thx!

[2020-12-29 10:01] #3558 closed

[2020-12-30 07:48] DanielZhangQD commented on #3509
Partial work that ever has been done by @july2993 in https://github.com/pingcap/tidb-operator/pull/3491.

[2020-12-30 08:03] DanielZhangQD commented on #2637
Partial work has been done in #2656.

[2020-12-30 13:29] #3635 closed

[2020-12-31 03:19] DanielZhangQD opened #3668 "Check if tps of sysbench will drop to 0 during rolling restart of PD"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

The TiDB cluster deployed by TiUP has the issue that the tps of sysbench will drop to 0 during the rolling restart of PD, please check detail in https://internal.pingcap.net/jira/browse/ONCALL-2357.
We have to check if the cluster deployed by TiDB Operator has the same issu

[2020-12-31 09:10] #3604 closed

[2020-12-31 09:42] #3656 closed

[2020-12-31 15:39] 4c74356b41 commented on #3637
sorry, I'm super part-time on that project and sick r\n, I'll update you when\if I have more information

[2021-01-05 02:25] shuijing198799 opened #3675 "Backup manager failed to handle exit signal when pod be evicted"
## Bug Report

**What version of TiDB Operator are you using?**

[code]

**What's the status of the TiDB cluster pods?**

backup pod is stuck in running status.
**What did you do?**

Generally, The backup manager ignore to handle the signal, when the pod `evicted` by the  host, the backup process failed to exit successful, in result of the backup manager still report `prepare` status to the backup

[2021-01-05 02:47] zjj2wry commented on #3354
can not reproduce it. maybe cause by network error

[2021-01-05 02:47] #3354 closed

[2021-01-05 06:19] DanielZhangQD opened #3676 "Get the value of TIDB_VERSION from the version of initializer instead of tidb in TidbMonitor"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, in the TidbMonitor controller, an environment variable named TIDB_VERSION is defined for the initializer container which is used to create a directory to save the alert rules that customized by the users, however, its value is retrieved from the TiDB version in the TidbCluster that this TidbMonitor r

[2021-01-05 06:44] DanielZhangQD commented on #3560
Trace this in https://github.com/pingcap/tidb-operator/issues/3652.

[2021-01-05 06:44] #3560 closed

[2021-01-05 07:00] DanielZhangQD opened #3677 "TidbCluster example in advanced directory cannot create a TiDB cluster successfully"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

TidbCluster example https://raw.githubusercontent.com/pingcap/tidb-operator/master/examples/advanced/tidb-cluster.yaml cann

[2021-01-05 07:02] DanielZhangQD commented on #3243
Close via https://github.com/pingcap/tidb-operator/pull/3554 and https://github.com/pingcap/tidb-operator/pull/3548.

[2021-01-05 07:02] #3243 closed

[2021-01-05 07:03] DanielZhangQD commented on #3217
Traced in https://github.com/pingcap/docs-tidb-operator/issues/869.

[2021-01-05 07:03] #3217 closed

[2021-01-05 07:48] #3166 closed

[2021-01-05 11:20] DanielZhangQD commented on #3562
@Smana Did you verify this with the latest release v1.1.9?

[2021-01-05 11:21] #3553 closed

[2021-01-05 11:32] DanielZhangQD commented on #3520
@georgeteo Since we trace this issue in #3121, I will close this issue now, any more comments can be updated there, thanks!

[2021-01-05 11:32] #3520 closed

[2021-01-05 11:34] DanielZhangQD commented on #3496
@agaffney I will close this issue now, feel free to reopen it if necessary, thanks!

[2021-01-05 11:34] #3496 closed

[2021-01-05 11:41] DanielZhangQD commented on #3447
@rleungx I will close this issue now, feel free to reopen it if necessary.

[2021-01-05 11:41] #3447 closed

[2021-01-05 11:55] DanielZhangQD commented on #3433
@XiaoGe2030 This is duplicate with https://github.com/pingcap/tidb-operator/issues/3437, I will close this issue now, just update in #3437 if any comments, thanks!

[2021-01-05 11:55] #3433 closed

[2021-01-05 12:02] DanielZhangQD commented on #3385
Close via https://github.com/pingcap/tidb-operator/pull/3648.

[2021-01-05 12:02] #3385 closed

[2021-01-05 12:46] DanielZhangQD commented on #3381
Trace this in #3652.

[2021-01-05 12:46] #3381 closed

[2021-01-05 12:48] DanielZhangQD commented on #3329
The unsupported functions are updated in https://github.com/pingcap/docs-tidb-operator/pull/739.

[2021-01-05 12:48] #3329 closed

[2021-01-05 20:51] handlerww opened #3680 "Provide TiDB Operator Disaster Recovery Handbook"
## Feature Request

In automotive today, there is always an automotive supervisor to wait for taking over the car in dangerous scenarios. In the design of TiDB Operator, we also need a takeover mechanism. There are many dangerous scenarios that we need to have a method to take over the cluster. We need an operation manual to cover the most severe scenario. And we need to provide some techniques fo

[2021-01-06 01:40] DanielZhangQD opened #3681 "Backup & Restore with BR fail"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

v1.1.9
**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

Backup with BR with TiDB v4.0.9 without configuring `spec.from`, and TLS is enabled and `${cluster_name}-tidb-client

[2021-01-06 01:54] DanielZhangQD commented on #3681
Test cases:

1. Create a TiDB cluster without TLS enabled
2. Create a TiDB cluster with TLS among the cluster components and TLS between the TiDB client and TiDB server enabled, DO NOT create `${cluster_name}-tidb-client-secret`.
3. Backup with BR without configuring `spec.from` for the above two clusters
4. Restore with BR without configuring `spec.to` for the above two clusters

[2021-01-06 03:45] #3677 closed

[2021-01-06 05:41] DanielZhangQD commented on #3229
Close this since https://github.com/pingcap/tidb-operator/issues/3182 has been fixed and users cannot scale in TiKV from 3 to 2.

[2021-01-06 05:41] #3229 closed

[2021-01-06 05:43] DanielZhangQD commented on #3242
Cannot reproduce this now, I will reopen this if it happens again later.

[2021-01-06 05:43] #3242 closed

[2021-01-06 05:45] #3183 closed

[2021-01-06 05:48] #3110 closed

[2021-01-06 05:51] DanielZhangQD commented on #3033
Duplicate with https://github.com/pingcap/tidb-operator/issues/1245.

[2021-01-06 05:51] #3033 closed

[2021-01-06 05:58] DanielZhangQD commented on #3436
Trace this in https://github.com/pingcap/tidb-operator/issues/2753.

[2021-01-06 05:58] #3436 closed

[2021-01-06 06:44] DanielZhangQD commented on #2532
We have supported `--selector` for the tidb-controller-manager in #3554, so no need to support the namespace scoped tidb-controller-manager anymore.

[2021-01-06 06:44] #2532 closed

[2021-01-06 06:52] DanielZhangQD commented on #1863
More events are added in https://github.com/pingcap/tidb-operator/pull/2150.

[2021-01-06 06:52] #1863 closed

[2021-01-06 07:41] #3676 closed

[2021-01-06 07:49] DanielZhangQD commented on #1404
UT added in https://github.com/pingcap/tidb-operator/pull/3417.

[2021-01-06 07:49] #1404 closed

[2021-01-06 08:07] dragonly commented on #3080
I also observed this issue by apply https://github.com/pingcap/tidb-operator/blob/master/examples/advanced/tidb-cluster.yaml
It seems there's another problem: the operator starts to sync tikv after pd is ready for about 20s.
the requeuing log is as follows:
[code]

[2021-01-08 08:21] cvvz opened #3692 "Operator should only upgrade statefulset that is manged by it"
## Bug Report
**What did you do?**

1. Deploy mutiple operators. All of them are set field [controllerManager. selector](https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-operator/values.yaml#L87) with different values.
2. One of them set feature [AdvancedStatefulSet=true](https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-operator/values.yaml#L36), which means using `

[2021-01-08 08:22] cvvz commented on #3692
/assign

[2021-01-08 08:22] cvvz commented on #3692
@DanielZhangQD @shonge

[2021-01-08 08:47] cvvz opened #3693 "It should be forbidden to switch between mutiple operators if they use different kind of StatefulSet."
## Bug Report

**What did you do?**

1. Deploy mutiple operators, some with [AdvancedStatefulset=true](https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-operator/values.yaml#L36), which means use AdvancedStatefulset, some use Kubernetes built-in Statefulset.
2. Switch between these operators by changing the labels of TidbCluster.

**What did you expect to see?**
Because different op

[2021-01-08 08:48] cvvz commented on #3693
/assign

[2021-01-08 08:48] cvvz commented on #3693
@DanielZhangQD @shonge

[2021-01-08 08:57] csuzhangxc commented on #3668
some of the testing logs for TiDB-Operator pasted bellow, and this is similar with https://internal.pingcap.net/jira/browse/ONCALL-2357?focusedCommentId=81051&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-81051.

[code]

and we have do some things similar with https://github.com/pingcap/tiup/pull/1032 in https://github.com/pingcap/tidb-operator/blob/c399a90051d20c

[2021-01-08 09:09] #3668 closed

[2021-01-08 11:50] cvvz commented on #3692
Operator should select StatefulSets to upgrade according to [controllerManager. selector](https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-operator/values.yaml#L87). This bug will be fixed in https://github.com/pingcap/tidb-operator/pull/3683

[2021-01-08 12:50] cvvz commented on #3252
/assign

[2021-01-09 02:14] cvvz commented on #3252
This issue have been solved by https://github.com/pingcap/tidb-operator/pull/3419 in a different way.

[2021-01-09 02:14] #3252 closed

[2021-01-09 06:39] cvvz commented on #3612
/assign

[2021-01-09 08:26] cvvz commented on #2637
/assign

[2021-01-11 00:57] #3422 closed

[2021-01-11 06:18] cvvz commented on #2637
/unassign

[2021-01-12 04:18] DanielZhangQD opened #3695 "Support configuring init containers for components in TiDB cluster"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Support configuring init containers for components in TiDB cluster:
PD, TiDB, TiKV, TiFlash, TiCDC, Pump

Add field similar with https://github.com/pingcap/tidb-operator/blob/master/pkg/apis/pingcap/v1alpha1/types.go#L813:
[code]
**Describe alternatives you've considered:**

[2021-01-12 18:17] kolbe opened #3697 "Operator should remove members from the Dashboard topology when scaling in"
## Feature Request

**Is your feature request related to a problem? Please describe:**

At present, when a component is scaled in, it still shows up in TiDB Dashboard. Dashboard expects that it is the deployment tool's responsibility to remove entries for scaled-in instances.

**Describe the feature you'd like:**

When nodes are removed from the cluster, TiDB Operator should ensure that they're gr

[2021-01-13 03:58] DanielZhangQD opened #3699 "PD scales out unexpectedly"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

v1.1.9
**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

asts not enabled.
Deploy a TiDB cluster with 3 PDs, after the cluster is ready, run the following command:
[code]
**

[2021-01-14 03:34] DanielZhangQD commented on #2936
Close via https://github.com/pingcap/docs-tidb-operator/pull/974.

[2021-01-14 03:34] #2936 closed

[2021-01-14 07:11] handlerww commented on #2935
Manually test result is here:
There are 1 pd in cluster1 and 2 pd  in cluster2, disable cluster1-pd-0, cluster1-tidb-0.
[code]
Then TiDB failover successfully before PD recovered, which verifies the design in startup scripts in TiDB. And then PD recovered, which verified the design in PDClient retry logic in PDControl.

[2021-01-14 07:11] #2935 closed

[2021-01-14 08:20] handlerww opened #3704 "Release v1.2.0-alpha.1"
This is an issue tracking the tidb-operator v1.2.0-alpha.1 release.

Previous:
- #2567
- #2775
- #2839
- #3010
- #3140
- #3263
- #3380
- #3495
- #3616
- #3656

Pending PRs:

TODO:

[2021-01-14 10:55] DanielZhangQD commented on #3562
It seems that there is Grafana dashboard json files for TiCDC in the initializer image of TidbMonitor.

[2021-01-14 14:21] #3612 closed

[2021-01-14 19:11] handlerww opened #3709 "Proposal: Abstract component lifecycle management"
## Feature Request

There are many duplicated codes in component lifecycle management. We can simplify them in the concept of concern separation. We need to separate the lifecycle management implementation and component-specific lifecycle orchestration. Lifecycle management is about when to invoke the functions and how to perform the actions. Component-oriented design helps us to know when to invo

[2021-01-15 02:10] zhenjiaogao opened #3710 "There is no grafana dashboard and metrics for TiCDC in tidbmonitor"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Add TiCDC's grafana dashboard and metrics to tidbmonitor. This is conducive to troubleshooting .

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-01-15 04:07] dragonly opened #3711 "Formalize Reported Events and Operator State Machine"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB Operator is a very complex and giant state machine operator. It manages lots of TiDB components, e.g. `TiDB`/`TiKV`/`PD`/`DM`/`TiCDC`/`Prometheus`, etc.
TBD

**Describe the feature you'd like:**

TBD

**Describe alternatives you've considered:**

TBD

**Teachability, Documentation, Adoption, Migration Stra

[2021-01-15 13:46] #3704 closed

[2021-01-18 03:23] BinChenn commented on #3636
/assign

[2021-01-18 03:23] BinChenn commented on #3710
/assign

[2021-01-18 07:02] #3681 closed

[2021-01-19 01:52] DanielZhangQD opened #3718 "Add e2e cases for OpenKruise advancedStatefulSet"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

https://github.com/pingcap/tidb-operator/pull/3683 introduces support for OpenKruise advancedStatefulSet, we need to add e2e cases for the following cases:
1. Deployment with OpenKruise asts
2. Migration from Kubernetes native sts
3. Migration from PingCAP asts

**Describe

[2021-01-19 01:53] DanielZhangQD commented on #3718
/assign @cvvz

[2021-01-19 02:06] cvvz commented on #3718
/assign

[2021-01-19 03:23] DanielZhangQD commented on #3660
@AkioLove The `maxBackups` is the max backup CRs we will maintain in the cluster, if we count the `Complete` ones only, what about the CRs in the other status, how can they be cleaned?

For this issue, we should fix the failure by the first observation, and we can also increase the `maxBackups`, WDYT?

[2021-01-19 03:31] #3695 closed

[2021-01-19 03:42] DanielZhangQD opened #3722 "The evict leader scheduler for TiKV regions is removed before TiKV Pod deleted during upgrade"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Currently, during TiKV upgrade, TiDB Operator will create evict leader scheduler for the Pod(Store) to be upgraded, after the region leader count decreases to 0 or timeout occurs (3 Mins by default), TiDB Operator will delete the evict leader scheduler, update the partition

[2021-01-19 08:25] dragonly commented on #3660
@AkioLove you could set `backup.spec.cleanPolicy` to `Retain` so that deleting Backup CR won't delete the underlying data.

[2021-01-21 01:56] #3636 closed

[2021-01-21 01:59] pdiaz opened #3728 "aarch64/arm64 support"
## Feature Request

tiup does support the aarch64 architecture but I don't find any aarch64 Docker images to use with this operator.

Do you have any plans to support aarch64?

[2021-01-21 02:15] AkioLove commented on #3660
Thank you :) So far increase the maxBackups and fix the failure by the first observation should be enough.
But it will be great if there have an option that can guarantee to keep 1 closest "Complete" version of backups.

Thank you, but our backup data is very large (each version > 500GB), so we want Backup CR can auto-delete the underlying data.

[2021-01-21 03:02] #3710 closed

[2021-01-21 03:55] DanielZhangQD commented on #3728
cc @chenmin1992
Would you like to submit PR for this feature?

[2021-01-21 04:06] DanielZhangQD commented on #3660
OK, what about adding two more parameters to the `BackupScheduleSpec` to control this behavior:

[code]

For the CRs in the other status, e.g. scheduled, running, prepared, etc., no need to clean them because they should change to the above two status finally, WDYT? @AkioLove @dragonly @BinChenn

[2021-01-21 04:10] DanielZhangQD commented on #3728
cc @shuke987 Your team will do the necessary change to support arm64, right?

[2021-01-21 09:41] luciferhs opened #3730 "Failed to deploy tidb"
K8s cluster is binary deployment。
k8s version：1.18.6
kernel：4.4
os：centos7.8
tidb version: 4.0.9

####tidb-cluster.yaml
apiVersion: pingcap.com/v1alpha1
kind: TidbCluster
metadata:
  name: advanced-tidb
  namespace: tidb

spec:
  version: "v4.0.9"
  timezone: UTC
  configUpdateStrategy: RollingUpdate
  hostNetwork: false
  imagePullPolicy: IfNotPresent
  helper:
    image: busybox:1.26.2
  enableD

[2021-01-21 10:28] AkioLove commented on #3660
@DanielZhangQD
It was a good idea.
By those options, I can let my tidb cluster keep the recent "Complete" version of backups :)

[2021-01-21 14:42] dragonly commented on #1301
This is actually a very promising way of simplifying the whole operator logic, and getting closer with the mainstream kubernetes operator developing community.
I'll try to dig into it and see what can be done there.

[2021-01-22 07:45] #3675 closed

[2021-01-25 01:57] dragonly opened #3734 "Reconsider CR abstraction granularity"
## Feature Request

**Is your feature request related to a problem? Please describe:**

As the version number goes up, TiDB Operator is exposing more and more Kubernetes native abstraction details (like verbatim fields in StatefulSet) in the CRs (e.g. TidbCluster). This trend of making CRs more like Kubernetes native objects in field level is a sign of bad design. On the one side, the Kubernetes a

[2021-01-25 06:21] DanielZhangQD opened #3736 "`SyncAutoScalerAnn` can be removed in the PD and TiKV scaler"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

We have refactored the auto-scaling implementation in v1.2, and the original logic introduced in v1.1.x can be removed, such as the `SyncAutoScalerAnn` function in the PD and TiKV scaler.
Refer to PR https://github.com/pingcap/tidb-operator/pull/1801.
**Describe alternative

[2021-01-25 06:30] DanielZhangQD opened #3737 "Optimization for `CreateOrUpdateConfigMap`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

During the configmap sync, we do not check if it exists or not but call the `CreateOrUpdateConfigMap` function directly, which will call API to the kube-apiserver directly during each sync, increase the load of kube-apiserver, and should be optimized.
**Describe alternative

[2021-01-25 10:25] DanielZhangQD commented on #3730
@luciferhs You can google the error in the log.
Not sure if this comment https://github.com/elastic/cloud-on-k8s/issues/4083#issuecomment-754592876 can help you.

[2021-01-26 02:40] DanielZhangQD opened #3742 "Optimization for secret retrieving logic"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Currently, the secrets are retrieved from the kube-apiserver directly in many functions, which will increase the load of kube-apiserver, and should be optimized to use the secretLister.
[code]
**Describe alternatives you've considered:**

**Teachability, Documentation, Adop

[2021-01-26 06:59] #3722 closed

[2021-01-26 07:49] #3588 closed

[2021-01-26 17:36] tfulcrand opened #3751 "Allow configuration about replication task in TiCDC Spec"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Currently when we setup TiCDC component in TidbCluster CR object, we have to wait the `Running` status of ticdc pods and connect to one of them to manage replication task. If we use some specific options we need to create a TOML configuration task file before creating the replication task.
The drawbacks of this

[2021-01-27 02:27] BinChenn opened #3754 "Release v1.1.10"
This is an issue tracking the tidb-operator v1.1.10 release.

Previous:
- #2567
- #2775
- #2839
- #3010
- #3140
- #3263
- #3380
- #3495
- #3616
- #3656

Pending PRs:

TODO:
- [x] Update release notes [#1090](https://github.com/pingcap/docs-tidb-operator/pull/1090)
- [x] Update default version of TiDB Operator (#3756 )
- [x] Update TiDB version and tools version if necessary (#3757)
- [x] Update Ti

[2021-01-27 09:02] hykych opened #3759 "How to set advertise-client-urls for PD using tidb-operator"
## Question

I want to run go-ycsb  outside kubernetes cluster to test the TIKV performance, but I got the follow error.
seems like the advertise-client-urls are set to  internal DNS names of kubernetes cluster.
[code]
How do I set the ```advertise-client-urls```  using tidb-operator?

[2021-01-27 13:43] dragonly opened #3760 "Backup CR doesn't delete s3 data when cleanPolicy: Delete is set"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d360454c9bcd1634cf4cc52d1867af5491dc9c5f", GitTreeState:"clean", BuildDate:"2020-11-11T13:17:17Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7

[2021-01-28 09:27] DanielZhangQD commented on #3751
@tfulcrand Thanks for reporting this issue!
If we support adding the task configurations to each Pod, it means that every change to the task will trigger a rolling update of the TiCDC, which I think is not suitable.
In addition, does the task configuration need to be preserved after creation? You should be able to retrieve the task information from CDC with `cdc cli`.
BTW, CDC team is working on t

[2021-01-28 09:27] hykych commented on #3759
I found that the advertise-client-urls set by the startup script, there is no way to change it right now. close this issue

[2021-01-28 09:27] #3759 closed

[2021-01-28 09:31] DanielZhangQD commented on #3760
@BinChenn has tested this case and the data can be cleaned, @dragonly could you please try again?

[2021-01-28 10:22] BinChenn commented on #3754
/close

[2021-01-28 10:24] #3754 closed

[2021-01-29 14:03] tfulcrand commented on #3751
@DanielZhangQD Thanks for your response.
Indeed at the beginning there may be several versions for the task configuration and then occur rolling update of the TiCDC but once the right configuration will be found this will be less frequent. And first configurations can be tested on a development environment.
Can you explain us why a rolling update of the TiCDC is not suitable please ?

[2021-02-01 02:38] BinChenn commented on #3737
/assign

[2021-02-02 02:09] DanielZhangQD commented on #3546
@mikechengwei This issue should have been fixed by https://github.com/pingcap/tidb-operator/pull/3694, could you please help verify this in your cluster?

[2021-02-02 02:21] mikechengwei commented on #3546
ok.

[2021-02-02 02:34] DanielZhangQD commented on #3562
Close via https://github.com/pingcap/monitoring/pull/90.

[2021-02-02 02:34] #3562 closed

[2021-02-02 13:14] DanielZhangQD opened #3771 "Support customizing the config for rocksdb and raft log of TiKV"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Trace the comment https://github.com/pingcap/tidb-operator/pull/3768#discussion_r568578345
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-02-02 13:29] DanielZhangQD commented on #3751
For `a rolling update of the TiCDC is not suitable`, I mean that it's not a good practice, we should not roll update TiCDC just to add, update, or delete a task.
What about this `In addition, does the task configuration need to be preserved after creation? You should be able to retrieve the task information from CDC with cdc cli.`?

[2021-02-03 08:04] BinChenn commented on #3760
I have tested this case, using master 9b6838c code and BR CR as above. Data on s3 is deleted when backup is deleted.

[2021-02-03 08:04] #3760 closed

[2021-02-03 10:13] tfulcrand commented on #3751
@DanielZhangQD We think it's important to keep task configuration after creation, in case of maintenance or outage. Especially if the case appends several months after creation, you can forget that you use specific configuration for the replication task.
Indeed we can use `cdc cli` to set and retrieve task configuration (currently this is the method we use) but in Kuberenetes it's not a good pract

[2021-02-03 12:19] huang12zheng opened #3779 "With helm,I reapply but get an error about "invalid ownership metadata""
https://github.com/roboll/helmfile/issues/1668

## Question

How do I set the template, to make
app.kubernetes.io/managed-by: tidb-operator

## other
[code]
https://helm.sh/docs/chart_template_guide/builtin_objects/#helm

[2021-02-04 03:47] Aaron-23 opened #3780 "According to the minimum installation document, the image does not exist when using the image on alicloud to deploy tidb cluster monitoring"
![image](https://user-images.githubusercontent.com/50609288/106842294-bc213d80-66de-11eb-801c-bc1457358e82.png)

[2021-02-04 05:39] DanielZhangQD commented on #3751
OK, what about adding `AdditionalVolumes` and `AdditionalVolumeMounts` here https://github.com/pingcap/tidb-operator/blob/master/pkg/apis/pingcap/v1alpha1/types.go#L841-L846 for TiCDC, so that:

- Users can create configmap for the task yamls manually and configure `AdditionalVolumes` and `AdditionalVolumeMounts` for TiCDC
- After mounting the configmap, exec into the container to manage the tasks

[2021-02-04 07:48] DanielZhangQD commented on #3779
@huang12zheng
What's the version of tidb-operator?
From v1.1.0, the tidb-cluster chart has been abandoned and please use the TidbCluster CR for the TiDB cluster management.
You can check detail in the [doc](https://docs.pingcap.com/tidb-in-kubernetes/stable/notes-tidb-operator-v1.1).

[2021-02-04 08:01] DanielZhangQD opened #3781 "Optimize the region leader checking logic during TiKV upgrade"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, during TiKV upgrade, we will first add evict leader scheduler to the store to evict region leaders, and when the [leader count is 0](https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/tikv_upgrader.go#L185), we can safely delete the Pod, however, the leader info is retrieved from

[2021-02-04 08:15] lonng commented on #3781
Reference https://github.com/pingcap/tiup/blob/master/pkg/cluster/spec/tikv.go#L361

[2021-02-04 08:15] DanielZhangQD commented on #3781
PD issue https://github.com/tikv/pd/issues/3406

[2021-02-04 08:23] DanielZhangQD commented on #3780
@Aaron-23 Sorry for the trouble.
Could you please try the `pingcap/tidb-monitor-initializer:v4.0.10` directly?
There is something wrong with the repo in the ali registry so the images are not synced to that repo.
And we also consider migrating the images to another vendor.

[2021-02-04 09:08] DanielZhangQD commented on #3780
@Aaron-23 The images are synced to the ali repo now, please try again.

[2021-02-04 09:11] tfulcrand commented on #3751
Yes we tought about using this feature and we tested it before opening this discussion. But `additionnalVolumes` and `additionnalVolumeMounts` seem not implement to work with configMap object. I mean we can define it in the TidbCluster `spec`, there is no error at the creation but the volume is not present inside each pod. (we tested it with tidb-operator 1.1.9 and tidb server 4.0.9).

[2021-02-04 09:15] DanielZhangQD commented on #3751
@tfulcrand It's not supported for TiCDC yet, now those two parameters can only be configured for PD, TiDB, TiKV, and TiFlash, would you like to submit PR to support TiCDC?
You can refer to the code in https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/pd_member_manager.go, it should be easy.

[2021-02-04 09:51] Aaron-23 commented on #3780
@DanielZhangQD Yes, thank you！

[2021-02-04 09:51] #3780 closed

[2021-02-04 12:18] huang12zheng commented on #3779
thanks.
I did so when I saw the chart update.

[2021-02-04 12:18] #3779 closed

[2021-02-05 05:37] mikechengwei opened #3782 "Prometheus configuration unrecognized environment variable"
## Bug Report

**What did you do?**
I  deploy tidbmonitor and prometheus configuration unrecognized external labels environment variable.
![image](https://user-images.githubusercontent.com/13257127/106994084-11308280-67b7-11eb-91ce-f01c793b5e29.png)

**What did you expect to see?**
 Namespace and podName configuration replace with  current container  environment variable.
**What did you see instea

[2021-02-05 07:50] tfulcrand commented on #3751
Sorry I read a little fast, I think you ask me to declare and test TiCDC component with `AdditionnnalVolumes`.
Ok, I will try to do a PR to add this feature in TiCDC, probably next week.
Thanks for you time.

[2021-02-05 08:10] L3T opened #3783 "Support adding label to TiKV based on node label"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In the case of using placement rules, TiKV is required to contain other labels besides the location label. Now TiDB-Operator does not support TiKV to obtain more labels from nodes
**Describe the feature you'd like:**

Add the storeLabels property to spec.tikv, which is used to define the label key other than th

[2021-02-05 08:12] L3T commented on #3783
/assign

[2021-02-07 17:40] tennix opened #3786 "TiFlash does not support rolling upgrade"
## Bug Report

TiFlash can't be ready to serve request immediately when restarted, if there are lots of table schemas in the cluster it would take a while to be ready. However, currently [tiflash_upgrader.go](https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/tiflash_upgrader.go#L33-L45) does not query tiflash store status during upgrade.

So the next tiflash pod upgrade may h

[2021-02-08 07:46] zhouqiang-cl opened #3787 "Upgrade busybox:1.26.2"
## Bug Report

**What version of Kubernetes are you using?**

busybox:1.26.2 do not have arm image, but newest image have such as 1.33.0
https://hub.docker.com/_/busybox?tab=tags&page=1&ordering=last_updated

**What version of TiDB Operator are you using?**

v1.1.10

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluste

[2021-02-22 05:51] DanielZhangQD opened #3792 "tidb-controller-manager crashes due to leader election lost"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

v1.1.9
**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**
tidb-controller-manager keeps running normally
**What did you see instead?**
tidb-co

[2021-02-22 05:55] DanielZhangQD commented on #3792
Logs of tidb-controller-manager:
[code]

[2021-02-22 09:30] hykych opened #3795 "Create a parent proc for tikv-server in container"
## Feature Request

**Is your feature request related to a problem? Please describe:**

If 2 replicas of a region failed, I need to run the following command on the tikv instance which own the third replicas
`./tikv-ctl --db /var/lib/tikv/db unsafe-recover remove-fail-stores -s <s1,s2> --all-regions
`

but I got the error which is caused by the tikv-server is still running.
`thread 'main' panicked

[2021-02-22 11:59] #3787 closed

[2021-02-22 15:30] tirsen opened #3797 "Store source config in k8s secret"
## Feature Request

Passwords are currently configured using an encryption with a hard coded secret key. This is not a good idea.

Instead it would be better if we can store the passwords as a k8s secret. Maybe we can store the entire source db config as a k8s secret?

Something like this:
[code]

Not sure if this is the best design... We should discuss alternatives. :-) In particular it would be

[2021-02-23 01:53] zbingwen commented on #472
@weekface  how to solve this problem?

[2021-02-23 03:06] july2993 commented on #3792
ref #3794

[2021-02-23 06:08] dragonly opened #3799 "Liveness and readiness probe in TiDB Operator"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently the TiDB Operator could be in an out-of-service state, such as waiting for the next leader election lease. This can not be easily monitored now.

**Describe the feature you'd like:**

Add liveness and readiness probe as defined in [Kubernetes Pod Lifecycle](https://kubernetes.io/docs/concepts/workload

[2021-02-23 07:15] dragonly opened #3800 "remove label tidb.pingcap.com/pvc-defer-deleting"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently the usage of label `tidb.pingcap.com/pvc-defer-deleting` is not well defined.

**Describe the feature you'd like:**

I suggest we delete this label for better maintainability. If we need a mechanism for user to preserve storage even after components are scaled in, we could defined a more clear way of

[2021-02-23 08:38] dragonly opened #3802 "Correctly handle multiple pvc situations"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently TiDB Operator supports mounting multiple PVCs to a single Pod for PD/TiKV/TiDB. But a lot of code in TiDB Operator still assumes that there is only one PVC for a Pod, and uses https://github.com/pingcap/tidb-operator/blob/d813569b79c8bbb640a2272392645f3300c0b318/pkg/manager/member/scaler.go#L179 to de

[2021-02-23 08:43] csuzhangxc opened #3803 "chart.metadata.version is invalid for "latest" and "release-1.1""
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

[code]

**What did you expect to see?**

[code]

**What did you see instead?**

[code]

this may be introduced in https://g

[2021-02-23 08:48] DanielZhangQD commented on #3802
Getting the PVCs from the Pod spec should be the most reliable way, refer to https://github.com/pingcap/tidb-operator/blob/master/pkg/util/util.go#L421.

[2021-02-23 09:05] DanielZhangQD commented on #3802
We also need to implement the `Scaler` method for TiDB.
Please also help change the logic for DM master and worker.

[2021-02-23 13:16] aylei opened #3804 "separate the tidb-operator api into a dedicated go module"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, if my app want to import the api of tidb-operator (`pkg/apis/pingcap/v1alpha1`), I have to import the whole tidb-operator module. However, importing `tidb-operator` is hard:

[code]

I have to copy all the `replace` directives in the `go.mod` file of my app in order to import `tidb-operator`, what is

[2021-02-23 13:17] aylei commented on #3804
Looks like duplicate with https://github.com/pingcap/tidb-operator/issues/2531

[2021-02-23 13:17] #3804 closed

[2021-02-23 13:18] aylei commented on #2531
ref: https://github.com/pingcap/tidb-operator/issues/3804

[2021-02-23 13:18] aylei commented on #2531
cc @lonng @dragonly @DanielZhangQD

[2021-02-24 04:42] #3781 closed

[2021-02-24 06:54] zhouqiang-cl opened #3807 "Miss a blank in if [[ -n "${AWS_DEFAULT_REGION}"]]; then"
## Bug Report

**What version of Kubernetes are you using?**

https://github.com/pingcap/tidb-operator/blob/master/images/tidb-backup-manager/entrypoint.sh#L55
should be `if [[ -n "${AWS_DEFAULT_REGION}" ]]; then`
**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster po

[2021-02-24 09:00] DanielZhangQD commented on #3795
@hykych You can refer to this [doc](https://docs.pingcap.com/tidb-in-kubernetes/dev/tips#use-the-diagnostic-mode) to add annotation and then kill the container manually, after the container is restarted, you can run tikv-ctl normally since the tikv-server process is not started.

[2021-02-24 12:01] #3786 closed

[2021-02-24 12:25] DanielZhangQD commented on #3797
@tirsen From DM v2.0.1, `get-config` subcommand is supported to retrieve the source and task configuration, you can refer to the [doc](https://docs.pingcap.com/tidb-data-migration/stable/manage-source#check-effective-parameters-in-dm-master).
In this case, no need to keep the original yaml files of the sources and tasks, and it should be acceptable with the encryption with a hardcoded secret key,

[2021-02-25 02:30] DanielZhangQD commented on #3803
@csuzhangxc The index file has been updated and the `latest` and `release-1.1` charts have been removed, could you please try to update again to verify if this has been fixed?

[2021-02-25 02:44] #3803 closed

[2021-02-25 05:38] #3807 closed

[2021-02-25 06:10] handlerww opened #3812 "Release v1.1.11"
This is an issue tracking the tidb-operator v1.1.11 release.

Previous:
- #2567
- #2775
- #2839
- #3010
- #3140
- #3263
- #3380
- #3495
- #3616
- #3656
- #3754

Pending PRs:

TODO:
- [x] Update release notes
- [x] Update default version of TiDB Operator
- [x] Update TiDB version and tools version if necessary
- [x] Update TiDB Operator version in docs-tidb-operator repo
- [x] Update TiDB version i

[2021-02-25 08:16] #3783 closed

[2021-02-25 08:20] #3782 closed

[2021-02-25 08:22] hykych commented on #3795
@DanielZhangQD  I tried, it works. thank you.

[2021-02-25 08:23] #3795 closed

[2021-02-26 03:54] handlerww opened #3814 "Add E2E cases code guiding in conributing doc"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-02-26 05:55] mikechengwei commented on #3292
I think we don‘t need to optimize tidb service and adapt to prometheus operator, because we use custom monitor by TiDBMonitor.

[2021-02-26 06:33] #3812 closed

[2021-02-26 07:31] DanielZhangQD commented on #3552
@rachitmanit Would you like to submit PR to implement this feature?

[2021-02-26 07:34] DanielZhangQD commented on #3577
@grandsail I see that you want to use `tkctl` in your daily operation as described in https://github.com/pingcap/docs-tidb-operator/issues/1030, would you like to submit PR to fix this issue?

[2021-02-26 08:02] TUTUBIG commented on #3730
I've got this problem too

[2021-02-26 09:31] DanielZhangQD commented on #3730
@TUTUBIG Did you check the link in my last comment?

[2021-02-26 09:33] DanielZhangQD commented on #3292
@mikechengwei We can just provide some examples for the users that use Prometheus operator to deploy and manage their own Prometheus, do you think the example [here](https://github.com/pingcap/tidb-operator/blob/master/examples/prometheus-operator/README.md) needs any improvement?

[2021-03-01 12:01] DanielZhangQD opened #3817 "Backup clean jobs do not consider the toleration and affinity configurations in the backup CR"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The backup clean jobs in https://github.com/pingcap/tidb-operator/blob/master/pkg/backup/backup/backup_cleaner.go#L147 do not consider the toleration and affinity configurations in the backup CR as we have done for the backup jobs https://github.com/pingcap/tidb-operator/blob/master/pkg/backup/backup/backup_man

[2021-03-01 13:46] DanielZhangQD commented on #3817
The same for the restore job.

[2021-03-04 05:59] jonas0616 opened #3825 "Config is incorrecty transformed from yaml to toml"
## Bug Report

**What version of Kubernetes are you using?**

v1.17.1

**What version of TiDB Operator are you using?**

v.1.1.11

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

topolvm

**What's the status of the TiDB cluster pods?**

Running

**What did you do?**

Using helm to update pd config in tidbcluster resource. The diffs are:
[code]

**What

[2021-03-04 07:13] dragonly commented on #3802
when all the functional PRs are merged, we should then refactor the related code to pull out common utility functions such as mounting a pvc to a pod

[2021-03-04 09:07] dragonly opened #3827 "TidbCluster cannot be deployed when config is nil"
## Bug Report

**What version of Kubernetes are you using?**

client: v1.19.4
server: v1.18.2

**What version of TiDB Operator are you using?**

master branch

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

not related

**What's the status of the TiDB cluster pods?**

pd pod status is `Pending`

**What did you do?**

apply tc with definition:
[code]

[2021-03-04 09:11] dragonly commented on #3827
Seems like https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/pd_member_manager.go#L408-L411 will refuse to create ConfigMap when `config` is nil.
Maybe we could create a ConfigMap with normal `startup-script` and empty `config-file`?

[2021-03-05 01:42] DanielZhangQD commented on #3825
@jonas0616 You still use tidb-cluster chart to manage the TiDB cluster? As we have mentioned in the [doc](https://docs.pingcap.com/tidb-in-kubernetes/dev/notes-tidb-operator-v1.1#pingcap-no-longer-updates-or-maintains-tidb-cluster-chart), we do not use the tidb-cluster chart to manage the TiDB cluster since v1.1.0, could you please try to manage the cluster with the TidbCluster CR directly?

[2021-03-05 01:52] jonas0616 commented on #3825
@DanielZhangQD I'm not using tidb-cluster chart. It's a helm chart created by myself, and it contains a tidbcluster CRD resource.

[code]

[2021-03-05 02:53] dragonly commented on #3802
Should also add e2e cases for all those scenarios after all PRs are merged.

[2021-03-05 03:39] qiffang opened #3828 "UPGRADE FAILED: rendered manifests contain a new resource that already exists"
## Bug Report

**What version of Kubernetes are you using?**

I want to upgrade operator from `1.1.9` to `1.1.11`.
The command is here
[code]
But I run into:
[code]

It is casued that Operator wat upgrade `ClusterRole` from `rbac.authorization.k8s.io/v1beta1` to  `rbac.authorization.k8s.io/v1` in `1.1.10`.

Operator need to add release notes for changing of apiversion.

**What version of TiDB Oper

[2021-03-05 03:41] DanielZhangQD commented on #3828
Refer to https://github.com/helm/helm/issues/7697.

[2021-03-05 10:05] #3828 closed

[2021-03-05 10:28] dragonly commented on #3802
Currently TiDB pods are usually deployed without PVC. We should postpone the implementation for TiDB, and make a more thorough analysis first.

[2021-03-08 05:42] DanielZhangQD commented on #3466
Fixed in the PRs for https://github.com/pingcap/tidb-operator/issues/3652.

[2021-03-08 05:42] #3466 closed

[2021-03-08 05:44] DanielZhangQD commented on #3168
Fixed via #3823.

[2021-03-08 05:44] #3168 closed

[2021-03-08 07:17] dragonly commented on #3802
We should also change `v1alpha1.UnjoinedMember` to reflect the correct PVCs for unjoined PD/DM members.

[2021-03-08 11:54] DanielZhangQD opened #3831 "Support setting customized envs for backup and restore jobs"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We have met some issues about backuping via br. Some of them are related to go runtime and can be mitigated by setting some GO env vars.
For example:
GODEBUG=madvdontneed=1

**Describe the feature you'd like:**

Support setting env vars for backup and restore jobs.

**Describe alternatives you've considered:**

[2021-03-09 04:09] DanielZhangQD commented on #3817
We have to make sure that the following configurations:
[code]

are all applied to the following jobs:

- Backup with Dumpling
- Backup with BR
- Restore with Lightning
- Restore with BR
- Clean

[2021-03-09 04:09] DanielZhangQD commented on #3831
Also, consider the clean jobs.

[2021-03-09 06:24] DanielZhangQD commented on #3825
@jonas0616 That may relate to the logic of Helm.
If you create with the TidbCluster yaml directly, update the PD config as above, apply the yaml, and it works as expected.

[2021-03-09 07:52] jonas0616 commented on #3825
@DanielZhangQD
Indeed, updating tidbcluster by `kubectl apply` is working prefectly.

However, I think I am not the only one who deploys k8s resources by helm chart. People don't usually use `kubectl apply` to manage complicated project.

And I found that using `kubectl patch` could reproduce this issue. Because the pd config is transformed to a string in toml format, using `kubectl patch` would o

[2021-03-09 09:47] DanielZhangQD commented on #3825
@jonas0616 Actually, we recommend using toml instead of yaml, because we do not maintain the go struct for the configuration of each component anymore for the following reasons:

-  The configurations change frequently and each time there is any change in one component, TiDB Operator has to update code to support it.
- There are many configuration parameters that are not shown in the default confi

[2021-03-09 09:58] jonas0616 commented on #3825
@DanielZhangQD
Thank you for your reply. I will use toml instead of yaml in the TidbCluster resource.

[2021-03-09 09:58] #3825 closed

[2021-03-09 10:04] dragonly opened #3834 "Allow user to overwrite operator set env vars by TidbCluster.Spec.Env"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently users cannot overwrite operator-set env vars by `TidbCluster.Spec.Env`.

**Describe the feature you'd like:**

Allow user to overwrite operator set env vars by TidbCluster.Spec.Env

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-03-11 09:23] tulid opened #3841 "How can i connect tidb"
## Question
according to the official doc, i still do not unstander how to connect tidb using mysql.

i deployed the tidb on kubernetes, and all service and pod run seccessfully.
`
root@dev-legend:~/jinquan/pingcap/pingcap-1.11.1/tidb-operator-release-1.1# kubectl get pod -n tidb-admin
NAME                                       READY   STATUS    RESTARTS   AGE
tidb-controller-manager-6c7c6f6bb6-qc

[2021-03-11 12:33] DanielZhangQD commented on #3841
@tulid You can follow this [doc](https://docs.pingcap.com/zh/tidb-in-kubernetes/dev/access-tidb) to connect to the TiDB.

[2021-03-11 14:40] #3817 closed

[2021-03-11 14:54] nolouch opened #3846 "tidb-operator panic in `tidbcluster.go`"
## Bug Report

**What version of Kubernetes are you using?**
IDC

**What version of TiDB Operator are you using?**

master
**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

apply tidb-cluster.yaml without tidb fields.
**What did you expect to see?**
apply tidb-cluster.yaml
[code]
**Wh

[2021-03-12 02:17] DanielZhangQD commented on #3846
@dragonly Please help fix this issue, thanks!

[2021-03-12 05:56] #3831 closed

[2021-03-12 06:12] DanielZhangQD opened #3849 "Support scaling in multiple TiKV/TiFlash instances simultaneously"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, during scaling in, TiDB Operator scales in the TiKV and TiFlash one by one, actually, multiple instances can be scaled simultaneously, however, scaling in too many instances at the same time may cause a performance drop because there are too many region replicas are being rescheduled.

**Describe the

[2021-03-12 06:14] DanielZhangQD commented on #3849
We may add a new field `spec.tikv.maxScaleInReplicas` to control this behavior, default to 1, which is the same as the current behavior.

[2021-03-12 08:50] DanielZhangQD opened #3850 "tidb-controller-manager reports `Shutting down xxxx controller` and fails to sync the cluster"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

v1.1.10
**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

Install another TiDB Operator in a different namespace with the following configurations:
[code]
**What did you exp

[2021-03-12 09:32] dragonly commented on #3846
I reproduced this bug

[2021-03-12 09:33] DanielZhangQD opened #3851 "TiDB Operator tries to resize the PVCs when multiple PVCs are configured for the components"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

Deploy tc as below:
[code]
**What did you expect to see?**

**What did you see instead?**
The following logs are reported i

[2021-03-12 10:28] DanielZhangQD opened #3853 "Sync CDC before PD"
## Feature Request

**Is your feature request related to a problem? Please describe:**

After discussion with CDC team, it's better to upgrade CDC before PD and TiKV to avoid compatibility issues.
Refer to https://github.com/pingcap/tiup/issues/641.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-03-12 11:33] dragonly commented on #3851
`pvc_resizer.go:203` error log is due to https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/pvc_resizer.go#L86, where all the PVCs are patched using the `spec.pd.requests`. Should use individual PVC‘s requests.

[2021-03-12 12:03] DanielZhangQD commented on #3853
We also have to sync TiFlash before TiDB, so the sync order should be:
CDC, PD, TiKV, TiFlash, Pump, TiDB

[2021-03-12 13:36] #3846 closed

[2021-03-15 02:22] DanielZhangQD commented on #3802
Remaining tasks:

- Code change for TiDB
- Code change for DM
- e2e

[2021-03-15 09:35] DanielZhangQD opened #3857 "Add readiness probe and liveness probe for the components"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, we do not support setting the readiness probe and liveness probe for the components except for the readiness probe for TiDB, however, we should support setting them for the following reasons:

- The readiness probe will also be honored by the sts controller during the rolling update because sts contr

[2021-03-16 09:44] dragonly commented on #3841
@tulid Since this issue is stale for several days, I will close it for the moment. Feel free to reopen and append your questions!

[2021-03-16 09:44] #3841 closed

[2021-03-16 09:50] dragonly commented on #3730
Since this seems resolved, I'll close it for the moment. Please feel free to reopen for further related problems.

[2021-03-16 09:50] #3730 closed

[2021-03-16 09:50] DanielZhangQD opened #3859 "`statefulSetUpdateStrategy` configuration does not work as expected"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

Deploy a TidbCluster, after all the Pods are Ready, change `statefulSetUpdateStrategy` of all the components to `OnDelete`,

[2021-03-17 07:13] handlerww opened #3861 "Update code comments in updateTidbCluster"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

[2021-03-17 07:35] DanielZhangQD commented on #3850
The issue occurred again:
[code]

[2021-03-17 18:01] mikechengwei commented on #3799
/assign

[2021-03-17 18:01] mikechengwei commented on #3799
I can help do this pr.

[2021-03-17 18:01] mikechengwei commented on #3857
/assign

[2021-03-17 18:02] mikechengwei commented on #3857
I can help do this pr.

[2021-03-18 01:11] DanielZhangQD opened #3864 "Fail to run `tkctl debug` on AKS"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

[code]
**What did you expect to see?**

**What did you see instead?**

[2021-03-19 03:19] duduainankai commented on #3849
I would like to help with this one if you don't mind.

[2021-03-22 00:41] #3470 closed

[2021-03-22 00:41] #3455 closed

[2021-03-22 02:30] DanielZhangQD opened #3868 "Update the way to set tikv_gc_life_time"
## Feature Request

**Is your feature request related to a problem? Please describe:**

https://github.com/pingcap/tidb/pull/21988 updates the way to set tikv_gc_life_time, after that we can set it via sysvars instead of updating `mysql.tidb` directly.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-03-23 06:45] DanielZhangQD commented on #3849
@duduainankai Sure, thanks a lot!

[2021-03-25 02:55] DanielZhangQD commented on #3864
Should be the same issue as https://github.com/pingcap/tidb-operator/issues/3552.

[2021-03-25 02:55] #3864 closed

[2021-03-25 05:26] DanielZhangQD opened #3873 "Support installing tidb-operator with namespace scoped permissions"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, we support setting `clusterScoped: false` in the [values.yaml](https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-operator/values.yaml#L5) during installation of TiDB Operator, however, [clusterrole and clusterrolebinding](https://github.com/pingcap/tidb-operator/blob/master/charts/tidb

[2021-03-25 05:39] DanielZhangQD opened #3874 "Run containers as non-root user"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, all the containers managed by the TiDB Operator including itself are run as root user, however, this is not allowed in some Kubernetes clusters or platforms.
**Describe the feature you'd like:**

Support running the containers as non-root user, we can support configuring the [securityContext](https:/

[2021-03-25 06:43] #3546 closed

[2021-03-25 07:08] #3399 closed

[2021-03-25 07:11] DanielZhangQD commented on #3117
Fixed by https://github.com/pingcap/tidb-operator/pull/3579.

[2021-03-25 07:11] #3117 closed

[2021-03-25 07:14] DanielZhangQD commented on #2753
/assign liubog2008

[2021-03-25 07:25] #2410 closed

[2021-03-25 07:41] liubog2008 commented on #2753
/assign

[2021-03-25 08:41] liubog2008 commented on #2753
How about using [controller-gen](https://github.com/kubernetes-sigs/controller-tools/tree/master/cmd/controller-gen) to generate CRD. Kubebuilder use this package.

[2021-03-26 03:36] duduainankai commented on #3849
@DanielZhangQD  Hi, here is what I going to do:

- scale in multi tikv store in one `ScaleIn` call.

- In order to do that find as many as possible but no more than `spec.tikv.maxScaleInReplicas` in one another `scaleOne` like call, maybe `scaleMulti`.

- Try every possible ordinal found and aggregate all error to return.

Please point out if something is wrong.

[2021-03-26 05:36] DanielZhangQD opened #3876 "No need to set part of the default configurations for TiFlash"
## Feature Request

**Is your feature request related to a problem? Please describe:**

For v4.0.12 or later, 5.0.0 or later, TiFlash can ignore these `user.*`, `quotas.*` settings.
Refer to https://github.com/pingcap/tics/issues/1497, https://github.com/pingcap/tiup/pull/1211/files.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation,

[2021-03-26 05:56] DanielZhangQD commented on #3876
The default configurations are set [here](https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/tiflash_util.go#L102), we can just refer to the implementation in TiUP to check the versions and skip the default settings.

[2021-03-26 06:06] DanielZhangQD commented on #3468
We support the following CRs now:

- TidbCluster
- TidbMonitor
- TidbInitializer
- Backup
- Restore
- BackupSchedule
- DmCluster
- TidbClusterAutoScaler

[2021-03-26 06:23] JaySon-Huang commented on #3876
How to check/compare what the cluster version is inside the function `getTiFlashConfig`?

[2021-03-26 06:25] DanielZhangQD opened #3877 "Update the main TiDB version to v5.0 in e2e"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

TiDB v5.0 will be released on 03/31/2021, we should update the e2e to focus on the new GA version.
In addition, v3.0 and v4.0 should also be covered in the basic case.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy

[2021-03-26 07:24] DanielZhangQD commented on #3853
Update from QA team:
Upgrade: CDC, TiFlash, PD, TiKV, Pump, TiDB
Deploy: PD, TiKV, Pump, TiDB, TiFlash, CDC (TBD)

[2021-03-26 08:21] liubog2008 opened #3879 "go.mod is mess"
`k8s.io/kubernetes` is not prepared as go module, should not be directly imported.

See https://github.com/golang/go/issues/32776#issuecomment-505607726

A better way to use `k8s.io/kubernetes/test/e2e/framework` may be discussed.

[2021-03-29 01:09] DanielZhangQD commented on #3876
You can refer to this [function](https://github.com/pingcap/tidb-operator/blob/master/pkg/apis/pingcap/v1alpha1/tidbcluster.go#L97) to define a similar one for TiFlash.

[2021-03-29 02:33] SabaPing commented on #2946
Could I pick up this issue? I plan to start working today.🤔

[2021-03-29 06:41] songjiansuper commented on #3080
more log for this problem,It seems that it should belong to the same problem, all caused by resync

I0326 07:58:34.947824       1 reflector.go:241] k8s.io/client-go@v0.0.0/tools/cache/reflector.go:96: forcing resync
I0326 07:58:34.959892       1 reflector.go:241] k8s.io/client-go@v0.0.0/tools/cache/reflector.go:96: forcing resync
I0326 07:58:34.960011       1 backup_controller.go:157] backup tidb-

[2021-03-29 07:12] songjiansuper commented on #3080
I compared the content under metadata:annotations:kubectl.kubernetes.io/last-applied-configuration, and this has not changed. I suspect this may be caused by the heartbeat in the status.

[2021-03-29 15:58] nolouch opened #3882 "Operator report cannot be fulfilled"
## Bug Report

**What version of TiDB Operator are you using?**

master

**What did you expect to see?**

**What did you see instead?**
the operator not normal, see this[ screen record](https://asciinema.org/a/KuTcRBYxjA4JiYocaY8oD6Dt8).
[code]

[2021-03-29 18:43] mikechengwei commented on #3882
There may be a problem with your tidb config field and you can show your yaml for easy discovery of problems.

[2021-03-29 19:03] mikechengwei opened #3883 "[Design] TiDBMonitor monitor multiple tls clusters accross multiple ns."
## Feature Request

**Is your feature request related to a problem? Please describe:**
Now , tidbmonitor can't monitor multiple tls clusters across multiple ns , we need to support it.

**Describe the feature you'd like:**
In order to allow users to cooperate with tls as little as possible and user can only need to spec tidbcluster name and ns fields, tidbmonitor can automatically decide whether t

[2021-03-30 02:29] DanielZhangQD commented on #3882
@nolouch could you please update the yaml of your TidbCluster here?

[2021-03-30 06:34] DanielZhangQD commented on #3859
After further testing, this works as expected.

[2021-03-30 06:34] #3859 closed

[2021-03-30 12:56] nolouch commented on #3882
that's the yaml config problem. there is a invalid character.

[2021-03-31 08:51] #3853 closed

[2021-03-31 09:33] dragonly commented on #3851
There're still unresolved issues
https://github.com/pingcap/tidb-operator/pull/3858#issuecomment-802457993

[2021-04-01 01:15] hykych opened #3889 "raft-max-inflight-msgs is disappeared when using tidb-operator"
## Bug Report

**What version of Kubernetes are you using?**
v1.13.2

**What version of TiDB Operator are you using?**
v1.1.9

**What did you do?**
I created a tidbcluster yaml, and assign the config `raft-max-inflight-msgs`, but this config not show up in the actual resource in the kubernetes.
![image](https://user-images.githubusercontent.com/10421724/113229986-a6895800-92ca-11eb-9e64-05bbfc3277

[2021-04-01 01:49] DanielZhangQD commented on #3874
Currently, [PodSecurityContext](https://github.com/pingcap/tidb-operator/blob/master/pkg/apis/pingcap/v1alpha1/types.go#L820) is supported for PD/TiDB/TiKV/TiFlash/Pump, all the other components, e.g. TiCDC, monitoring, etc. are not supported, we can refer to the implementation of PodSecurityContext to support the other components.

[2021-04-01 02:28] DanielZhangQD commented on #2110
We need to support this for PD/TiDB/TiKV/TiFlash/Pump/TiCDC/DM master/DM worker.

[2021-04-01 02:36] hykych commented on #3889
@DanielZhangQD  Yes, I' applyed the CRD for v1.1.9

[2021-04-01 02:49] DanielZhangQD commented on #3889
The TOML format should be as following:
[code]

[2021-04-01 03:02] hykych commented on #3889
@DanielZhangQD I've changed it. still doesn't work. this is what I got from the config
![image](https://user-images.githubusercontent.com/10421724/113237458-71383680-92d9-11eb-9554-c415c03f3007.png)

this is what i got from the kubernetes
![image](https://user-images.githubusercontent.com/10421724/113237604-b9efef80-92d9-11eb-99c2-bc2fa4c2e795.png)

[2021-04-01 03:50] hykych commented on #3889
@DanielZhangQD  turns out the TOML format configuration works. thanks, this can be closed now.

[2021-04-01 03:50] #3889 closed

[2021-04-01 08:33] #3850 closed

[2021-04-02 03:54] DanielZhangQD commented on #3697
Only handle the TiDB scaling in is good now, for the other components, e.g. PD, TiKV, TiFlash, please help verify that the members/stores scaled in will disappear from the TiDB Dashboard.

[2021-04-02 12:56] Thearas opened #3893 "Q: Is it possible to remove PVC(s) automatically when deleting the corresponding tidb-cluster"

[2021-04-04 16:10] mikechengwei commented on #3893
That's ok , we can provide a cleanPolicy field for pvc.

[2021-04-06 01:44] DanielZhangQD commented on #3893
@Thearas Sorry that we do not support this feature now.
@mikechengwei How could that meet the request? We may have to add a GC controller to check and remove the orphaned PVCs, however, when it comes to the deletion of PVC/PV, we prefer the users to do that manually to ensure data safety.

[2021-04-06 02:41] #3851 closed

[2021-04-06 03:47] Thearas commented on #3893
@DanielZhangQD @mikechengwei Thanks, I run many TiDB tests in my cluster, so deleting PVCs automatically when test is finished will be very helpful to me.
Currently I write a simple script to delete the dangling PVCs. (According to https://docs.pingcap.com/tidb-in-kubernetes/dev/destroy-a-tidb-cluster#delete-data)
[code]

[2021-04-06 03:52] shonge commented on #3893
We should use `enablePVReclaim: true` when scale in pd or tikv will trigger PV reclaim automatically:
https://github.com/pingcap/tidb-operator/blob/2286554cda1ec355f1b9f8cff76a078b76f001ae/charts/tidb-cluster/values.yaml#L32

[2021-04-06 04:24] DanielZhangQD opened #3895 "Optimization for `PodsAreChanged` function"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

In the function here https://github.com/pingcap/tidb-operator/blob/master/tests/e2e/util/pod/pod.go#L40-L45, it's not reasonable to return an error if the Pod has been changed, which is already indicated by the `true`.
And the return value check for this function in the cal

[2021-04-06 09:09] SabaPing commented on #2946
#3892

[2021-04-07 02:49] handlerww opened #3897 "Release v1.2.0-beta.1"
This is an issue tracking the tidb-operator v1.2.0-beta.1 release.

Previous:
- #2567
- #2775
- #2839
- #3010
- #3140
- #3263
- #3380
- #3495
- #3616
- #3656
- #3754
- #3812

Pending PRs:

TODO:
- [x] Update release notes
- [x] Update default version of TiDB Operator
- [x] Update TiDB version and tools version if necessary
- [x] Update TiDB Operator version in docs-tidb-operator repo
- [x] Update

[2021-04-07 07:33] shonge commented on #3895
I can help to fix it.

[2021-04-07 07:33] shonge commented on #3895
/assign

[2021-04-07 10:27] DanielZhangQD opened #3900 "Update TiDB version to v5.0"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Update the version of the TiDB core components and the tools in the tidb-backup-manager to v5.0. And also the versions in the docs-tidb-operator repo.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-04-07 12:12] cyliu0 opened #3902 "No need to wait tikv transfer leader timeout while upgrading tidb cluster with single tikv node"
## Feature Request

**Is your feature request related to a problem? Please describe:**

It will take 10 minutes to wait tikv leader to transfer. Although there is only one tikv node. It's not necessary.

**Describe the feature you'd like:**

Upgrade the tikv directly if there is only one tikv

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy

[2021-04-07 13:11] #3897 closed

[2021-04-08 14:28] lichunzhu opened #3904 "stage for backup CR looks confusing"
## Question

https://github.com/pingcap/tidb-operator/blob/697fd25ee728f900e81969fa4dd82181d81be171/cmd/backup-manager/app/backup/manager.go#L146

https://github.com/pingcap/tidb-operator/blob/697fd25ee728f900e81969fa4dd82181d81be171/cmd/backup-manager/app/backup/manager.go#L170

We set backup(br) job's status from Running -> Prepare -> Completed, which looks very confusing.

https://github.com/pi

[2021-04-08 14:28] lichunzhu commented on #3904
Suggest changing to Prepare -> Running -> Completed

[2021-04-09 01:29] DanielZhangQD commented on #3893
With this, you have to:
[code]
Scale in the replicas of each component to 0 and after all the Pods are deleted, delete the tc.

[2021-04-09 03:27] DanielZhangQD opened #3905 "Run e2e tests for different Kubernetes releases"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

TiDB Operator claimed that it supports running from Kubernetes v1.12, so we should run e2e tests, e.g. in daily Jenkins jobs for all the Kubernetes releases from v1.12.
**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy

[2021-04-09 04:06] #3893 closed

[2021-04-09 06:42] coderplay opened #3906 "DM doesn't necessary to be in the same namespace as a TiDB's"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We can create cross TiDB clusters tasks in DM. However currently,  DM depends on tidb's discovery,   it is forced to be in the same namespace as one tidb's.

**Describe the feature you'd like:**
Since discovery is lightweight,  it's better to launch a dedicate discovery for DM,

[2021-04-09 09:18] liubog2008 commented on #3874
TODO:
- [ ] Change all operator Dockerfiles to non root
- [ ] Set `runAsNonRoot` field for all operator kubernetes manifests
- [ ] Change all ti-component Dockerfiles to non root
- [ ] Support PodSecurityContext for all ti-components

@DanielZhangQD PTAL, anything else？

[2021-04-09 09:20] DanielZhangQD commented on #3874
@liubog2008 It's not necessary to update the Dockerfiles, we can just configure the PodSecurityContext to run as a non-root user, right?

[2021-04-09 09:28] liubog2008 commented on #3874
Yes, but `PodSecurityContext` can be omit if we update Dockerfile.

[2021-04-09 09:30] liubog2008 commented on #3874
And built as non-root image is a better practice

[2021-04-09 09:57] DanielZhangQD commented on #3874
Yes, I understand that.
However, all the users till now are running as root, what if they don't want to run as non-root, with the current image and PodSecurityContext, users can choose to run as root or non-root, and all the current users do not need to change the operation experience.
BTW, running with non-root may make the debug more difficult, e.g. we may need to install some tools during the d

[2021-04-09 10:19] liubog2008 commented on #3874
This feature is for supporting `PodSecurityContext` for all ti-components

[2021-04-09 10:20] liubog2008 opened #3907 "Change to run all components as non root"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-04-09 10:22] liubog2008 commented on #3874
See https://github.com/pingcap/tidb-operator/issues/3907 for changing default deploy and build files

[2021-04-09 12:58] DanielZhangQD commented on #3907
From https://github.com/pingcap/tidb-operator/issues/3874#issuecomment-816546611
TODO:
- [ ] Change all operator Dockerfiles to non-root
- [ ] Change all ti-component Dockerfiles to non-root

[2021-04-12 02:11] liubog2008 commented on #3904
@DanielZhangQD Just exchange Prepare and Running? Are there any problems of API meaning changes?

[2021-04-12 02:48] DanielZhangQD commented on #3904
- Backup with BR
  - `Prepare` should be updated in https://github.com/pingcap/tidb-operator/blob/master/cmd/backup-manager/app/backup/manager.go#L183 block.
  - `Running` should be updated before the real backup https://github.com/pingcap/tidb-operator/blob/master/cmd/backup-manager/app/backup/manager.go#L264.
- Backup with Dumpling
  - `Prepare` should be updated before setting GC https://github

[2021-04-12 03:04] liubog2008 opened #3908 "Define a struct of common fields for all components"
Now there are many fields defined everywhere in API

- imagePullSecret
- imagePullPolicy
- affinity
- toleration
- nodeSelector
- podSecurityContext

All of these fields are common for all components. And number of fields will grow in the feature kubernetes version.

We need a struct for all of these common fields.

- [ ] Add struct of common fields
- [ ] Add common functions to sync these fields

[2021-04-12 09:27] #3895 closed

[2021-04-12 11:18] liubog2008 opened #3912 "Redesign backup status conditions"
Now backup status condition is not  well designed to obey [kubernetes api convention](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties)

- Use condition type as phase
- Some condition is not reasonable(e.g. Running, Prepare)

[2021-04-13 04:49] #3904 closed

[2021-04-13 08:07] tirsen commented on #2345
Will this issue be fixed by https://github.com/pingcap/tidb-operator/pull/3892 ?

[2021-04-13 08:08] DanielZhangQD commented on #2345
@tirsen Yes, we will cover this in #3892.

[2021-04-14 06:08] shonge commented on #3902
/assign

[2021-04-14 08:33] #3566 closed

[2021-04-14 08:54] romberli commented on #299
i'm using centos7.8, and there is no such file /etc/systemd/system/docker.service, though, there is a file /etc/systemd/system/multi-user.target.wants/docker.service, and this is a soft link of /usr/lib/systemd/system/docker.service,
so I wonder why we should edit `/etc/systemd/system/docker.service` instead of `/usr/lib/systemd/system/docker.service`...

![image](https://user-images.githubusercon

[2021-04-15 03:20] shonge commented on #3868
/assign

[2021-04-15 03:41] shonge commented on #3868
Duplicate of #3649

[2021-04-15 07:01] csuzhangxc opened #3919 "Release v1.1.12"
This is an issue tracking the tidb-operator v1.1.12 release.

Previous:
- #2567
- #2775
- #2839
- #3010
- #3140
- #3263
- #3380
- #3495
- #3616
- #3656
- #3754
- #3812

Pending PRs:

TODO:

- [x] Update default version of TiDB Operator #3920
- [x] Update TiDB version and tools version if necessary #3920
- [x] Update TiDB version in the docs-tidb-operator repo if necessary https://github.com/pingca

[2021-04-15 08:43] slow-zhang opened #3921 "How to load custom dashboard to grafana"
## Question

I build a cluster by TiDB + CustomServerA. By [monitor-with-externalConfigMap](https://github.com/pingcap/tidb-operator/tree/master/examples/monitor-with-externalConfigMap), the CustomServerA's metrics is loaded to tidb cluster, but I can not load my custom dashboard to TiDBMonitor.

Is there some way I can add my CustomServerA's dashboard to grafana like tidb's dashboard

[2021-04-16 03:57] mikechengwei commented on #3921
There is no good way now, we will support this feature.

[2021-04-16 03:57] mikechengwei commented on #3921
/assign

[2021-04-16 07:25] DanielZhangQD opened #3923 "TiCDC supports setting TLS certs for downstreams"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, TiDB Operator only supports enable TLS between the TiCDC and other components, e.g. PD, however, for the different downstreams, e.g. mysql, tidb, etc., they may also have TLS enabled, we have to support setting the TLS certs for the downstreams.
Refer to the code for DM: https://github.com/pingcap/ti

[2021-04-16 12:32] DanielZhangQD commented on #3292
The following items to be done after #3867:
1. DM
2. No need to replace the cluster name in https://github.com/pingcap/monitoring/blob/master/platform-monitoring/operator/init.sh
3. The `tc` parameters in the various functions in `pkg/monitor/monitor/monitor_manager.go` and `pkg/monitor/monitor/util.go` can be removed.

[2021-04-16 12:49] shonge commented on #1235
/assign

[2021-04-16 23:22] DerrickMartinez commented on #3728
Any thoughts on arm64?

[2021-04-18 16:19] mikechengwei opened #3925 "Support shards configuration in tidbmonitor"
## Feature Request

**Is your feature request related to a problem? Please describe:**
If single prometheus can't hold current targets metrics,user can reshard targets on multiple prometheus servers.
So we can use prometheus `modulus` configuration to implement , which take of the hash of the source label values , split scrape targets based on the number of shards.

**Describe the feature you'd li

[2021-04-19 07:03] slow-zhang commented on #3921
ok, a workaround is using the grafana `upload .json file` function.

please @me if this supported

[2021-04-19 07:23] slow-zhang opened #3927 "can prometheus of tidbMonitor support add some scrape_configs"
## Question

now we can use [externalConfigMap](https://github.com/pingcap/tidb-operator/tree/master/examples/monitor-with-externalConfigMap) replace Prometheus config. Is there a method we add some scrape_configs?

[2021-04-19 08:02] DanielZhangQD commented on #3118
Need to verify if https://docs.pingcap.com/zh/tidb-in-kubernetes/dev/aggregate-multiple-cluster-monitor-data works well for the cluster deployed across Kubernetes clusters.

[2021-04-20 00:53] DanielZhangQD opened #3928 "Support not generating Prometheus alert rules"
## Feature Request

**Is your feature request related to a problem? Please describe:**

If `AlertmanagerURL` is not configured, there is no need to generate the alert rules here
https://github.com/pingcap/tidb-operator/blob/master/pkg/monitor/monitor/template.go#L176-L178.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption,

[2021-04-20 01:40] #3919 closed

[2021-04-20 01:42] DanielZhangQD commented on #3927
@slow-zhang Do you mean to add some customized scrape_configs to the Prometheus jobs?
If yes, it's not supported yet.
Could you please describe your requirement in detail? Why do you need this and how would you use this?

[2021-04-20 08:03] july2993 opened #3930 "avoid user directly delete a cluster already join a cross-Kubernetes cluster"
## Feature Request

**Is your feature request related to a problem? Please describe:**

https://docs.pingcap.com/tidb-in-kubernetes/dev/deploy-tidb-cluster-across-multiple-kubernetes#exit-and-reclaim-clusters-that-already-join-a-cross-kubernetes-cluster
avoid user directly delete a cluster already join a cross-Kubernetes cluster

currently, you must scale all component' replicas as 0 before deleti

[2021-04-20 10:07] #3080 closed

[2021-04-20 11:01] #3923 closed

[2021-04-20 15:32] mikechengwei commented on #3928
/assign

[2021-04-21 03:14] DanielZhangQD commented on #3509
Need to add e2e for DM running with non-root, refer to https://github.com/pingcap/tidb-operator/pull/3909/files.

[2021-04-21 04:29] #3873 closed

[2021-04-21 08:21] #3906 closed

[2021-04-21 09:17] shonge commented on #1235
Can you describe which scene will transfer leader more than 2 times? @Yisaer

[2021-04-21 09:29] DanielZhangQD commented on #3877
More cases required, refer to https://github.com/pingcap/tidb-operator/pull/3933#issuecomment-823868845.

[2021-04-21 09:33] #3928 closed

[2021-04-21 10:55] #3900 closed

[2021-04-21 12:19] #3874 closed

[2021-04-22 05:57] DanielZhangQD commented on #3857
Related components:

- PD/TiDB/TiKV/TiFlash/Pump/CDC
- DM master/DM worker

[2021-04-22 06:06] DanielZhangQD opened #3935 "Support setting liveness probe and readiness probe for TidbMonitor"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Support setting liveness probe and readiness probe for Grafana and Prometheus containers in TidbMonitor.
**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-04-22 06:27] #3883 closed

[2021-04-22 11:37] #3697 closed

[2021-04-23 03:40] zhucan opened #3939 "Is it needed to make sure CRDs exist before starting the controller ?"
https://github.com/pingcap/tidb-operator/blob/c76d162b88fa02047193c19480cf5e1044d50f34/cmd/controller-manager/main.go#L183

[2021-04-23 14:03] ttadeo opened #3941 "TiDB Operator - Cannot connect to TiDB Service for TiDB Cluster External IP"
## Bug Report

**What version of Kubernetes are you using?**
 AWS EKS 1.18

**What version of TiDB Operator are you using?**
 TiDB Operator Version: version.Info{GitVersion:"v1.1.12", GitCommit:"267b0d44f8c66f41a3a02685d7100c55d4697715", GitTreeState:"clean", BuildDate:"2021-04-15T12:21:20Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"linux/amd64"}

PROBLEM:

Trying to connect to EXTERNAL-IP f

[2021-04-25 01:25] DanielZhangQD commented on #3939
@zhucan It's a good idea, would you like to submit PR to improve this?

[2021-04-25 01:29] DanielZhangQD commented on #3941
@ttadeo `Local` does not block access to the TiDB service, could you please check the LB on your AWS console and see if it has available targets? And you may also check with the AWS support for the NLB issues.

[2021-04-26 03:01] zhucan opened #3945 "Why not support set "--kubeconfig"？ It is not convenience to debug with bin file"
https://github.com/pingcap/tidb-operator/blob/5f1c1350fd24e48aeac978b32e2c307647b4f9c9/cmd/controller-manager/main.go#L93

[2021-04-26 03:37] zhucan commented on #3939
@DanielZhangQD yeah, I had tested, but I have a question.  When running tidb-controller,  it's need to start six controller, but when I exec "kubectl apply -f https://raw.githubusercontent.com/pingcap/tidb-operator/v1.1.12/manifests/crd.yaml" , the "dmclusters.pingcap.com"  not installed.
![image](https://user-images.githubusercontent.com/13997135/116025695-b571e900-a683-11eb-96de-83766af24be0.png