[2020-06-17 06:15] DanielZhangQD commented on #2741
From the template here https://github.com/pingcap/tidb-operator/blob/master/pkg/monitor/monitor/template.go#L107, it seems no scrape job for binlog.

[2020-06-17 07:08] tirsen opened #2742 "TidbMonitor scrapes across all namespaces unless namespace is set explicitly"
TidbMonitor will scrape all pods across all namespaces unless you explicitly specify a namespace. This doesn't match the documentation here: https://pingcap.com/docs/tidb-in-kubernetes/stable/api-references/#tidbclusterref

Without a namespace:
[code]

The kubernetes_sd_configs of the Prometheus config does not filter on the namespace:
[code]

With a namespace:
[code]

The kubernetes_sd_configs of

[2020-06-17 08:10] #2737 closed

[2020-06-17 09:48] #2710 closed

[2020-06-17 12:29] #2683 closed

[2020-06-17 12:43] aylei opened #2753 "apiextensions.k8s.io/v1beta1/CustomResourceDefinition is deprecated"
## Bug Report

**What version of Kubernetes are you using?**
`v1.16`

**What version of TiDB Operator are you using?**

`v1.1.0`

**What did you see instead?**
apiextensions.k8s.io/v1beta1/CustomResourceDefinition is deprecated by apiextensions.k8s.io/v1/CustomResourceDefinition and not supported by Kubernetes v1.19+ clusters.

[2020-06-17 13:33] cofyc commented on #2753
actually, it will be removed in v1.22 (see the fix PR: https://github.com/kubernetes/kubernetes/pull/92220)

we should provide a v1 version at least before v1.22.

[2020-06-17 17:35] kolbe opened #2757 "terraform eks provider 12.1.0 cannot find kubeconfig"
## Bug Report

I upgraded the eks provider in tidb-operator/deploy/modules/aws/tidb-operator/main.tf to 12.1.0 (from 5.1.0) to try to resolve some deployment problems. I found that version 12.1.0 of the operator for some reason cannot find the kubeconfig placed in the credentials/ directory, so tries to use a default k8s endpoint, and failing to connect.

**What version of Kubernetes are you using

[2020-06-18 02:13] DanielZhangQD commented on #2757
Not sure if it's the issue of the helm provider.

[2020-06-18 02:37] DanielZhangQD opened #2759 "evaluate to introduce chaos-mesh into the operator test"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-06-18 02:39] DanielZhangQD commented on #2759
We may need to introduce the chaos-mesh into the operator test flow to help improve the quality.

[2020-06-18 02:42] DanielZhangQD opened #2760 "more tests on EKS"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We may need to add more test cases for the test job running on EKS to find some potential issues, e.g. https://github.com/kubernetes/kubernetes/issues/77389

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-06-18 02:43] DanielZhangQD commented on #2760
It's better to cover both the local-storage and EBS volumes usage for TiKV.

[2020-06-18 04:46] cofyc opened #2761 "PD introduces a break change in scheduler name convention since v3.1.0"
Before v3.1.0, the name of evicting store ID x scheduler will be `evict-leader-scheduler-x`.
After v3.1.0, the name of evicting leader scheduler will always be `evict-leader-scheduler`.

xref: https://github.com/pingcap/pd/issues/2550

[2020-06-18 05:06] cofyc commented on #2761
we can switch to `scheduler-config` API if the PD version >= 3.1.0.
ref: https://github.com/pingcap/pd/issues/2550#issuecomment-645773811

[2020-06-18 05:20] Yisaer commented on #2759
I think https://github.com/pingcap/tipocket have already do this test.

[2020-06-18 05:20] #2759 closed

[2020-06-18 06:09] Yisaer opened #2765 "TiFlash document configuration affect other Components"
## Bug Report

https://github.com/pingcap/tidb-operator/pull/2758#issuecomment-645745794

TiFlash document configuration affect other Components

[2020-06-18 06:36] Yisaer opened #2767 "PD Member haven't been deleted after pd scaling-in somtimes"
## Bug Report

Operator v1.1.0  / PD v4.0.0

In recent stability test, We found that the pd member might haven't been deleted after pd scaling-in.

However, from the stability test logs, the logs actually showed that the member has been deleted.

[code]

https://github.com/pingcap/tidb-operator/blob/9208698ea418d1f1037b65b05d8c0d0cb4af9b14/pkg/manager/member/pd_scaler.go#L138-L143

Though I haven'

[2020-06-18 08:12] #1665 closed

[2020-06-18 08:13] #2742 closed

[2020-06-18 08:22] #2631 closed

[2020-06-18 09:16] #2761 closed

[2020-06-18 14:27] zjj2wry commented on #2634
humanize package will be used
[code]

[2020-06-18 16:54] reidlai opened #2773 "Need to add volumeMode in tidbcluster CRD"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Try to deploy TiDB Operator in Minikube but PD keeps on Pending because cannot provision storage through standard storage class except adding volumeMode Filesystem

**Describe the feature you'd like:**
Add flexibility to support local and cluster environment deployment including minikube

**Describe alternatives

[2020-06-18 18:04] sstubbs commented on #2695
I've been looking through the operator source. I think it would take me a bit of time to get my head around how everything works. Happy to try but after more looking into it does it make more sense to use the binlog and write to an incremental file and then restore from that if needed? Rather than taking full backups each time.

[2020-06-18 18:08] sstubbs commented on #2695
I'm not very sure how the binlog works all I've seen is it's explanation on the website https://pingcap.com/docs/dev/tidb-binlog/tidb-binlog-overview/ would I be able to restore a specific database or would it restore all databases at that point in time?

[2020-06-18 20:49] kolbe opened #2774 "Add commitTs to RestoreStatus"
## Feature Request

**Is your feature request related to a problem? Please describe:**

It's difficult right now to identify the commitTs of a Restore operation.

**Describe the feature you'd like:**

The RestoreStatus object should include a commitTs that matches the field in the corresponding BackupStatus object.

**Describe alternatives you've considered:**

A user can record the commitTs from

[2020-06-18 21:20] kolbe commented on #2774
This command can be executed to view the `metadata` file included in the backup while the Restore pod is running:

[code]

[2020-06-19 03:11] cofyc commented on #2773
but `Filesystem` is implied when `VolumeMode` is not set in PVC spec

what's your minikube version? can you paste the yaml of standard storage class of minikube?

[2020-06-19 03:19] cofyc commented on #2377
We're going to simplify terraform scripts decoupling tidb-operator setup from Kubernetes cluster provisioning. This is not necessary anymore.
I would suggest providing a generic way to add new node pools.

[2020-06-19 03:19] #2377 closed

[2020-06-19 03:22] cofyc opened #2775 "release v1.1.1"
This is a track issue for tidb-operator v1.1.1 release.

previous:
- https://github.com/pingcap/tidb-operator/issues/2567

pending PRs:
- [x] #2772
- [x] https://github.com/pingcap/tidb-operator/pull/2750
- [x] https://github.com/pingcap/tidb-operator/pull/2769

todo:
- [x] https://github.com/pingcap/tidb-operator/pull/2781
- [x] build and publish
- [x] announcement (slack, email, etc.)

[2020-06-19 04:16] #2186 closed

[2020-06-19 05:08] #2634 closed

[2020-06-19 07:28] cofyc opened #2779 "improve release process"
- don't update non-semantic chart version
- push images to registry.cn-beijing.aliyuncs.com/tidb

[2020-06-19 07:33] Yisaer opened #2780 "Check Targets for Monitor in e2e test"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Currently, we only check whether there are some targets in the Prometheus in e2e monitor test case.

https://github.com/pingcap/tidb-operator/blob/6b50c1b8a61f413f8f6ced67b892ceca65e251bc/tests/monitor.go#L174-L211

I think we could deploy a full tidbcluster(tidb/tikv/pd/ti

[2020-06-19 07:59] reidlai commented on #2773
@cofyc do i need to use local volume provisioner?

[2020-06-19 08:06] cofyc commented on #2773
`local volume provisioner` is recommended if you want to use local storage in production

it should be ok to use any storage. the operator just creates PVCs, if the PVCs are pending to bind with PVs, we should check why PVs are not provisioned

I would suggest you provide more information, then we can check why it can't work in minikube.

by the way, do you apply our basic examples here: https://g

[2020-06-19 08:12] reidlai commented on #2773
will try again and update this post, please keep it open. Thanks.

[2020-06-19 08:14] cofyc commented on #2773
sure

[2020-06-19 11:19] cofyc opened #2784 "use controller.GuaranteedUpdate to update TidbCluster CR in e2e"
[code]

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/operator_ghpr_e2e_test_kind/detail/operator_ghpr_e2e_test_kind/6930/tests

we should always use the following method to update `TidbCluster` CR in e2e, e.g. https://github.com/pingcap/tidb-operator/blob/eafc4b9fd302bc6e724f9b5c0db44566fc180e20/tests/e2e/tidbcluster/tidbcluster.go#L333-L336

[2020-06-19 11:33] DanielZhangQD opened #2786 "TidbMonitor supports monitoring for lightning, importer, and cdc"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-06-19 11:39] DanielZhangQD opened #2787 "New terraform scripts for EKS deployment"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The current terraform scripts deploy the Kubernetes cluster, Helm, Tiller, and also the TiDB Operator which is error-prone and causes many issues during the deployment.
**Describe the feature you'd like:**

Write new terraform scripts to:
- Deploy the kubernetes cluster and the node pools for different componen

[2020-06-19 11:40] DanielZhangQD commented on #2787
@weekface @cofyc @Yisaer WDYT?

[2020-06-19 11:44] cofyc commented on #2787
SGTM

this should be generic and extensible

[2020-06-19 12:06] DanielZhangQD commented on #2741
Fixed by https://github.com/pingcap/tidb-operator/pull/2750

[2020-06-19 12:06] #2741 closed

[2020-06-19 12:24] DanielZhangQD opened #2789 "Support enabling tls for running TiDB Cluster"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-06-20 03:33] reidlai commented on #2773
I found hints....before that i have quick question, why tidb-operator need to deploy kube-scheduler.  All K8S cluster has their own kube-scheduler.  Any reason?

[2020-06-20 04:39] reidlai commented on #2773
Finally it is working until i add local-storage storage class by my own

[2020-06-20 13:04] cofyc commented on #2773
its our custom scheduler (kube-scheduler with a extender). it’s optional,
although enabled by default

You can remove schedulerName field in TidbCluster yaml, then the default
scheduler of cluster will be used

On Sat, Jun 20, 2020 at 11:33 AM Reid Lai <notifications@github.com> wrote:

--
Yecheng Fu (Cofyc)
https://yechengfu.com

[2020-06-20 13:12] cofyc commented on #2773
Great it works now! Sorry to have confused you.

In many of our examples, we set local-storage in storageClassName field.
But it’s optional actually. You can omit it, then the default storage class
of the cluster will be used.

You can try our basic examples under examples/basic instead, which should
work in minikube/kind without extra setup.

Here is our get-started tutorial:
https://pingcap.com/

[2020-06-21 20:11] DanielZhangQD commented on #2787
Yes, that's covered in the item `The node pools should be able to customized so that users can add new node pools for different components easily.`.
I will improve the description.

[2020-06-22 01:57] #2779 closed

[2020-06-22 03:19] Yisaer commented on #2787
LGTM

[2020-06-22 03:22] Yisaer commented on #2484
@PengJi  Hi, this feature is important to Auto-scaling, so I'm going to realize this feature myself as it seems haven't any progress now.

[2020-06-22 03:43] weekface commented on #2597
When we start to update TiDB, the StatefulSet controller sends command to delete Pod. The pod is [removed](https://github.com/pingcap/tidb-operator/issues/2597#issuecomment-644533144) from [endpoints](https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods) list for service, and are no longer considered part of the set of running Pods for replication controllers. Then the LB(in

[2020-06-22 06:03] #2775 closed

[2020-06-22 06:11] cofyc commented on #2597
maybe we can just allow users to specify [container lifecycle hooks](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks) for our components

we can provide an example (and docs, etc.) for this scenario, but don't limit the possibilities

[2020-06-22 06:49] DanielZhangQD commented on #2277
@tfulcrand Sorry for the late response, so basically, the BR and TiKV should support loading customized certs and connects to the MinIO instance with https enabled, right?

[2020-06-22 06:49] cofyc commented on #2169
@mikechengwei
in production, what information is useful and should be printed?

[2020-06-22 07:28] DanielZhangQD commented on #2133
Traced in #2787.

[2020-06-22 07:28] #2133 closed

[2020-06-22 07:43] DanielZhangQD commented on #1647
Close this as we will replace `mydumper` with `dumpling`.

[2020-06-22 07:43] #1647 closed

[2020-06-22 07:46] DanielZhangQD commented on #1650
Close this as tikv-importer will be removed in v4.0.3.

[2020-06-22 07:46] #1650 closed

[2020-06-22 08:10] mikechengwei commented on #2169
TidbMonitor have grafana ,prometheus,reloader and additional container. Do we need to show their status like TidbCluster.
[code]

[2020-06-22 08:15] cofyc commented on #2169
maybe we can show their running status? then we can quickly check if components have problems or not

[2020-06-22 08:18] DanielZhangQD commented on #2695
@sstubbs binlog is not used for backup, it's the data replication, e.g. from one TiDB Cluster to another cluster.
`mydumper+lightning` only supports full backup so that you can recover all of the data during a disaster.
If you only take incremental data, when the cluster is gone, how can you get all of the data back? you have to restore from the first full backup and then all of the following incr

[2020-06-22 08:23] mikechengwei commented on #2169
Do you mean `ready` and `desire` info?  Tidbmonitor is running in a pod with multiple containers, i think we can't use `ready` and `desire` columns. We can use `ready` column the same as in pod columns.

[2020-06-22 08:25] mikechengwei commented on #2169
We can inherit tidbmonitor pod info.  `READY` ,  `STATUS` and  `RESTARTS` columns . What do you think?

[2020-06-22 08:29] cofyc commented on #2169
I think it will be useful.

[2020-06-22 08:30] mikechengwei commented on #2169
Ok, i can do it and do it well soon.

[2020-06-22 08:34] cofyc commented on #2169
thanks! for users who do not know technical details, they may check the status `TidbMonitor` to see if the monitor is ready or not. I guess it will be useful if we can print more information by default.

[2020-06-22 12:40] Yisaer opened #2795 "Contribute TiDB Operator into Rancher application"
We can add the TiDB Operator charts (v1.0.7 / v1.1.1) into  [rancher/chart](https://github.com/rancher/charts).

For multi version , I think `cert-manager` is a good example. https://github.com/rancher/charts/tree/master/charts/cert-manager

[2020-06-22 22:34] sstubbs commented on #2695
Ok understood thanks for the clarification.

[2020-06-23 06:01] #2784 closed

[2020-06-23 06:24] BusyJay opened #2797 "grafana version is outdated"
## Bug Report

Now TiDB 4.0 uses grafana 6.1.6, but when deploying by tidb-operator, it will use 6.0.1 instead.

[2020-06-23 07:05] Yisaer opened #2798 "Collecting logs for each serial e2e case"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, we can't get the logs (especially from operator) after each serial e2e test. This is hard to debug when e2e failed in serial cases.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-06-23 09:59] #2484 closed

[2020-06-23 10:49] #2767 closed

[2020-06-23 12:25] DanielZhangQD commented on #2797
We may update the version to 6.7.4 which is the latest version of 6.x.

[2020-06-23 12:34] DanielZhangQD commented on #2787
New provider and module versions should be used.

[2020-06-23 12:46] DanielZhangQD commented on #2734
@kolbe I think you should delete the PVC manually in this case, and it's not safe for Operator to delete the PVC just because its capacity does not match the requested one.

[2020-06-23 12:48] DanielZhangQD commented on #2695
This should be done for both restoring with lightning and BR.

[2020-06-23 13:53] BusyJay commented on #2797
I suggest to keep consistent across products instead of just upgrading to latest.

[2020-06-23 18:49] kolbe commented on #2734
@DanielZhangQD maybe it can't delete the PVC, but it seems like the Restore job should refuse to start if it can't find a PVC with sufficient space. That seems more friendly than spending a lot of time running only to fail later because the disk wasn't big enough.

[2020-06-24 01:59] DanielZhangQD commented on #2797
OK, then please notify the Operator team when the granfana or prom version is updated in TiDB.

[2020-06-24 02:02] DanielZhangQD commented on #2734
Yes, your point makes sense, we'd better check the storage request if PVC already exists.

[2020-06-24 02:23] cofyc commented on #2753
I removed this from the v1.1.2 milestone as this is not urgent.

[2020-06-24 03:27] #2765 closed

[2020-06-24 06:38] DanielZhangQD commented on #2597
Agree.

For the `SIGQUIT` signal, TiDB should handle the `SIGTERM` in the same way, https://github.com/pingcap/tidb/issues/13369 was created long time ago but seems no action from TiDB.

BTW, for `spec.terminationGracePeriodSeconds`, we cannot set it too long, otherwise, it may block the upgrade for too much time.

[2020-06-24 07:08] cwen0 opened #2805 "Failed to create the latest version tidb cluster"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of TiDB Operator are you using?**

[code]

**What's the status of the TiDB cluster pods?**

[code]

**log**

tidb-controller-manager:

[code]

**tc**

[code]

[2020-06-24 07:13] cofyc commented on #2805
[code]

looks like PD changed API JSON scheme? cc @Yisaer

[2020-06-24 07:13] cwen0 commented on #2805
This issue caused by the latest changes of pd: https://github.com/pingcap/pd/commit/b21855a3aeb787c71b0819743059e432be217dcd#diff-c5ba45b5e0ef818c73c30250bab82c42R640

![image](https://user-images.githubusercontent.com/22956341/85513076-38be4a80-b62d-11ea-9acb-333f51620799.png)

[2020-06-24 07:19] cofyc commented on #2805
ah, then we should use `interface{}` too

[2020-06-24 07:37] cofyc commented on #2805
As for this change, we can update the code to use `interface{}` and make the code compatible with `map[string]string`.

In the future, I would suggest PD can treat its API as versioned API and bump the version when the schema changes or add new API instead of breaking backward compatibility.

[2020-06-24 07:42] DanielZhangQD opened #2806 "Support deploying TiDB Cluster across multiple Kubernetes clusters"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Some users want to deploy the TiDB cluster across multiple Kubernetes clusters located in different data centers.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-06-24 08:29] nolouch commented on #2805
@cofyc Could you fire an issue about your suggestion and give us a list about which API operator may use? I think we need 头manage API with version but in the short-term, we need to consider compatibility when we change these APIs.

[2020-06-24 08:32] cofyc commented on #2805
sure

[2020-06-24 09:29] DanielZhangQD opened #2808 "Update PD/TiDB/TiKV configs to v4.0.2"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Update PD/TiDB/TiKV configs to v4.0.2.
The configurations introduced in the following PRs should be included:
https://github.com/pingcap/tidb/pull/18197/files
https://github.com/pingcap/pd/pull/2561/files
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documen

[2020-06-24 13:23] weekface opened #2811 "Add document for stop TiDB gracefully"
Follow: https://github.com/pingcap/tidb-operator/pull/2810

[2020-06-25 10:13] danche opened #2813 "record the unbind time with pod and pvc"
## Feature Request

**Is your feature request related to a problem? Please describe:**

we have used the Tidb-operator in the product environment. It's dangerous and difficult to clear pvc`s data. So we have recorded the unbind time for deciding.
So can we commit the PR to review?

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Ad

[2020-06-25 10:24] danche opened #2814 "the switch of denying the delete TC"
## Feature Request

**Is your feature request related to a problem? Please describe:**

we have used the Tidb-operator in the product environment. It's dangerous to delete TC, the operation may result in lose of all data. So we have developed the switch to deny the deleting TC, except the switch is open.
So can we commit the PR to review?

**Describe the feature you'd like:**

**Describe alternati

[2020-06-26 06:34] tennix commented on #2286
We should make this optional, users can choose the deletion policy whether to delete the backup files on S3/GCS.

[2020-06-26 13:51] DanielZhangQD commented on #2813
@danche Could you please explain more detail about `recorded the unbind time for deciding`? What's it for?

[2020-06-26 13:54] DanielZhangQD commented on #2814
@danche Deleting the tc will not remove the PVCs so the data will preserve.
I think yes, you can submit PR where you can explain more about this feature and we can discuss the issues if any on the PR.
Thanks!

[2020-06-26 19:29] kolbe opened #2815 "Support other than gzip in tidb-lightning"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The Init Container of tidb-lightning is pingcap/tidb-cloud-backup and it seems to have `tar xvzf` hardcoded into its Command. That means that it'll fail if a different compression scheme is used.

I guess this means the pingcap/tidb-cloud-backup image needs to be changed, but I have no idea where that image com

[2020-06-27 09:35] DanielZhangQD opened #2816 "Support deploying one TiDB Cluster across multiple regions or data centers"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-06-28 02:42] DanielZhangQD opened #2817 "Update the lightning version in the backup-manager to support auto-random"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-06-28 02:46] DanielZhangQD commented on #2815
@kolbe The script is in https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-lightning/templates/scripts/_start_data_retriever.sh.tpl, would you mind submitting PR for this fix?

[2020-06-28 04:09] #2805 closed

[2020-06-28 06:25] lonng opened #2821 "Improve the robustness and stability of TiDB-Operator"
## Description

Improve TiDB-Operator test coverage (both unit test and e2e test)

https://codecov.io/gh/pingcap/tidb-operator/tree/master/

## TODO

- [x] improve `pkg/backup` https://github.com/pingcap/tidb-operator/issues/2920 @july2993
- [ ] improve `cmd/backup-manager/app` https://github.com/pingcap/tidb-operator/issues/3469
- [x] improve UT for `pkg/controller` https://github.com/pingcap/tid

[2020-06-28 07:11] gejibin opened #2822 "自动备份完成无法显示S3的路径(operator 1.1, tidb 4.0)"
定时备份成功了，但是无法获取s3 path。

1. 获取s3 path
root@10.226.132.107 online]# kubectl get bk -n   tidb-jln-0624
NAME                                        BACKUPPATH                                                                                                  BACKUPSIZE   COMMITTS             AGE
tidb-jln-0624-auto-2020-06-24t06-14-00      s3://database-bak/tidb-jln-0624-auto/auto-backup/tidb-jln-0624-pd.

[2020-06-28 07:44] aylei opened #2823 "maxReservedTime does not support `d` (day) unit"
## Bug Report

**What version of Kubernetes are you using?**

`v1.16`

**What version of TiDB Operator are you using?**

`v1.1.0`

**What did you do?**

Configure scheduled backup with `maxReservedTime` 7d

**What did you expect to see?**
Backup before 7 days ago are cleaned by GC.

**What did you see instead?**
Backup is not cleaned because `7d` is an invalid option:

[code]

[2020-06-28 09:40] DanielZhangQD commented on #2822
@gejibin Could you please help collect the logs of all of the kube-apiservers during the time when the backup occurs? Thanks!

[2020-06-29 05:11] #2808 closed

[2020-06-29 06:46] Yisaer opened #2832 "Make Pod Webhook as default for Operator"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In 1.1.x , we use Pod webhook to manage the status for tikv and pd in upgrading and scaling-in as an extra option. I suggest use Pod webhook directly without option in 1.2.x as it could be the default choice for `heterogeneous` design controller.

To finish this task, we should finish these things:
1. Make webh

[2020-06-29 20:49] kolbe commented on #2815
@DanielZhangQD many users who use tidb-lightning to import data will be bringing their data from another source and they may find that they can make it much smaller if they use bzip2 or lzma. If a user is working with dozens of TB, this could be significant.

I just want to remove the "z" from "tar xvzf" so that tar can automatically guess the compression algorithm used instead of being forced to

[2020-06-30 01:28] DanielZhangQD commented on #2832
Have all of our current test cases covered the Pod Webhook enabled case?

[2020-06-30 01:31] DanielZhangQD commented on #2817
The lightning v4.0.2 supports auto-random which will be released on 06/30.
The BR version should also be updated.

[2020-06-30 02:51] cofyc commented on #1152
@yeya24 do you have time to look at this?

[2020-06-30 03:24] Yisaer commented on #2832
I think so, currently the pod webhook test cases have covered the basic scaling/upgrading and asts.

[2020-06-30 03:35] Yisaer commented on #2832
WDYT？ @cofyc @weekface @DanielZhangQD

[2020-06-30 04:30] cofyc opened #2836 "replace controller.Int32Ptr with pointer.Int32Ptr"
remove `controller.Int32Ptr` in `pkg/controller/controller_utils.go`

https://github.com/pingcap/tidb-operator/blob/d47a6a3b327b6dacbd4f590e793389e98d5ccbeb/pkg/controller/controller_utils.go#L372-L375

use [`k8s.io/utils/pointer.Int32Ptr`](https://pkg.go.dev/k8s.io/utils/pointer?tab=doc#Int32Ptr) instead.

[2020-06-30 04:39] cofyc commented on #2832
SGTM

[2020-06-30 06:07] DanielZhangQD commented on #2815
You can just install lightning with your local chart like `helm install ./tidb-lightning --name...` after you make the changes and test it.

[2020-06-30 06:15] DanielZhangQD commented on #2832
SGTM, and suggest running all of our test cases for both Pod webhook enabled & disabled scenarios.

[2020-06-30 06:18] Yisaer commented on #2832
I think when we use pod webhook admission directly without any option, we can only cover the cases with  Pod webhook enabled situation, that is to say, we can discard some e2e cases present. @DanielZhangQD

[2020-06-30 06:21] cofyc commented on #2832
is it possible to configure `failurePolicy: Ignore` in Kubernetes version below v1.15? because we're still using Kubernetes v1.12, we should make sure the cluster is not affected while the admission controller is unavailable.

[2020-06-30 06:24] Yisaer commented on #2832
@cofyc sure. I will record this as a new issue.

[2020-06-30 06:29] cofyc commented on #2832
we can enable it by default but don't remove the option in v1.12, the final removal of the option can be removed in v1.13 if all users are happy with the pod webhook.

[2020-06-30 06:56] DanielZhangQD commented on #2806
Traced in https://github.com/pingcap/tidb-operator/issues/2816

[2020-06-30 06:56] #2806 closed

[2020-06-30 09:44] #2786 closed

[2020-06-30 17:50] knightXun commented on #664
maybe we can hint users to use calico instead of aws-cni

[2020-07-01 02:20] cofyc opened #2839 "release v1.1.2"
This is a track issue for tidb-operator v1.1.2 release.

previous:
- https://github.com/pingcap/tidb-operator/issues/2567
- https://github.com/pingcap/tidb-operator/issues/2775

pending PRs:

- [x] https://github.com/pingcap/tidb-operator/pull/2837
- [x] https://github.com/pingcap/tidb-operator/pull/2810

todo:
- [x] release notes https://github.com/pingcap/tidb-operator/pull/2842
- [x] build and

[2020-07-01 05:53] cofyc commented on #2832
do you plan to enable the validation webhook by default in v1.2?

[2020-07-01 05:58] cofyc commented on #2823
hi, @aylei @DanielZhangQD

after did some research, maybe it's not a good idea to support the suffix `d`.

the go function [`time.ParseDuration`](https://golang.org/pkg/time/#Duration) does not support days because days have an irregular length in some locations (23 hours or 25 hours), so it stops at hours. as our operator may be used in different locations, I think it's better to be consistent wi

[2020-07-01 06:10] #2836 closed

[2020-07-01 06:18] Yisaer commented on #2832
@cofyc  I think we can.

[2020-07-01 06:28] weekface opened #2847 "set `terminationGracePeriodSeconds ` and `lifecycle` to all controllers"
follow: https://github.com/pingcap/tidb-operator/pull/2810#discussion_r448108215

[2020-07-01 08:55] #2597 closed

[2020-07-01 12:36] #2839 closed

[2020-07-02 17:12] donbowman opened #2859 "AdvancedStatefulSet CRD won't load in GKE v1.16.9 :: spec.preserveUnknownFields: Invalid value: true"
## Bug Report

**What version of Kubernetes are you using?**

kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.4", GitCommit:"c96aede7b5205121079932896c4ad89bb93260af", GitTreeState:"clean", BuildDate:"2020-06-17T11:41:22Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.9-gke.

[2020-07-02 17:30] donbowman opened #2860 "kube-scheduler fails: Invalid configuration: Predicate type not found for CheckNodeCondition"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of TiDB Operator are you using?**

v1.1.2

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

[code]

**What's the status of the TiDB cluster pods?**

[code]

**What did you do?**

[code]

**What did you expect to see?**

expeced tidb-scheduler to not crash

**What did yo

[2020-07-02 17:42] donbowman commented on #2860
perhaps related to https://github.com/kubernetes/kops/issues/7740 ?

[2020-07-03 01:28] cofyc commented on #2859
it seems `x-kubernetes-preserve-unknown-fields` can't be used if the defaulting is enabled. I'll take a look.

as a workaround solution, you can use `advanced-statefulset-crd.v1beta1.yaml` in Kubernetes 1.16.

[2020-07-03 01:43] cofyc commented on #2860
thanks for reporting this!

yes, but these predicates should be removed automatically for Kubernetes 1.12+, see

https://github.com/pingcap/tidb-operator/blob/6ab205f6bef13dcf8ed430cddff0b40c09710a19/charts/tidb-operator/templates/config/_scheduler-policy-json.tpl#L17-L21

what's your helm version? if you're using helm 3, can you paste the output of `helm template pingcap/tidb-operator --version v

[2020-07-03 02:32] cofyc commented on #2859
I can't reproduce this issue with GKE 1.16, here is output on my newly created cluster:

[code]

Can you run the following commands again and paste the output?

[code]

[2020-07-03 13:15] donbowman commented on #2860
we use kustomize.
to create, i ran `helm template`

Client: &version.Version{SemVer:"v2.14.3", GitCommit:"0e7f3b6637f7af8fcfddb3d2941fcc7cbebb0085", GitTreeState:"clean"}

is the client version of helm.

[2020-07-03 13:26] cofyc commented on #2860
`template` command renders the chart locally, the `.Capabilities.KubeVersion.GitVersion` will not be the actual Kubernetes version.

you can pass `--kube-version v1.16`  to render the chart.

[2020-07-03 14:45] donbowman commented on #2859
now that the object exists, it was able to overwrite it w/o trouble.
let me try on another cluster that has not had it installed.

this cluster was upgraded from 1.15 to 1.16 (and had the v1beta1 version of this crd installed when it was at 1.15)

[2020-07-03 14:48] donbowman commented on #2859
[code]

it happens when the v1beta1 is present, and a crd is using the v1beta1.
e.g. when it wants to upgrade.

[2020-07-03 14:50] donbowman commented on #2860
OK thank you. I will close this issue then.

[2020-07-03 14:50] #2860 closed

[2020-07-03 14:53] donbowman commented on #2860
i think there may still be a problem here, when upgrading the kubernetes cluster the helm chart does not get re-run, and this will start failing.

[2020-07-03 17:33] donbowman commented on #2859
[code]

yes, the problem is is you have existing v1beta1 objects, you cannot install the new crd since it has the problem w/ preserveUnknown.

[2020-07-04 03:35] #2817 closed

[2020-07-05 02:34] 8398a7 opened #2867 "Deployment fails with monitor-secret.yaml in tidb-cluster chart"
## Bug Report

**What version of Kubernetes are you using?**
client: v1.18.5 (macOS)
server: 1.16.6-beta.0 (docker-desktop)

**What version of TiDB Operator are you using?**
[code]

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

This is after the provisional action described in **What did you see instead?**.
Before that, there is nothing because the d

[2020-07-05 21:48] Ishiihara opened #2868 "Support DM 2.0 in TiDB Operator"
## Description

Integrates DM with TiDB Operator. Ideally, we would like TiDB Operator to manage DM as well.

### Integration Method

Add dm controller under the logic of the existing TiDB operator

### Deployment

1. No longer write a dm-operator alone, but add resource dmclusters in tidb-operator
2. `dm-master` and `dm-worker` are deployed through statefulsets
3. The dm-controller is only respon

[2020-07-06 01:13] DanielZhangQD commented on #2867
@8398a7 Thanks for reporting this issue!
We do not update our docs/procedures to adapt to helm 3 yet except for kind and across our docs, we require helm 2.
Would you please help test if your change works for both helm 2 and helm 3?
If yes, please help submit a PR.
Thanks!

[2020-07-06 01:34] DanielZhangQD commented on #2823
@cofyc Thanks for sharing the info!
@aylei I think we can live with the hours now, WDYT?

[2020-07-06 01:43] DanielZhangQD commented on #2774
This should be done for both restores with `lightning` and `BR`.

[2020-07-06 02:01] cofyc commented on #2860
yes, maybe it's better to remove these predicates from the template at all

[2020-07-06 02:13] DanielZhangQD commented on #2735
@kolbe I would like to add doc only for now for this deletion with below reasons:

- We recommend users doing backup & restore with BR from v3.1.
- This only applies to ad-hoc backup with `mydumper`and restore with `Lightning`, for production, scheduled backup will be used and all of the backups share the same PVC, and for restore, usually, it should be done once only for a cluster.
- The logs of

[2020-07-06 03:41] 8398a7 commented on #2867
@DanielZhangQD When I tried it, I saw the same problem with helm2.

helm 2 docs: https://v2.helm.sh/docs/chart_template_guide/#operators-are-functions
helm 3 docs: https://helm.sh/docs/chart_template_guide/function_list/#and

So I would like to change it and submit a PR as I don't think it will affect compatibility.
Thanks for the confirmation.

[2020-07-06 05:17] aylei commented on #2823
I'm okay with the limitation.

Also note that prometheus takes an assumption to make the configuration easier https://github.com/prometheus/common/blob/442ad05146650f7f22f402c7482e0f7302c7ba9e/model/time.go#L188, for data retention time, such assumption would be acceptable IMO.

[2020-07-06 05:36] DanielZhangQD commented on #2823
OK.

[2020-07-06 05:51] cofyc commented on #2823
If it's a common practice I'm fine with this. Since this has a workaround solution, it's not urgent. Hope someone can help work on this.

[2020-07-06 10:23] DanielZhangQD commented on #2277
@tfulcrand would you please explain more about the request to meet your requirement?

[2020-07-06 15:06] kolbe commented on #2735
This makes perfect sense, and I think addressing this in documentation is fine. Thanks!

[2020-07-06 21:12] kolbe opened #2873 "Manage TiCDC replication tasks in CRD"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Today, after deploying ticdc using tidb-operator it's necessary to manually manage replication tasks using the cdc CLI. This doesn't fit very well with the approach used by Kubernetes users to manage their resources.

**Describe the feature you'd like:**

It would be nice to be able to define a TiCDC replicatio

[2020-07-07 01:03] DanielZhangQD commented on #2873
Is it possible to manage the task with REST API?
@weekface Could you please help check this issue?

[2020-07-07 01:06] kolbe commented on #2873
It's certainly possible to use the CDC's REST API to directly manage these tasks, but it requires a customer to write an additional API client instead of being able to simply interact with the K8s API.

[2020-07-07 01:09] DanielZhangQD commented on #2873
Yes, good point.

[2020-07-07 01:21] DanielZhangQD commented on #2516
The related codes have been removed in https://github.com/pingcap/tidb-operator/pull/2862.

[2020-07-07 01:21] #2516 closed

[2020-07-07 03:19] cofyc commented on #2512
- [ ] add new Jenkins file for general e2e kind job: https://github.com/pingcap/tidb-operator/pull/2872
- [ ] update Github settings for master and release-1.1 branches

[2020-07-07 05:48] kolbe commented on #2873
I think we could set a goal to define a few pretty common use-cases and encapsulate/manage those in a CRD. Replication from a TiDB source to an arbitrary MySQL-compatible replica, obviously, but maybe also replication from a TiDB source to another TiDB cluster managed within the same k8s cluster, or to a specific set of non-TiDB sinks.

[2020-07-07 06:32] weekface commented on #2873
CDC does not currently have the REST API of managing replication tasks.

[2020-07-07 07:05] cofyc commented on #2630
done (add as a periodical job in our Jenkins server)

[2020-07-07 07:05] #2630 closed

[2020-07-07 07:15] DanielZhangQD commented on #2735
Update: Even if the ad-hoc backups share the same PVC with the scheduled backup.

[2020-07-07 12:55] Smana commented on #2277
I'll try to explain too:
We already tried your documentation regarding cert-manager usage. In this documentation you make use of a [**self-signed certificate issued**](https://cert-manager.io/docs/configuration/selfsigned/) by cert-manager itself. That means that the CA is created by cert-manager.

For our use-case we use cert-manager but with a [**vault pki issuer**](https://cert-manager.io/docs/

[2020-07-07 13:11] DanielZhangQD commented on #2277
I think cert-manager could generate certs with an user-defined CA, could you please help confirm this? @weekface

[2020-07-07 13:14] DanielZhangQD commented on #2277
@Smana Have you tried the procedures in [this doc](https://cert-manager.io/docs/configuration/vault/)?

[2020-07-07 13:23] Smana commented on #2277
This is more about how to handle self signed certificate on client side @DanielZhangQD .
There's no way to set a secure trusted connection from the backup job (here the client initiating the TLS connection) to the Minio instance using our internal private CA without explicitly trusting the CA on client side.

[2020-07-07 13:55] DanielZhangQD commented on #2277
So my understanding here https://github.com/pingcap/tidb-operator/issues/2277#issuecomment-647322439 is correct, right? The backup job and TiKV should support configuring certs that can be used to connect to 3rd party services such as Minio. But for now, they can only load the certs to be used internally among the TiDB cluster components.

[2020-07-07 14:28] #2867 closed

[2020-07-08 02:04] #2735 closed

[2020-07-08 02:14] DanielZhangQD commented on #2821
Is it necessary to add a TODO item to count the coverage result of E2E test?

[2020-07-08 02:47] #1936 closed

[2020-07-08 03:03] cofyc commented on #2821
added

[2020-07-08 05:53] #2512 closed

[2020-07-08 06:19] cofyc opened #2883 "performance: configure a long resync period for informers to avoid generating high load on apiserver"
## Feature Request

After the initial list, the informer will start the `Watch` API to receive updates. There is no need to configure a short resync period to resync objects.

We can configure a long resync period for informers, e.g. 12 hours ~ 24 hours (the default resync period used by `kube-controller-manager`).

Note that, our controllers need to sync our CRD objects every 30s. We can list and

[2020-07-08 06:34] DanielZhangQD commented on #2873
@weekface Please help evaluate if we can support the CDC cli with CRD + controller for the task management.

[2020-07-08 07:45] Smana commented on #2277
Hi @DanielZhangQD , yes your comment is right :) loading a certificate, ca cert would be nice.

[2020-07-08 08:39] zjj2wry commented on #2883
which controller needs 30s resync? and why? And we can set resync duration for a speical informer. see
https://github.com/kubernetes/kubernetes/blob/bf94f27e76c541db57098ed69aea47d889703669/pkg/controller/resourcequota/resource_quota_controller.go#L142.

[2020-07-08 08:56] cofyc commented on #2883
sync the status for every cluster, e.g. querying the state of TiKV store from PD API.

Setting a different resync duration for a specific informer is an alternative solution. As I said, we don't need to re-list the objects from the apiserver to keep objects up to date. But it's a simpler solution, I'm fine with this.

[2020-07-08 09:03] cofyc commented on #2883
Thinking it twice. If we re-list the objects in the local cache, we need a hack to avoid operating on the stale objects. After updating the objects, there is a delay to receive the update events. (PV controller modifies its local cache in API updating to avoid this issue, but it may be too complex for us).

I think your suggestion is better.

[2020-07-08 12:03] DanielZhangQD commented on #2277
OK, https://github.com/pingcap/br/issues/409 is created for BR.

[2020-07-08 16:29] mightyguava opened #2888 "backups block namespace deletion"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**
v1.1.0

**What did you do?**
I deleted the namespace the `TidbCluster` was in.

**What did you expect to see?**

The namespace eventually gets deleted

**What did you see instead?**

The namespace got stuck in the `Terminating` state. Here's what I think happened:

There were `Backups` fo

[2020-07-08 16:36] kolbe commented on #2888
Related to docs-tidb-operator/issues/537

[2020-07-08 17:11] kolbe commented on #2286
I think the most natural state is for the backup "artifact" to be decoupled from the Backup resource by default. A backup job should produce an artifact that is placed on external storage and deleting the Backup object should not have any effect on the artifact.

If we want a configuration option for the Backup job to delete the artifact, that may be useful, but it should not be enabled by default

[2020-07-08 20:18] sstubbs commented on #2695
I've had a bit of time to look at this and I think I've got an understanding of how it works now. Does it make more sense to include this logic in the operator itself or to include it in lightning and br and parse an argument to them from the operator?

[2020-07-09 00:23] tennix commented on #2286
Yes, I agree this should not be enabled by default.

[2020-07-09 01:10] DanielZhangQD commented on #2888
This should be fixed after https://github.com/pingcap/tidb-operator/issues/2286 is fixed.

[2020-07-09 01:16] DanielZhangQD commented on #2286
For this issue:

- We can add a field, e.g. `cleanData`, with default value `false`, so that the backup data will not be removed when CR is removed by default.
- If `cleanData` is false, I think no need to add finalized any more [here](https://github.com/pingcap/tidb-operator/blob/master/pkg/controller/backup/backup_control.go#L71) WDYT @cofyc @tennix @kolbe

[2020-07-09 01:24] tennix commented on #2286
I remember the main reason for the finalizer is when the `Backup` CR is deleted, even we have the backup files on S3, we cannot do the restore with incremental backup & restore.

[2020-07-09 01:27] DanielZhangQD commented on #2286
I don't understand, what's the relationship between the finalizer and the incremental backup & restore?

[2020-07-09 01:30] tennix commented on #2286
When we do full backup, we need to record the tso. It's kept in the Backup object status field.

[2020-07-09 01:32] DanielZhangQD commented on #2286
Yes, but if users want to delete the backup, they should be able to do that without caring about the TSO.

[2020-07-09 01:33] kolbe commented on #2286
@tennix are you saying that it's not possible to *restore* unless the TSO from the Backup object is kept? That sounds very scary. All information needed to restore the backup should be included in the backup artifact.

[2020-07-09 01:40] tennix commented on #2286
No, I just mean we need this tso when we do an incremental backup with tidb-binlog. We designed this when there is no `BR` tool. But I think we also need tso for BR and TiCDC. I'm not sure if the tso can be found in the backup files, but that would add extra complexity for users to set up incremental backup.

[2020-07-09 01:47] DanielZhangQD commented on #2286
This should be OK after #2774 is done.

[2020-07-09 02:07] DanielZhangQD commented on #2695
I think just add options to the restore CR and then pass this option to the command options of lightning in the restore job is OK. For restore with BR, it should already support this with `spec.type` I think.

[2020-07-09 02:17] cofyc opened #2890 "e2e: Red Hat CRC fails to start the latest OpenShift 4 on the CentOS 8"
[code]

[2020-07-09 02:52] lichunzhu commented on #2695
Both Lightning([From v4.0.3 on](https://github.com/pingcap/docs/pull/3065/files)) and BR[[From v4.0.3 on](https://github.com/pingcap/docs/pull/3065/files)] support for restoring with [table-filter](https://docs.pingcap.com/tidb/dev/table-filter) in the newest versions. I think we should add `tableFilter` arguments as we did in [back using dumpling](https://github.com/pingcap/tidb-operator/pull/287

[2020-07-09 09:13] sstubbs commented on #2695
Thank you this table-filter syntax is exactly what I was hoping for. I will wait until this https://github.com/pingcap/tidb-operator/pull/2870 is merged then do a pr for the restore.

[2020-07-09 09:20] lichunzhu commented on #2695
Thank you for your contribution 👍  If you faced any problem you can directly @me or find me on tidbslack https://pingcap.com/tidbslack.

[2020-07-09 09:23] sstubbs commented on #2695
ok great thanks will do. I've joined tidbslack.

[2020-07-09 12:33] DanielZhangQD opened #2895 "Deploy a new cluster joining an existing cluster"
## Feature Request

**Is your feature request related to a problem? Please describe:**

During migration, for example, from a cluster outside of Kubernetes to Kubernetes, or from one Kubernetes cluster to another one, it would be more graceful if we support creating a cluster joining an existing cluster, in this case, the data will be synced to the new cluster and users can scale down the old clus

[2020-07-09 12:33] cofyc opened #2896 "webhook may receive more than one pod delete request"
statefulset controller:

[code]

webhook:

[code]

[2020-07-10 08:14] cofyc commented on #2883
@zjj2wry do you still have time to work on this?

[2020-07-10 08:22] zjj2wry commented on #2883
i do not know which controller need to set a short resync time. And I am OOM now because of other things. tks

[2020-07-10 11:32] #2890 closed

[2020-07-10 15:39] sstubbs opened #2903 "Resizing PV"
## Feature Request

**Is your feature request related to a problem? Please describe:**
I'm currently running tidb on openebs local pvs.

**Describe the feature you'd like:**
Increasing amount of space of pv. I've updating the cluster CRD but the pvc and pv remain at the previous size.

**Describe alternatives you've considered:**
I can't think of an alternative for this.

[2020-07-10 16:08] sstubbs opened #2904 "Istio mtls support"
## Feature Request

**Is your feature request related to a problem? Please describe:**
I'm using istio 1.6.4 and would like to enable mtls. I've create a tidb cluster with the following:
[code]
The cluster.yaml looks like the following:
[code]
This works.
However once I enable mtls like the following:
[code]
with this peer-authentication.yaml file:
[code]
I get this error when running sql statemen

[2020-07-11 03:31] #2734 closed

[2020-07-11 03:44] #2436 closed

[2020-07-11 04:08] DanielZhangQD commented on #2903
If your sc supports volume expansion, you can refer to https://docs.pingcap.com/tidb-in-kubernetes/stable/configure-storage-class#network-pv-configuration to update its size.

[2020-07-11 04:10] DanielZhangQD commented on #2904
PD only supports one CN, not sure if istio supports setting the CN. cc @weekface

[2020-07-11 04:30] DanielZhangQD commented on #2695
SGTM

[2020-07-11 06:25] sstubbs commented on #2904
Thanks a lot. Sorry I missed this in the documentation.

[2020-07-11 06:26] sstubbs commented on #2903
Thanks a lot. Sorry I missed this in the documentation.

[2020-07-12 00:23] #998 closed

[2020-07-13 02:39] DanielZhangQD commented on #2287
BR supports setting the GC automatically from v4.0, however, there is an issue now https://github.com/pingcap/pd/issues/2628, but I think we can go with the current configuration and may remove the config and code to set GC for the backup CR with BR when the auto GC setting function is ready.

[2020-07-13 02:39] #2287 closed

[2020-07-13 03:52] Yisaer opened #2909 "Support Storage Auto-scaling for TiKV"
## Feature Request

**Is your feature request related to a problem? Please describe:**

ref https://github.com/pingcap/tidb-operator/issues/1651

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-13 03:53] Yisaer opened #2910 "Use TiKVGroup to support Auto-scaling"
## Feature Request

**Is your feature request related to a problem? Please describe:**

ref https://github.com/pingcap/tidb-operator/issues/1651

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-13 04:56] #2286 closed

[2020-07-13 04:56] #2888 closed

[2020-07-13 06:08] cofyc commented on #2787
@kolbe

what do you think if we just use [`eksctl`](https://eksctl.io/) to create the EKS cluster in our docs?

I think providing a solution for creating a Kubernetes cluster on AWS is not our purpose. I would suggest using official solution provided by cloud providers.

[`eksctl`](https://eksctl.io/) is the official CLI for Amazon EKS and it's flexible and extensive.

For GKE, `gcloud` is good en

[2020-07-13 06:18] kolbe commented on #2787
@cofyc this is such a good question. Our terraform stuff seems so fragile and so frequently broken. It's a lot of work to maintain it and it gives a very bad user experience.

I've also never even heard of `eksctl` and the idea of having to install more nonsense on my machine is not very appealing.

Is it realistic to easily use eksctl to create various different node pools depending on which comp

[2020-07-13 06:28] cofyc commented on #2787
sure, I'll prepare some examples.

[2020-07-13 09:32] lichunzhu opened #2914 "operator get blocked when delete backup CR"
## Bug Report

**What version of Kubernetes are you using?**

v1.12.2

**What version of TiDB Operator are you using?**

v1.1.0-beta.1.471+ae25bc38e10f3c-dirty

**What did you do?**

delete backup CR whose backuped files on S3 has been delete manually by myself.

**What did you expect to see?**
delete backup CR successfully.

**What did you see instead?**
It gets blocked. error log:
[code]

[2020-07-13 09:43] DanielZhangQD opened #2915 "Support mysqlNodePort and statusNodePort"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The mysqlNodePort and statusNodePort supported in the tidb-cluster chart https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-cluster/templates/tidb-service.yaml#L28-L37 are not supported in the TidbCluster CR yet.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

*

[2020-07-13 11:18] #2909 closed

[2020-07-13 13:27] DanielZhangQD commented on #2787
We have to make sure the following functions are covered in the new procedures:

- bastion VM
- customize node pools
- user_data in https://github.com/pingcap/tidb-operator/blob/master/deploy/modules/aws/tidb-cluster/templates/userdata.sh.tpl
- pre_userdata in https://github.com/pingcap/tidb-operator/blob/master/deploy/modules/aws/tidb-cluster/pre_userdata
- labels
- taints
- suspended_processes

[2020-07-14 02:08] cofyc opened #2920 "Add more unit tests to cover basic backup functionalities"
This is part of https://github.com/pingcap/tidb-operator/issues/2821.

The current test coverage of `pkg/backup`  is very low. We should add more unit tests to cover basic functionalities.

https://codecov.io/gh/pingcap/tidb-operator/tree/master/pkg/backup

[2020-07-14 05:07] #2075 closed

[2020-07-14 07:27] cofyc commented on #1995
hi, @komish

I've submitted two PRs to update the operator:

- upstream-community-operators: https://github.com/operator-framework/community-operators/pull/1978
- community-operator: https://github.com/operator-framework/community-operators/pull/1980

I've tested it both in official Kubernetes and OpenShift 4 (started by CRC).

[2020-07-14 09:03] #2914 closed

[2020-07-14 10:04] #2774 closed

[2020-07-14 11:57] DanielZhangQD opened #2927 "Improve UT for TiFlash"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-14 12:46] #2797 closed

[2020-07-14 13:37] cofyc commented on #2859
Is this a Kubernetes bug?
I created an issue in [advanced-statefulset](https://github.com/pingcap/advanced-statefulset/issues/78) repo. I'm not sure what's the right way to upgrade the CRD in this case...

[2020-07-14 15:07] donbowman commented on #2859
https://kubernetes.io/blog/2019/06/20/crd-structural-schema/

i think you are missing the schema, are relying on the old schema-less model.

[code]

https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#specifying-a-structural-schema

[2020-07-15 01:50] DanielZhangQD opened #2929 "Support configuring cluster domain in the TidbCluster CR"
## Feature Request

**Is your feature request related to a problem? Please describe:**

- Some users may customize the cluster domain of the Kubernetes cluster, e.g. `test.local` instead of `cluster.local`
- For across kubernetes deployment, we have to set full addresses for each pod and service, e.g. ns0-pd-0.ns0-pd-peer.ns0.svc.test.local

**Describe the feature you'd like:**

Support configurin

[2020-07-15 01:52] DanielZhangQD commented on #2929
Please note that if the cluster domain is not configured in the CR, there should be no changes to the current behavior and the cluster should not be rolling updated after upgrading TiDB Operator to the version including this feature.

[2020-07-15 02:28] cofyc commented on #2859
Thanks!

[2020-07-15 02:42] DanielZhangQD opened #2930 "Create headless for discovery"
## Feature Request

**Is your feature request related to a problem? Please describe:**

For across Kubernetes deployment, we require the PD cluster in all of the clusters to join the clusters through one Discovery Pod, however, since service cannot be accessed across the Kubernetes cluster, and the Discovery component is deployed with deployment, we have to use headless service to access the Disco

[2020-07-15 02:48] DanielZhangQD opened #2933 "Support configuring Discovery address in the TidbCluster CR"
## Feature Request

**Is your feature request related to a problem? Please describe:**

For across Kubernetes deployment, we require the PD cluster in all of the clusters to join the clusters through one Discovery Pod in one cluster:

- One cluster deploys discovery as we do now
- The TidbCluster in the other clusters will configure the Discovery headless service address, and no Discovery is creat

[2020-07-15 02:49] DanielZhangQD opened #2934 "TLS Support for across Kubernetes deployment"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TLS should be fully supported for the across Kubernetes deployment

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-15 02:52] DanielZhangQD opened #2935 "Support failover for across Kubernetes clusters deployment"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Need to make sure that the upgrading/scaling/failover functions work as expected for the across Kubernetes clusters deployment.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

Related Issues and PR:
#3661
#3556
#

[2020-07-15 02:54] DanielZhangQD opened #2936 "Docs for across Kubernetes clusters deployment in IDC"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-15 06:50] DanielZhangQD commented on #2935
Upgrading and scaling should work as expected, we just need to verify them.

For the failover function, including PD, TiDB, TiFlash and TiKV, the current implementation is based on the failureMembers (PD/TiDB) or failureStores (TiKV/TiFlash), but since the multiple TidbClusters in the different Kubernetes clusters now are a whole one TiDB Cluster, if one Pod in one TidbCluster fails, the other Tid

[2020-07-15 07:52] cofyc opened #2937 "Add more unit tests to cover autoscaler functionalities"
This is part of  #2822

Current status:

![image](https://user-images.githubusercontent.com/91730/87518699-30e54980-c6b3-11ea-9591-90d47e08919e.png)

https://codecov.io/gh/pingcap/tidb-operator/tree/master/pkg/autoscaler/autoscaler

[2020-07-15 07:55] cofyc opened #2938 "Add more unit tests to cover webhook functionalities"
This is part of  #2822

Current status:
![image](https://user-images.githubusercontent.com/91730/87518991-90dbf000-c6b3-11ea-87a1-19b0e90c3444.png)

https://codecov.io/gh/pingcap/tidb-operator/tree/master/pkg/webhook

[2020-07-15 07:58] cofyc opened #2939 "Add more unit tests for pdapi"
This is part of  #2822

Current status:
![image](https://user-images.githubusercontent.com/91730/87519272-f4661d80-c6b3-11ea-8c61-e4b0ae29a152.png)

https://codecov.io/gh/pingcap/tidb-operator/tree/master/pkg/pdapi

[2020-07-15 08:02] cofyc opened #2940 "Add more unit tests for pkg/util"
This is part of  #2821

Current status:

![image](https://user-images.githubusercontent.com/91730/87519744-9d147d00-c6b4-11ea-9166-32d46e603344.png)

[2020-07-15 10:44] gejibin opened #2944 "The time zone of pods for automatic backup and manual backup cannot be set"
tidb实例的输出时间是北京时间，但是做手动备份和自动备份的时间是UTC时间。
The output time of the tidb instance log is Beijing time, but the time for manual backup and automatic backup is UTC time.

The log output time of the manual backup pod is UTC time：

Create rclone.conf file.
/tidb-backup-manager backup --namespace=gejb-test --backupName=test-utc-backup-01 --tikvVersion=v4.0.0
I0715 07:54:57.111015       1 backup.go:71] start

[2020-07-15 11:50] #2795 closed

[2020-07-15 12:08] gejibin opened #2946 "tidb-operator overwrite labels and annotations"
Based on its own management requirements, the public cloud platform needs to mark some of its own labels or annotations, but it will be overwritten by TiDB-Operator.
Want TiDB-Operator to update the labels or annotations by appending instead of overwriting.

[2020-07-16 01:41] DanielZhangQD commented on #2944
Need to support setting Timezone for the following CRs or components:
TidbMonitor, Backup, Restore, BackupSchedule, Pump, admission-webhook, advanced-statefulset-controller

The TiKVGroup and TiDBGroup will be updated on https://github.com/pingcap/tidb-operator/issues/2240.

[2020-07-16 01:41] DanielZhangQD commented on #2944
@gejibin Would you like to submit PR for this fix?

[2020-07-16 01:46] DanielZhangQD commented on #2946
Yes, it makes sense.
@gejibin Would you like to submit PR for this?

[2020-07-16 05:09] Yisaer opened #2950 "Support initialize group store label for TiKVGroup"
## Feature Request

**Is your feature request related to a problem? Please describe:**

To manage the heterogeneous group instances, PD needs know which the range of the instances. Ons possiable way is to support the initialize the store label for each TiKVGroup. For example, for the tikv belong to the TiKVGroup, they all have the store label `groupName=<tikvgroup-name>`

**Describe the feature yo

[2020-07-16 05:12] Yisaer opened #2951 "tidb-scheduler should support tikvgroup"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently TiKVGroup's scheduler is default scheduler as tidb-scheduler is only worked for tidbcluster.

We should let tidb-scheduler support TiKVGroup.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-16 05:14] Yisaer opened #2952 "Support Pause for TiKVGroup"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently TiKVGroup didn't support pause. It will be helpful while upgrading operator.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-16 05:17] Yisaer opened #2953 "Support Failover and Recover for TiKVGroup"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently TiKVGroup didn't support failover and recover.

**Describe the feature you'd like:**

For failover, We already have the design discussed here:  https://docs.google.com/document/d/1MV2bcsCjyYvfCCtwyc8-E18Z69qP_3-FKztpGj4ByEg/edit#heading=h.izqeybdgwgwu

**Describe alternatives you've considered:**

**T

[2020-07-16 05:18] Yisaer opened #2954 "Support Sync Store Label for TiKVGroup"
## Feature Request

**Is your feature request related to a problem? Please describe:**

For TidbCluster, controller would sync the node store label for its tikv. TiKVGroup also need this feature.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-16 05:20] Yisaer opened #2955 "Support AdvancedStatefulSet for TiKVGroup"
## Feature Request

**Is your feature request related to a problem? Please describe:**

During `getNewTiKVSetForTiKVGroup` generating tikvgroup statefulset, we didnt' test or intergrated asts for TiKVGroup. It will be useful if TiKVGroup support asts.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-16 05:25] Yisaer opened #2956 "Support defaulting and validating for TiKVGroup"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-16 05:25] Yisaer opened #2957 "Support ConditionUpdater for TiKVGroup"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-16 05:26] Yisaer opened #2958 "Support clean orphan Pods for TiKVGroup"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-16 05:27] Yisaer opened #2959 "Support syncing restart pods for TiKVGroup"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-16 05:28] Yisaer opened #2960 "MetaManager should support TiKVGroup"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-16 05:29] Yisaer opened #2961 "PVCCleaner should support TiKVGroup"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-16 05:37] Yisaer opened #2962 "Support Scaling/Upgrading Control for TiKVGroup"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently  there is no global control for upgrading and scaling for TiKVGroup which means 2 different TiKVGroups could upgrading or scaling at the same time in one tidbcluster. We need to support global control for the TiKVGroup upgrading ans scaling.

**Describe the feature you'd like:**

**Describe alternativ

[2020-07-16 05:40] Yisaer opened #2963 "Support clean stores when TiKVGroup get deleted."
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently we won't clean stores if we delete the tikvgroup directly. We need to find a way to clean the remaining stores when its tikvgroup get deleted.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-16 05:45] Yisaer commented on #2950
Note that for the suggestion auto-scaling API in PD, the feature is highly depended.

[2020-07-16 05:55] cofyc commented on #2944
You can change the timezone of your tidb-operator deployment, then `cron` spec used by BackupSchedule will be parsed in your specified timezone. This is almost the same as Kubernetes [CronJob](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/).

https://github.com/pingcap/tidb-operator/blob/ba35f0a176798ce7f13d7fb6a1fb9e7b933d49bb/charts/tidb-operator/values.yaml#L11-L12

[2020-07-16 06:53] DanielZhangQD commented on #2944
Yes, it makes sense.

[2020-07-16 13:52] mikechengwei opened #2968 "Support tidbMonitor multiple replicas to ensure high availability"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Should we support multiple replicas of TidbMonitor to ensure high availability?  Now ,the replica is one, hard-coded .

https://github.com/pingcap/tidb-operator/blob/e84a3d4fd007a62dfb3fd61681636357ebd787d3/pkg/monitor/monitor/util.go#L229
**Describe the feature you'd like:**

I think we can support replica fiel

[2020-07-16 14:08] #2164 closed

[2020-07-16 14:10] #2175 closed

[2020-07-16 14:13] mikechengwei commented on #2929
I can complete this feature because I have this requirement. I have mentioned similar issues #1366 which is closed

[2020-07-16 14:15] mikechengwei commented on #2816
I can help with this feature.

[2020-07-16 14:27] mikechengwei commented on #2968
And i can do it .

[2020-07-16 14:35] DanielZhangQD commented on #2816
@mikechengwei Thanks for your help!
Which issue above do you want to take?

[2020-07-16 14:48] mikechengwei commented on #2816
I can finish PO feature and i can  do #2929 firstly.
I have a question about other cluster join current cluster by specify discovery url. Should the domain systems of these two clusters  ensure that they can communicate with each other?

[2020-07-16 19:25] kolbe opened #2969 "Support TLS to tidb-binlog drainer downstream"
## Feature Request

**Is your feature request related to a problem? Please describe:**
https://github.com/pingcap/tidb-operator/issues/1605 should have added support for TLS between the drainer and the downstream MySQL/TiDB instance, but it looks like that was overlooked.

**Describe the feature you'd like:**
TiDB-Operator charts should support TLS between the TiDB-Binlog drainer and the downstrea

[2020-07-16 20:31] kolbe commented on #2969
Part of https://github.com/pingcap/tidb-operator/issues/1855

[2020-07-17 00:59] DanielZhangQD commented on #2968
@mikechengwei Thanks a lot!
BTW, usually, we would have monitoring data persistent, how will the data be handled if multiple replicas are created?

[2020-07-17 01:16] mikechengwei commented on #2968
Currently we use deployment with specified pvc to deploy tidbmonitor. Can we change to use statefulset object? Monitoring is about storage-related services. @DanielZhangQD

[2020-07-17 02:11] DanielZhangQD commented on #2240
We decide to reuse the existing `TudbCluster` CR to implement the heterogeneous deployment.
Record the original solution here:

## Description

Currently, the spec for the `TidbCluster` describes a group of `PD`/`TiKV`/`TiDB` instances. For each kind of components,
their specs are all the same. This design is easy to use and also covers the most cases for using the tidb cluster.

However, as a dis

[2020-07-17 02:45] DanielZhangQD commented on #2935
Actually, the `status` of each TidbCluster should only include the components managed by this TidbCluster.

[2020-07-17 03:04] DanielZhangQD opened #2971 "Make the spec.pd, spec.tidb, and spec.tikv optional in the TidbCluster CR"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Make the spec.pd, spec.tidb, and spec.tikv optional in the TidbCluster CR, e.g. change them to pointer.
Part of #2240
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-17 03:06] DanielZhangQD opened #2972 "Add TidbCluster Reference in the TidbCluster CR"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Add TidbCluster Reference in the TidbCluster CR which is similar with https://github.com/pingcap/tidb-operator/blob/master/pkg/apis/pingcap/v1alpha1/tidbinitializer_types.go#L59 and is optional, so one tc can join another one.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

[2020-07-17 03:07] DanielZhangQD opened #2973 "TidbCluster controller update for the spec.pd, spec.tidb, and spec.tikv change"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TidbCluster controller update for the spec.pd, spec.tidb, and spec.tikv change in https://github.com/pingcap/tidb-operator/issues/2971
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-17 03:09] DanielZhangQD opened #2974 "TidbCluster controller update for cluster reference change"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TidbCluster controller update for the change in #2972, so that the components can start with the pdAddress in the cluster reference.
TiKV and TiDB are covered in this issue.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration St

[2020-07-17 03:13] DanielZhangQD opened #2975 "Status sync update for heterogeneous deployment"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The status of each TidbCluster should only include the components managed by this TidbCluster and based on this, the failureMembers/failureStores will only include the Pods managed by this TidbCluster so that failover function can work normally

**Describe the feature you'd like:**

**Describe alternatives you'

[2020-07-17 03:13] DanielZhangQD commented on #2975
Similar comment here https://github.com/pingcap/tidb-operator/issues/2935#issuecomment-658580724

[2020-07-17 03:17] DanielZhangQD commented on #2240
@mikechengwei You can take this issue if it's OK.
Thanks for your contribution!

[2020-07-17 03:20] mikechengwei commented on #2971
/assign

[2020-07-17 03:21] mikechengwei commented on #2972
/assign

[2020-07-17 03:36] DanielZhangQD commented on #2968
Yes, it makes sense, please help evaluate it.
BTW, if we decide to change to sts, we have to consider the migration:

- The resource migration from deployment to sts
- The data migration from the previous Pod

If we just create sts and new PVC in the new version and keep the deployment and PVC of the previous versions, is there a way to provide procedure to guide users about how to access the old

[2020-07-17 03:47] mikechengwei commented on #2968
When user upgrade  operator , we can keep deployment monitor and create  new sts monitor. In the code, we can determine whether the k8s environment has monitor deployment, it can continue running with old way until the user thinks there is no problem, manauly delete deployment and pvc.

[2020-07-17 03:47] mikechengwei commented on #2973
/assign

[2020-07-17 03:48] mikechengwei commented on #2974
/assign

[2020-07-17 03:48] mikechengwei commented on #2975
/assign

[2020-07-17 03:49] mikechengwei commented on #2240
/assign

[2020-07-17 06:13] DanielZhangQD commented on #2968
Yes.

If we can provide a procedure to guide users to access the old data, I think no need to care about the deployment in the code.

[2020-07-17 09:14] mikechengwei commented on #2968
I will provide a guide as soon.

[2020-07-17 09:38] DanielZhangQD opened #2985 "Support TLS for TiCDC"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiCDC supports TLS in https://github.com/pingcap/ticdc/pull/347, Operator should also support it.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-17 09:45] #2915 closed

[2020-07-17 09:49] cofyc commented on #2968
I found that we didn't follow the same name convention of Statefulset on PVC objects. Do you think is it possible to provide a smooth migration without manual intervention?

If not, maybe we can have a field `controller` field to specify which workload we're going to use? It has two fields: Deployment, StatefulSet. New users can use `StatefulSet`.

[2020-07-17 09:52] DanielZhangQD commented on #2985
Both CDC Server and CDC cli should be supported.

[2020-07-18 15:23] mikechengwei commented on #2968
I think we should provide such a smooth migration process:

1. deployment -> deployment + statefulset -> statefulset.
2. deployment->statefulset

User can run tidbmonitor with old way by deployment , and they can change to keep deployment and statefulset monitor tidb at the same time  or change to statefulset directly.

Providing a `controller` field with value contains `statefulset`,`deployment`,

[2020-07-19 07:36] 4c74356b41 commented on #2423
I'm looking at this as well, and it seems like all of the resources don't have a namespace in their templates? is this intentional or just dumb? I dont get it.

[2020-07-19 13:31] DanielZhangQD commented on #2968
@mikechengwei How will the old data be handled?
Do you plan to migrate the data manually or just leave the old data as it is and provide a procedure to access them?
And what's the behavior for the below configurations:
[code]
Defaults to `deployment` or `statefulset`?

[code]
So this just syncs the sts, if users deployed the monitor with `deployment` before the upgrade, the operator does not need

[2020-07-19 14:43] mikechengwei commented on #2968
Old users should let them upgrade themselves ,data does not need to be migrated. Both sts and deployment can be run at the same time. The user decides when to take the deployment offline.

Run with deployment (default)

Run with statefulset

yes!

Both running.

This scheme is more flexible.

[2020-07-20 01:03] cofyc commented on #2968
what if we run a migration process if the deployment and its PVCs are found? because PVC objects are created by our controller, we can just rename it before creating the stateful set?

[2020-07-20 01:28] mikechengwei commented on #2968
We can't rename pvc in k8s ，reference https://stackoverflow.com/questions/48403542/how-to-rename-persistence-volume-claim.

If use select this option, the data will lost.

[2020-07-20 01:34] cofyc commented on #2968
I see. even if we can delete & create to "rename" the PVC, but it might be complex.

[2020-07-20 01:40] cofyc commented on #2968
But I think it's worth a try if we can migrate the data automatically. the basic procedure will be:

- create a new PVC (xxx-0) and bind it the PV manually
- delete the old PVC
- create the stateful (xxx), because the PVC xxx-0 already exists, the pod will use the old data

[2020-07-20 01:56] DanielZhangQD commented on #2968
Can this work? I tried with local-storage but it seems that the new PVC can't bind to the PV.

Before the deployment is removed, two Pods will write data to the same directory, not sure if any unexpected issues will occur.

[2020-07-20 02:01] DanielZhangQD commented on #2968
@mikechengwei

1. If we cannot migrate automatically,

We have to provide a procedure to guide users to access the old data.

2. For the deployment -> sts migration, what about the following logic based on your proposal above:
[code]
[code]

In the above two cases, sync deployment + PVC as we are doing now.

[code]
[code]

In the above two cases:

- For new deployment, just sync sts, no need to ca

[2020-07-20 02:02] DanielZhangQD commented on #2240
@cofyc Please also help review the solution here https://github.com/pingcap/tidb-operator/issues/2240#issue-603688992

[2020-07-20 02:06] cofyc commented on #2240
can you make an update to the proposal here ?
https://github.com/pingcap/tidb-operator/blob/master/docs/design-proposals/2020-06-12-heterogeneous-design-for-tidb-cluister.md

[2020-07-20 02:11] DanielZhangQD commented on #2240
OK.

[2020-07-20 02:19] cofyc commented on #2968
a more detailed version:

- save the name of old PV on the CR object (can continue the migration work if the operator crashes in the middle)
- update the PV to pre-bind the new PVC (xxx-0)
   - add the name of PVC (xxx-0) in the claimRef
- delete the old deployment and PVC
- create the statefulset (xxx)
   - the PVC xxx-0 will be created and will bind to the old PV because it has already been pre-

[2020-07-20 02:26] cofyc commented on #2968
pre-binding of PV & PVC can be done in two ways:

- specify the PV name in the PVC's `volumeName` field
- specify the PVC name in the PV's `claimRef.name` field

 in this scenario, the latter is better I guess because it can avoid the PV to be bound with other PVC by the PV controller after it's unbound from the old PVC

[2020-07-20 03:13] mikechengwei commented on #2816
I go to complete other issues, this pr is left to others to do.

[2020-07-20 03:27] mikechengwei commented on #2968
1. Does local pv support `ReadWriteMany` access mode ?
2. I think  it is ok for user migrate themselves. The importance of monitoring data depends on whether the user is concerned. If he is concerned, manually deleting the deployment is no problem.

[2020-07-20 04:03] cofyc commented on #2240
SGTM

[2020-07-20 09:43] gejibin opened #2989 "When deleting a failed backup CR, the backup data on s3 is not cleaned up。"
A manual backup failed，delete this backup CR, but the backup data on s3 is not cleaned up。

When backup failed, the data on s3 are rubbish。

Want to clean up the backup files on S3 when deleting the backup CR.

[2020-07-20 10:07] zhenjiaogao opened #2990 "When using CR for backup, tidb-operator does not use the correct version of BR"
## Feature Request

**Is your feature request related to a problem? Please describe:**
When tidb-operator's version is v1.1.0 and  tidb's version is v4.0.2, using CR for backup, BR's version is v4.0.0:
[code]
**Describe the feature you'd like:**
When using CR for backup, hope that **the version of BR is consistent with the version of the tidb cluster**.

[2020-07-20 10:35] cofyc commented on #2989
it makes sense IMO
if we should delete the data on the deletion of the backup CR, we should delete even if the backup process fails

[2020-07-20 11:06] cofyc opened #2992 "Add unit tests for dashboard proxy server while TLS is enabled"
https://github.com/pingcap/tidb-operator/pull/2991/files#diff-63acedd9d915b7cf43e543554c6d1827R63

[2020-07-20 11:12] cofyc commented on #2990
Currently, it's not possible. BR is pre-packed into our backup POD. We assume there is no incompatibility between them in the same major version.

As we know, BR support will be built into the TiDB. In the future, our backup process will call the TiDB directly.

[2020-07-20 16:42] mikechengwei commented on #2968
After my manual testing, I found that it is available to modify the pv claimRef.name for migrating. I redesigned the plan.

We provide the `controller` field contains sts and deployment value, and the type is string. When user change the value to statefulset , start upgrade process as follows:

1. delete deployment
2. modify the `claimRef.name` field of  existing pv
3. create new pvc for statefuls

[2020-07-21 01:40] cofyc commented on #2968
If we can migrate the data automatically. I think we can change the underlying controller from Deployment to Statefulset directly.
Which controller we use internally to manage Pods & PVCs does not matter as users create/edit our TidbMonitor CR object.

All we need to do:

1) make sure the migration is well tested
2) add a release note telling the users the pod will be recreated after the tidb-oper

[2020-07-21 02:48] DanielZhangQD commented on #2968
The above steps will be done by TiDB Operator automatically? Is it safe to do that? @mikechengwei @cofyc

[2020-07-21 04:49] DanielZhangQD commented on #2989
We have supported `cleanData` in #2892, should we also clean the data in S3 for the failed backup CR if `cleanData` is set to false? WDYT @cofyc @lichunzhu

[2020-07-21 04:52] DanielZhangQD opened #2995 "Update the tools in the backup-manager to v4.0.3"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TiDB v4.0.3 will be released on 07/22, we have to update the tools in the backup-manager to v4.0.3 after it's released.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-21 04:57] cofyc commented on #2989
IMO `cleanData=false` implies the underlying data should not be managed by our controller like `Retain` policy

[2020-07-21 04:58] DanielZhangQD commented on #2989
@gejibin What's your opinion?

[2020-07-21 05:07] lichunzhu commented on #2989
IMO we should

[2020-07-21 05:22] cofyc commented on #2989
if we clean the data if the backup process fails no matter what value the `cleanData` is, I would suggest using a different name as this name will be confusing.

[2020-07-21 05:23] sstubbs opened #2996 "Development - CR For Restore WIth BR Not Working With Minio"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of TiDB Operator are you using?**
1.1.2

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**
kind and kind local path provisioner

**What's the status of the TiDB cluster pods?**
[code]

**What did you do?**
I setup a test cluster from https://github.com/pingcap/tidb-operato

[2020-07-21 05:29] sstubbs commented on #2695
I see the change to dumpling PR has been merged. I was trying to work on the restore part of this but BR doesn't seem to work with minio in the same way as lightning does. I've posted the issue here. https://github.com/pingcap/tidb-operator/issues/2996

Perhaps it would be better if somebody more experienced with this operator worked on this as with something as important as restore I fear there a

[2020-07-21 06:27] lichunzhu commented on #2996
It sames that you backup data by `dumpling` but try to restore it by `BR`?
Actually `BR` can only restore the data backuped by `BR`. These tools backuped files are in different formats.

[2020-07-21 06:29] lichunzhu commented on #2695
I have replied in this issue. Don't worry, you are doing a great job!

[2020-07-21 08:42] cofyc commented on #2939
closed via https://github.com/pingcap/tidb-operator/pull/2988

[2020-07-21 08:42] #2939 closed

[2020-07-21 10:25] mikechengwei commented on #2968
The plan  is ok.  We need to ensure the reliability of the code .
I think running sts and deployment at the same time ,user delete deployment manually. It is more reliable.

[2020-07-21 10:54] sstubbs commented on #2996
Oh I see thank you very much. I will try that then.

[2020-07-21 11:14] SaulEntersekt commented on #2410
I've failed to pull metrics with this configuration in minikube. Successfully get from pd and tidb. Just reporting.

[2020-07-21 11:19] gejibin commented on #2989
if delete a failed backup CR, clean up the rubbish data on s3 no matter what value the cleanData is.

[2020-07-21 11:42] sstubbs commented on #2996
Ok backup and restore works when using br. Thanks for the help this issue can be closed.

[2020-07-21 12:14] cofyc commented on #2547
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind/detail/tidb-operator-pull-e2e-kind/423/tests/

[2020-07-21 12:19] #2996 closed

[2020-07-21 13:07] DanielZhangQD commented on #2968
Then we can let users delete the deployment and old PVC manually.

[2020-07-22 02:32] mikechengwei commented on #2968
What do you think? @cofyc

[2020-07-22 06:26] #2969 closed

[2020-07-22 16:10] mikechengwei commented on #2971
And I think we can control replica to make tidb ,tikv and pd optional. What do you think? @DanielZhangQD

[2020-07-22 18:42] mightyguava opened #3004 "Patch PVC when storage request is increased"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Increasing storage for tidb, pd, pump, monitor, require the user to manually patch PVCs. The `storage` setting in the CRDs only have effect when initially creating the cluster.

**Describe the feature you'd like:**
When the `storage` request for any component is increased, and the underlying storage-class suppor

[2020-07-23 01:56] cofyc commented on #2968
I still prefer changing the internal implementation from deployment to statefulset directly and take over the old PV if found.

We don't need to change the API interface and maintain two similar code paths in our code.

It gives the best user experience. No manual intervention is required, only the pod is recreated I think it's fine.

[2020-07-23 03:19] DanielZhangQD commented on #3004
I think we can patch the PVC automatically, and users have to make sure that the underlying sc supports expansion.
The operator just patches the PVC according to the spec, if the sc does not support expansion, the patch just does not take effect. WDYT @cofyc

[2020-07-23 04:35] cofyc commented on #3004
SGTM

[2020-07-23 05:38] DanielZhangQD commented on #2968
SGTM

[2020-07-23 06:57] knightXun opened #3007 "Some doubt about AnnPVCPodScheduling"
In scheduler, AnnPVCPodScheduling act like a locker, make scheduler plugins can schedule tikv/pd serially.  But I was very confused when I notice scheduler can remove old pod's AnnPVCPodScheduling flag. Why can't scheduler wait the old pod run ok? the pvc_cleaner will remove this flag after the tikv/pd is really running.

[2020-07-23 07:01] #1152 closed

[2020-07-23 07:05] cofyc commented on #3007
@weekface can you take a look?

[2020-07-23 07:40] DanielZhangQD commented on #2971
If setting `spec.configUpdateStrategy: RollingUpdate`, when the cm is updated, a new name will be [generated](https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/tidb_member_manager.go#L421) for the cm and the sts spec will be updated to [use the new cm](https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/tidb_member_manager.go#L560), which will trigger the

[2020-07-23 07:41] DanielZhangQD commented on #2971
Just change the `spec.pd/tidb/tikv` to pointer and check `spec.pd/tidb/tikv !=nil` is OK.

[2020-07-23 07:54] mikechengwei commented on #2971
ok. thanks.

[2020-07-23 08:01] DanielZhangQD commented on #2410
@SaulEntersekt Maybe you can try the solution [here](https://github.com/pingcap/tidb-operator/pull/2466#issuecomment-628403720).

[2020-07-23 08:11] DanielZhangQD commented on #2757
We will provide new procedures to deploy EKS in https://github.com/pingcap/tidb-operator/issues/2787.

[2020-07-23 08:11] #2757 closed

[2020-07-23 08:11] DanielZhangQD commented on #2725
We will provide new procedures to deploy EKS in https://github.com/pingcap/tidb-operator/issues/2787.

[2020-07-23 08:11] #2725 closed

[2020-07-23 08:17] SaulEntersekt commented on #2410
Thanks for this response. This wasn't our issue but it is interesting. :smiley:

We've had to remove the metric relabellings from the example to get data scaping at the correct prefix.

[2020-07-24 01:48] cofyc opened #3010 "release v1.1.3"
This is a track issue for tidb-operator v1.1.3 release.

previous:
- https://github.com/pingcap/tidb-operator/issues/2567
- https://github.com/pingcap/tidb-operator/issues/2775
- https://github.com/pingcap/tidb-operator/issues/2839

pending PRs:

[2020-07-24 02:09] DanielZhangQD commented on #2410
@SaulEntersekt
Could you please describe your use case in more detail?
Do you use Prom operator?
It's OK that no name for the TiKV status port?
What's your final `ServiceMonitor` yaml for TiKV?

[2020-07-24 06:17] SaulEntersekt commented on #2410
Yes, using the `prom-operator`

`apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: <app-name>
    cluster: <name>
  name: tikv-servicemonitor
spec:
  endpoints:
  - interval: 15s
    scrapeTimeout: 10s
    path: /metrics
    relabelings:
    - sourceLabels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
      regex: ([^:]+)(?::\d+)?;(\d+)

[2020-07-24 07:21] Win-Man opened #3012 "Support kubernetes cron horizontal pod autoscaler controller using crontab like scheme"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Support kubernetes cron horizontal pod autoscaler controller using crontab like scheme.
Like this: https://github.com/AliyunContainerService/kubernetes-cronhpa-controller

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strat

[2020-07-24 09:25] bigsheeper opened #3014 "Launch a TiDB cluster failed"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of TiDB Operator are you using?**
[code]

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**
no TiDB Cluster

**What did you do?**
I follow the instruction in TiDB Operator Get Started document ( <https://docs.pingcap.com/tidb-in-kubernetes/v1.0/deploy-tidb-from-kubernetes-

[2020-07-24 09:42] bigsheeper commented on #3014
And I'm sure my tidb-scheduler and tidb-controller-manager are running:
[code]

[2020-07-24 09:45] cofyc commented on #3014
@bigsheeper can you try the latest tidb-operator version? v1.1

https://docs.pingcap.com/tidb-in-kubernetes/stable/get-started

[2020-07-24 09:47] cofyc commented on #3014
ah, I see you are using tidb-operator v1.1, but using the v1.0 docs. I would suggest you following the latest docs.

[2020-07-24 09:58] bigsheeper commented on #3014
Well, thank u for your reply very much! I would try again by following the latest docs.

[2020-07-24 09:58] #3014 closed

[2020-07-24 11:10] DanielZhangQD commented on #2410
@SaulEntersekt Thanks！It's much simpler.

[2020-07-24 11:14] #2985 closed

[2020-07-24 14:27] 3pointer opened #3017 "Support PiTR with BR and TiCDC"
## Feature Request

**Is your feature request related to a problem? Please describe:**

After the first version of PiTR https://github.com/pingcap/br/issues/325 finished.
It's is better to support it with operator. it will improve the availability of TiDB cluster.

**Describe the feature you'd like:**

Basically operator need integrate several functions in BR and TiCDC to implement PiTR, and accor

[2020-07-24 14:38] mikechengwei commented on #2973
I think `PDAddress` change , we need to rolling update tidb and tikv. What do you think? @DanielZhangQD

[2020-07-24 14:38] DanielZhangQD commented on #3012
@Win-Man Could you please explain more about your use case?

[2020-07-24 14:43] DanielZhangQD commented on #2973
If no change to the spec and just upgrade the TiDB Operator, the cluster should not roll update.
If users config the `spec.pdAddress`, yes, TiDB and TiKV will roll update.

[2020-07-25 14:38] mikechengwei commented on #2973
From what you said, I think it is a very dangerous action for users to modify the pdAddress field of an existing cluster. We should not support the update of pdAddress, we should only support creation and deletion, because  both tikv and tidb are storage with state, we cannot update them as pure computing nodes. @DanielZhangQD

[2020-07-25 14:40] mikechengwei commented on #2973
In other words, we should only support updating when pdAddress is configured incorrectly. Instead of updating the pdAddress field across the two clusters.

[2020-07-26 09:22] Win-Man commented on #3012
For example, the business peak is from 18:00 to 22:00 every day. You could regularly scale-out the node before the business peak starts, and scale-in the node after the business peak end.

[2020-07-27 01:13] #2995 closed

[2020-07-27 01:54] DanielZhangQD commented on #2989
close via #3002

[2020-07-27 01:54] #2989 closed

[2020-07-27 02:16] DanielZhangQD commented on #3012
@Win-Man We're working on the auto-scaling of TiDB Clusters in #1651 (the detailed solutions may change, I will submit a proposal this week), I think the auto-scaling based on the real metrics is more accurate than the auto-scaling based on the schedule. If you do have traffic peak during a period, the metrics based auto-scaling will also scale the cluster to handle the traffic, WDYT? cc @cofyc

[2020-07-27 03:01] DanielZhangQD commented on #2973
How can you implement this?
BTW, if `spec.pd` is configured, then the PD Address of TiDB and TiKV should use the `<cluster>-pd` instead of `spec.pdAddress`, then it should be OK if users configure the `spec.pdAddress` for an existing cluster.

[2020-07-27 04:04] DanielZhangQD commented on #2973
I think if both `spec.pd` and `spec.pdAddress` are configured, the `<cluster>-pd` address should take precedence over `spec.pdAddress`.

[2020-07-27 10:37] DanielZhangQD opened #3024 "Add UT for TiCDC"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Add UT for TiCDC
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-27 10:39] DanielZhangQD commented on #2990
Yes, TiDB Operator will do backup and restore with BR in the TiDB Server, and the issue is tracked in #2209.

[2020-07-27 10:39] #2990 closed

[2020-07-27 10:40] weekface commented on #3007
@knightXun

If the old pod scheduled, the tidb-scheduler can schedule other pods soon.

tidb-scheduler should not wait the old pod running, this may need seconds or minutes, it blocks the tidb-scheduler schedule other pods for a long time.

[2020-07-27 11:13] knightXun commented on #3007
@weekface If so,  I believe there is racing here, When the old pod is still sheduling, The new one can take this flag, That mean there will at least two pods  on the scheduling, That may make some mistake

[2020-07-27 12:17] DanielZhangQD commented on #2904
@sstubbs Did you get istio mtls work with TiDB?

[2020-07-27 12:21] DanielZhangQD commented on #2903
@sstubbs FYI, we plan to support patching the PVC automatically when you increase the storage request in the CR, you can check detail in https://github.com/pingcap/tidb-operator/issues/3004#issuecomment-662799686.

[2020-07-27 12:21] #2903 closed

[2020-07-27 12:44] DanielZhangQD commented on #2815
@kolbe Do you hit any issue during the test?

[2020-07-27 12:47] DanielZhangQD commented on #2811
Close via https://github.com/pingcap/docs-tidb-operator/pull/535.

[2020-07-27 12:47] #2811 closed

[2020-07-27 12:58] DanielZhangQD commented on #2695
@sstubbs Are you still working on this issue? Any help do you need?

[2020-07-27 13:17] sstubbs commented on #2903
ok great thanks.

[2020-07-27 13:19] sstubbs commented on #2695
I've been in contact with @lichunzhu via slack about it and was just waiting for 4.0.3 which included this feature. I will work on it this week.

[2020-07-27 18:58] sstubbs commented on #2904
I have tried everything I can think of with no luck unfortunately.

[2020-07-27 19:07] sstubbs commented on #2904
Not sure if this helps but when I install it with istio sidecar it works as the default is permissive. I use the following:
[code]
and
[code]
Strangely kiali reports an error in this graph like the following even though it seems to work fine.
<img width="1440" alt="Screenshot 2020-07-27 at 19 46 22" src="https://user-images.githubusercontent.com/18033664/88580865-33955680-d044-11ea-99d5-dd5eacb28d

[2020-07-27 20:55] sstubbs commented on #2904
On second on thought if there is no traffic being allowed through it makes sense it doesn't show errors. I will just use tidb encryption for the time being.

[2020-07-28 02:09] weekface commented on #3007
The new pod must [acquire](https://github.com/pingcap/tidb-operator/blob/master/pkg/scheduler/predicates/ha.go#L99) the lock to schedule.

[2020-07-28 02:50] Win-Man opened #3025 "Can't collect logs through dashboard"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

tidb-operator: v1.1.1
tidb cluster: v4.0.2

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

![image](https://user-images.githubusercontent.com/12085878/88613434-04bcc600-d

[2020-07-28 02:52] DanielZhangQD commented on #2904
@sstubbs Thanks for the reply!
Not sure if the PR https://github.com/pingcap/tidb/pull/17539 (released in TiDB v4.0.2, docs update https://github.com/pingcap/docs/pull/2973) can help resolve this issue.

[2020-07-28 03:10] weekface commented on #3025
In kubernetes env, the container logs are printed to `stderr` not a log file. But the Dashboard only collect and search logs from a log file now, so the log search can't work in kubernetes env now. We suggest user use [EFK](https://www.digitalocean.com/community/tutorials/how-to-set-up-an-elasticsearch-fluentd-and-kibana-efk-logging-stack-on-kubernetes) to collect logs in kubernetes env.

[2020-07-28 06:41] DanielZhangQD commented on #2611
Fixed in #2857.

[2020-07-28 06:41] #2611 closed

[2020-07-28 06:54] DanielZhangQD commented on #2971
Close via #3009.

[2020-07-28 06:54] DanielZhangQD commented on #2973
Close via #3009.

[2020-07-28 06:54] #2973 closed

[2020-07-28 07:07] #2549 closed

[2020-07-28 07:15] gejibin opened #3026 "tidb-lightning does not need to access pd"
When tidb-lightning is used for data import, in public cloud environment, pd is not exposed to outside, so tidb-lightning should not access pd.  A configuration option can be added to configure the tidb-lightning to run without access to pd.

Public cloud environments generally only exposes two service, tidb and grafana.
公有云环境一般只会暴露tidb和grafana这个两个服务。

[2020-07-28 07:39] DanielZhangQD commented on #2465
Close via https://github.com/pingcap/tidb-operator/pull/2744

[2020-07-28 07:39] #2465 closed

[2020-07-28 07:42] DanielZhangQD commented on #2392
The `path` is required for restore with lightning as the backup data to be restored is in a compressed file, so it cannot be unified with BR.

[2020-07-28 07:42] #2392 closed

[2020-07-28 10:01] DanielZhangQD commented on #2383
terraform scripts will be abandoned soon, the new procedures are in progress in https://github.com/pingcap/docs-tidb-operator/pull/584.

[2020-07-28 10:01] #2383 closed

[2020-07-28 12:14] #2177 closed

[2020-07-28 12:31] #1666 closed

[2020-07-28 12:36] DanielZhangQD commented on #1483
This will be covered in https://github.com/pingcap/tidb-operator/issues/2240.

[2020-07-28 12:36] #1483 closed

[2020-07-28 12:44] DanielZhangQD commented on #3026
tidb-lightning should be deployed in the same namespace with the TiDB Cluster so that it can access the PD.
You can follow the doc here https://docs.pingcap.com/zh/tidb-in-kubernetes/stable/restore-data-using-tidb-lightning.

[2020-07-28 12:47] DanielZhangQD opened #3027 "Support TLS for TiFlash"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-28 12:48] DanielZhangQD opened #3028 "Support TDE for TiFlash"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-28 12:59] DanielZhangQD commented on #2692
We can set labels via config [here](https://github.com/tikv/tikv/blob/master/etc/config-template.toml#L174) and as @Yisaer has explained, when the heterogeneous deployment is supported, we can deploy TiKVs with different labels.

[2020-07-28 12:59] #2692 closed

[2020-07-28 13:05] DanielZhangQD commented on #2929
/assign L3T

[2020-07-28 13:07] #2971 closed

[2020-07-28 17:29] mightyguava opened #3029 "A way to check if state is "dirty" on TidbCluster CRD"
## Feature Request

**Is your feature request related to a problem? Please describe:**
After applying a change to a TidbCluster CRD, I'd like to be able to check whether the cluster state is in-sync. At the moment, `status.conditions[0]` remains in the "Ready" state. Individual components' `phase` eventually becomes `Upgrading`, but due to the delay the values cannot be used to wait on.

**Describ

[2020-07-28 18:24] gregwebs commented on #3029
Perhaps we can have a wait option. But there would be 2 things to wait for: the status getting updated to Upgrading and for the upgrade to complete.

I think it would be generally useful to have a list of dirty spec fields in the status. A dirty spec field is one whose value has not yet been fully applied to achieve the desired result such that it shows in the status.

[2020-07-29 01:07] DanielZhangQD commented on #3029
cc @cofyc What's your suggestion for this?

[2020-07-29 06:44] DanielZhangQD opened #3030 "Improve UT coverage for pkg/manager/meta"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Current status:
https://codecov.io/gh/pingcap/tidb-operator/tree/master/pkg/manager/meta

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-29 06:49] DanielZhangQD opened #3031 "Improve UT coverage for pkg/manager/member/pod_restarter.go"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Current status:
https://codecov.io/gh/pingcap/tidb-operator/src/master/pkg/manager/member/pod_restarter.go

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-29 06:51] DanielZhangQD opened #3032 "Improve UT coverage for pkg/manager/member/tidb_init_manager.go"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Current status:
https://codecov.io/gh/pingcap/tidb-operator/src/master/pkg/manager/member/tidb_init_manager.go
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-29 09:46] cofyc commented on #2944
TODO

- [ ] admission-webhook, advanced-statefulset-controller deployed via tidb-operator chart should honor `.Values.timezone`
- [ ] backup-manager job should use the same timezone of tidb-controller-manager

[2020-07-29 11:03] Yisaer opened #3033 "Support syncing TiDB when TiKV is under syncing"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When TiKV is upgrading or scaling, tidb can't be syncing. As tikv syncing would be rather time-consuming (especially in prod), I suggest tidb can be syncing even tikv is under syncing.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, M

[2020-07-29 13:46] #2547 closed

[2020-07-30 02:55] DanielZhangQD opened #3038 "TidbCluster controller update for cluster reference change - TiFlash"
## Feature Request

**Is your feature request related to a problem? Please describe:**

TidbCluster controller update for the change in #2972, so that the components can start with the pdAddress in the cluster reference.
TiFlash is covered in this issue.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:

[2020-07-30 02:56] mikechengwei commented on #3038
/assign

[2020-07-30 08:22] #2944 closed

[2020-07-30 09:09] serbaut opened #3042 "tidb-initializer: init container requires docker hub"
## Bug Report

**What version of Kubernetes are you using?**
v1.18.3

**What version of TiDB Operator are you using?**
TiDB Operator Version: version.Info{GitVersion:"v1.1.3", GitCommit:"1cf12d67fba0f68dd2e8c2b6744e2f91de8ef3e7", GitTreeState:"clean", BuildDate:"2020-07-27T10:49:06Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"linux/amd64"}

**What's the status of the TiDB cluster pods?**
[cod

[2020-07-30 10:17] DanielZhangQD commented on #3042
@serbaut Thanks for reporting this issue!
Would you like to submit PR for this fix?

[2020-07-30 10:27] serbaut commented on #3042
I can submit a PR. Would you like to reuse the mysql image or make the init container image configurable?

[2020-07-30 12:00] cofyc commented on #3004
related discussions:

- https://github.com/kubernetes/kubernetes/issues/68737
- https://github.com/kubernetes/enhancements/pull/660
- https://github.com/kubernetes/enhancements/issues/661
- https://github.com/kubernetes/enhancements/pull/1848

[2020-07-30 12:07] cofyc commented on #3004
Current statefulset implementation does not allow `volumeClaimTemplates` to be changed, two possible workaround solutions:

#### recreate the statefulset, patch the PVCs

#### patch the PVCs only

[2020-07-30 14:08] sstubbs commented on #2695
Hi, So I've started working on this. Currently in the spec there is Backup.dumpling.tableFilter and Backup.table and Backup.database for BR. I would like to remove all three of these and just have one Backup.tableFilter that dumpling and br use. Seems to be simple enough for me to do. I just would like to find out if there is any issue in terms of backwards compatibility and whether the table and

[2020-07-31 01:34] DanielZhangQD commented on #3042
Currently, it uses the busybox image, I think we can make it configurable and optional, if not configured, just use the default image [here](https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/tidb_init_manager.go#L51), WDYT? @serbaut

[2020-07-31 02:34] mightyguava commented on #3004
My intent with the feature request is to just patch the PVCs. I think that is sufficient.

[2020-07-31 06:12] cofyc opened #3046 "Register different admission hooks as different API resources"
### Motivation

Each admission hook can be registered directly into the admission server.

[code]
https://github.com/openshift/generic-admission-server/blob/master/pkg/cmd/cmd.go#L24

- Current `AdmissionHook` can be removed
- This will make the code easier to debug. Every admission hook can be tested independently. https://github.com/pingcap/tidb-operator/issues/2938

### Proposed change

API GRO

[2020-07-31 08:30] serbaut commented on #3042
Would the initContainerImage need imagePullPolicy and imagePullSecrets too then?

Just thinking since tnir/mysqlclient is based off alpine/busybox 1.31.1 we could use the same image to make it simpler?

[2020-07-31 10:50] zjj2wry opened #3048 "Tidb monitor does not retain the job value of the original metrics"
## Bug Report
![image](https://user-images.githubusercontent.com/18045633/89028028-23d88380-d35e-11ea-85a2-f7c0e45d9ba5.png)

origin job key will update to exported_job. then will cause some grafana dashboards not work

![image](https://user-images.githubusercontent.com/18045633/89028247-90538280-d35e-11ea-9195-a7082cb3b360.png)

**What version of Kubernetes are you using?**

**What version of TiD

[2020-07-31 16:51] kolbe opened #3050 "Support image digest in ComponentSpec"
## Feature Request

**Is your feature request related to a problem? Please describe:**

It should be possible to specify an image's digest instead of a tag.

Today, the digest can be appended to the `baseImage` field, but the cluster `version` field is still appended to that to get an image name, which is illegal:

[code]

If you set the components `version` to an empty string, a colon is still ap

[2020-08-01 05:29] DanielZhangQD commented on #3050
@kolbe There are several ways to do this:

- set `spec.version: ""`, do not set `spec.tidb.version`, set `spec.tidb.image: pingcap/tidb@sha256:387829e3352027dc03ecd8f2935a896558dee36df4a5a5a7c45d95b8ea686d5f`, and in this case, we have to set `spec.pd.version: v4.0.3`, `spec.tikv.version: v4.0.3`.
- set `spec.tidb.baseImage: pingcap/tidb@sha256`, `spec.tidb.version: 387829e3352027dc03ecd8f2935a896

[2020-08-01 05:45] DanielZhangQD commented on #2695
@sstubbs We have to keep backward compatibility. i think we can add a new `Backup.tableFilter`, but we cannot remove the other fields, what about doing as below:
1. add `Backup.tableFilter`
2. add comments that the other fields are deprecated
3. when syncing the CR, check `Backup.tableFilter` first, if no values, then check the other fields.
cc @lichunzhu

[2020-08-01 05:53] sstubbs commented on #2695
OK I thought this might be the case I will do what you suggest and add a pr.

[2020-08-01 06:43] DanielZhangQD commented on #3042
I think it's OK, and also share the imagePullPolicy.
imagePullSecrets is for Pod.
cc @cofyc

[2020-08-01 12:12] cofyc commented on #3042
SGTM

[2020-08-02 10:42] uglyengineer commented on #2240
This issue is a sub-item of https://github.com/pingcap/tidb/issues/18374, no need to be directly related in Longterm board.

[2020-08-02 23:50] cofyc commented on #3046
@Yisaer what do you think?

we can route the request to each admission controller, e.g. pod to PodAdmissionHook, statefulset to StatefulSetAdmissionHook. then, the current `AdmissionHook` is not necessary.

This is an example: https://github.com/pingcap/tidb-operator/pull/3047

[2020-08-03 03:32] zjj2wry commented on #3048
![image](https://user-images.githubusercontent.com/18045633/89143377-f4ec2880-d57c-11ea-9760-483677e0c5cf.png)

same with instance key, i will trying create a PR for it

[2020-08-03 05:37] DanielZhangQD opened #3053 "e2e for TiFlash TLS support"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-03 08:49] serbaut commented on #3042
I am a bit confused about the helm chart https://github.com/serbaut/tidb-operator/blob/master/charts/tidb-cluster/templates/tidb-initializer-job.yaml#L28

The operator renders the init script here https://github.com/serbaut/tidb-operator/blob/master/pkg/manager/member/template.go#L333

What is the helm chart used for?

[2020-08-03 13:04] DanielZhangQD opened #3058 "TiDB Operator OOM"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

v1.1.3
**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**
TiDB Operator works normally
**What did you see instead?**
The memory usage of TiDB

[2020-08-03 13:09] DanielZhangQD commented on #3058
![image](https://user-images.githubusercontent.com/36026334/89185802-66ec5e00-d5cd-11ea-9abf-8032d56e6945.png)

[2020-08-03 13:10] DanielZhangQD commented on #3058
Heap profile:
[code]

[2020-08-04 01:07] DanielZhangQD commented on #3058
After several hours:
[code]

[2020-08-04 03:58] DanielZhangQD opened #3061 "TLS support for heterogeneous components"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-04 04:00] DanielZhangQD opened #3062 "Monitoring for heterogeneous components"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We have to make sure the monitoring works as expected for heterogeneous components.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-04 09:29] Win-Man opened #3065 "Tidbmonitor will deploy grafana panel of TiFlash even if I didn't deploy TiFlash node"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of TiDB Operator are you using?**

[code]

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

[code]

**What's the status of the TiDB cluster pods?**

[code]

**What did you do?**

I deployed a cluster without TiFlash, then I deployed a tidb-monitor.

**What did you expec

[2020-08-04 09:47] #3027 closed

[2020-08-04 10:10] DanielZhangQD commented on #3065
The monitoring panels are delivered all together, you can see that even the binlog, lightning panels are included.

[2020-08-05 01:15] DanielZhangQD commented on #3042
The chart is used in TiDB Operator v1.0.x, from v1.1.x, we have transferred to CR for the cluster management so you can ignore the chart.

[2020-08-05 01:35] #3058 closed

[2020-08-05 02:40] #3042 closed

[2020-08-05 21:16] kolbe opened #3075 "max-index-length missing from crd and operator"
## Bug Report

For some reason, max-index-length is missing from crd.yaml and tidb_config.go. That means it's not possible to add that config option to the configuration of the tidb component.

https://docs.pingcap.com/tidb/stable/tidb-configuration-file#max-index-length

[2020-08-06 00:25] DanielZhangQD opened #3077 "How to add a configuration item to the tidb config when the config item is not supported in the CRD"
## Feature Request

**Is your feature request related to a problem? Please describe:**

It's possible that some configuration parameters are missed during the integration or some new parameters are not integrated to TiDB Operator yet, we may have to provide a way for users to configure them.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Docume

[2020-08-06 00:26] DanielZhangQD commented on #3077
cc @kolbe @cofyc @weekface @lichunzhu

[2020-08-06 00:46] DanielZhangQD opened #3078 "TiKV cannot upgrade when TLS is enabled"
## Bug Report

**What version of Kubernetes are you using?**

v1.12.8
**What version of TiDB Operator are you using?**

v1.1.3 + TiDB nightly
**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

Running
**What did you do?**

Upgrade TiDB Cluster
**What did you expect to see?**
TiDB Cluster upgrades successful

[2020-08-06 00:48] DanielZhangQD commented on #3078
The following logs are printed repeatedly:
[code]

[2020-08-06 00:50] DanielZhangQD opened #3079 "TiDB OOM when TLS is enabled"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

v1.1.3
**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**
TiDB Operator runs normally without OOM killed.
**What did you see instead?**
After

[2020-08-06 00:56] DanielZhangQD commented on #3079
Debug with the pprof goroutine profile, there is goroutine leak when TLS is enabled:
[code]

And they are never closed since the first creation.

[2020-08-06 01:00] DanielZhangQD opened #3080 "TidbClusters are synced too frequently even if there is no update to it"
## Feature Request

**Is your feature request related to a problem? Please describe:**

By default, the resync duration for the CRs are 30s, however, currently, the TidbClusters are synced very frequently even if no update to them.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-06 01:04] DanielZhangQD commented on #3080
[code]

[2020-08-06 01:53] DanielZhangQD opened #3082 "TiDB Operator OOM"
## Bug Report

**What version of Kubernetes are you using?**

v1.15.3
**What version of TiDB Operator are you using?**

v1.1.2
**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**
TiDB Operator works normally without OOM killed
**What did you see instead?*

[2020-08-06 01:55] DanielZhangQD commented on #3082
Some info:

- TLS is not enabled
- TiDB Cluster shares the Kubernetes cluster with many other applications

Memory usage:
![image](https://user-images.githubusercontent.com/36026334/89481694-db402080-d7ca-11ea-833a-9b17a0f933df.png)

Heap profile:
![image](https://user-images.githubusercontent.com/36026334/89481748-fca10c80-d7ca-11ea-9f3e-8f78b660f9d9.png)

[2020-08-06 02:12] #3065 closed

[2020-08-06 03:30] #3079 closed

[2020-08-06 06:04] DanielZhangQD commented on #2895
We can add `spec.PDAddress` of `[]string`, and if it's configured, update the PD startup script to join the `spec.PDAddress` instead of requesting the startup parameters from the Discovery component.

[2020-08-06 06:35] DanielZhangQD opened #3084 "Monitoring for TiFlash when TLS is enabled"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-07 01:21] #3075 closed

[2020-08-07 02:21] #3046 closed

[2020-08-07 05:49] mikechengwei commented on #2975
I have test in pr #3003 ,the status show correctly. Because pdclient get stores and operator will check address whether match cluster name .

[2020-08-07 05:50] mikechengwei commented on #2975
I have test in pr #3003 ,the status show correctly. Because pdclient get stores and operator will check address whether match cluster name .

[2020-08-07 05:51] DanielZhangQD commented on #2975
@mikechengwei And the status shows correctly for both the TiKV and TiDB, right?

[2020-08-07 06:09] mikechengwei commented on #2975
Yes.
I deploy two cluster contain basic and heterogeneous .

basic cluster status:

[code]

heterogeneous cluster status:
[code]

[2020-08-07 06:10] DanielZhangQD commented on #2975
@mikechengwei Great! Thanks a lot!

[2020-08-07 06:10] #2975 closed

[2020-08-07 06:23] weekface commented on #3078
The PD server panic while evicting leaders. @nolouch PTAL

[2020-08-07 08:24] DanielZhangQD commented on #2972
Close via #3003

[2020-08-07 08:24] #2972 closed

[2020-08-07 08:25] DanielZhangQD commented on #2974
Close via #3003

[2020-08-07 08:25] #2974 closed

[2020-08-07 11:46] DanielZhangQD commented on #3078
@weekface @nolouch Just tested with the latest `nightly` image and the upgrade works well, sorry for the trouble.

[2020-08-07 11:46] #3078 closed

[2020-08-10 00:56] DanielZhangQD opened #3092 "TiCDC supports writing to remote storage directly"
## Feature Request

**Is your feature request related to a problem? Please describe:**

https://github.com/pingcap/ticdc/pull/826 supports writing logs to S3.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-10 04:01] #2422 closed

[2020-08-10 04:01] #2342 closed

[2020-08-10 04:01] #2344 closed

[2020-08-10 04:02] #2476 closed

[2020-08-10 04:02] #2485 closed

[2020-08-10 04:02] #2486 closed

[2020-08-10 04:02] #2500 closed

[2020-08-10 04:04] #2602 closed

[2020-08-10 06:55] #2513 closed

[2020-08-10 08:57] #2146 closed

[2020-08-10 13:39] DanielZhangQD opened #3094 "TLS Support for Backup&Restore with dumpling&lightning"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-11 01:16] #1895 closed

[2020-08-11 02:57] cofyc commented on #2648
a new case: https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/tidb-operator-pull-e2e-kind-serial/detail/tidb-operator-pull-e2e-kind-serial/638/tests

[2020-08-11 03:39] #2223 closed

[2020-08-11 04:06] #1818 closed

[2020-08-11 04:07] #1977 closed

[2020-08-11 16:18] #1764 closed

[2020-08-12 00:17] kolbe opened #3097 "environment variables for tidb-monitor initializer container are not used"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3", GitCommit:"2e7996e3e2712684bc73f0dec0200d64eec7fe40", GitTreeState:"clean", BuildDate:"2020-05-21T14:51:23Z", GoVersion:"go1.14.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.13-eks-2ba888", GitCo

[2020-08-12 06:05] DanielZhangQD opened #3099 "Some disk metrics are missed"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

[2020-08-12 06:05] cofyc commented on #3004
hi, @mightyguava

what volume plugin are you using? does it support online filesystem volume expansion?
is it ok to patch all PVCs at the same time?

[2020-08-12 06:06] DanielZhangQD commented on #3099
TiKV troubleshooting -> write too slow
![image](https://user-images.githubusercontent.com/36026334/89980672-f3211400-dca4-11ea-829d-77e658bbf7c4.png)

[2020-08-12 13:09] mightyguava commented on #3004
We are using the in-tree aws EBS driver. I believe it require the pod to be restarted for the resize operation to run.

[2020-08-12 13:21] cofyc commented on #3004
Thanks!

I didn't test with EKS. But according to [this blog](https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/#online-file-system-expansion), as for AWS-EBS, the pod does not need to be restarted. The feature `ExpandInUsePersistentVolumes` has been enabled by default since 1.15.

[2020-08-12 13:23] mightyguava commented on #3004
We just upgraded to kubernetes 1.15 last week so I guess it’s on by default now! I will test it today.

[2020-08-12 14:41] sstubbs commented on #2904
I'm having issues with mtls in other application too so I won't be using this anyway.

[2020-08-12 20:04] mightyguava commented on #3004
Just tried on our cluster, it didn't resize online.

<details>
  <summary>PVC</summary>

[code]
</details>

<details>
  <summary>storage class</summary>
[code]
</details>

I've confirmed that we are on 1.15, and this is the only feature gate on the kubelet:

[code]

[2020-08-12 20:12] mightyguava commented on #3004
Huh, never mind, it did end up finish resizing automatically without a pod restart. I tried it manually by patching all 3 TiKV pods. They all did the resize of the volume immediately via AWS API, and then all went into the status `Waiting for user to (re-)start a pod to finish file system resize of volume on node.`. But after a few minutes, the resize finishes and no pod restarted.

[code]

[2020-08-13 01:31] cofyc commented on #3004
Great!

[2020-08-13 03:14] weekface commented on #3082
This is heap profile:

[tidb-controller-manager.pb.gz](https://github.com/pingcap/tidb-operator/files/5066941/tidb-controller-manager.pb.gz)

This cluster has too many pods. So this must be caused by podInformer cache.

The solution: make a new [informerFactory](https://github.com/pingcap/tidb-operator/blob/2a598c321f4453615d23d2324bd79ee6c289743d/cmd/controller-manager/main.go#L162) for podInform

[2020-08-13 06:07] #3094 closed

[2020-08-13 12:31] weekface opened #3108 "There are too many DNS queries if a TiKV pod can't started"
I deployed a tidb cluster with 3xpd, 3xtikv and 2 tidb. We create 1000 tables.

When i killed a tikv pod, other tikv pods will query `tikv-2` many times, for example, 100 queries per second. Two tikv pods as 200 queries per second.

Because the `/etc/resolv.conf` file has `search` section:

![image](https://user-images.githubusercontent.com/9758/90134069-2b0e8100-dda3-11ea-8e00-5ac238cbf90b.png)

[2020-08-14 02:15] DanielZhangQD opened #3110 "TiDB Operator installation failure when set `clusterScoped: false`"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**
TiDB Operator installation succeeds.
**What did you see instead?**

Error: rendered manifes

[2020-08-14 04:02] cofyc commented on #3108
btw, https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/ can help improve the DNS reliability and latency if the DNS QPS in the cluster is very high.

[2020-08-14 05:44] #1443 closed

[2020-08-14 05:46] #2595 closed

[2020-08-14 09:42] DanielZhangQD commented on #3108
Agree, we recommend this solution.

For this item, we cannot do that for the following reasons:
1. If removing the search domain, then we have to use the full service/pod address for all of the service/pod access.
2. In some public cloud vendors, we cannot customize the startup parameters of Kubernetes components.

[2020-08-14 13:12] zjj2wry commented on #3048
I am sorry, this cause by Prometheus federate. just close it

[2020-08-14 13:42] #3048 closed

[2020-08-15 18:01] mikechengwei commented on #3061
I think heterogeneous cluster use tls feature just need to create the same secret as original cluster.

[2020-08-15 18:13] mikechengwei opened #3114 "Additional columns add tiflash info"
## Feature Request

**Is your feature request related to a problem?
Currently kubectl tool get tidb info, lacks tiflash info.

**Describe the feature you'd like:**
Add some field like tidb and tikv.

![image](https://user-images.githubusercontent.com/13257127/90318874-0f9fa380-df66-11ea-8b03-ef93bdce1e91.png)

[2020-08-15 18:32] mikechengwei commented on #3062
I test with deploying heterogeneous and basic cluster,then i deploy heterogeneous monitor and basics monitor. I find monitor works for heterogeneous components.

![image](https://user-images.githubusercontent.com/13257127/90319212-98b7da00-df68-11ea-8739-c8554e133a6d.png)
heterogeneous ：
![image](https://user-images.githubusercontent.com/13257127/90319219-a5d4c900-df68-11ea-81c2-c57e87069dfe.png)

[2020-08-15 18:34] mikechengwei commented on #3062
I think we need provide a centralized monitoring solution， and  i will contribute my thanos solution soon.

[2020-08-17 01:58] DanielZhangQD commented on #3110
The error occurs when the user installs TiDB Operator with a namespace-scoped user.

[2020-08-17 02:02] DanielZhangQD commented on #3114
The TidbCluster CR also manages Pump, TiFlash and TiCDC, do we need to show all of the info for them? cc @cofyc
BTW, what's the info shown for the heterogenous TCs? @mikechengwei

[2020-08-17 02:34] DanielZhangQD commented on #3110
`tidb-scheduler` requires clusterrulebinding with `system:kube-scheduler` and `system:volume-scheduler` clusterrole, so we cannot install TiDB Operator with a namespace-scoped user, right? Any suggestions for this? cc @weekface @cofyc

[2020-08-17 03:12] DanielZhangQD commented on #3061
No need to create the secret anymore, we can just reuse the secret of the original cluster and update the code to get the secret name, for example, https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/tidb_member_manager.go#L588 and https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/tidb_member_manager.go#L594.

[2020-08-17 03:17] cofyc commented on #3110
I don't think it's possible to run `kube-scheduler` in one namespace only.

[2020-08-17 06:01] DanielZhangQD commented on #3062
We'd better update the TidbMonitor controller to support retrieving metrics from multiple TidbClusters so that we can have all of the metrics in the TidbMonitor for the original cluster.

[2020-08-17 06:04] DanielZhangQD opened #3117 "Monitoring aggregation for multiple TidbClusters"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Some users may manage multiple TiDB Clusters in the same Kubernetes cluster and they want to aggregate the monitoring for all of the clusters so that they can check metrics in one central Grafana.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation,

[2020-08-17 06:07] DanielZhangQD commented on #3117
We can modify the TidbMonitor CR and controller, and provide an aggregation solution that automatically (generates Prometheus rules and adds Thanos sidecar) through Thanos (refer to Prometheus Operator).

[2020-08-17 06:09] DanielZhangQD opened #3118 "Monitoring aggregation for the TidbClusters deployed across Kubernetes clusters"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-17 06:55] DanielZhangQD commented on #2739
PD should have a similar fix.

[2020-08-17 07:46] DanielZhangQD opened #3119 "Different etcd port in the join parameters for different pd ports"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

[2020-08-17 07:47] DanielZhangQD commented on #3119
![image](https://user-images.githubusercontent.com/36026334/90371036-f0f1f780-e0a0-11ea-841f-cd8d6a4df7d9.png)

[2020-08-17 07:48] DanielZhangQD commented on #3119
![image](https://user-images.githubusercontent.com/36026334/90371134-141ca700-e0a1-11ea-965d-811fa30cd0a8.png)

[2020-08-17 09:21] #3119 closed

[2020-08-18 00:55] DanielZhangQD opened #3121 "Optimization for DNS queries"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, the addresses set for the components are like `ns0-tikv-0.ns0-tikv-peer.ns0.svc`, and the `/etc/resolv.conf` in the Pod is:
[code]
so for each DNS query, it will go through the following queries:
[code]
This is unreasonable.

**Describe the feature you'd like:**

**Describe alternatives you've consid

[2020-08-18 01:02] DanielZhangQD commented on #3121
To be compatible with the current releases, we may add `spec.enableShortName` in TidbCluster CR and if users set it to true, the names would be like `ns0-tikv-0.ns0-tikv-peer`, WDYT? cc @cofyc @weekface

[2020-08-18 01:37] cofyc commented on #2531
another example: https://github.com/pingcap/advanced-statefulset/tree/master/client

[2020-08-18 04:08] #3004 closed

[2020-08-18 10:04] DanielZhangQD opened #3130 "Cluster client secret should be mounted to PD Pod"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Cluster client secret should be mounted to PD Pod so that user can use pd-ctl directly in the PD pod.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-19 00:28] #2091 closed

[2020-08-19 02:17] #3084 closed

[2020-08-19 02:24] DanielZhangQD commented on #3028
The configuration parameters are already supported.

[2020-08-19 02:24] #3028 closed

[2020-08-19 04:22] #3097 closed

[2020-08-19 05:02] DanielZhangQD opened #3133 "Bump TiDB versions to v4.0.4"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The TiDB version is referred to in many files and we have to update them to the latest stable version which is v4.0.4 now.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-19 05:02] DanielZhangQD commented on #3133
The binary version in tidb-backup-manager should also be updated.

[2020-08-19 07:05] #1855 closed

[2020-08-19 09:26] LinuxGit opened #3136 "nightly version chart and image of release-1.1 branch"
## Feature Request

**Is your feature request related to a problem? Please describe:**

DBaaS often needs to test the features of the release-1.1 branch. So we need  latest chart of release-1.1 branch
[code]
We could build our own docker image and push to Docker hub. But sometimes there're RBAC rules updates in helm chart.It would be great if there is nightly version chart and image of release-1.1

[2020-08-19 10:20] #3133 closed

[2020-08-19 12:24] #2780 closed

[2020-08-20 02:54] DanielZhangQD commented on #2695
https://github.com/pingcap/tidb-operator/pull/3134 Supports backup specific database or table with Dumpling or BR and supports restore specific database or table with BR.
We also have to support restore specific database or table with lightning.

[2020-08-20 03:44] DanielZhangQD opened #3140 "Release v1.1.4"
This is a issue tracing the tidb-operator v1.1.4 release.

Previous:
- https://github.com/pingcap/tidb-operator/issues/2567
- https://github.com/pingcap/tidb-operator/issues/2775
- https://github.com/pingcap/tidb-operator/issues/2839
- https://github.com/pingcap/tidb-operator/issues/3010

Pending PRs:
- https://github.com/pingcap/tidb-operator/pull/3128
- https://github.com/pingcap/tidb-operator/p

[2020-08-20 03:54] #2773 closed

[2020-08-20 14:24] DanielZhangQD opened #3144 "No cpu and memory metrics in the tiflash-proxy dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-20 14:24] DanielZhangQD commented on #3144
![image](https://user-images.githubusercontent.com/36026334/90784450-dedbb780-e333-11ea-8a87-0415ed7f6f47.png)

[2020-08-24 00:29] #2330 closed

[2020-08-24 00:29] #2372 closed

[2020-08-24 00:29] #2256 closed

[2020-08-24 00:29] #2211 closed

[2020-08-24 13:31] DanielZhangQD opened #3156 "Update CRD for tidbautoscaler"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Update CRD per design in https://github.com/pingcap/tidb-operator/blob/f73551ea6c7cc979f729f03f7076b2ff7d181398/docs/design-proposals/2020-08-21-auto-scaling-with-pdapi.md#cr-definition.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption,

[2020-08-24 13:32] DanielZhangQD opened #3157 "Defaulting and validation for tidbautoscaler CR"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Defaulting and validation for tidbautoscaler CR per design https://github.com/pingcap/tidb-operator/blob/f73551ea6c7cc979f729f03f7076b2ff7d181398/docs/design-proposals/2020-08-21-auto-scaling-with-pdapi.md#defaulting--validation

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

[2020-08-24 13:36] DanielZhangQD opened #3158 "sync tidbautoscaler when `spec.xxxx.external` is configured"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Sync tidbautoscaler when `spec.xxxx.external` (`xxxx` is `tikv` or `tidb`) is configured.
[code]
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-24 13:37] DanielZhangQD opened #3159 "Sync tidbautoscaler with PD API"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Sync tidbautoscaler with PD API, please check detail in https://github.com/pingcap/tidb-operator/blob/f73551ea6c7cc979f729f03f7076b2ff7d181398/docs/design-proposals/2020-08-21-auto-scaling-with-pdapi.md#auto-scaling

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachabil

[2020-08-24 13:39] #2910 closed

[2020-08-25 00:29] #2210 closed

[2020-08-25 00:29] #2090 closed

[2020-08-25 00:29] #2202 closed

[2020-08-25 00:29] #2070 closed

[2020-08-25 00:29] #2084 closed

[2020-08-25 00:29] #2059 closed

[2020-08-25 00:29] #2060 closed

[2020-08-25 03:27] #2695 closed

[2020-08-25 03:28] DanielZhangQD commented on #2787
Close via https://github.com/pingcap/docs-tidb-operator/pull/584.

[2020-08-25 03:28] #2787 closed

[2020-08-25 06:49] gejibin opened #3162 "tidb-lightning supports local backend on k8s"
tidb-lightning supports local backend on k8s.
The following two ways of configuration are supported:
1. Support configuration of s3 data source;
2. Support configuration of local directory as data source, that is, import from pod local disk.

---------------------------------------------------------------------------------

支持以下两种方式配置：
1. 支持配置s3的数据源，从s3上导入;
2.支持配置本地目录作为数据源，从pod本地盘导入。

[2020-08-25 06:53] DanielZhangQD commented on #3162
@gejibin Could you please help submit PR for this?

[2020-08-25 08:00] #3136 closed

[2020-08-25 13:55] cvvz opened #3166 "Support canary deployments"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When a new version tidb-operator is deployed, all tidb clusters will be managed by it. If there is any problem happens in the new version tidb-operator, all of the tidb clusters will be infulenced.
**Describe the feature you'd like:**

When a new version tidb-operator is deployed, only some specific tidb cluste

[2020-08-26 00:29] #2042 closed

[2020-08-26 00:29] #1829 closed

[2020-08-26 00:29] #1923 closed

[2020-08-26 00:29] #1794 closed

[2020-08-26 01:24] DanielZhangQD commented on #3166
I think there are two issues here:

- TiDB Operator supports managing TidbClusters by label selector.
-  Support to deploy multiple cluster-scoped TiDB Operators in the same Kubernetes cluster.

cc @weekface

@shonge Is this the same request we discussed before?
I recall that you will have a proposal for this, right? You can put it here and we can discuss it.
BTW, for your case, we also have to co

[2020-08-26 02:47] mikechengwei commented on #3061
/assign

[2020-08-26 03:28] DanielZhangQD commented on #3144
Root cause:
There are two status port 8234 and 20292 for TiFlash component, one is for TiFlash status and the other is for TiFlash Proxy status, and [two scrape jobs](https://github.com/pingcap/tidb-operator/blob/master/pkg/monitor/monitor/template.go#L148-L149) are created for them from Prometheus.
However, the Grafana dashboards for TiFlash assumes that only one job `tiflash` is created for Prom

[2020-08-26 06:49] DanielZhangQD opened #3168 "The e2e case that Operator upgrade does not trigger rolling update of existing cluster seems not working"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

#3003 introduces script change to TiKV, however, the current e2e case https://github.com/pingcap/tidb-operator/blob/master/

[2020-08-26 07:18] DanielZhangQD opened #3169 "Deploy heterogeneous cluster across Kubernetes clusters"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-26 07:21] DanielZhangQD opened #3170 "Check tiflash available pod numbers and the max replica count configured before scaling in"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-26 07:22] L3T commented on #2816
/assign

[2020-08-26 07:22] L3T commented on #3169
/assign

[2020-08-26 07:35] #3144 closed

[2020-08-26 08:01] DanielZhangQD commented on #3170
If we set replicas according to the TiFlash [doc](https://docs.pingcap.com/zh/tidb/stable/use-tiflash#%E6%8C%89%E8%A1%A8%E6%9E%84%E5%BB%BA-tiflash-%E5%89%AF%E6%9C%AC), for example, `set TiFlash replica 2`, in this case, during the test, we cannot scale in the TiFlash Pods from 2 to 1, because the store for `<cluster>-tiflash-1` cannot be deleted, which is the same behavior for TiKV.
In addition, w

[2020-08-26 08:02] #2050 closed

[2020-08-27 00:29] #1676 closed

[2020-08-27 00:29] #1641 closed

[2020-08-27 00:29] #1659 closed

[2020-08-27 00:29] #1155 closed

[2020-08-27 00:29] #901 closed

[2020-08-27 00:29] #934 closed

[2020-08-27 02:32] AndreMouche commented on #3169
/assign @L3T

[2020-08-27 02:57] DanielZhangQD commented on #2816
/assign @L3T

[2020-08-27 04:45] #1594 closed

[2020-08-27 04:58] DanielZhangQD opened #3175 "Docs for across Kubernetes clusters deployment on EKS"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-27 04:59] DanielZhangQD opened #3176 "Docs for across Kubernetes clusters deployment on GKE"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-08-27 09:23] DanielZhangQD opened #3177 "failure stores cannot be removed for TiKV or TiFlash"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

Failover Pods are created for TiKV or TiFlash, when the Pods are recovered, I try to remove the failureStores from the Tidb

[2020-08-27 12:53] zgcbj opened #3178 "TidbInitializer pod can`t Pull busyBox Image from Private Registry"
https://github.com/pingcap/tidb-operator/blob/1cf12d67fba0f68dd2e8c2b6744e2f91de8ef3e7/pkg/manager/member/tidb_init_manager.go#L332

[2020-08-27 13:30] DanielZhangQD commented on #3177
Root cause:
After each sync, the status of TidbCluster will be updated if anything changed from the old status.
So, when I manually remove the failureStores, the informer cache is updated as below:
[code]
However, since we do not do auto recover of the failureStores for TiKV and TiFlash, so during the sync, the failureStores will not be changed if no new failureStores need to be added, so when the

[2020-08-27 13:32] DanielZhangQD commented on #3177
Suggesting adding `autoRecover` field to the spec of TiKV and TiFlash, when all of the failed Pods have recovered, users can set this field in TidbCluster and Operator will remove the failureStores automatically. WDYT? @cofyc @weekface

[2020-08-28 00:39] DanielZhangQD commented on #3178
Please try v1.1.4, which includes this PR https://github.com/pingcap/tidb-operator/pull/3069/files.

[2020-08-28 01:04] #3178 closed

[2020-08-28 02:20] DanielZhangQD opened #3179 "Cluster role binding for TidbMonitor is updated to different subjects"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

Create several TidbMonitors with the same name in different namespaces.

**What did you expect to see?**
The `subjects` in

[2020-08-28 02:27] DanielZhangQD commented on #3179
For the [cluster scoped case](https://github.com/pingcap/tidb-operator/blob/master/pkg/monitor/monitor/monitor_manager.go#L309), I think we should only have one clusterrole and one clusterrolebinding binding to all of the service accounts instead of creating one clusterrole and clusterrolebinding for each of the TidbMonitor object.
BTW, do we really need clusterrole and clusterrolebinding for Tidb

[2020-08-28 06:43] Yisaer commented on #3179
"I think role and rolebinding should be enough" currently, yes. But if you want to support heterogeneous cluster (constructed by multi tidbcluster), I think cluster role might be necessary as tidbclusters could be deployed across different namespaces.

"updated to different namespaces frequently." could you provide more detail about how subjects changed? I think this is a bug implementation regard

[2020-08-28 06:50] DanielZhangQD commented on #3179
[code]
@Yisaer  Because the name of the clusterrole and clusterrolebinding do not take namespace into consideration, and users created several tidbmonitors with the same name in different namespaces, so that each sync for one tidbmonitor will update the same clusterrole and clusterrolebinding, that's why the subjects are changed, you can have a try.

[2020-08-28 06:55] Yisaer commented on #3179
ok, I think that's the root cause. FYI @weekface

[2020-08-28 07:37] howardlau1999 opened #3181 "Support TiDB labels configuration"
## Feature Request

**Describe the feature you'd like:**
As TiDB now supports labels configuration like TiKV does, tidb-operator should support setting labels for TiDB as well.
Related PR: https://github.com/pingcap/tidb/pull/19212

**Describe alternatives you've considered:**

Add a `labels` field for TiDB in https://github.com/pingcap/tidb-operator/blob/6c57e54e8b9b80b71e3c8df7d0740dbe686443d2/p

[2020-08-28 09:00] DanielZhangQD opened #3182 "Do not scale in TiKV if the available replicas are less than 3"
## Feature Request

**Is your feature request related to a problem? Please describe:**

With the current implementation, when there are only 3 available replicas, if users try to scale in TiKV, the Operator will delete the store, however, due to the constraint of raft group, the store cannot become tombstone and will remain `offline` forever, so it's better that Operator checks the available repli

[2020-08-28 18:52] sstubbs opened #3183 "Specify Database/Databases For Restore CR"
In continuation to this issue https://github.com/pingcap/tidb-operator/issues/2695 I have tried adding tablefilter to the restore CR in this commit https://github.com/sstubbs/tidb-operator/commit/48455223191abcf21decdba532049eb535015da5

It is parsing the --filter argument to lightning but this argument is not available in lightining. Will this be added?

[2020-08-28 18:59] sstubbs opened #3184 "Add ServiceMonitor and Dashboards For External Prometheus And Grafana"
## Feature Request

**Is your feature request related to a problem? Please describe:**
I have a prometheus oeprator installation with thanos and I would rather reuse this than run a separate prometheus and grafana deployment for each cluster.

**Describe the feature you'd like:**
Service monitor and json dashboards for doing this.

**Describe alternatives you've considered:**
Using the current tid

[2020-08-29 02:28] DanielZhangQD commented on #3183
@sstubbs It's `-f` for lightning:
[code]

[2020-08-29 02:31] DanielZhangQD commented on #3184
@sstubbs Do you mean that you would like a central Prometheus and Grafana to collect the metrics for all of the clusters and do not want to install any TidbMonitor object?

[2020-08-29 20:31] Ishiihara commented on #2490
@DanielZhangQD What is the plan for this issue?

[2020-08-30 00:41] DanielZhangQD commented on #2490
Planned in v1.2.0.

[2020-08-30 16:28] mikechengwei commented on #3184
We have supported one prometheus monitor multiple tidbclusters in #3155, and they have been merged into the master branch. You can use thanos example to integrate into your prometheus operator.  https://github.com/pingcap/tidb-operator/tree/master/examples/monitor-with-thanos

[2020-08-30 18:10] sstubbs commented on #3184
Great thank you!

[2020-08-30 18:11] sstubbs commented on #3183
thank you very much. I will get a PR done in the next few days after I test it a bit.

[2020-08-31 00:57] DanielZhangQD commented on #3183
OK, thanks!

[2020-08-31 01:08] DanielZhangQD commented on #3184
@mikechengwei Thanks for the response! #3155 is mainly for the heterogeneous cluster which is actually the same cluster with the original cluster, if we want to collect metrics for different normal TidbClusters (especially with TLS enabled) in different namespaces with one TiDBMonitor, this would require a different solution.

@sstubbs Could you please describe your requirement in more detail?

[2020-08-31 02:50] sstubbs commented on #3184
I see. I just find it easier to manage one prometheus than a few and it's nice to be able to persist data to thanos when needed and monitor everything in the cluster from a single grafana dashboard. If this issue hasn't come up before perhaps there aren't many people with this use case.

[2020-08-31 03:57] #2832 closed

[2020-08-31 05:09] DanielZhangQD commented on #3184
ok, @mikechengwei may work on a solution that one Prometheus for one TidbCluster and aggregate all of the metrics data with Thanos and one single Grafana for Dashboard.
There is a draft PR already https://github.com/pingcap/docs-tidb-operator/pull/640 but Mike may update it later.

[2020-08-31 10:18] sstubbs commented on #3184
I see thanks a lot. Not a completely needed feature from my side but it would definitely be nice to have. A few of the other charts I'm using such as itio are also going this way of providing service monitors and dashboards rather than bundling them. They have deprecated the bundled prometheus as of 1.7.

I understand for a lot of users though that quickly being able to deploy bundled tidb monitor

[2020-08-31 11:47] DanielZhangQD commented on #3184
OK. We evaluate this.

[2020-08-31 12:02] mikechengwei commented on #3184
Now, we provide prometheus operator example https://github.com/pingcap/tidb-operator/tree/master/examples/prometheus-operator and thanos example https://github.com/pingcap/tidb-operator/tree/master/examples/monitor-with-thanos.
But it is not elegant.

I think we can do
1. optimize the configuration of thanos in tidbmonitor,add thanos spec like in prometheus operator.
2. Based on thanos requirement

[2020-09-01 00:33] #2733 closed

[2020-09-01 02:42] #3177 closed

[2020-09-01 07:07] cvvz commented on #2895
The format of each `spec.PDAddress` needs to be `scheme://address:port`.

[2020-09-01 07:24] #3181 closed

[2020-09-01 13:39] #3179 closed

[2020-09-02 00:30] #2760 closed

[2020-09-02 01:07] kolbe opened #3198 "Cluster config items missing from CRD and operator"
## Bug Report

CRD and operator lack support for some configuration options. Specifically:

* spec.tikv.config.log-format
* spec.tikv.config.server.max-grpc-send-msg-len

[2020-09-02 05:38] july2993 opened #3202 "enable all default enabled linters of golangci-lint"
enable all default enabled linters of golangci-lint

you can run `make lint` to run it.
the currently config file of golangci-lint https://github.com/pingcap/tidb-operator/blob/master/.golangci.yml

[2020-09-02 07:11] lonng opened #3205 "Define a structure `Dependences` to store all informers/control/lister"
## Question

Currently, there are too mach structures contain various `informer/control/lister`, I think we can define a dedicated structure to store all shared `informer/control/lister`, like `Dependences` in Kubernetes to avoid pass the parameters everywhere.

[2020-09-02 07:24] DanielZhangQD commented on #3198
Close via https://github.com/pingcap/tidb-operator/pull/3199.

[2020-09-02 07:24] #3198 closed

[2020-09-02 09:42] #2081 closed

[2020-09-02 13:18] gejibin opened #3211 "Pump does not support imagePullSecrets"
Create pump through crd, can't pull docker image。
Even if imagePullSecrets is configured, it does not work
operator version 1.1.3

[2020-09-02 13:33] #3156 closed

[2020-09-03 01:04] DanielZhangQD opened #3212 "Some configuration parameters are missed in the TidbCluster CR"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, we only collect the configuration parameters from the default config files:
https://github.com/pingcap/pd/blob/master/conf/config.toml
https://github.com/pingcap/tidb/blob/master/config/config.toml.example
https://github.com/tikv/tikv/blob/master/etc/config-template.toml

However, it seems that some

[2020-09-03 01:11] DanielZhangQD commented on #3212
Some thoughts about this issue:
1. We may have to find a way to sync all of the configuration parameters with the other components and update them per release.
2. We may support users creating their own configmaps and mount them to the Pods so that users can configure any parameters even if they are not supported by the TiDB Operator yet.
In this case, users are responsible for triggering the roll

[2020-09-03 02:36] cvvz opened #3213 "Generate CRD manifest with more validation schema"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Tidb-operator use `code-generator/openapi-gen` and `to-crdgen` to generate CRD manifest automatically, however, the CRDs only support a few validation schema. For example, if I want to validate the properties by regex, I have to code in ValidatingWebhook or  `validation.go`, which actually validates API resourc

[2020-09-03 02:40] lonng commented on #3212
The configuration will change as a new version released and TiDB Operator will support all the versions, so I think the solution#1 cannot solve it well.

[2020-09-03 03:18] DanielZhangQD commented on #3213
@cofyc Do you know more about the `controller-tools/controller-gen`? What's your suggestion for this?

[2020-09-03 03:20] DanielZhangQD commented on #3212
ref: https://github.com/tikv/tikv/issues/8582

[2020-09-03 06:27] DanielZhangQD opened #3215 "Some parameters are prefixed with `\t` in the CRD file"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

[code]
There should be some tabs or spaces that are added mistakenly, e.g. https://github.com/pingcap/tidb-operator/blob/ma

[2020-09-03 06:27] #3211 closed

[2020-09-03 07:03] DanielZhangQD opened #3217 "Support helm3 in the docs"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, most of the helm commands in the docs (https://docs.pingcap.com/zh/tidb-in-kubernetes/stable) are with helm2, as helm3 has become the stable version for a long time, we should provide commands with helm3.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachabil

[2020-09-03 07:53] DanielZhangQD opened #3219 "Deprecate terraform for ACK creation"
## Feature Request

**Is your feature request related to a problem? Please describe:**

As we have done for [GKE](https://docs.pingcap.com/zh/tidb-in-kubernetes/stable/deploy-on-gcp-gke) and [EKS](https://docs.pingcap.com/zh/tidb-in-kubernetes/stable/deploy-on-aws-eks), we should deprecate the terraform scripts and use CLI or Console to create ACK directly, as there may be many potential issues wi

[2020-09-03 08:00] DanielZhangQD commented on #1681
@gregwebs Could you please give an example for `In my go code I always use the multierr library`?
BTW, I see "%v" is used for most of the error logs.

[2020-09-03 08:10] DanielZhangQD commented on #3219
CLI reference:
aliyun cs POST /clusters/
https://api.aliyun.com/?spm=a2c4g.11186623.2.3.108712fd0IJUHJ#/?product=CS&version=2015-12-15&api=CreateCluster&tab=DEMO&lang=JAVA

[2020-09-03 09:15] #3215 closed

[2020-09-03 13:08] Mertonidas opened #3221 "TidbMonitor pods not deployed - err: tidbclusters.pingcap.com "basic" not found"
Hi,

My environment is the following:

Kubernetes version (AKS): v1.16.10
TiDB Operator version: v1.1.4 -> deployed with Helm 3

SC:
\
azurefile           kubernetes.io/azure-file \
azurefile-premium   kubernetes.io/azure-file \
default (default)   kubernetes.io/azure-disk \
managed-premium     kubernetes.io/azure-disk

pd-tidb-cluster-pd-0       Bound    pvc-709772f9-85b6-4925-8193-5eef42487d00

[2020-09-04 00:40] DanielZhangQD commented on #3221
@Mertonidas The `spec.clusters[0].name` should be set to the TidbCluster name of your TiDB Cluster, which is `tidb-cluster` in your case.
Sorry that the doc does not make it clear, I will update the doc soon.

[2020-09-04 02:34] #3221 closed

[2020-09-06 09:38] cvvz opened #3227 "Tidb-scheduler schedules unexpectly when deleting specific slots."
## Bug Report

**What did you do?**

The replicas of tikv is 3,  and then I annotate the tidb cluster with `tikv.tidb.pingcap.com/delete-slots: '[1]'`. After that, tidb-operator starts to delete the store of `tikv-1`, and it will take a while before `tikv-1` Pod actually being deleted. At the same time, the new tikv Pod `tikv-3` is  created by statefulset controller. However, it is in a state of `

[2020-09-06 09:45] cvvz opened #3228 "It's dangerous to set the "PodManagementPolicy" of Statefulset to "Parallel""
## Bug Report

As I mentioned in https://github.com/pingcap/tidb-operator/issues/3227, the default value of `Statefulset.Spec.PodManagementPolicy` is `OrderedReady`, but tidb-operator sets it to `Parallel`, which means:

This can be dangerous when deleting Pod without considering whether other Pods is ready or not.

[2020-09-06 17:18] cvvz commented on #3182
If tidb-operator has modified `spec.replicas` of StatefulSet to 2, it will not be able to scaling out tidb-cluster by itself any more:
[code]
Because it keeps waiting for the PVC of `tikv-2` to be deleted.

[2020-09-07 01:20] DanielZhangQD commented on #3227
I think the key point here is to make tidb-scheduler support advanced statefulset.
It's OK to set `Statefulset.Spec.PodManagementPolicy` from `Parallel`.
WDYT? cc @weekface

[2020-09-07 01:21] DanielZhangQD commented on #3228
Except for #3227, which I think is an issue we should address in `tidb-schduler`, do you find any other disadvantages with `Parallel`?

[2020-09-07 01:38] DanielZhangQD commented on #3182
That's another issue, do you mean if scale in from 3 to 2 and then scale out from 2 to 3, the scale-out cannot be done?
If so, please help create another issue and attach the log of the tidb-controller-manager.

[2020-09-07 03:04] cvvz commented on #3228
@DanielZhangQD I don't find out other situations that will be influenced by it right now. But it can be hard to solve https://github.com/pingcap/tidb-operator/issues/3228 perfectly if `Statefulset.Spec.PodManagementPolicy` is `Parallel`. Because the newly created Pod can be in `Pending` state, but StatefulSet will delete the old Pod regardless of it.

[2020-09-07 03:14] cvvz opened #3229 "Tidb-operator cannot scale out tikv from 2 to 3 by itself."
## Bug Report

**What did you do?**

As I mentioned in https://github.com/pingcap/tidb-operator/issues/3182, if you scale in tikv from 3 to 2 and then want to scale out back to 3, it cannot be done.

According to the logs of tidb-controller:
[code]
It is because the controller is waiting for the PVC of `tikv-2` to be deleted. Which will never happen because the scale-in-tikv-to-2 operation is forb

[2020-09-07 03:15] cvvz commented on #3182
Yes, and the issue is here https://github.com/pingcap/tidb-operator/issues/3229. I think these two issues can be solved in the same way.

[2020-09-07 03:18] DanielZhangQD commented on #3229
@cvvz Could you please attach the log of the tidb-controller-manager?
We'd like to check why the scaleout is blocked.

[2020-09-07 03:21] cvvz commented on #3229
@DanielZhangQD The logs have been added, and I think It is because the controller is waiting for the PVC of `tikv-2` to be deleted. Which will never happen because the scale-in-tikv-to-2 operation is forbiden.

[2020-09-07 03:36] cvvz opened #3230 "Validating whether the image of additianalcontainer is empty."
## Feature Request

**Is your feature request related to a problem? Please describe:**

When I edit the specification of `TidbCluster`, I delete the `spec.tikv.additionalContainers.image` by mistake, and Statefulset start to upgrade, however the new revision Pod can't be created because container image is empty.
![image](https://user-images.githubusercontent.com/44308864/92345986-fcfc3280-f0fd-11e

[2020-09-07 03:57] DanielZhangQD commented on #3229
OK, here is the root cause:
During the scale in, after the store for TiKV is removed, the PVC of the Pod will be appended a `tidb.pingcap.com/pvc-defer-deleting` annotation indicating that it can be deleted.
During scale-out, the Operator will check the PVC of the new Pod and will try to delete the PVC, if the annotation `tidb.pingcap.com/pvc-defer-deleting` exists, it will delete the PVC and scal

[2020-09-07 05:12] DanielZhangQD commented on #3230
This is OK, we should add validation in both the webhook and the controller [here](https://github.com/pingcap/tidb-operator/blob/master/pkg/controller/tidbcluster/tidb_cluster_control.go#L102).
BTW, for the validation in the controller, what about adding a condition in the TidbCluster status, similar with what we have done for the backup [here](https://github.com/pingcap/tidb-operator/blob/master/

[2020-09-07 06:50] DanielZhangQD commented on #3228
OK, I see, I think we can support configuring `PodManagementPolicy` in the TidbCluster CR.
Would like to submit PR for this?

[2020-09-07 06:53] cvvz commented on #3228
Ok, I'd glad to. I may do this on a certain weekend :)

[2020-09-07 06:57] DanielZhangQD commented on #3228
@cvvz Thanks a lot!

[2020-09-07 06:57] DanielZhangQD commented on #3228
/assign @cvvz

[2020-09-07 07:02] DanielZhangQD commented on #3227
/assign @cvvz

[2020-09-07 07:04] DanielZhangQD commented on #3230
@cvvz Would like to take this too?

[2020-09-07 07:06] cvvz commented on #3230
@DanielZhangQD OK :)

[2020-09-07 07:09] DanielZhangQD commented on #3230
/assign @cvvz

[2020-09-07 07:25] DanielZhangQD commented on #3212
Some suggestions from @kolbe :
Maybe config/config.go for TiDB and server/config/config.go for PD and src/server/config.rs for TiKV have all the needed information, including the structure and the data types, but I guess it would require some work to consume and reflect those files in order to be able to get at the structure in a useful way.

[2020-09-07 07:31] DanielZhangQD opened #3234 "Support configuring configmap for the components instead of auto-generating them from the `config` section"
## Feature Request

**Is your feature request related to a problem? Please describe:**

As item 2 described in the [comment](https://github.com/pingcap/tidb-operator/issues/3212#issuecomment-686172308), we may support configuring a configmap created by users for the components as a workaround that TiDB Operator may miss some configuration parameters.

**Describe the feature you'd like:**

**Descri

[2020-09-07 07:48] DanielZhangQD opened #3235 "The `Env` settings are ignored for the Grafana container in the TidbMonitor CR"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

Set envs as below:
[code]
**What did you expect to see?**
The envs are shown in the Grafana container.
**What did you see i

[2020-09-07 07:50] DanielZhangQD commented on #3235
Currently, both the initializer and the Grafana container support customizing the envs (https://github.com/pingcap/tidb-operator/pull/3109), we have to make sure that it works well for both of them.

[2020-09-07 12:03] DanielZhangQD commented on #3108
We may do some optimization as described in #3121.

[2020-09-07 12:19] DanielZhangQD commented on #3182
/assign @cvvz

[2020-09-07 12:41] shonge commented on #3166
Hi,@DanielZhangQD  PTAL #3236

[2020-09-08 03:37] kolbe commented on #3212
So here’s a super easy way to get the configs for each of the components based on a simple tiup playground deployment:

[code]

[code]

[2020-09-08 09:26] DanielZhangQD opened #3241 "Support pod SecurityContext for PD"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The pod SecurityContext has been supported for TiDB and TiKV in https://github.com/pingcap/tidb-operator/pull/1107, it's better to support for PD too.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-09-08 10:42] DanielZhangQD opened #3242 "`send keepalive message failed` in PD logs on EKS"
## Bug Report

**What version of Kubernetes are you using?**

v1.17.9
**What version of TiDB Operator are you using?**

v1.1.4
**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**
[code]

[2020-09-08 14:53] tirsen opened #3243 "support `--selector <label expression>` flag for multiple operators in one k8s cluster"
## Feature Request

**Is your feature request related to a problem? Please describe:**

This solves a few issues:
* We want to canary new versions of an operator within a single k8s cluster
* We also sometimes need to run a different operator for a new version of tidb we're testing
* We might want to try running a single operator per cluster inside the same namespace to be able to simply fence off

[2020-09-08 15:59] kolbe opened #3244 "Support serviceAccount in TiDBSpec"
## Feature Request

**Is your feature request related to a problem? Please describe:**

`RESTORE DATABASE ... FROM 's3://...'` (https://docs.pingcap.com/tidb/stable/sql-statement-restore#remote-destinations) requires that TiDB nodes be able to read from the referenced S3 bucket.

**Describe the feature you'd like:**

TiDBSpec should support serviceAccount in order to assign an IAM role to TiDB pod

[2020-09-08 16:47] gregwebs commented on #3244
In general we probably need to document how to ensure service accounts can be properly set on pods. The main problem is that integration with the cloud provider service account isn't standardized.

[2020-09-09 01:03] DanielZhangQD commented on #3243
For these two cases, we're already discussing this in https://github.com/pingcap/tidb-operator/pull/3236 and https://github.com/pingcap/tidb-operator/issues/3166.
You can help review #3236 and give your comments.

This is already supported, but we did not test this scenario for a long time, would you like to try it in your test env?
Set `clusterScoped: false` in the values.yaml of tidb-operator ch

[2020-09-09 01:18] DanielZhangQD commented on #3244
The following components need to support:
PD, TiDB, TiCDC, Pump

[2020-09-09 01:29] DanielZhangQD commented on #3244
We'd better define `spec.serviceAccount` and `spec.<component>.serviceAccount` so that all of the components can share the `spec.serviceAccount` if no special requirement and they can also configure their separate serviceAccount.

[2020-09-09 02:19] #3235 closed

[2020-09-09 02:51] DanielZhangQD commented on #3099
With current design, these data should be retrieved from the Prometheus for Kubernetes cluster, which is similar with `Nodes-Info` and `Pods-Info`, so:

- if users do not have Prometheus for Kubernetes cluster deployed, they have to deploy the yamls in `https://github.com/pingcap/monitoring/tree/master/k8s-monitor` to deploy Prometheus, node exporter, and kube-state-metrics.
- Configure the `kubeP

[2020-09-09 02:58] DanielZhangQD commented on #3077
We can support user-defined confimap as described in https://github.com/pingcap/tidb-operator/issues/3234

[2020-09-09 02:58] #3077 closed

[2020-09-09 02:59] #3062 closed

[2020-09-09 05:55] #3038 closed

[2020-09-09 06:01] DanielZhangQD commented on #3026
@gejibin Please reopen this issue if any more support required.

[2020-09-09 06:01] #3026 closed

[2020-09-09 06:10] #2963 closed

[2020-09-09 06:10] #2962 closed

[2020-09-09 06:10] #2960 closed

[2020-09-09 06:11] #2959 closed

[2020-09-09 06:11] #2958 closed

[2020-09-09 06:11] #2957 closed

[2020-09-09 06:11] #2956 closed

[2020-09-09 06:11] #2955 closed

[2020-09-09 06:11] #2954 closed

[2020-09-09 06:11] #2953 closed

[2020-09-09 06:11] #2952 closed

[2020-09-09 06:12] #2951 closed

[2020-09-09 06:12] #2950 closed

[2020-09-09 06:22] tirsen commented on #3243
In this case the operator will only listen to the events in the current namespace? What if we also have a global operator? How can we make the global operator ignore those events?

[2020-09-09 06:32] #2930 closed

[2020-09-09 06:45] tirsen commented on #3244
Under what circumstances does PD and Pump also access S3?

[2020-09-09 07:19] #3244 closed

[2020-09-09 07:49] DanielZhangQD commented on #2815
@kolbe Are you still working on this issue?

[2020-09-09 08:22] #2739 closed

[2020-09-09 10:03] cvvz opened #3252 "Tidb-scheduler fails to schedule recovered Pod."
## Bug Report

**What did you do?**

1. I modified the image of tikv to a wrong value, which cause ImagePullBackOff, and the tikv Pod is down for a while and triggers failover.
2. A new tikv Pod is generated, but because of lack of resource, it is pending.
3. Correct the fault Pod's image, and it is back to normal, but the scheduler can't schedule it bucause of `serial scheduling`.

Here is tidb-s

[2020-09-09 12:12] #2129 closed

[2020-09-09 12:16] DanielZhangQD commented on #1866
Traced in https://github.com/pingcap/tidb-operator/issues/3166.

[2020-09-09 12:16] #1866 closed

[2020-09-10 00:33] yiwu-arbug commented on #3212
@DanielZhangQD why does the operator need to have knowledge of what are the server config knobs available? Why cannot operator just pass what's specified by user and pass them to tidb/tikv/pd as toml file? AFAIK Tiup do just that.

[2020-09-10 00:46] DanielZhangQD commented on #3212
The operator defines structured configuration struct for each component so that we can have some defaulting and validation and also built-in type validation, etc.
But, yes, this has caused some troubles as mentioned at the beginning of this issue, so we're also looking for other solutions, e.g. the external configmaps described in #3234, but external configmap is basically a workaround because use

[2020-09-10 01:44] DanielZhangQD commented on #3212
We can define non-structured config as we have done for Pump [here](https://github.com/pingcap/tidb-operator/blob/master/pkg/apis/pingcap/v1alpha1/types.go#L630) and users can configure any parameters in the `GenericConfig`.

[2020-09-10 01:49] DanielZhangQD commented on #3252
@cvvz The Pod recovered from failure will never get scheduled?

[2020-09-10 02:10] cvvz commented on #3252
@DanielZhangQD In the situation I memtioned, yes.

[2020-09-10 02:45] DanielZhangQD commented on #3252
cc @weekface @july2993

[2020-09-10 02:50] #3050 closed

[2020-09-10 08:28] DanielZhangQD commented on #3243
It cannot, if you use namespace scoped Operator, you cannot use a global Operator anymore.

[2020-09-10 09:32] #3130 closed

[2020-09-10 13:06] DanielZhangQD opened #3259 "Backup with BR failed"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

S3 storage:
Jinshan Yun S3

![image](https://user-images.gi

[2020-09-11 03:34] DanielZhangQD commented on #3168
Root Cause:
The case `Deploy TidbCluster and Upgrade Operator` [here](https://github.com/pingcap/tidb-operator/blob/master/tests/e2e/tidbcluster/serial.go#L1062) calls the function `DeployTidbClusterOrDie` to deploy TiDB Cluster, however, the function `DeployTidbClusterOrDie` deploys the TiDB cluster via helm [here](https://github.com/pingcap/tidb-operator/blob/master/tests/actions.go#L735), in th

[2020-09-11 04:43] DanielZhangQD commented on #3252
Root Cause:
The scheduling for the same component in the same TiDB Cluster is done serially to achieve the HA topology mentioned in this [doc](https://docs.pingcap.com/zh/tidb-in-kubernetes/stable/tidb-scheduler).
When a pod is to be scheduled, tidb-scheduler will add `tidb.pingcap.com/pod-scheduling` annotation to its PVC as a lock to indicate that this Pod is being scheduled so that the other po

[2020-09-11 05:11] DanielZhangQD commented on #3244
We just want to enable the serviceAccount capabilities for the controller managed components, the serviceAccount is not necessarily to be used to access S3 only, it can also be used for other cases, e.g. imagePullSecret (though we have supported this).

[2020-09-11 07:37] mikechengwei opened #3260 "Support debug mode when the cluster is in a healthy state."
## Feature Request

**Is your feature request related to a problem? Please describe:**
Now debug mode only support in  pod always crash state , we annotate pod with ` runmode=debug `,the pod auto recreate  will work.
So when the cluster is in healthy state, i also want to one of the pods can change to debug mode.

**Describe the feature you'd like:**
 1. I annotate pod with ` runmode=debug `
 2. O

[2020-09-14 03:02] lichunzhu opened #3263 "Release v1.1.5"
This is a issue tracing the tidb-operator v1.1.6 release.

Previous:
- https://github.com/pingcap/tidb-operator/issues/2567
- https://github.com/pingcap/tidb-operator/issues/2775
- https://github.com/pingcap/tidb-operator/issues/2839
- https://github.com/pingcap/tidb-operator/issues/3010
- https://github.com/pingcap/tidb-operator/issues/3140

Pending PRs:

TODO:
- [x] Update release notes and defa

[2020-09-14 06:07] lichunzhu commented on #3183
@sstubbs Hello, do you have any further problem on this issue?

[2020-09-14 07:46] #3260 closed

[2020-09-15 12:46] zgcbj opened #3273 "tiflash pods haven`t been deleted after scale down"
## Bug Report

**What version of Kubernetes are you using?**
1.16.4

**What version of TiDB Operator are you using?**
1.1.3

**What did you do?**
1.create tidb cluster use
[code]
upgrade tidb cluster use :
[code]

**What did you expect to see?**
tiflash pods should be deleted
**What did you see instead?**
tiflash still there

[2020-09-15 15:11] mikechengwei commented on #3273
I think you just need to modify the `replica` field of tiflash spec ,if you change to nil , operator will skip update tiflash sts.

[2020-09-16 01:20] DanielZhangQD commented on #3273
@mikechengwei is correct.
@zgcbj We will update docs to make it clear how to remove the TiFlash resources.

[2020-09-16 03:23] zgcbj commented on #3273
I konw modify replica can delete tiflash.
Create tc  without tiflash then scale up with tiflash、scale down use yaml without tiflash, after these option,  yaml became same as initial, resource should also same as initial, operator should not ignore it.

[2020-09-16 03:26] zgcbj commented on #3273
yaml1:
[code]

yaml2:
[code]

create tc use yaml1 --> upgrade tc use yaml2 --> upgrade tc use yaml1     after this, yaml are same, pods should also same as init.

[2020-09-16 04:14] mikechengwei commented on #3273
The logic is correct, but tidb operator is an production maintenance tool. For existing resources, it should not be reduced by setting nil, which is not rigorous.

[2020-09-16 07:49] #3273 closed

[2020-09-17 02:20] DanielZhangQD opened #3279 "Improve advanced example to cover all of the fields in the TidbCluster CR"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, we have an advanced example yaml here https://github.com/pingcap/tidb-operator/blob/master/examples/advanced/tidb-cluster.yaml, however, it does not cover all of the fields in the CR, we have to improve it to cover all of the fields in the CR so users can refer to it to customize their own CR.

**Des

[2020-09-17 06:50] DanielZhangQD commented on #3279
The following should be covered:

- TidbCluster
  - Refer https://github.com/pingcap/tidb-operator/blob/master/examples/advanced/tidb-cluster.yaml, but need to cover all of the fields.
  - For the configuration field of each component, we can put the link to the comment for the default toml config and tell user that they can covert the toml config to yaml config via online tools to config these fi

[2020-09-17 10:16] DanielZhangQD opened #3280 "Cannot backup with Alibaba OSS"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

Please see detail in https://asktug.com/t/topic/37270

[2020-09-18 01:42] DanielZhangQD opened #3281 "API support for the PD/TiDB/TiKV components"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Some users want the TiDB Operator to support the API operations of PD/TiDB/TiKV so that they do not need to use pd-ctl, tikv-ctl, etc. to interact with the core components, especially for a unique platform that manages all of the applications running in Kubernetes with GUI, it's not user friendly to run pd-ctl,

[2020-09-18 02:56] mikechengwei commented on #3281
GUI is difficult.I think we can use declarative API  to do some maintenance operations instead of pd-ctl,tikv-ctl,etc.
We can add event mechanism to handle maintenance operation ,due to  maintenance operations can only consume once.
For example, i need to delete tikv store by using pd-ctl delete store id. By operator, i can write
[code]
Operator will consume this event , and generate event message

[2020-09-18 12:45] mikechengwei opened #3287 "Add pod in-place feature."
## Feature Request

**Describe the feature you'd like:**
When the user only changes the image field, operator only needs to recreate the container instead of recreating the pod.

**Describe alternatives you've considered:**
When we update image field , kubelet will find the hash change of the container image , it will kill current conatiner, and start container with the new image.

So kubernetes o

[2020-09-18 14:26] namco1992 opened #3288 "Backup to GCS returns error "backupmeta not exist" when the backupmeta file exists in the bucket"
## Bug Report

**What version of Kubernetes are you using?**
`v1.16.13-gke.401`

**What version of TiDB Operator are you using?**
`v1.1.4`

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**
[code]

TiKV is using `local-storage`.

**What's the status of the TiDB cluster pods?**
All running.

**What did you do?**
I applied a backup CR:
[code]

**What did yo

[2020-09-19 00:33] #2822 closed

[2020-09-19 00:33] #2813 closed

[2020-09-19 05:40] DanielZhangQD commented on #3288
The backup files are eventually consistent in the GCS, it's possible that the files are not ready when we try to retrieve the metadata.
Does the backup fail always?

[2020-09-19 05:42] DanielZhangQD commented on #3287
cc @cvvz

[2020-09-19 09:39] namco1992 commented on #3288
Hello @DanielZhangQD , unfortunately, yes. I tried a few times and it fails every time, maybe it fails occasionally but the chance seems to be quite high.

Btw, I noticed in the log that `Get size 0 for backup files`, which means that it doesn't get the backup file size correctly [here](https://github.com/pingcap/tidb-operator/blob/48eb1cd816c7f1496745babcb4fc7de862961e03/cmd/backup-manager/app/ba

[2020-09-19 09:51] namco1992 commented on #3288
Another thing I noticed is that I can't set the `spec.gcs.storageClass`. I tried value `REGIONAL`(which is the legacy storage class), `STANDARD`(the current storage class that replaces `REGIONAL`) and `COLDLINE`, but none of them is accepted.

The error I get:
[code]

Anyway, the storage class is determined by the bucket and the bucket is prepared beforehand. May I ask what's the purpose of passi

[2020-09-19 11:31] scsldb commented on #2816
Reason for reprioritization: development complete, testing in progress, more important current development tasks.

[2020-09-19 23:16] donbowman opened #3290 "tidb-cluster has incorrect check of %% for permit_host"
## Bug Report

In tidb-cluster, in _initialize_tidb_users.py.tpl:25, permit_host in python is compared against `%%`, but initialised to `%`. I think it should be `%` as described in the docs and via the logic.

https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-cluster/templates/scripts/_initialize_tidb_users.py.tpl#L25

**What version of Kubernetes are you using?**

[code]

**What v

[2020-09-20 15:23] mikechengwei commented on #3290
[code]
Is you set permit_host manually?
I think you set permit_host not included `%%` value  or use default `%` value , this code always reference `permit_host` actual value.  The `permit_host` field in code https://github.com/pingcap/tidb-operator/blob/2ec8dfbf05fbb3513aea878ce4c2c13bf64a97b2/charts/tidb-cluster/templates/scripts/_initialize_tidb_users.py.tpl#L26 will replace `%s` placeholder.

[2020-09-20 15:28] mikechengwei commented on #3217
I think there is no problem with the existing helm chart we use in helm3, I have been using helm3 for a long time. We just need to declare this in the documentation.

[2020-09-20 15:30] mikechengwei commented on #3290
Are there any other errors log ?

[2020-09-20 16:58] mikechengwei opened #3292 "Refactor Tidbmonitor design."
## Description

Currently, there are some problems with TiDBMonitor. We organize the requirements and list the requirements that need improvement.

1. TiDBMonitor is a stateful application but is created as a deployment. We should switch to StatefulSet. #2968
2. TiDBMonitor monitors multiple TiDB clusters for both TLS and non-TLS environment.
    After discussion, we will not support monitoring mu

[2020-09-20 20:45] donbowman commented on #3290
not sure what the intent of the code is, i was debugging another problem.

if you create a non-root user in the secret, permit host must be %, there's no other value that makes sense. if you set it to %% then mysql will reject
[code]
there.

so i'm not sure what %% would be used for, the helm chart doesn't refer, it looked odd to me.

i guess if you:
a) create 1 user in the secret
b) that user is

[2020-09-21 01:14] DanielZhangQD commented on #3217
Yes, we just need to update the commands in the docs to use helm3.

[2020-09-21 01:23] DanielZhangQD commented on #3290
@donbowman Thanks for reporting this issue!
1. For the code issue here https://github.com/pingcap/tidb-operator/blob/master/charts/tidb-cluster/templates/scripts/_initialize_tidb_users.py.tpl#L25, @shonge will help confirm it.
2. No matter the code above is expected or not, it will not cause that your TiDB cannot be accessed, because, with the above code, the permitHost will be set correctly.

Not

[2020-09-21 02:18] #3263 closed

[2020-09-21 06:10] lichunzhu opened #3293 "Backup/Restore CRD supports backup/restore to/from NFS"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently Backup/Restore CRD only supports backup/restore to/from GCS/S3-Compatible Storage.

**Describe the feature you'd like:**

Make backup/restore CRD supports backup/restore to/from NFS.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-09-21 06:22] DanielZhangQD commented on #3288
@namco1992 no special purpose here, just to support some options as rclone has done, but not all of them.

@lichunzhu Could you please help follow this issue?

[2020-09-21 06:23] DanielZhangQD commented on #3280
cc @lichunzhu

[2020-09-21 06:27] DanielZhangQD commented on #3293
This issue depends on https://github.com/pingcap/tidb-operator/issues/2183 to be finished first.

[2020-09-21 06:38] lichunzhu commented on #3288
OK, I will take a look at this.

[2020-09-21 10:02] DanielZhangQD commented on #3292
@mikechengwei Thanks for summarizing this!
For item 7 as below, please hold on for the update, we need to evaluate it further.
[code]

[2020-09-21 10:08] YuJuncen commented on #3280
Relative to https://github.com/pingcap/br/issues/484?

[2020-09-21 11:32] DanielZhangQD commented on #3288
@namco1992 Did you use the GCS in the same region with your TiDB?

[2020-09-21 12:16] lichunzhu commented on #3288
I can reproduce this when I set storageClass. I create an issue https://github.com/pingcap/br/issues/522 in br to trace this problem.

[2020-09-21 12:24] DanielZhangQD commented on #3288
My previous description about eventually consistent seems wrong, according to the doc [here](https://cloud.google.com/storage/docs/consistency), it should be strongly consistent for `Read-after-write` operation, could you please help check with the GCP support?

[2020-09-22 03:58] howardlau1999 commented on #3159
Sync TidbMonitor clusters reference after clusters are created and deleted

[2020-09-22 04:01] howardlau1999 commented on #3159
Move resources definition in the `spec` to `tikv.spec` and `tidb.spec`

[2020-09-22 04:42] namco1992 commented on #3288
Hello @DanielZhangQD @lichunzhu , yes the GCS is the same region as the TiDB. But I noticed something interesting. If I provide the `spec.gcs.prefix` then it can get the size and metadata successfully. The folder struct looks like this:
![image](https://user-images.githubusercontent.com/9165473/93844730-c7943f00-fcd0-11ea-811b-1e20d88d57cf.png)

However, when I don't provide the `spec.gcs.prefix`

[2020-09-22 05:20] DanielZhangQD commented on #3288
OK, it should be the cause. The Prefix should be provided for ad-hoc backup to distinguish the different backups because the metadata is placed in the current path and different backups will overwrite the data without prefix.

[2020-09-22 05:33] DanielZhangQD commented on #3159
The sync logic would be like:
[code]

[2020-09-23 02:49] lonng opened #3302 "Specify the ResourceRequirements for initcontainers"
## Bug Report

**What version of Kubernetes are you using?**

GKE, 1.17

**What did you do?**

[code]
[code]

**What did you expect to see?**

Create TiDB cluster sucessfully.

**What did you see instead?**

Failed with the following error.

[code]

Seems the tidb-opeator doesn't assign the resource requirements for initcontainer (https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/me

[2020-09-23 03:40] shonge commented on #3302
I would like to fix this issue.

[2020-09-23 04:00] july2993 opened #3303 "fail to generate the desired config for pump with float type config item"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of TiDB Operator are you using?**

2ec8dfbf05fbb3513aea878ce4c2c13bf64a97b2  at master

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

`kubectl apply -f tidb-cluster.yaml`
<details><summary>CLICK M

[2020-09-23 04:23] L3T commented on #3259
使用金山云对象存储(部分兼容 aws S3协议)，进行备份时，由于金山云部分对象没有返回 etag 造成获取备份大小失败。
我这边已经联系了金山云的同学进行处理，金山云原计划本周四修复，今天同步进度时金山的同学反馈因为排期问题会往后推迟，我这边会同步更新进度.

[2020-09-23 04:24] L3T commented on #3259
百度云的测试结果稍后我这边也贴出来。

[2020-09-23 06:02] lonng commented on #3302
@shonge Thanks, please check slimilar cases.

[2020-09-23 08:29] #3290 closed

[2020-09-23 21:07] mikechengwei opened #3307 "TidbMonitor monitor multiple cluster cross multiple namespace"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Sort out tidbmonitor multi-cluster monitoring questions.

1. Non-TLS environment is ok, we just need to change scape url format.
2. TLS environment cross multiple namespace is unsolvable , tidbmonitor will use the client certificate of the first cluster by default.We can't guarantee that multiple clusters use on

[2020-09-24 00:35] #2623 closed

[2020-09-24 04:46] L3T commented on #3259
金山云青岛机房已经修复该问题，我这边已经验证通过，金山云正在推进全网上线

[2020-09-24 07:39] #3302 closed

[2020-09-24 11:47] DanielZhangQD opened #3318 "Graceful upgrade of TiDB"
## Feature Request

**Is your feature request related to a problem? Please describe:**

https://docs.pingcap.com/tidb-in-kubernetes/dev/access-tidb#gracefully-upgrade-the-tidb-cluster introduces the prestop hook for TiDB, however, we have to make sure that TiDB may be gracefully upgraded (the long connections will be down but no new connections will be rejected):

- For on-premise deploy, can the

[2020-09-25 09:28] DanielZhangQD commented on #2240
@mikechengwei Thanks a lot for your contribution!

[2020-09-27 03:45] handlerww commented on #3217
Some scripts in hack/*.sh need to support helm3.

[2020-09-27 03:52] DanielZhangQD commented on #3259
@lichunzhu We may also consider to record the size in the metafile and then retrieve the size from the metafile later.

[2020-09-28 07:00] lichunzhu commented on #3288
https://github.com/pingcap/br/issues/522 is already fixed. Reopen this issue if any similar problem is found in the next operator version v1.1.6.

[2020-09-28 07:00] #3288 closed

[2020-09-29 03:06] zhenjiaogao opened #3329 "The grafana metrics and log search modules cannot be used in the dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Deployed in k8s environment, when click `Monitor & Alert` in dashboard, it will jump to service, such as http://basic-grafana.tidb.svc:3000, but `metrics` cannot be displayed.

Another problem is that the `search logs` module cannot search for any logs.

**Describe the feature you'd like:**
Support the display o

[2020-09-29 07:46] duanliguo opened #3330 "Support backup to compatible s3 system that only supports list object v1"
## Feature Request

**Is your feature request related to a problem? Please describe:**
数据备份至没有兼容S3 listObjects V2的对象存储系统时， cmd/backup-manager/app/backup/manager.go:#L280 getBackupSize 会报错

**Describe the feature you'd like:**
在初始化s3blob的时候支持是否使用listObjectsV1，https://github.com/pingcap/tidb-operator/blob/4b8b87f1671063ed0ba68d1cab5e7dd89aaba6d4/cmd/backup-manager/app/util/remote.go#L151行传入参数

**Des

[2020-09-29 09:40] DanielZhangQD commented on #3330
We will update our code to not get the file size through listing the files in S3.
cc @lichunzhu

[2020-09-29 09:41] lichunzhu commented on #3330
Gotta. I will use `br` metadata to get filesize.

[2020-09-30 01:57] DanielZhangQD opened #3331 "Dumpling & Lightning supports S3"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Dumpling has supported S3 in https://github.com/pingcap/dumpling/pull/155, Lightning also supports S3 so we should support this in Operator.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-10-01 07:36] tirsen commented on #2410
we worked around this

[2020-10-03 01:25] DanielZhangQD opened #3333 "Scheduled backup with GCS cannot work"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

Create BackupSchedule to backup to GCS
**What did you expect to see?**
The backups succeed.
**What did you see instead?**
T

[2020-10-08 02:22] DanielZhangQD opened #3334 "Make `EvictLeaderTimeout` configurable"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, the `EvictLeaderTimeout` is hardcoded in https://github.com/pingcap/tidb-operator/blob/master/pkg/manager/member/tikv_upgrader.go#L36, it's better to make it configurable per TidbCluster because some users may have large data and want to extend the timeout value.
**Describe the feature you'd like:**

[2020-10-08 02:23] DanielZhangQD commented on #3334
We can set the default value to 3 Minutes as we're doing now.

[2020-10-08 02:38] DanielZhangQD opened #3335 "`recoverFailover` may be forgotten to unset"
## Feature Request

**Is your feature request related to a problem? Please describe:**

#3189 introduces `recoverFailover` field in the spec of TidbCluster to recover from the failover Pods, however, after setting it to `true` and the Pods created due to failover are removed, users have to set it to `false` manually, which is not elegant and users may forget to do that.
We want a more reliable and

[2020-10-08 02:42] DanielZhangQD commented on #3335
@mikechengwei I recall you ever mentioned about event flow, could you please explain in more detail? or any useful link to share here?

[2020-10-08 06:39] namco1992 commented on #2409
Hello @DanielZhangQD, I would like to pick this up as we actually need this feature in our cluster. Can you point me to some source code that I should start with?

[2020-10-08 10:10] DanielZhangQD commented on #2409
@namco1992 Thanks a lot for picking this!
You can refer to https://docs.pingcap.com/tidb/stable/backup-and-restore-tool#back-up-incremental-data for the incremental backup.
For the code change to increase new fields in the Backup CR, you can update the `pkg/apis/pingcap/v1alpha1/types.go` and then run `hack/update-all.sh`, a similar PR is https://github.com/pingcap/tidb-operator/pull/3134
You can

[2020-10-09 01:35] #3303 closed

[2020-10-09 01:46] namco1992 commented on #2409
@DanielZhangQD Got it thanks! I will take a look and try to create a PR ASAP!

[2020-10-09 01:50] #3307 closed

[2020-10-09 04:12] DanielZhangQD opened #3336 "The proxy log of TiFlash can be printed to stdout instead of file"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, the proxy log of TiFlash is printed to file, however, the old log files are not removed during rotation, so it's better that we print the logs to stdout directly
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Stra

[2020-10-09 05:00] kennytm commented on #3330
The size is still available even if you use ListObjectsV1, no?

[2020-10-09 05:08] lichunzhu commented on #3330
Some OSS doesn't support `ListObjectsV1` which will cause an error at cmd/backup-manager/app/backup/manager.go:#L280 getBackupSize.

[2020-10-09 05:34] DanielZhangQD commented on #3259
https://github.com/pingcap/br/issues/550 is created to retrieve the backup size from BR.

[2020-10-09 07:47] DanielZhangQD opened #3341 "PD leader transfer does not consider the case where advanced statefulset controller enabled"
## Bug Report

**What version of Kubernetes are you using?**

**What version of TiDB Operator are you using?**

**What storage classes exist in the Kubernetes cluster and what are used for PD/TiKV pods?**

**What's the status of the TiDB cluster pods?**

**What did you do?**

With advanced statefulset controller enabled, the pd-0 maybe deleted, however, the PD transfer logic in https://github.com/

[2020-10-09 08:33] #3333 closed

[2020-10-09 10:06] L3T commented on #2929
/assign

[2020-10-09 10:07] L3T commented on #2933
/assign

[2020-10-09 16:51] mikechengwei commented on #3335
Let me make a brief description first.

sometime we will do something  like recover from the failover Pods,offline tikv node to tombstone node by pd-ctl tool etc.These are only processing once,if we follow the principle of kubernetes current state and expected state,user need to do two steps conatain set and unset spec field,and users need to manually judge when to unset spec field.

This way is n